<div class="alert alert-banner" id="test-warn-div">
  <p>
    <strong>Warning! sandbox.orcid.org is a test website.</strong>&nbsp;<a
      href="https://orcid.org"
      target="orcid.org"
      >orcid.org</a
    >
    is the official website. Sandbox only sends email messages to
    <a href="https://mailinator.com">mailinator.com</a> email addresses, see
    Sandbox FAQ for
    <a
      href="https://support.orcid.org/hc/articles/360006972573"
      target="common.js.domain.warn.more_information"
    >
      more information</a
    >
  </p>
</div>
