:host {
  display: flex;
  flex-direction: column;
}

ol {
  margin-block-start: 0px;
  padding-inline-start: 0px;
  padding: 0;
  li {
    list-style-type: none;
    display: flex;
    padding-top: 14px;
    img {
      margin-inline-end: 4px;
    }
    div {
      margin: 2px;
    }
  }
}

mat-icon {
  margin-inline-end: 8px;
}
