<div [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput />
    <mat-error *ngIf="form.hasError('required', 'password')">
      A password is required
    </mat-error>
    <mat-error *ngIf="form.hasError('passwordIsEqualToTheEmail', 'password')">
      Password can't be an email
    </mat-error>
    <mat-error *ngIf="this.form.hasError('backendError', 'password')">
      <div *ngFor="let error of this.form.getError('backendError', 'password')">
        {{ error }}
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input formControlName="passwordConfirm" type="password" matInput />
    <mat-error
      *ngIf="
        form.hasError('required', 'passwordConfirm') &&
        !form.hasError('required', 'password')
      "
    >
      Retype your password
    </mat-error>
    <mat-error *ngIf="form.hasError('passwordIsEqualToTheEmail', 'password')">
      The password and confirmed password must match.
    </mat-error>
  </mat-form-field>

  <ol>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.hasError('minlength', 'password')
            ? invalid
            : valid
        "
      ></ng-container>
      <div>8 or more characters</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasLetterOrSymbolPatter
            ? invalid
            : valid
        "
      ></ng-container>
      <div>1 letter or symbol</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasNumberPatter
            ? invalid
            : valid
        "
      ></ng-container>
      <div>1 number</div>
    </li>
  </ol>
</div>

<ng-template #valid>
  <img src="assets/vectors/mat-baseline-check_circle.svg" alt="orcid logo" />
</ng-template>

<ng-template #invalid>
  <img
    src="assets/vectors/mat-baseline-check_circle_outline.svg"
    alt="orcid logo"
  />
</ng-template>
