@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin form-password($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ::ng-deep .mat-icon.valid {
    color: map-get($foreground, 'brand-primary-dark');
  }

  ::ng-deep .mat-icon.no-checked {
    color: map-get($background, 'ui-background-light');
  }

  .error {
    color: $state-warning-darkest !important;
  }
}

@include form-password($orcid-app-theme);
