<div [formGroup]="form">
  <h3 i18n="@@register.yourPasswords" class="orc-font-body no-top-margin">
    Your password
  </h3>
  <div class="input-container">
    <mat-label
      id="password-label"
      i18n="@@register.password"
      class="orc-font-small-print"
      [ngClass]="{ error: passwordTouched && form.controls.password.errors }"
      >Password</mat-label
    >

    <mat-form-field
      appearance="outline"
      class="no-hint"
      [hideRequiredMarker]="true"
      [ngClass]="{
        'valid-password-input': passwordsValid,
      }"
    >
      <ng-container ngProjectAs="[matSuffix]">
        @if (passwordsValid) {
          <mat-icon matSuffix>done</mat-icon>
        }
      </ng-container>
      <input
        aria-label="password-label"
        formControlName="password"
        type="password"
        matInput
        autocomplete="new-password"
        id="password-input"
      />
    </mat-form-field>
    @if (passwordTouched && form.hasError('required', 'password')) {
      <mat-error>
        {{ passwordIsRequired }}
      </mat-error>
    }
    @if (
      passwordTouched && form.hasError('passwordIsEqualToTheEmail', 'password')
    ) {
      <mat-error i18n="@@register.passwordNotEmail">
        Password must not be the same as your email address
      </mat-error>
    }
    @if (
      passwordTouched &&
      !form.hasError('required', 'password') &&
      currentAccesibilityError &&
      (form.hasError('minlength', 'password') ||
        form.hasError('pattern', 'password'))
    ) {
      <mat-error>
        {{ currentAccesibilityError }}
      </mat-error>
    }
    @if (passwordTouched && form.hasError('maxlength', 'password')) {
      <mat-error i18n="@@register.passwordIsToLongV22">
        Password must be between 8 and 256 characters
      </mat-error>
    }
    @if (passwordTouched && this.form.hasError('backendError', 'password')) {
      <mat-error>
        @for (
          error of this.form.getError('backendError', 'password');
          track error
        ) {
          <div>
            <app-backend-error [errorCode]="error"></app-backend-error>
          </div>
        }
      </mat-error>
    }
  </div>

  <div class="input-container">
    <mat-form-field
      id="password-confirm-input-label"
      appearance="outline"
      class="no-hint"
      [hideRequiredMarker]="true"
      [ngClass]="{
        'valid-password-input': passwordsValid,
      }"
    >
      <ng-container ngProjectAs="[matSuffix]">
        @if (passwordsValid) {
          <mat-icon matSuffix>done</mat-icon>
        }
      </ng-container>
      <input
        id="password-confirm-input-label"
        formControlName="passwordConfirm"
        type="password"
        matInput
        autocomplete="new-password"
        id="password-confirm-input"
        [placeholder]="labelConfirmPassword"
      />
    </mat-form-field>
    @if (
      form.hasError('required', 'passwordConfirm') && confirmPasswordTouched
    ) {
      <mat-error i18n="@@register.passwordConfirmationRequired">
        Retype your password
      </mat-error>
    }
    @if (
      form.hasError('passwordIsEqualToTheEmail', 'passwordConfirm') &&
      confirmPasswordTouched
    ) {
      <mat-error i18n="@@register.passwordCantBeEmail">
        Password must not be the same as your email address
      </mat-error>
    }
    @if (
      form.hasError('mismatch', 'passwordConfirm') && confirmPasswordTouched
    ) {
      <mat-error i18n="@@register.passwordConfirmationMatch2">
        Passwords do not match
      </mat-error>
    }
  </div>

  <p i18n="@@register.yourPasswordHas">Your password has:</p>
  <ol>
    <li>
      <ng-container
        [ngTemplateOutlet]="validate8orMoreCharacters ? invalid : valid"
      ></ng-container>
      <div i18n="@@register.passwordLength">8 or more characters</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="validateAtLeastALetterOrSymbol ? invalid : valid"
      ></ng-container>
      <div i18n="@@register.atLeastALetterOrSymbol">
        At least 1 letter or symbol
      </div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="validateAtLeastANumber ? invalid : valid"
      ></ng-container>
      <div i18n="@@register.atLeastANumber">At least 1 number</div>
    </li>
  </ol>
</div>

<ng-template #valid>
  <mat-icon class="checked" class="valid">check_circle</mat-icon>
</ng-template>

<ng-template #invalid>
  <mat-icon class="no-checked material-icons-outlined"
    >radio_button_unchecked
  </mat-icon>
</ng-template>
