<div [formGroup]="form">
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label i18n="@@register.password">Password</mat-label>
      <input formControlName="password" type="password" matInput />
      <mat-error
        *ngIf="form.hasError('required', 'password')"
        i18n="@@register.passwordRequired"
      >
        A password is required
      </mat-error>
      <mat-error
        *ngIf="form.hasError('passwordIsEqualToTheEmail', 'password')"
        i18n="@@register.passwordNotEmail"
      >
        Password must not be the same as your email address
      </mat-error>
      <mat-error *ngIf="this.form.hasError('backendError', 'password')">
        <div
          *ngFor="let error of this.form.getError('backendError', 'password')"
        >
          <app-backend-error [errorCode]="error"></app-backend-error>
        </div>
      </mat-error>
    </mat-form-field>

    <button
      mat-icon-button
      aria-label="info about names"
      type="button"
      [mdePopoverTriggerFor]="passwordPopover"
      mdePopoverTriggerOn="click"
      #passwordPopoverTrigger="mdePopoverTrigger"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <ol>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.hasError('minlength', 'password')
            ? invalid
            : valid
        "
      ></ng-container>
      <div i18n="@@register.passwordLength">8 or more characters</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasLetterOrSymbolPatter
            ? invalid
            : valid
        "
      ></ng-container>
      <div i18n="@@register.passwordSymbol">1 letter or symbol</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasNumberPatter
            ? invalid
            : valid
        "
      ></ng-container>
      <div i18n="@@register.passwordNumber">1 number</div>
    </li>
  </ol>

  <mat-form-field appearance="outline">
    <mat-label i18n="@@register.confirmPassword">Confirm password</mat-label>
    <input formControlName="passwordConfirm" type="password" matInput />
    <mat-error
      *ngIf="form.hasError('required', 'passwordConfirm')"
      i18n="@@register.passwordConfirmationRequired"
    >
      Retype your password
    </mat-error>
    <mat-error
      *ngIf="form.hasError('passwordIsEqualToTheEmail', 'passwordConfirm')"
      i18n="@@register.passwordCantBeEmail"
    >
      Password must not be the same as your email address
    </mat-error>

    <mat-error
      *ngIf="form.hasError('mismatch', 'passwordConfirm')"
      i18n="@@register.passwordConfirmationMatch"
    >
      The password and confirmed password must match
    </mat-error>
  </mat-form-field>
</div>

<ng-template #valid>
  <mat-icon color="accent">check_circle</mat-icon>
  <!--
    a
    <img src="assets/vectors/mat-baseline-check_circle.svg" alt="orcid logo" />
  -->
</ng-template>

<ng-template #invalid>
  <mat-icon class="material-icons-outlined">check_circle</mat-icon>
  <!--
    <img
      src="assets/vectors/mat-baseline-check_circle_outline.svg"
      alt="orcid logo"
    />
  -->
</ng-template>

<mde-popover #passwordPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card class="mat-elevation-z3 orcid-popover">
    <div class="popover-content">
      <!--
        @leomendoza123 TODO
        the following message is not translated since is very likely to be change
      -->
      <p>Must be 8 or more characters and contain:</p>
      <ul>
        <li>at least 1 numeral: 0 - 9</li>
        <li>
          at least 1 of the following:
          <ul>
            <li>alpha character, case-sensitive a-Z</li>
            <li>
              any of the following symbols:<br />
              ! @ # $ % ^ * ( ) ~ ` &nbsp; {{ '{ }' }} [ ] | \ &amp; _
            </li>
          </ul>
        </li>
        <li>
          optionally the space character,<br />
          i.e ' ' and other punctuation such as . , ;
        </li>
      </ul>
      <p>
        Additionally, common passwords are not allowed.
        <a
          href="https://github.com/danielmiessler/SecLists/blob/master/Passwords/Common-Credentials/10-million-password-list-top-1000.txt"
          target="password_one_time_reset.commonpasswordslink"
          >See the list of passwords we don't allow
        </a>
      </p>
      <p><strong>Example: sun% moon2</strong></p>
    </div>
    <button
      mat-button
      color="primary"
      aria-label="close"
      (click)="passwordPopoverTrigger.closePopover()"
      cdkFocusInitial
      i18n="@@shared.ok"
    >
      Ok
    </button>
  </mat-card>
</mde-popover>
