@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin form-password($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ::ng-deep .valid {
    color: mat-color($accent, 900);
  }
}

@include form-password($orcid-app-theme);
