:host {
  display: flex;
  flex-direction: column;
}

ol {
  margin-block-start: 0px;
  padding-inline-start: 0px;
  li {
    list-style-type: none;
    display: flex;
    img {
      margin-right: 4px;
    }
  }
}
