@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin side-bar-id-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host {
    width: 100%;
  }
  .container {
    background-color: mat.m2-get-color-from-palette($background, card);
    border-color: mat.m2-get-color-from-palette($accent, 400);
  }
}

@include side-bar-id-theme($orcid-app-theme);
