<div class="container" [ngClass]="{ mobile: !platform.columns12 }">
  <div>
    <img
      [ngClass]="{
        mobile: !platform.columns12,
      }"
      src="assets/vectors/orcid.logo.icon.svg"
      alt="orcid logo"
    />
  </div>
  <div class="text-container">
    <div
      class="id"
      [ngClass]="{
        'orc-font-body-small': !platform.columns12,
        'orc-font-body-large': platform.columns12,
      }"
      dir="ltr"
    >
      <span>{{ 'https:' + environment.BASE_URL }}</span>
      <h3
        class="orcid-id"
        [ngClass]="{
          'orc-font-body-large': !platform.columns12,
          'orc-font-heading-small': platform.columns12,
        }"
      >
        {{ id }}
      </h3>
    </div>
  </div>
  @if (privateView) {
    <a
      [href]="id"
      [attr.aria-label]="labelPreviewRecord"
      target="_blank"
      rel="noopener noreferrer"
      class="preview orc-font-small-print"
      i18n="@@record.previewPublicRecord"
      [attr.aria-label]="labelPreviewPublicRecord"
      >Preview public record</a
    >
  }
</div>
