.container {
  font-weight: 500;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 28px;
  padding-bottom: 32px;
  border-radius: 8px;
  img {
    margin-top: -32px;
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
  }
  img,
  .mobile {
    margin-top: -24px;
    height: 48px;
  }
  .text-container {
    margin-top: 8px;
  }
  .preview {
    margin-top: 14px;
    text-decoration: underline;
  }
  strong,
  .url {
    word-wrap: anywhere;
  }
}
.mobile {
  height: 131px;
}

:host {
  box-sizing: border-box;
}
