<h2 class="orc-font-body-large col" i18n="@@account.accountActions">
  Account actions
</h2>

<app-settings-panels
  id="cy-download-data-panel"
  [loading]="settingDownloadLoading"
  [(expandedContent)]="settingDownload"
  class="row"
  [title]="titleDownload"
>
  @if (titleDownload) {
    <app-settings-actions-download (loading)="settingDownloadLoading = $event">
    </app-settings-actions-download>
  }
</app-settings-panels>

<app-settings-panels
  id="cy-deactivate-account-panel"
  [loading]="settingDeactivateLoading"
  [(expandedContent)]="settingDeactivate"
  class="row"
  [title]="titleDeactivate"
>
  @if (settingDeactivate) {
    <app-settings-actions-deactivate
      (loading)="settingDeactivateLoading = $event"
    >
    </app-settings-actions-deactivate>
  }
</app-settings-panels>

<app-settings-panels
  id="cy-remove-duplicate-panel"
  [loading]="settingDuplicatedRecordLoading"
  [(expandedContent)]="settingDuplicatedRecord"
  class="row"
  [title]="titleDuplicatedRecord"
>
  @if (settingDuplicatedRecord) {
    <app-settings-actions-duplicated
      (loading)="settingDuplicatedRecordLoading = $event"
      (close)="settingDuplicatedRecord = false"
    >
    </app-settings-actions-duplicated>
  }
</app-settings-panels>
