<h2 class="orc-font-body col" i18n="@@account.accountActions">Account actions</h2>

<app-settings-panels
  [loading]="settingDownloadLoading"
  [(expandedContent)]="settingDownload"
  class="row"
  [title]="titleDownload"
>
  <app-settings-actions-download
    *ngIf="titleDownload"
    (loading)="settingDownloadLoading = $event"
  >
  </app-settings-actions-download>
</app-settings-panels>

<app-settings-panels
  [loading]="settingDeactivateLoading"
  [(expandedContent)]="settingDeactivate"
  class="row"
  [title]="titleDeactivate"
>
  <app-settings-actions-deactivate
    *ngIf="settingDeactivate"
    (loading)="settingDeactivateLoading = $event"
  >
  </app-settings-actions-deactivate>
</app-settings-panels>
