@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin side-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host {
    background-color: mat-color($background, brand-primary-lightest);
  }

  .side-bar {
    border-color: mat-color($accent, 200) !important;
    background-color: mat-color($background, brand-primary-lightest) !important;
  }
}

@include side-bar-theme($orcid-app-theme);
