@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin side-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host {
    background-color: mat.get-color-from-palette(
      $background,
      brand-primary-lightest
    );
  }

  .side-bar {
    border-color: mat.get-color-from-palette($accent, 200) !important;
    background-color: mat.get-color-from-palette(
      $background,
      brand-primary-lightest
    ) !important;
  }

  hr {
    background: mat.get-color-from-palette($background, 'ui-background-light');
  }

  .verification-icon {
    color: mat.get-color-from-palette($foreground, 'brand-primary');
  }
}

@include side-bar-theme($orcid-app-theme);
