:host {
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}

app-panel {
  width: 100%;
  margin-top: 16px;
}

app-panel:first-of-type {
  margin-top: 32px;
}

.orc-font-body {
  margin: unset;
}

.mobile {
  height: 187px;
}
