<section
  id="personal-information"
  role="region"
  [attr.aria-label]="regionPersonalInformation"
  *ngIf="!hideOrcidId || !orcidId"
>
  <h2
    class="orc-font-body-large"
    [ngClass]="{
      'sr-only': !loadingUserRecord && isPublicRecord ? false : true
    }"
    i18n="@@shared.personalInformation"
  >
    Personal information
  </h2>
  <p
    i18n="@@record.noPersonalInformation"
    *ngIf="!loadingUserRecord && isPublicRecord ? !displaySideBar : false"
  >
    No personal information available
  </p>
  <ng-container *ngIf="!isPublicRecord">
    <app-side-bar-id
      *ngIf="!hideOrcidId"
      [ngClass]="{
        mobile: !platform.columns12
      }"
      [id]="isPublicRecord || userSession?.userInfo?.EFFECTIVE_USER_ORCID"
      [privateView]="!isPublicRecord"
    ></app-side-bar-id>
  </ng-container>

  <ng-container *ngIf="!orcidId">
    <app-panel
      panelId="emails-panel"
      expandButtonsPosition="right"
      [isPublicRecord]="isPublicRecord"
      [elements]="userRecord?.emails?.emails"
      [editModalComponent]="modalEmailComponent"
      [email]="true"
      [type]="'side-bar'"
      class="side-bar"
      id="emails-panel"
      [(openState)]="emailsOpenState"
      *ngIf="
        !isPublicRecord ||
        (userRecord?.emails?.emails &&
          userRecord?.emails?.emails?.length > 0) ||
        (userRecord?.emails?.emailDomains &&
          userRecord?.emails?.emailDomains?.length > 0)
      "
      [userRecord]="userRecord"
    >
      <!-- OLD EMAIL PANEL (TOGGLZ OFF) -->

      <h3
        header
        class="orc-font-body"
        i18n="@@shared.emails"
        *ngIf="!emailDomainsTogglz && !loadingTogglz"
      >
        Emails
      </h3>
      <app-panel-data
        *ngIf="
          userRecord?.emails?.emails?.length > 0 &&
          !emailDomainsTogglz &&
          !loadingTogglz
        "
      >
        <app-panel-element
          *ngFor="let email of userRecord?.emails?.emails; let last = last"
          [visibility]="
            isPublicRecord ? '' : email.verified ? email.visibility : 'PRIVATE'
          "
          [isPublicRecord]="isPublicRecord"
          >{{ email.value }}
          <app-panel-element-source
            [isLastItem]="last"
            *ngIf="emailsOpenState"
            [name]="email.sourceName || email.source"
            [date]="email.createdDate | monthDayYearDateToString"
            [assertion]="
              email.assertionOriginName || email.assertionOriginOrcid
            "
          >
          </app-panel-element-source></app-panel-element
      ></app-panel-data>

      <!-- NEW EMAIL PANEL (TOGGLZ ON) -->
      <!-- EMAIL PANEL PUBLIC VIEW -->
      <h3
        header
        class="orc-font-body"
        i18n="@@shared.emailsAndDomains"
        *ngIf="isPublicRecord && emailDomainsTogglz && !loadingTogglz"
      >
        Emails & domains
      </h3>
      <app-panel-data
        *ngIf="
          userRecord?.emails?.emails &&
          userRecord?.emails?.emails?.length > 0 &&
          isPublicRecord &&
          emailDomainsTogglz &&
          !loadingTogglz
        "
      >
        <h4 header i18n="@@side-bar.verifiedEmailAddresses">
          Verified email addresses
        </h4>
        <app-panel-element
          *ngFor="let email of userRecord?.emails?.emails; let last = last"
          [separator]="!last"
          class="public-email-or-domain"
          [ngClass]="{
            'last-public-email-or-domain': last,
          }"
          ><ng-container>
            <div class="row">
              <mat-icon
                *ngIf="email.professionalEmail"
                class="verification-icon"
                >check_circle</mat-icon
              >
              <mat-icon
                *ngIf="!email.professionalEmail"
                aria-hidden="false"
                [attr.aria-label]="selfAssertedSource"
                [attr.alt]="selfAssertedSource"
                class="verification-icon"
                ><img
                  src="./assets/vectors/profile-not-verified.svg"
                  [attr.alt]="selfAssertedSource"
                />
              </mat-icon>
              <div>
                <span class="row orc-font-body-small"> {{ email.value }}</span>
              </div>
            </div>
            <app-panel-element-source
              class="orc-font-small-print email-domain-source"
              *ngIf="emailsOpenState"
              [name]="
                email.professionalEmail
                  ? orcidEmailValidation
                  : email.sourceName || email.source
              "
              [isEmailOrDomain]="true"
              [date]="
                email.verificationDate
                  | monthDayYearDateToString
                  | verificationDateCutoff
              "
              [isLastItem]="true"
            >
            </app-panel-element-source>
          </ng-container>
        </app-panel-element>
      </app-panel-data>

      <app-panel-data
        *ngIf="
          userRecord?.emails?.emailDomains &&
          userRecord?.emails?.emailDomains?.length > 0 &&
          isPublicRecord &&
          emailDomainsTogglz &&
          !loadingTogglz
        "
      >
        <h4 header i18n="@@side-bar.verifiedEmailDomains">
          Verified email domains
        </h4>
        <app-panel-element
          *ngFor="
            let domain of userRecord?.emails?.emailDomains;
            let last = last
          "
          [separator]="!last"
          class="public-email-or-domain"
          [ngClass]="{ 'last-public-email-or-domain': last }"
          ><ng-container
            ><div class="row">
              <mat-icon class="verification-icon">check_circle</mat-icon>
              <div>
                <span class="row orc-font-body-small"> {{ domain.value }}</span>
              </div>
            </div>
            <app-panel-element-source
              class="orc-font-small-print email-domain-source"
              *ngIf="emailsOpenState"
              [name]="orcidEmailValidation"
              [isEmailOrDomain]="true"
              [date]="
                domain.createdDate
                  | monthDayYearDateToString
                  | verificationDateCutoff
              "
              [isLastItem]="true"
            >
            </app-panel-element-source>
          </ng-container>
        </app-panel-element>
      </app-panel-data>
      <!-- EMAIL PANEL MY ORCID -->
      <h3
        header
        class="orc-font-body"
        i18n="@@shared.emailsAndDomains"
        *ngIf="!isPublicRecord && emailDomainsTogglz && !loadingTogglz"
      >
        Emails & domains
      </h3>
      <app-panel-data
        class="email-section"
        *ngIf="
          userRecord?.emails?.emails?.length > 0 &&
          !isPublicRecord &&
          emailDomainsTogglz &&
          !loadingTogglz
        "
      >
        <h4 header i18n="@@side-bar.emailAddressesUppercase">
          Email addresses
        </h4>
        <app-panel-element
          *ngFor="let email of userRecord?.emails?.emails; let last = last"
          [visibility]="email.verified ? email.visibility : 'PRIVATE'"
          [separator]="!last"
          >{{ email.value }}
        </app-panel-element>
      </app-panel-data>
      <app-panel-data
        *ngIf="!isPublicRecord && emailDomainsTogglz && !loadingTogglz"
      >
        <h4 header i18n="@@side-bar.verifiedEmailDomains">
          Verified email domains
        </h4>
        <app-panel-element
          *ngFor="
            let emailDomain of userRecord?.emails.emailDomains;
            let last = last
          "
          [visibility]="isPublicRecord ? '' : emailDomain.visibility"
          [separator]="!last"
          >{{ emailDomain.value }}
        </app-panel-element>
        <app-panel-element
          [italic]="true"
          *ngIf="!userRecord?.emails?.emailDomains?.length"
          i18n="@@side-bar.noVerifiedEmailDomains"
          >No verified email domains</app-panel-element
        >
      </app-panel-data>
    </app-panel>

    <app-panel
      panelId="websites-panel"
      expandButtonsPosition="right"
      [elements]="userRecord.website.websites"
      [editModalComponent]="modalWebsitesComponent"
      [isPublicRecord]="isPublicRecord"
      [type]="'side-bar'"
      class="side-bar"
      id="websites-panel"
      [(openState)]="websiteOpenState"
      [id]="userInfo?.EFFECTIVE_USER_ORCID"
      [userRecord]="userRecord"
      *ngIf="
        userRecord?.website?.websites &&
        (!isPublicRecord || userRecord.website.websites.length > 0)
      "
    >
      <h3 header class="orc-font-body" i18n="@@record.websitesAndSocialLinks">
        Websites & social links
      </h3>
      <app-panel-data *ngIf="userRecord.website.websites.length > 0">
        <app-panel-element
          [isPublicRecord]="isPublicRecord"
          *ngFor="let website of userRecord.website.websites; let last = last"
          [visibility]="!isPublicRecord && website.visibility.visibility"
          ><a
            tabindex="-1"
            [href]="website.url.value"
            [ngClass]="{
              'orc-font-body-small': getWebsite(website).length > 20
            }"
            target="_blank"
            rel="me nofollow noopener noreferrer"
            >{{ getWebsite(website) }}</a
          >
          <!-- [app-panel-element-source] only visible on public page -->
          <app-panel-element-source
            [isLastItem]="last"
            *ngIf="websiteOpenState"
            [name]="website.sourceName || website.source"
            [date]="website.createdDate | monthDayYearDateToString"
            [assertion]="
              website.assertionOriginName || website.assertionOriginOrcid
            "
          >
          </app-panel-element-source>
        </app-panel-element>
      </app-panel-data>
    </app-panel>

    <app-panel
      panelId="personal-identifiers-panel"
      expandButtonsPosition="right"
      *ngIf="
        userRecord?.externalIdentifier?.externalIdentifiers &&
        userRecord?.externalIdentifier?.externalIdentifiers.length > 0
      "
      [elements]="userRecord.externalIdentifier.externalIdentifiers"
      [editModalComponent]="modalPersonalIdentifiers"
      [isPublicRecord]="isPublicRecord"
      [type]="'side-bar'"
      class="side-bar"
      id="other-identifiers"
      [(openState)]="externalIdentifierOpenState"
      [userRecord]="userRecord"
    >
      <h3 header class="orc-font-body" i18n="@@record.otherIds">Other IDs</h3>
      <app-panel-data
        *ngIf="userRecord?.externalIdentifier.externalIdentifiers.length > 0"
      >
        <app-panel-element
          [isPublicRecord]="isPublicRecord"
          *ngFor="
            let externalIdentifier of userRecord.externalIdentifier
              .externalIdentifiers;
            let last = last
          "
          [visibility]="
            !isPublicRecord && externalIdentifier.visibility.visibility
          "
          ><a
            tabindex="-1"
            [href]="externalIdentifier.url"
            target="_blank"
            rel="me nofollow noopener noreferrer"
            >{{
              externalIdentifier.commonName +
                ': ' +
                externalIdentifier.reference
            }}</a
          >
          <!-- [app-panel-element-source] only visible on public page -->
          <app-panel-element-source
            [isLastItem]="last"
            *ngIf="externalIdentifierOpenState"
            [name]="externalIdentifier.sourceName || externalIdentifier.source"
            [date]="externalIdentifier.createdDate | monthDayYearDateToString"
            [assertion]="
              externalIdentifier.assertionOriginName ||
              externalIdentifier.assertionOriginOrcid
            "
          >
          </app-panel-element-source>
        </app-panel-element>
      </app-panel-data>
    </app-panel>
    <app-panel
      panelId="keywords-panel"
      expandButtonsPosition="right"
      *ngIf="
        userRecord?.keyword?.keywords &&
        (!isPublicRecord || userRecord.keyword.keywords.length > 0)
      "
      [elements]="userRecord.keyword.keywords"
      [editModalComponent]="modalKeywordComponent"
      [isPublicRecord]="isPublicRecord"
      [type]="'side-bar'"
      class="side-bar"
      id="keywords-panel"
      [(openState)]="keywordOpenState"
      [id]="userInfo?.EFFECTIVE_USER_ORCID"
      [userRecord]="userRecord"
    >
      <h3 header class="orc-font-body" i18n="@@record.keywords">Keywords</h3>
      <app-panel-data *ngIf="userRecord.keyword.keywords.length > 0">
        <ng-container *ngIf="!isPublicRecord">
          <app-panel-element
            [isPublicRecord]="isPublicRecord"
            *ngFor="let keyword of userRecord.keyword.keywords; let last = last"
            [visibility]="!isPublicRecord && keyword.visibility.visibility"
            >{{ getKeyword(keyword) }}

            <!-- [app-panel-element-source] only visible on public page -->
            <app-panel-element-source
              [isLastItem]="last"
              *ngIf="keywordOpenState"
              [name]="keyword.sourceName || keyword.source"
              [date]="keyword.createdDate | monthDayYearDateToString"
              [assertion]="
                keyword.assertionOriginName || keyword.assertionOriginOrcid
              "
            >
            </app-panel-element-source>
          </app-panel-element>
        </ng-container>
        <ng-container *ngIf="isPublicRecord">
          <ng-container *ngIf="keywordOpenState">
            <app-panel-element
              [isPublicRecord]="isPublicRecord"
              *ngFor="
                let keyword of userRecord.keyword.keywords;
                let last = last
              "
              [visibility]="!isPublicRecord && keyword.visibility.visibility"
              >{{ getKeyword(keyword) }}

              <!-- [app-panel-element-source] only visible on public page -->
              <app-panel-element-source
                [isLastItem]="last"
                *ngIf="keywordOpenState"
                [name]="keyword.sourceName || keyword.source"
                [date]="keyword.createdDate | monthDayYearDateToString"
                [assertion]="
                  keyword.assertionOriginName || keyword.assertionOriginOrcid
                "
              >
              </app-panel-element-source>
            </app-panel-element>
          </ng-container>
          <ng-container *ngIf="!keywordOpenState">
            <div class="overflow-wrap">
              {{ getKeywords(userRecord.keyword.keywords).join(', ') }}
            </div>
          </ng-container>
        </ng-container>
      </app-panel-data>
    </app-panel>
    <app-panel
      panelId="countries-panel"
      expandButtonsPosition="right"
      *ngIf="
        userRecord?.countries?.addresses &&
        (!isPublicRecord || userRecord.countries.addresses.length > 0)
      "
      [elements]="userRecord.countries.addresses"
      [editModalComponent]="modalCountryComponent"
      [isPublicRecord]="isPublicRecord"
      [type]="'side-bar'"
      class="side-bar"
      id="countries-panel"
      [(openState)]="addressOpenState"
      [id]="userInfo?.EFFECTIVE_USER_ORCID"
      [userRecord]="userRecord"
    >
      <h3 header class="orc-font-body" i18n="@@side-bar.countries">
        Countries
      </h3>
      <app-panel-data *ngIf="userRecord.countries.addresses.length > 0">
        <ng-container *ngIf="!isPublicRecord">
          <app-panel-element
            [isPublicRecord]="isPublicRecord"
            *ngFor="
              let address of userRecord.countries.addresses;
              let last = last
            "
            [visibility]="!isPublicRecord && address.visibility.visibility"
            >{{ address.countryName }}

            <!-- [app-panel-element-source] only visible on public page -->
            <app-panel-element-source
              [isLastItem]="last"
              [name]="address.sourceName || address.source"
              [date]="address.createdDate | monthDayYearDateToString"
              [assertion]="
                address.assertionOriginName || address.assertionOriginOrcid
              "
            >
            </app-panel-element-source>
          </app-panel-element>
        </ng-container>
        <ng-container *ngIf="isPublicRecord">
          <ng-container *ngIf="addressOpenState">
            <app-panel-element
              [isPublicRecord]="isPublicRecord"
              *ngFor="
                let address of userRecord.countries.addresses;
                let last = last
              "
              [visibility]="!isPublicRecord && address.visibility.visibility"
              >{{ address.countryName }}

              <!-- [app-panel-element-source] only visible on public page -->
              <app-panel-element-source
                [isLastItem]="last"
                [name]="address.sourceName || address.source"
                [date]="address.createdDate | monthDayYearDateToString"
                [assertion]="
                  address.assertionOriginName || address.assertionOriginOrcid
                "
              >
              </app-panel-element-source>
            </app-panel-element>
          </ng-container>
          <ng-container *ngIf="!addressOpenState">
            {{ getAddresses(userRecord.countries.addresses).join(', ') }}
          </ng-container>
        </ng-container>
      </app-panel-data>
    </app-panel>
  </ng-container>
</section>
