:host {
  width: 100%;
  box-sizing: border-box;
  > div {
    width: 100%;
  }

  h2 {
    margin: 0;
  }
}

section {
  width: 100%;
}

app-panel {
  width: 100%;
  margin-top: 18px;
}

app-panel-element {
  a {
    text-decoration: underline;
  }
}

.orc-font-body {
  margin: unset;
}

.mobile {
  height: 187px;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

#emails-panel h4 {
  margin-top: 0px;
  margin-bottom: 16px;
}

hr {
  margin: 8px 0 8px 0;
  height: 1px;
}

.verification-icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
  font-size: 24px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  img {
    width: 20px;
  }
}

.last-public-email-or-domain {
  margin-bottom: -8px;
}

.public-email-or-domain {
  ::ng-deep hr {
    margin: 16px 0 16px 0;
  }
  div {
    flex-wrap: nowrap !important;
  }
  .row {
    align-items: center;
  }
}

.email-section {
  padding-bottom: 0;
}

.email-domain-source {
  margin-left: 32px;
}
