@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin modal-footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $alert-colors: (
    'alert-notice': (
      'border': 'state-notice-darkest',
      'background': 'state-notice-lightest',
      'link-darkest': 'brand-quad-darkest',
      'link-dark': 'brand-quad-dark',
    ),
    'alert-info': (
      'border': 'state-info-darkest',
      'background': 'state-info-lightest',
      'link-darkest': 'state-info-darkest',
      'link-dark': 'state-info-dark',
    ),
    'alert-warning': (
      'border': 'state-warning-dark',
      'background': 'state-warning-lightest',
      'link-darkest': 'state-warning-darkest',
      'link-dark': 'state-warning-dark',
    ),
    'alert-success': (
      'border': 'brand-primary-dark',
      'background': 'brand-primary-lightest',
      'link-darkest': 'brand-primary-darkest',
      'link-dark': 'brand-primary-dark',
    ),
  );

  @each $class, $settings in $alert-colors {
    $border-color: map-get($settings, 'border');
    $background-color: map-get($settings, 'background');
    $link-darkest: map-get($settings, 'link-darkest');
    $link-dark: map-get($settings, 'link-dark');

    .#{$class} {
      border-color: mat.m2-get-color-from-palette(
        $foreground,
        $border-color
      ) !important;
      background-color: mat.m2-get-color-from-palette(
        $foreground,
        $background-color
      ) !important;

      mat-icon {
        color: mat.m2-get-color-from-palette(
          $foreground,
          $border-color
        ) !important;
      }

      ::ng-deep a {
        color: mat.m2-get-color-from-palette(
          $foreground,
          $link-darkest
        ) !important;

        &:visited {
          color: black !important;
        }
        &:hover,
        &:active,
        &:focus {
          color: mat.m2-get-color-from-palette(
            $foreground,
            $link-dark
          ) !important;
        }
      }
    }
  }
}

@include modal-footer-theme($orcid-app-theme);
