@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin modal-footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host {
    border-color: mat.get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;
    background-color: rgba($state-notice-light, 0.15);
  }
  mat-icon {
    color: mat.get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;
  }
}

@include modal-footer-theme($orcid-app-theme);
