p {
  margin: 6px 0;
}

.translated-title-label {
  font-weight: bold;
}

.record-holder {
  font-style: italic;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

mat-option {
  height: unset !important;
}
