<!-- WORK BODY -->
<!-- GENERAL DATA DISPLAY BY DEFAULT -->
<app-panel-data [borderBottom]="true">
  <div>
    <div class="general-data" *ngIf="work.journalTitle">
      {{ work.journalTitle.value }}
    </div>
    <div class="general-data">
      <ng-container *ngIf="work.publicationDate?.year"
        >{{ work.publicationDate | monthDayYearDateToString }}
        |
      </ng-container>
      {{ work.workType.value }}
    </div>
    <app-display-external-ids
      [externalIdentifiers]="work.workExternalIdentifiers"
    ></app-display-external-ids>
  </div>

  <div align-end>
    <a
      class="underline"
      (click)="toggleDetails.next(work)"
      *ngIf="!panelDetailsState.state"
      i18n="@@shared.showMoreDetail"
      >Show more detail</a
    >
    <a
      class="underline"
      (click)="toggleDetails.next(work)"
      *ngIf="panelDetailsState.state"
      i18n="@@shared.showLessDetail"
      >Show less detail</a
    >
  </div>
</app-panel-data>

<!-- DATA DISPLAY WHEN "MORE DETAILS" IS CLICKED -->

<app-panel-data [borderBottom]="true" *ngIf="panelDetailsState.state">
  <!-- TRANSLATED TITLE -->
  <app-display-attribute *ngIf="work.translatedTitle?.content">
    <h3 class="orc-font-body-small">
      <ng-container i18n="@@record.translatedTitle">Translated title</ng-container>
    </h3>
    <span *ngIf="work.translatedTitle?.languageName"
      >({{ work.translatedTitle?.languageName }})</span
    >

    <div>
      {{ work.translatedTitle.content }}
    </div>
  </app-display-attribute>

  <!-- LANGUAGE -->
  <app-display-attribute *ngIf="work.languageName?.value">
    <h3 class="orc-font-body-small">
      <ng-container i18n="@@record.language">Language</ng-container>
    </h3>

    <div>
      {{ work.languageName.value }}
    </div>
  </app-display-attribute>

  <!-- SUBTITLE -->
  <app-display-attribute *ngIf="work.subtitle?.value">
    <h3 class="orc-font-body-small">
      <ng-container i18n="@@record.subtitle">Subtitle</ng-container>
    </h3>

    <div>
      {{ work.subtitle.value }}
    </div>
  </app-display-attribute>

  <!-- URL -->

  <app-display-attribute *ngIf="work.url?.value">
    <h3 class="orc-font-body-small" i18n="@@record.url">URL</h3>

    <div>
      <a
        class="underline"
        *ngIf="isUrl(work.url.value)"
        rel="noopener noreferrer"
        target="_blank"
        href="{{ work.url.value }}"
      >
        {{ work.url.value }}
      </a>

      <ng-container *ngIf="!isUrl(work.url.value)">
        {{ work.url.value }}
      </ng-container>
    </div>
  </app-display-attribute>

  <!--  CONTRIBUTORS-->
  <app-display-attribute *ngIf="work?.contributors?.length > 0">
    <h3 class="orc-font-body-small" i18n="@@record.contributors">Contributors</h3>

    <div>
      <div
        *ngFor="let contributor of work.contributors"
        class="padding-level-3"
      >
        <ng-container *ngIf="contributor.creditName">{{
          contributor.creditName.value
          }}</ng-container>
        {{ contributor | contributorsPipe }}
      </div>
    </div>
  </app-display-attribute>


  <!-- CITATION-->
  <app-display-attribute *ngIf="work.citation?.citationType?.value">
    <h3 class="orc-font-body-small">
      <ng-container i18n="@@record.citation">Citation</ng-container>
      <span *ngIf="work.citation?.citationType?.value"
        >({{ work.citation?.citationType?.value }})</span
      >
    </h3>

    <div>
      {{ work.citation.citation.value }}
    </div>
  </app-display-attribute>

  <!--  DESCRIPTION-->
  <app-display-attribute *ngIf="work.shortDescription?.value">
    <h3
      class="orc-font-body-small"
      i18n="@@record.description"
    >
      Description
    </h3>

    <div>
      {{ work.shortDescription.value }}
    </div>

  </app-display-attribute>
  <!--  COUNTRY OF PUBLICATION-->
  <app-display-attribute *ngIf="work.countryCode?.value">
    <h3
      class="orc-font-body-small"
      i18n="@@record.countryPublication"
    >
      Country of publication
    </h3>

    <div>
      {{ work.countryName.value }}
    </div>

  </app-display-attribute>

  <!-- ADDED DATE-->
  <app-display-attribute>
    <h3 class="orc-font-body-small" i18n="@@record.added">Added</h3>
    <div>
      {{ work.createdDate | monthDayYearDateToString }}
    </div>
  </app-display-attribute>

  <!-- LAST MODIFIED  DATE-->
  <app-display-attribute>
    <h3 class="orc-font-body-small" i18n="@@record.lastModified">
      Last modified
    </h3>
    <div>{{ work.lastModified | monthDayYearDateToString }}</div>
  </app-display-attribute>
</app-panel-data>
