@import 'src/assets/scss/orcid.spacing.scss';

.intro {
  margin-bottom: $spacing-base;
}

.type {
  text-transform: uppercase;
  margin-bottom: 0;
}

button {
  margin: $spacing-large 0;
}

.buttons-container {
  display: flex;
  margin-top: 14px;
  .grant-permission {
    margin-left: 14px;
  }
}
