<mat-expansion-panel
  *ngIf="profileWorks.groups.length"
  (opened)="panelState = true"
  (closed)="panelState = false"
  [expanded]="panelState"
  [expanded]="true"
>
  <mat-expansion-panel-header class="mat-expansion-header">
    <h2 class="mat-subheading-2" #worksExpansionPanel>
      <!--
        The translation of the header of each card is handle with a separate template #translatedHeader
      -->
      <ng-container [ngTemplateOutlet]="translatedHeaderWorks"> </ng-container>
    </h2>
    <h2 class="mat-subheading-2 itemsAmount">
      ({{ profileWorks.totalGroups }})
    </h2>
  </mat-expansion-panel-header>
  <mat-paginator
    *ngIf="profileWorks.totalGroups > 50"
    [length]="profileWorks.totalGroups"
    (page)="worksPagesChange($event)"
    [pageIndex]="worksPageIndex"
  >
  </mat-paginator>

  <ng-container *ngIf="!profileWorksLoading">
    <div
      [@childListAnimation]="
        profileWorks.groups[0].defaultPutCode + profileWorks.groups[0].length
      "
    >
      <app-profile-activities-work
        *ngFor="let profileworksStack of profileWorks.groups"
        [profileworksStack]="profileworksStack"
        [id]="id"
      >
      </app-profile-activities-work>
    </div>
  </ng-container>

  <div class="progress-spinner-container" *ngIf="profileWorksLoading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-paginator
    *ngIf="profileWorks.totalGroups > 50"
    [length]="profileWorks.totalGroups"
    (page)="worksPagesChange($event)"
    [pageIndex]="worksPageIndex"
  >
  </mat-paginator>
</mat-expansion-panel>

<ng-template #translatedHeaderWorks i18n="@@notifications.works_label">
  Works
</ng-template>

<!--
  TODO The following translations files are for mat-paginator
  but these ones are required to be provided through a service
  https://github.com/angular/material2/issues/8239

  This requires the translation string to be declared outside the templates
  There is a currently open issue about this open on the Angular Repo
  https://github.com/angular/angular/issues/11405

  While Angular have no support for outside template translations an external library
  like https://github.com/ngx-translate/i18n-polyfill might be applied.
-->

<ng-template #paginatorNextPageLabel i18n="@@ng-orcid.paginatorNextPageLabel">
  Next page
</ng-template>

<ng-template #paginatorLastPageLabel i18n="@@ng-orcid.paginatorLastPageLabel">
  Previous page
</ng-template>

<ng-template #paginatorFirstPageLabel i18n="@@ng-orcid.paginatorFirstPageLabel">
  First page
</ng-template>

<ng-template
  #paginatorPreviousPageLabel
  i18n="@@ng-orcid.paginatorPreviousPageLabel"
>
  Last page
</ng-template>

<ng-template
  #paginatorItemsPerPageLabel
  i18n="@@ng-orcid.paginatorItemsPerPageLabel"
>
  Items per page
</ng-template>

<ng-template #paginatoOf i18n="@@ng-orcid.paginatoOf"> of </ng-template>
