<div class="container">
  @if (visibility === 'PUBLIC') {
    <mat-icon
      aria-hidden="false"
      [attr.aria-label]="label"
      class="everyone"
      [ngClass]="{ active: visibility === 'PUBLIC' }"
      >visibility</mat-icon
      >
    }
    @if (visibility === 'LIMITED') {
      <mat-icon
        aria-hidden="false"
        class="trusted"
        [attr.aria-label]="label"
        [ngClass]="{ active: visibility === 'LIMITED' }"
        >visibility</mat-icon
        >
      }
      @if (visibility === 'PRIVATE') {
        <mat-icon
          aria-hidden="false"
          class="private"
          [attr.aria-label]="label"
          [ngClass]="{ active: visibility === 'PRIVATE' }"
          >visibility</mat-icon
          >
        }
      </div>
