<div class="container">
  <mat-icon
    aria-hidden="false"
    [attr.aria-label]="label"
    class="everyone"
    *ngIf="visibility === 'PUBLIC'"
    [ngClass]="{ active: visibility === 'PUBLIC' }"
    >visibility</mat-icon
  >
  <mat-icon
    aria-hidden="false"
    class="trusted material-symbols-outlined"
    *ngIf="visibility === 'LIMITED'"
    [attr.aria-label]="label"
    [ngClass]="{ active: visibility === 'LIMITED' }"
    >visibility_lock</mat-icon
  >
  <mat-icon
    aria-hidden="false"
    class="private"
    [attr.aria-label]="label"
    *ngIf="visibility === 'PRIVATE'"
    [ngClass]="{ active: visibility === 'PRIVATE' }"
    >visibility_off</mat-icon
  >
</div>
