@import 'src/assets/scss/material.orcid-theme.scss';

@mixin panel-privacy-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .container {
    .dot {
      color: map-get($background, 'ui-background');
    }

    .everyone.active {
      color: map-get($foreground, 'visibility-everyone');
    }

    .private.active {
      color: map-get($foreground, 'visibility-private');
    }

    .trusted.active {
      color: map-get($foreground, 'visibility-trusted');
    }
  }
}

@include panel-privacy-theme($orcid-app-theme);