@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin app-menu-icon-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .hamburger__icon {
    &.open {
      span {
        background: mat.m2-get-color-from-palette($accent, '500-contrast');
      }
    }
  }
  .hamburger__icon {
    span {
      background: mat.m2-get-color-from-palette($accent, '500-contrast');
    }
  }
}

@include app-menu-icon-theme($orcid-app-theme);
