<form [formGroup]="twoFactorForm">
  <div>
    <b i18n="@@account.save2FACodes">
      Save your 2FA recovery codes!
    </b>
    <p i18n="@@account.recoveryCodes">
      Recovery codes can be used to access your account when you can’t receive 2FA codes (for example, if you
      lose your device). Each code can only be used once.
    </p>
    <a
      class="underline"
      i18n="@@account.learnMoreAbout2FA"
      rel="noopener noreferrer"
      target="_blank"
      href="https://support.orcid.org/hc/en-us/articles/360006971673"
    >
      Learn more about 2FA recovery codes
    </a>
  </div>
  <div class="row">
  <textarea
    class="backup-codes orc-font-body-small"
    formControlName="backupCodes"
    rows="14">
  </textarea>
  </div>
  <div>
    <p>
      <a
        class="underline"
        i18n="@@account.download2FARecovery"
        (click)="downloadRecoveryCodes()"
      >
        Download 2FA recovery codes
      </a>
      |
      <a
        (click)="tooltip.toggle()"
        [cdkCopyToClipboard]="backupCodesClipboard"
      >
        <button
          type="button"
          i18n="@@account.copy2FARecovery"
          matTooltip="{{ tooltipClipboard }}"
          (mouseenter)="$event.stopImmediatePropagation()"
          (mouseleave)="$event.stopImmediatePropagation()"
          #tooltip="matTooltip"
        >
          Copy 2FA recovery codes
        </button>
      </a>
    </p>
    <p i18n="@@account.downloadOrCopy">
      Download or copy these codes and store them in a safe spot, such as a password manager.
    </p>
    <p i18n="@@account.onlyTimeDownload">
      This is the only time that you can download or copy these codes and ORCID does not store a backup. If
      you lose access to both your device and these codes, you will need to contact us to restore your account
      access.
    </p>
  </div>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      i18n="@@account.iGotMyRecovery"
      id="two-factor"
      [routerLink]="['/' + applicationRoutes.accountQA]"
    >
      I’ve got my recovery codes - go back to account settings
    </button>
  </div>
</form>
