<form [formGroup]="twoFactorForm">
  <orcid-step-view
    i18n-title="@@account.enableTwoFactorAuth"
    i18n-subtitle="@@account.step2RecoveryCodes"
    i18n-primaryLabel="@@account.enableTwoFactorAuth"
    title="Enable two-factor authentication"
    subtitle="Step 2 of 2 - 2FA recovery codes"
    primaryLabel="Enable two-factor authentication"
    [primaryDisabled]="!canCompleteSetup"
    (primaryAction)="completeSetup()"
  >
    <div class="copy-block">
      <div class="copy-block__intro">
        <h4 i18n="@@account.yourRecoveryCodesTitle">Your 2FA recovery codes</h4>
        <p i18n="@@account.recoveryCodes">
          Recovery codes can be used to access your account when you can’t
          receive 2FA codes (for example, if you lose your device). Each code
          can only be used once.
        </p>
      </div>
      <a
        class="learn-more-link"
        i18n="@@account.learnMoreAbout2FA"
        rel="noopener noreferrer"
        target="_blank"
        href="https://support.orcid.org/hc/en-us/articles/360006971673"
      >
        Learn more about 2FA recovery codes
        <mat-icon inline="true" aria-hidden="true">open_in_new</mat-icon>
      </a>
    </div>

    <div class="backup-codes-wrapper">
      <textarea
        class="backup-codes orc-font-body-small"
        formControlName="backupCodes"
        rows="10"
        readonly
      >
      </textarea>
    </div>

    <div class="actions-row">
      <button
        type="button"
        class="link-action"
        (click)="downloadRecoveryCodes()"
      >
        <mat-icon inline="true" aria-hidden="true">file_download</mat-icon>
        <span class="underline" i18n="@@account.download2FARecovery">
          Download 2FA recovery codes
        </span>
      </button>
      <div class="actions-divider" aria-hidden="true"></div>
      <button
        type="button"
        class="link-action"
        (click)="markCodesCopied(); tooltip.toggle()"
        [cdkCopyToClipboard]="backupCodesClipboard"
        matTooltip="{{ tooltipClipboard }}"
        (mouseenter)="$event.stopImmediatePropagation()"
        (mouseleave)="$event.stopImmediatePropagation()"
        #tooltip="matTooltip"
      >
        <mat-icon inline="true" aria-hidden="true">content_copy</mat-icon>
        <span class="underline" i18n="@@account.copy2FARecovery">
          Copy 2FA recovery codes
        </span>
      </button>
    </div>

    <div class="confirm-block">
      <h4 i18n="@@account.confirmRecoveryCodesTitle">
        Confirm 2FA recovery codes
      </h4>
      <mat-checkbox
        formControlName="confirmCodes"
        i18n="@@account.confirmRecoveryCodesCheckbox"
      >
        I have downloaded or copied my 2FA recovery codes and stored them
        somewhere safe
      </mat-checkbox>
    </div>
  </orcid-step-view>
</form>
