.hide {
  display: none;
}

label.mat-caption {
  margin-bottom: 8px;
}

mat-form-field {
  width: 100%;
}

:host {
  width: 100%;
}

hr {
  height: 2px;
  border: 0;
  margin: 0 0 20px;
}

.title {
  p {
    margin: 6px 0;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-option {
  height: 64px;
  line-height: 32px;
}

.side-bar {
  text-decoration: underline;
}

mat-radio-button {
  margin-top: 16px;
  padding-left: 2px;
}

.date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  mat-form-field {
    width: 120px;
    margin-left: 4px;
  }
}

.no-margin {
  margin: 0;
}
.add-more {
  margin-bottom: 27px;
  padding-inline-start: 0;
  a {
    margin: 0;
  }
  span {
    margin: auto;
    padding-inline-start: 6px;
  }
}

.funding {
  margin-top: 26px;
}

.required-information {
  margin-left: auto !important;
  display: flex;
  align-items: center;

  span {
    margin-right: 3px !important;
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}
:host {
  .date-group {
    .date-input {
      padding-left: 0;
    }
  }
}

.project-link-mobile {
  padding-bottom: 1.475em;
}

.description {
  margin-top: 26px !important;
}

.delete-grant {
  align-content: end;
  justify-content: flex-end;
}

.input-container {
  max-width: 402px;
}

.externalIdBox {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.form-field-wrapper {
  padding-bottom: 16px;
}

.language {
  padding-bottom: 1.475em;

  mat-error {
    padding: 0 1em;
    margin-top: 0.2em;
  }
}

.mat-mdc-option {
  min-height: 64px;
  line-height: 32px;
  height: auto;
  margin-bottom: 8px;
  white-space: normal;
  line-height: 1.4;

  .title {
    display: flex;
    width: 100%;
    font-weight: 500;
  }
}
