<app-modal [loading]="loadingFunding">
  <app-modal-header>
    <ng-container i18n="@@shared.funding"> Funding </ng-container>
  </app-modal-header>
  <app-modal-side-bar>
    <ng-container id="side-bar-title">
      <a class="side-bar" i18n="@@funding.details" (click)="toFundingDetails()">
        Funding details
      </a>
    </ng-container>
    <ng-container id="side-bar-url-1">
      <a class="side-bar" i18n="@@funding.agency" (click)="toFundingAgency()">
        Funding agency
      </a>
    </ng-container>
    <ng-container id="side-bar-url-2">
      <a
        class="side-bar"
        i18n="@@funding.fundingIdentifiers"
        (click)="toFundingIdentifiers()"
      >
        Funding identifiers
      </a>
    </ng-container>
    <ng-container id="side-bar-url-3">
      <a class="side-bar" i18n="@@shared.visibility" (click)="toVisibility()">
        Visibility
      </a>
    </ng-container>
  </app-modal-side-bar>
  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      i18n="@@shared.saveChanges"
      id="save-names-button"
    >
      Save changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-names-button"
    >
      Cancel
    </button>
  </app-modal-footer>
  <form [formGroup]="fundingForm" (ngSubmit)="onSubmit()">
    <div
      id="funding-details"
      class="title"
      [ngClass]="{
        'orc-font-body': !platform.columns12,
        'orc-font-body-large': platform.columns12
      }"
    >
      <!---------------------->
      <!-- Funding Details  -->
      <!---------------------->
      <div class="row">
        <p>
          <strong i18n="@@funding.details"> Funding details </strong>
          <span *ngIf="!platform.columns12" class="required">*</span>
        </p>
        <p *ngIf="platform.columns12" class="required-information mat-caption">
          <span class="required">*</span>
          <ng-container i18n="@@shared.requiredInformation"
            >Required information</ng-container
          >
        </p>
      </div>
    </div>
    <hr />
    <!-- Funding Type -->
    <div>
      <div class="row">
        <label
          class="mat-caption title"
          [ngClass]="{
            error:
              fundingForm.get('fundingType').hasError('required') &&
              fundingForm.get('fundingType').touched
          }"
        >
          <strong i18n="@@funding.type">Funding type</strong>
          <span class="required">*</span>
        </label>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="mat-form-field-min">
          <mat-select
            formControlName="fundingType"
            placeholder="{{ ngOrcidFundingType }}"
          >
            <mat-option
              *ngFor="let item of fundingTypes | keyvalue"
              [value]="item.value"
            >
              {{ item.value | recordFundingTypesLabel }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="fundingForm.get('fundingType').hasError('required')"
            i18n="@@funding.selectAType"
          >
            Select a funding type
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Funding Subtype -->
    <div class="row">
      <label for="funding-subtype-input" class="mat-caption">
        <strong i18n="@@funding.organizationDefinedFundingSubType"
          >Funding subtype</strong
        >
      </label>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input
          id="funding-subtype-input"
          matInput
          formControlName="fundingSubtype"
        />
      </mat-form-field>
    </div>

    <div>
      <div class="row">
        <label
          for="funding-project-title-input"
          class="mat-caption"
          [ngClass]="{
            error:
              fundingForm.get('fundingProjectTitle').hasError('required') &&
              (fundingForm.get('fundingProjectTitle').touched ||
                fundingForm.get('fundingProjectTitle').dirty)
          }"
        >
          <strong i18n="@@funding.projectTitle">Title of funded project</strong>
          <span class="required">*</span>
        </label>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline" class="mat-form-field-min">
          <input
            id="funding-project-title-input"
            matInput
            formControlName="fundingProjectTitle"
          />
          <mat-error
            class="mat-caption"
            *ngIf="fundingForm.hasError('required', 'fundingProjectTitle')"
            i18n="@@funding.projectTitleError"
          >
            Please enter a title
          </mat-error>
        </mat-form-field>
      </div>
      <!-- SHOW-HIDE translated title button  -->
      <div class="row">
        <a
          class="col add-more translate-title no-gutters"
          (click)="showTranslationTitle = !showTranslationTitle"
        >
          <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
          <span class="mat-body-1">
            <ng-container
              i18n="@@funding.addTranslatedTitle"
              *ngIf="!showTranslationTitle"
            >
              Add a translated title
            </ng-container>
            <ng-container
              i18n="@@funding.hideTranslatedTitle"
              *ngIf="showTranslationTitle"
            >
              Hide translated title
            </ng-container>
          </span>
        </a>
      </div>
    </div>
    <!-- Funding project translations title -->
    <div
      [hidden]="
        !!funding?.fundingTitle?.translatedTitle?.content ||
        !showTranslationTitle
      "
    >
      <div>
        <div class="row">
          <label
            for="funding-project-translated-title-input"
            class="mat-caption"
          >
            <strong i18n="@@funding.translatedTitle"
              >Funding project translated title</strong
            >
          </label>
        </div>

        <mat-form-field appearance="outline" class="mat-form-field-min">
          <input
            id="funding-project-translated-title-input"
            matInput
            formControlName="translatedTitleContent"
          />
        </mat-form-field>
      </div>

      <!-- Language of this title -->
      <div>
        <div class="row translate-title">
          <label for="language-title-input" class="mat-caption">
            <strong i18n="@@funding.translatedTitleLanguage"
              >Language of this title</strong
            >
          </label>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="mat-form-field-min">
            <mat-select
              id="language-title-input"
              placeholder="{{ ngOrcidSelectLanguage }}"
              formControlName="translatedTitleLanguage"
            >
              <mat-option
                *ngFor="let item of languageMap | keyvalue"
                [value]="item.key"
              >
                {{ item.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Funding project link-->
    <div>
      <div class="row">
        <label
          for="funding-project-link-input"
          class="mat-caption"
          [ngClass]="{
            error:
              fundingForm.get('fundingProjectLink').hasError('pattern') &&
              fundingForm.get('fundingProjectLink').touched
          }"
        >
          <strong i18n="@@funding.projectLink">Project link</strong>
        </label>
      </div>
      <div
        class="input-container"
        [ngClass]="{ 'project-link-mobile': isMobile }"
      >
        <mat-form-field appearance="outline" class="mat-form-field-min">
          <input
            id="funding-project-link-input"
            matInput
            formControlName="fundingProjectLink"
            placeholder=""
          />
          <mat-hint class="mat-caption" i18n="@@funding.projectLinkHint">
            A link to the project supported by this funding. Links should be in
            full URL format e.g. http://www.website.com/page.html
          </mat-hint>
          <mat-error
            *ngIf="fundingForm.get('fundingProjectLink').hasError('pattern')"
            i18n="@@funding.invalidUrl"
          >
            Invalid URL
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Description  -->
    <div class="row description">
      <div class="row">
        <label for="description-input" class="mat-caption">
          <strong i18n="@@funding.description">Description</strong>
          <span class="required">*</span>
        </label>
      </div>
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <textarea
          id="description-input"
          matInput
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="7"
        >
        </textarea>
      </mat-form-field>
    </div>

    <!-- Total funding amount -->
    <div class="row">
      <div class="row">
        <label for="funding-amount-input" class="mat-caption">
          <strong i18n="@@funding.amount">Total funding amount</strong>
        </label>
      </div>
      <!-- Currency  -->
      <div class="input-container">
        <div class="col l4 date">
          <mat-form-field
            id="funding-amount-input"
            appearance="outline"
            class="mat-form-field-min"
          >
            <mat-select placeholder="-" formControlName="currencyCode">
              <mat-option
                *ngFor="let item of currencyCodeMap | keyvalue"
                [value]="item.key"
              >
                {{ item.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Amount -->
        <div class="col">
          <mat-form-field appearance="outline" class="mat-form-field-min">
            <input id="amount-input" matInput formControlName="amount" />
            <mat-error
              class="mat-caption"
              *ngIf="
                fundingForm.get('amount').hasError('pattern') &&
                fundingForm.get('amount').touched
              "
              i18n="@@funding.amountError"
            >
              Amount should be a numeric value with format 1,234,567.89
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Start date  -->
    <div class="row" formGroupName="startDateGroup">
      <div class="row">
        <label
          class="mat-caption"
          [ngClass]="{
            error: fundingForm.hasError('date', 'startDateGroup')
          }"
        >
          <strong i18n="@@shared.startDate">Start date</strong>
        </label>
      </div>
      <!--Start date year  -->
      <div class="input-container">
        <div class="col l4 date">
          <mat-form-field
            id="start-date-year-input"
            appearance="outline"
            class="mat-form-field-min"
          >
            <mat-select
              placeholder="{{ ngOrcidYear }}"
              formControlName="startDateYear"
            >
              <mat-option i18n="@@shared.year" [value]="">Year</mat-option>
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Start date month -->
        <div class="col l4 date">
          <mat-form-field
            id="start-date-month-input"
            appearance="outline"
            class="mat-form-field-min"
          >
            <mat-select
              placeholder="{{ ngOrcidMonth }}"
              formControlName="startDateMonth"
            >
              <mat-option i18n="@@shared.month" [value]="">Month</mat-option>
              <mat-option *ngFor="let month of months" [value]="month">
                {{ month }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-error
            class="mat-caption"
            i18n="@@shared.invalidDate"
            *ngIf="fundingForm.get('startDateGroup').errors?.date"
          >
            Invalid date
          </mat-error>
        </div>
      </div>
    </div>

    <!-- End date -->
    <div class="row" formGroupName="endDateGroup">
      <div class="row">
        <label
          class="mat-caption"
          [ngClass]="{
            error: fundingForm.hasError('date', 'endDateGroup')
          }"
        >
          <strong i18n="@@shared.endDate">End date</strong>
        </label>
      </div>
      <!-- End date year  -->
      <div class="input-container">
        <div class="col l4 date">
          <mat-form-field
            id="end-date-year-input"
            appearance="outline"
            class="mat-form-field-min"
          >
            <mat-select
              placeholder="{{ ngOrcidYear }}"
              formControlName="endDateYear"
            >
              <mat-option i18n="@@shared.year" [value]="">Year</mat-option>
              <mat-option *ngFor="let year of yearsEndDate" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- End date month -->
        <div class="col l4 date">
          <mat-form-field
            id="end-date-month-input"
            appearance="outline"
            class="mat-form-field-min"
          >
            <mat-select
              placeholder="{{ ngOrcidMonth }}"
              formControlName="endDateMonth"
            >
              <mat-option i18n="@@shared.month" [value]="">Month</mat-option>
              <mat-option *ngFor="let month of months" [value]="month">
                {{ month }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-error
            class="mat-caption"
            i18n="@@shared.invalidDate"
            *ngIf="fundingForm.get('endDateGroup').errors?.date"
          >
            Invalid date
          </mat-error>
        </div>
      </div>
    </div>

    <!---------------------->
    <!-- Funding agency   -->
    <!---------------------->
    <div
      id="funding-agency"
      class="title"
      [ngClass]="{
        'orc-font-body': !platform.columns12,
        'orc-font-body-large': platform.columns12
      }"
    >
      <div class="row">
        <p>
          <strong i18n="@@funding.agency"> Funding agency </strong>
          <span *ngIf="!platform.columns12" class="required">*</span>
        </p>
        <p *ngIf="platform.columns12" class="required-information mat-caption">
          <span class="required">*</span>
          <ng-container i18n="@@shared.requiredInformation"
            >Required information</ng-container
          >
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <label
        for="funding-agency-name-input"
        class="mat-caption"
        [ngClass]="{
          error:
            fundingForm.get('agencyName').hasError('required') &&
            (fundingForm.get('agencyName').touched ||
              fundingForm.get('agencyName').dirty)
        }"
      >
        <strong i18n="@@funding.agencyName">Funding agency name</strong>
        <span class="required">*</span>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input
          id="funding-agency-name-input"
          matInput
          formControlName="agencyName"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option.value"
            (click)="fillForm(option)"
          >
            <div class="row orc-font-body-small">
              {{ option.value }}
            </div>
            <div class="row orc-font-small-print">
              {{ option.city }} {{ option.region }} {{ option.country }}
            </div>
          </mat-option>
        </mat-autocomplete>
        <button
          class="clear"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearForm()"
          *ngIf="fundingForm.get('agencyName').value"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          class="mat-caption"
          *ngIf="fundingForm.hasError('required', 'agencyName')"
          i18n="@@funding.agencyNameError"
        >
          Please enter an agency name
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <label
        class="mat-caption"
        [ngClass]="{
          error:
            fundingForm.get('city').hasError('required') &&
            (fundingForm.get('city').touched || fundingForm.get('city').dirty)
        }"
      >
        <strong i18n="@@shared.city">City</strong>
        <span class="required">*</span>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input id="city-input" matInput formControlName="city" />
        <mat-error
          class="mat-caption"
          *ngIf="
            fundingForm.get('city').hasError('required') &&
            fundingForm.get('city').touched
          "
          i18n="@@shared.cityError"
        >
          Please enter a city
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <label for="region-input" class="mat-caption">
        <strong i18n="@@shared.region">Region, State or County</strong>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input id="region-input" matInput formControlName="region" />
      </mat-form-field>
    </div>
    <div class="row">
      <label
        for="country-input"
        class="mat-caption"
        [ngClass]="{
          error:
            fundingForm.get('country').hasError('required') &&
            fundingForm.get('country').touched
        }"
      >
        <strong i18n="@@shared.country">Country</strong>
        <span class="required">*</span>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field
        id="country-input"
        appearance="outline"
        class="mat-form-field-min"
        [ngClass]="{ twoLinesHint: isMobile }"
      >
        <mat-select #countrySelect formControlName="country">
          <mat-option
            *ngFor="let countryCode of countryCodes"
            [value]="countryCode.key"
          >
            {{ countryCode.key }}
          </mat-option>
        </mat-select>
        <mat-error
          i18n="@@shared.countryError"
          *ngIf="
            fundingForm.get('country').hasError('required') &&
            fundingForm.get('country').touched
          "
        >
          Please enter a country
        </mat-error>
      </mat-form-field>
    </div>

    <!-------------------------->
    <!-- Funding Identifiers-->
    <!-------------------------->

    <div
      id="funding-identifiers"
      class="title"
      [ngClass]="{
        'orc-font-body': !platform.columns12,
        'orc-font-body-large': platform.columns12
      }"
    >
      <p>
        <strong i18n="@@funding.fundingIdentifiers">Funding identifiers</strong>
        <span *ngIf="!platform.columns12" class="required">*</span>
      </p>
    </div>
    <hr class="no-margin" />
    <!-- Grants group -->
    <div formArrayName="grants">
      <div
        class="externalIdBox"
        *ngFor="
          let grantsGroup of grantsArray.controls;
          let i = index;
          let last = last
        "
      >
        <ng-container *ngIf="grantsArrayDisplayState[i]">
          <app-funding-external-identifiers-edit
            [grantForm]="$any(grantsGroup)"
            (cancelEvent)="cancelExternalIdEdit(i)"
            [index]="i"
          ></app-funding-external-identifiers-edit>
        </ng-container>

        <ng-container *ngIf="!grantsArrayDisplayState[i]">
          <app-funding-external-identifiers-view-only
            [grant]="grantsGroup.value"
            (edit)="grantsArrayDisplayState[i] = true"
            (delete)="deleteGrant(i)"
          ></app-funding-external-identifiers-view-only>
        </ng-container>
      </div>
      <!-- Add another -->
      <div class="row" *ngIf="grantsArray.length">
        <a class="col add-more no-gutters" (click)="addAnotherGrant()">
          <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
          <span class="mat-body-1" i18n="@@shared.addAnotherId">
            Add another identifier
          </span>
        </a>
      </div>
      <div class="row" *ngIf="!grantsArray.length">
        <a class="col add-more no-gutters" (click)="addAnotherGrant()">
          <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
          <span class="mat-body-1" i18n="@@shared.addId">
            Add an identifier
          </span>
        </a>
      </div>
    </div>

    <!------------------------>
    <!-- Funding Visibility -->
    <!------------------------>
    <div
      id="visibility"
      class="title"
      [ngClass]="{
        'orc-font-body': !platform.columns12,
        'orc-font-body-large': platform.columns12
      }"
    >
      <p>
        <strong i18n="@@shared.visibility">Visibility</strong>
      </p>
    </div>
    <hr />

    <!-- Funding Visibility -->
    <p class="orc-font-body-small" i18n="@@funding.whoCanSeeFunding">
      Who can see your funding. The default visibility setting is Private.
    </p>
    <div class="row">
      <div class="col no-wrap actions-wrapper no-gutters">
        <app-privacy-selector
          formControlName="visibility"
        ></app-privacy-selector>
      </div>
    </div>
  </form>
</app-modal>
