@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin funding-external-identifiers-edit-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.define-typography-config();

  .error {
    color: map-get($foreground, 'state-warning-dark');
  }
}
@include funding-external-identifiers-edit-theme($orcid-app-theme);
