<app-modal [loading]="loadingWorks" [noSidebar]="true">
  <app-modal-header>
    <ng-container i18n="@@works.exportSelectedWorks">
      Export selected works
    </ng-container>
  </app-modal-header>
  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      id="export-button"
    >
      <ng-container i18n="@@works.exportSelectedWorksBibtex">
        Export selected works to BibTeX
      </ng-container>
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-button"
    >
      Cancel
    </button>
  </app-modal-footer>
  <div class="row">
    <div class="col orc-font-small-print">
      <p i18n="@@works.exportSelectedWorksBibtexDescription">
        Export selected works to a BibTeX file. Please note that exporting to
        BibTeX may cause problems for text in some languages.
      </p>
      <a
        class="underline"
        rel="noopener noreferrer"
        target="_blank"
        href="https://support.orcid.org/hc/en-us/articles/360006971453"
        i18n="@@works.findOut"
      >
        Find out more on exporting BibTeX files
      </a>
    </div>
  </div>
  <div class="row">
    <h3>
      <ng-container i18n="@@works.selectedWorks">
        Selected works to export
      </ng-container>
      ({{ selectedAll ? totalWorks : works.length }})
    </h3>
    <mat-divider class="row orcid-divider"></mat-divider>
    <ng-container *ngFor="let work of works">
      <div class="row work-info">
        <div class="row">
          <h2 class="orc-font-body">
            {{ work.title.value }}
          </h2>
        </div>
        <div class="orc-font-body-small">
          <strong i18n="@@shared.source">Source</strong>:
          <ng-container
            *ngIf="work?.assertionOriginName || work?.assertionOriginOrcid"
          >
            {{ work?.assertionOriginName || work?.assertionOriginOrcid }}
            <i i18n="@@shared.onBehalfOf">via</i>
          </ng-container>
          {{ work.sourceName || work.source }}
          <ng-container *ngIf="work.createdDate">
            <br *ngIf="isMobile" />
            <strong
              class="added"
              i18n="@@shared.added"
              [ngClass]="{
                mobile: isMobile,
              }"
            >
              Added </strong
            >:
            {{ work.createdDate | monthDayYearDateToString }}
          </ng-container>
        </div>
      </div>
      <mat-divider class="row"></mat-divider>
    </ng-container>
    <div
      class="no-info orc-font-body-small"
      *ngIf="!selectedAll && putCodes?.length === 0"
    >
      <mat-icon>error</mat-icon>
      <ng-container i18n="@@works.noItemsSelected"
        >No items selected.
      </ng-container>
    </div>
  </div>
</app-modal>
