<app-modal [loading]="loadingWorks" [noSidebar]="true">
  <app-modal-header>
    <ng-container i18n="@@record.exportSelectedWorks">
      Export selected works
    </ng-container>
  </app-modal-header>
  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      id="export-button"
    >
      <ng-container i18n="@@record.exportSelectedWorksBibtex">
        Export selected works to BibTeX
      </ng-container>
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-button"
    >
      Cancel
    </button>
  </app-modal-footer>
  <div class="row">
    <div class="col orc-font-small-print">
      <p i18n="@@record.exportSelectedWorksBibtexDescription">
        Export selected works to a BibTeX file. Please note that exporting to
        BibTeX may cause problems for text in some languages.
      </p>
      <a
        class="underline"
        rel="noopener noreferrer"
        target="_blank"
        href="https://support.orcid.org/hc/articles/360006971333"
        i18n="@@record.findOut"
      >
        Find out more on exporting BibTeX files
      </a>
    </div>
  </div>
  <div class="row">
    <h3>
      <ng-container i18n="@@record.selectedWorks">
        Selected works to export
      </ng-container>
      ({{ works.length }})
    </h3>
    <mat-divider class="row orcid-divider"></mat-divider>
    <ng-container *ngFor="let work of works">
      <div class="row work-info">
        <div class="row">
          <h2 class="orc-font-body">
            {{ work.title.value }}
          </h2>
        </div>
        <div class="orc-font-body-small">
          <strong i18n="@@record.source">Source</strong>:
          {{ work.sourceName || work.source }}
          <strong class="added" i18n="@@record.added"> Added </strong>:
          {{ work.createdDate | monthDayYearDateToString }}
        </div>
      </div>
      <mat-divider class="row"></mat-divider>
    </ng-container>
  </div>
</app-modal>
