@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin developer-tools-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  .info {
    border-color: mat.get-color-from-palette($foreground,
        'state-notice-dark'
      ) !important;

    mat-icon {
      color: mat.get-color-from-palette($foreground,
          'state-notice-dark'
        ) !important;
    }
  }

  .warn {
    border-color: mat.get-color-from-palette($foreground,
        'state-warning-dark'
      ) !important;

    mat-icon {
      color: mat.get-color-from-palette($foreground,
          'state-warning-dark'
        ) !important;
    }
  }

  code {
    border-color: mat.get-color-from-palette($background,
        ui-background);
    background-color: mat.get-color-from-palette($background,
        ui-background-lightest)
  }
}

@include developer-tools-theme($orcid-app-theme);