:host {
  margin-bottom: 55px;
}
.title-box {
  h2 {
    margin: 0;
    margin-top: 52px;
    margin-bottom: 9px;
  }
  mat-divider {
    margin-bottom: 36px;
  }
  button {
    margin-left: 4px;
  }
}

.news-box {
  text-align: center;
  height: 312px;
  :first-child {
    max-height: 115px;
    padding-top: 32px;
  }
  p {
    margin: 0;
    max-width: 360px;
  }
}

.spinner-container {
  height: 120px;
}

button {
  height: 36px;
}
