.title-box {
  h2 {
    margin: 0;
    margin-top: 52px;
    margin-bottom: 9px;
  }
  mat-divider {
    margin-bottom: 36px;
  }
  button {
    margin-left: 4px;
  }
}

.news-box > .col > .row {
  text-align: center;
  height: 312px;

  padding-top: 32px;
  box-sizing: border-box;
  :first-child {
    max-height: 115px;
  }
  p {
    margin: 0;
    max-width: 360px;
  }
}

.spinner-container {
  height: 120px;
}

button {
  height: 36px;
  padding: 0;
  .button-text-container {
    width: 132px;
  }
}

:host {
  padding-bottom: 50px;
  display: block;
}

.colums-4,
.colums-8 {
  :host {
    padding: 0 mat-divider {
      margin-bottom: 0;
    }

    .news-box > .col {
      padding: 0;
      > .row {
        margin-top: 40px;
        p {
          margin: 0;
          max-width: none;
        }
        .mat-caption {
          justify-content: space-around;
        }
      }
    }

    .mobile-more-news-box {
      margin-top: 16px;
      margin-bottom: 20px;
    }
  }
}
