<div class="count">
  5,566,081
  <ng-container i18n="@@public-layout.amount_ids"
    >ORCID iDs and counting.</ng-container
  >
</div>

<h2 i18n="@@home.latest_news">LATEST NEWS</h2>

<div *ngIf="!news" class="spinner-container"></div>
<ng-container *ngIf="news">
  <div class="cart-container" [@listAnimation]="news.length">
    <div
      class="card"
      matRipple
      *ngFor="let new of news"
      (click)="navigate(new.link)"
    >
      <div class="date">{{ new.pubDate[0].slice(0, 22) }}</div>
      {{ new.title }}
      <div class="author">by {{ new['dc:creator'] }}</div>
    </div>
  </div>

  <button
    mat-raised-button
    (click)="moreNews()"
    color="primary"
    i18n="@@home.more_news"
  >
    More news
  </button>
</ng-container>
