@import '~@angular/material/theming';
$config: mat-typography-config();
@mixin news-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $overlay-color: mat-color($background, blue-overlay);
  app-news {
    .news-box {
      text-align: center;
      background: linear-gradient($overlay-color, $overlay-color),
        url('/assets/img/hero-header-image.png');
      color: mat-contrast($primary, 400);
    }
  }
}
