<ng-container *ngIf="!(isPublicRecord && workGroup?.groups.length === 0)">
  <app-panels
    *ngIf="workGroup?.groups"
    class="row"
    [title]="works"
    [currentAmount]="workGroup.groups.length"
    [total]="workGroup.totalGroups"
    [expandedContent]="expandedContent"
    [isPublicRecord]="isPublicRecord"
  >
    <ng-container *ngIf="workGroup.groups.length > 0">
      <app-work-stack
        [isPublicRecord]="isPublicRecord"
        *ngFor="let group of workGroup.groups; trackBy: trackByWorkGroup"
        [workStack]="group"
      ></app-work-stack>
    </ng-container>
    <ng-container *ngIf="workGroup.groups.length === 0">
      <div class="orc-font-body-small">
        <p class="empty" i18n="@@shared.worksDescription">
          Add details about your works, captures your research outputs, e.g.
          publications, conference presentations, data sets, and more.
        </p>
        <a class="underline" href="" i18n="@@shared.worksLearnMore">
          Learn more about adding a works to your ORCID record
        </a>
      </div>
    </ng-container>
  </app-panels>
</ng-container>
