<section
  id="works"
  role="region"
  [attr.aria-label]="regionWorks"
  *ngIf="
    workGroup?.groups && !(isPublicRecord && workGroup?.groups?.length === 0)
  "
>
  <app-panels
    [userRecord]="userRecord"
    class="row"
    [title]="works"
    [currentAmount]="workGroup.groups.length"
    [total]="workGroup.totalGroups"
    [isPublicRecord]="isPublicRecord"
    [(expandedContent)]="expandedContent['WORK']"
    (expandedContentChange)="expandedContentChange.emit(expandedContent)"
    [sortTypes]="['date', 'title', 'type']"
    [sortType]="'date'"
    [addMenuOptions]="addMenuOptions"
    (sort)="sortEvent($event)"
    [type]="'works'"
    id="cy-works-panels"
  >
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="paginationLoading"
    ></mat-progress-bar>
    <mat-paginator
      *ngIf="
        workGroup.totalGroups > workGroup.groups.length ||
        this.paginationPageSize != defaultPageSize
      "
      [length]="paginationTotalAmountOfWorks"
      [pageSize]="paginationPageSize"
      [pageSizeOptions]="[10, 50, 100]"
      [pageIndex]="paginationIndex"
      (page)="pageEvent($event)"
      [disabled]="paginationLoading"
    >
    </mat-paginator>

    <ng-container *ngIf="workGroup.groups.length > 0 && !paginationLoading">
      <div
        class="row works-buttons orc-font-body-small"
        *ngIf="!isPublicRecord"
      >
        <div class="select-all">
          <p>
            <mat-checkbox
              [aria-label]="labelSelectAll"
              (change)="checked($event)"
              [(ngModel)]="selectAll"
              [ngModelOptions]="{ standalone: true }"
            >
              <ng-container i18n="@@shared.selectAll">Select all </ng-container>
              ({{ workGroup.groups.length }})
            </mat-checkbox>
          </p>
        </div>
        <div class="items-selected">
          <p>
            <ng-container i18n="@@shared.itemsCurrentlySelected"
              >Items currently selected
            </ng-container>
            ({{ selectedWorks.length }})
          </p>
        </div>
        <div class="controls">
          <button
            mat-button
            class="orc-font-body-small"
            [attr.aria-label]="labelActionsButton"
            [matMenuTriggerFor]="menu"
          >
            <span class="action" i18n="@@shared.actions"> Actions </span>
            <mat-icon class="large-material-icon">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="combine()"
              [disabled]="selectedWorks.length === 0"
            >
              <mat-icon>merge_type</mat-icon>
              <span i18n="@@shared.combineWorks">Combine works</span>
            </button>
            <button
              mat-menu-item
              (click)="export()"
              [disabled]="selectedWorks.length === 0"
            >
              <mat-icon>file_download</mat-icon>
              <span>
                <ng-container i18n="@@shared.exportWorks">
                  Export works
                </ng-container>
                ({{ selectedWorks.length }})
              </span>
            </button>
            <button mat-menu-item (click)="exportAllWorks()">
              <mat-icon>file_download</mat-icon>
              <span>
                <ng-container i18n="@@shared.exportAllWorks">
                  Export all works
                </ng-container>
                ({{ this.workGroup.totalGroups }})
              </span>
            </button>
            <button
              mat-menu-item
              (click)="visibility()"
              [disabled]="selectedWorks.length === 0"
            >
              <mat-icon>visibility</mat-icon>
              <span i18n="@@shared.setVisibility">Set visibility</span>
            </button>
            <button
              mat-menu-item
              (click)="delete()"
              [disabled]="selectedWorks.length === 0"
            >
              <mat-icon>delete</mat-icon>
              <span i18n="@@shared.deleteWorks">Delete works</span>
            </button>
          </mat-menu>
          <button
            mat-raised-button
            color="primary"
            *ngIf="combineSuggestion?.suggestions?.length"
            (click)="openManageSimilarWorksModal()"
            class="text-align-center"
            i18n="@@works.manageSimilarWorks"
          >
            Manage similar works
          </button>
        </div>
      </div>

      <app-work-stack
        [userRecord]="userRecord"
        [isPublicRecord]="isPublicRecord"
        *ngFor="let group of workGroup.groups; trackBy: trackByWorkGroup"
        [workStack]="group"
        [userInfo]="userInfo"
        [selectAll]="selectAll"
        (checkboxChangeWorkStackOutput)="checkboxChangeWorkStackGroup($event)"
        #appWorkStacks
      ></app-work-stack>
    </ng-container>
    <ng-container *ngIf="workGroup.groups.length === 0">
      <div class="orc-font-body-small">
        <p class="empty" i18n="@@shared.worksDescription">
          Add your research outputs such as publications, data sets, conference
          presentations and more.
        </p>
        <a
          class="underline"
          rel="noopener noreferrer"
          target="_blank"
          href="https://support.orcid.org/hc/en-us/articles/360006973133"
          i18n="@@shared.worksLearnMore"
        >
          Learn more about adding works to your ORCID record
        </a>
      </div>
    </ng-container>
    <mat-paginator
      *ngIf="
        workGroup.totalGroups > workGroup.groups.length ||
        paginationPageSize !== defaultPageSize
      "
      [length]="paginationTotalAmountOfWorks"
      [pageSize]="paginationPageSize"
      [pageSizeOptions]="[10, 50, 100]"
      [pageIndex]="paginationIndex"
      (page)="pageEvent($event)"
      [disabled]="paginationLoading"
    >
    </mat-paginator>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="paginationLoading"
    ></mat-progress-bar>
  </app-panels>
</section>
