<button
  [ngClass]="{
    'not-editable': !editable,
    mobile: mobile
  }"
  [disabled]="!editable"
  mat-button
  [matMenuTriggerFor]="menu"
  class="main-menu"
  [attr.aria-label]="(itemTitle || '') + ' ' + mainButtonLabel"
>
  @if (mobile) { @if (privacy === 'PUBLIC') {
  <mat-icon class="menu-icon publicIcon">visibility</mat-icon>
  } @if (privacy === 'LIMITED') {
  <mat-icon class="menu-icon limitedIcon">visibility_lock</mat-icon>
  } @if (privacy === 'PRIVATE') {
  <mat-icon class="menu-icon privateIcon">visibility_off</mat-icon>
  } }
  <div class="main-button-container" *ngIf="!mobile">
    <div class="icon-title-container">
      @if (privacy === 'PUBLIC') {
      <mat-icon class="menu-icon publicIcon">visibility</mat-icon>
      } @if (privacy === 'LIMITED') {
      <mat-icon class="menu-icon limitedIcon">visibility_lock</mat-icon>
      } @if (privacy === 'PRIVATE') {
      <mat-icon class="menu-icon privateIcon">visibility_off</mat-icon>
      }

      <ng-container
        *ngIf="privacy === 'PUBLIC'"
        i18n="@@register.VisibilityEveryone"
        >Everyone</ng-container
      >
      <ng-container *ngIf="privacy === 'LIMITED'" i18n="@@account.trusted"
        >Trusted</ng-container
      >
      <ng-container
        *ngIf="privacy === 'PRIVATE'"
        i18n="@@register.VisibilityPrivate"
        >Only me</ng-container
      >
    </div>
    <mat-icon *ngIf="editable" class="arrow-drop-down"
      >arrow_drop_down</mat-icon
    >
  </div>
</button>
<mat-menu #menu="matMenu">
  <div class="visibilityTitleContainer">
    <h1 class="orc-font-body" i18n="@@shared.setVisibilityFor">
      Set visibility for
    </h1>
    <i
      class="orc-font-body-small"
      *ngIf="multiEdit === 'single'"
      i18n="@@shared.thisItemOnly"
      >This item only</i
    >
    <i
      class="orc-font-body-small"
      *ngIf="multiEdit === 'multi'"
      i18n="@@shared.allItemsInThisGroup"
      >All items in this group</i
    >
    <i
      class="orc-font-body-small"
      *ngIf="multiEdit === 'selected'"
      i18n="@@shared.selectedItemsForVisibility"
      >Selected items
    </i>
  </div>
  <button
    [disabled]="disableOptions['PUBLIC']"
    [attr.aria-label]="
      ariaLabelPublic + (privacy === 'PUBLIC' ? ariaLabelCurrentlySelected : '')
    "
    mat-menu-item
    (click)="public()"
    [ngClass]="{
      noSelectedMenu: privacy !== 'PUBLIC' || visibilityError,
      selectedMenu: privacy === 'PUBLIC' && !visibilityError
    }"
    class="public-button cy-visibility-public flex-menu-item mb-2!"
  >
    <div class="icon-choice icon-public">
      <mat-icon class="menu-icon publicIcon">visibility</mat-icon>
    </div>
    <div class="title-container" i18n="@@register.VisibilityEveryone">
      Everyone
    </div>
  </button>
  <button
    [disabled]="disableOptions['LIMITED']"
    mat-menu-item
    aria-label="visibility limited"
    [attr.aria-label]="
      ariaLabelTrustedParty +
      (privacy === 'LIMITED' ? ariaLabelCurrentlySelected : '')
    "
    (click)="limited()"
    [ngClass]="{
      noSelectedMenu: privacy !== 'LIMITED' || visibilityError,
      selectedMenu: privacy === 'LIMITED' && !visibilityError
    }"
    class="limited-button cy-visibility-limited flex-menu-item mb-2!"
  >
    <div class="icon-choice icon-limited">
      <mat-icon class="menu-icon limitedIcon">visibility_lock</mat-icon>
    </div>
    <div class="title-container" i18n="@@account.trustedParties">
      Trusted Parties
    </div>
  </button>
  <button
    [disabled]="disableOptions['PRIVATE']"
    aria-label="visibility private"
    [attr.aria-label]="
      ariaLabelPrivate +
      (privacy === 'PRIVATE' ? ariaLabelCurrentlySelected : '')
    "
    mat-menu-item
    (click)="private()"
    class="private-button cy-visibility-private flex-menu-item mb-4!"
    [ngClass]="{
      noSelectedMenu: privacy !== 'PRIVATE' || visibilityError,
      selectedMenu: privacy === 'PRIVATE' && !visibilityError
    }"
  >
    <div class="icon-choice icon-private">
      <mat-icon class="menu-icon privateIcon">visibility_off</mat-icon>
    </div>
    <div class="title-container" i18n="@@shared.onlyMe">Only me</div>
  </button>

  <button
    mat-menu-item
    (click)="navigate()"
    class="underline wrap-menu-item"
    i18n="@@shared.moreInformationOnOrcidVisibility"
  >
    More information on ORCID visibility settings
  </button>
</mat-menu>
