.visibilityTitleContainer,
.urlContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.icon-circle {
  display: flex;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-inline-end: 16px;
}

[mat-menu-item] {
  display: flex;
  align-items: center;
}

.main-menu {
  border: solid 1px;
  height: 40px;
}

.menu-icon {
  margin-right: 6px;
}

[mat-button] {
  min-width: 140px;
  display: flex;
  justify-content: space-around;
}

.selectedMenu .title-container {
  font-weight: bold;
}

.main-button-container {
  display: flex;
  align-items: center;

  .icon-title-container {
    min-width: 100px;
    display: flex;
    align-items: center;
    font-weight: 400;
  }
}

.arrow-drop-down {
  width: 17px;
}

.wrap-menu-item {
  white-space: normal;
  line-height: 1.6;
  max-width: 220px;
  text-decoration: underline;
}

h1 {
  line-height: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

:host {
  ::ng-deep {
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-disabled {
      .icon-title-container {
        color: initial;
      }
    }
  }
}

.not-editable {
  justify-content: inherit;
  min-width: 150px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-disabled.main-menu {
  border: none;
}

.mobile {
  .menu-icon {
    margin-right: 0;
  }
  min-width: 0;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
}
