<ng-container [formGroup]="form">
  <ng-container
    *ngFor="let additionalEmailControl of (form.controls | keyvalue)"
  >
    <mat-form-field appearance="outline">
      <mat-label>
        <ng-container>Additional email</ng-container>
        {{
          additionalEmailControl.key !== '1' ? additionalEmailControl.key : ''
        }}
        <ng-container>(Optional)</ng-container>
      </mat-label>
      <input
        formControlName="{{additionalEmailControl.key}}"
        matInput
      /> </mat-form-field
  ></ng-container>
  <mat-icon aria-hidden="true">info</mat-icon>
  <button mat-button (click)="addAdditionalEmail()" color="primary">
    <mat-icon aria-hidden="true">add</mat-icon>Add another email
  </button>
</ng-container>
