a {
  text-decoration: underline;
  font-weight: normal;
}

.no-top-margin {
  margin-top: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h3.margin-top-12,
.step-actions.margin-top-12,
.margin-top-12 {
  margin-top: 12px;
}

legend {
  margin-top: 32px;
  margin-bottom: 2px;
  font-weight: bold;
  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.margin-tb-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

mat-card-title img {
  margin-bottom: 16px;
}

.input-container {
  padding-bottom: 20px;
}

mat-label.orc-font-small-print {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;

  label {
    font-weight: normal;
  }
}

.step-actions {
  border-top: 1px solid;
  padding-top: 32px;

  button {
    height: 40px;
    font-size: 16px;
    a {
      font-style: italic;
      font-size: 14px;
    }
    a.skip-step {
      font-style: normal;
      font-size: 14px;
    }
  }
}
.columns-12 {
  :host ::ng-deep {
    .mat-card-title {
      margin-top: 64px;
    }
    .mat-card.orcid-wizard {
      box-sizing: border-box;
      mat-card-content {
        margin-left: 64px;
        margin-right: 64px;
        margin-bottom: 64px;
      }
    }
  }
}

:host ::ng-deep {
  mat-card {
    .mat-stepper-next {
      height: 40px;
      font-size: 16px;
    }
    button.mat-stepper-previous {
      height: 40px;
    }
    p {
      line-height: 21px;
    }
  }

  mat-error {
    margin-top: 8px;
    font-size: 12px;
  }

  mat-form-field {
    padding-top: 8px;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-subscript-wrapper {
      padding: 0;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-wrapper {
      padding-bottom: 2px;
    }
  }

  .mat-form-field-appearance-outline {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-wrapper {
      margin: 0;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-outline {
        top: 0px;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-prefix {
        top: 0.35em;

        mat-icon {
          margin-inline-end: 8px;
        }
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
      .mat-form-field-flex {
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        .mat-form-field-infix {
          border-top: 0px;
          padding: 10px 0 10px 0;
        }
      }
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  mat-form-field.mat-mdc-form-field.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-invalid {
    margin-bottom: 0px;
  }
}

.orc-font-heading-small {
  font-style: normal;
  font-weight: 500;
}

.info,
.announce {
  .main-paragraph {
    margin-bottom: 16px;
  }
  .content div:not(:last-child) {
    margin-bottom: 16px;
  }

  padding: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }

  mat-icon,
  img {
    margin-right: 16px;
  }

  h3 {
    margin: 0;
  }
}

// MATERIAL OVERWRITES

::ng-deep {
  .mat-horizontal-content-container {
    padding: 0;
  }

  mat-horizontal-stepper.mobile {
    .mat-horizontal-content-container {
      padding: 0 24px !important;
    }
  }

  .mat-horizontal-stepper-wrapper {
    .mat-horizontal-stepper-header-container {
      display: none;
    }
  }

  mat-vertical-stepper.orcid-stepper-wizard mat-card p,
  mat-horizontal-stepper.orcid-stepper-wizard mat-card p {
    margin-bottom: 16px;
  }

  mat-vertical-stepper.orcid-stepper-wizard mat-card mat-form-field,
  mat-vertical-stepper.orcid-stepper-wizard mat-card .input-container,
  mat-horizontal-stepper.orcid-stepper-wizard mat-card mat-form-field,
  mat-horizontal-stepper.orcid-stepper-wizard mat-card .input-container {
    margin-bottom: 0px;
  }

  mat-vertical-stepper.orcid-stepper-wizard,
  mat-horizontal-stepper.orcid-stepper-wizard {
    mat-card {
      a > mat-icon {
        margin-bottom: -11px;
        margin-left: 4px;
        font-size: 17px;
      }

      mat-card-content.mat-card-content {
        margin-top: 32px !important;
      }

      mat-radio-button:not(:last-child) {
        margin-bottom: 32px;
      }

      .step-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 29px;
        gap: 16px;
      }
    }
  }
}
