:host {
  padding: 0 16px 0 16px;
  display: block;
}

.row-with-privacy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

app-panel-privacy {
  width: 48px;
  margin-top: 4px;
}

.line {
  word-break: break-all;
}

.bold {
  font-weight: bold;
}
