:host {
  display: block;
  width: 100%;
}

.row-with-privacy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
  min-height: 20px;
}

app-panel-privacy {
  margin-top: 4px;
}

.line {
  word-break: break-word;
  line-height: 21px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

hr {
  margin: 8px 0 8px 0;
  height: 1px;
}
