@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin panel-data-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  hr {
    background: mat.m2-get-color-from-palette($background, 'ui-background-light');
  }
}
@include panel-data-theme($orcid-app-theme);
