<div
  class="header box orc-font-body"
  [ngClass]="{
    'header-bottom': isArrayAndIsNotEmpty(elements) || valueIsNotNull(elements),
    'top-bar': type === 'top-bar',
    'side-bar': type === 'side-bar'
    }"
>
  <ng-content select="[header]"></ng-content>
  <div class="buttons-container">
    <button
      mat-icon-button
      *ngIf="editable"
      [matTooltip]="tooltipLabelEdit"
      (click)="openModal()"
      id="edit-button"
    >
      <mat-icon class="material-icons-outlined">edit</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="!openState && !editable"
      [matTooltip]="tooltipLabelShowDetails"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="openState && !editable"
      [matTooltip]="tooltipLabelHideDetails"
    >
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>
</div>
<div
  class="body"
  *ngIf="isArrayAndIsNotEmpty(elements) || valueIsNotNull(elements)"
>
  <ng-content select="[body]"></ng-content>
</div>
