.description-container {
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  word-break: break-word;
  box-sizing: border-box;
}
mat-icon {
  margin-top: 4px; // Compensates mat icon bottom with space
  margin-left: 4px;
  [dir='rtl'] & {
    margin-right: 4px;
  }
}

.university-dropdown {
  display: flex;
}
