<div class="row">
  <b class="orc-font-body m-b-8">
    {{ name }}
  </b>
</div>
<div class="row">
  <a
    class="underline"
    [ngClass]="{ 'm-b-16': show }"
    (click)="show = !show"
    [attr.aria-label]="
      (!show ? ariaLabelShowDetailsFor : ariaLabelHideDetailsFor) + ' ' + name
    "
  >
    @if (!show) {
      <ng-container i18n="@@shared.showDetails">Show details</ng-container>
    }
    @if (show) {
      <ng-container i18n="@@shared.hideDetails">Hide details</ng-container>
    }
  </a>
</div>
@if (show) {
  <div class="description-container description-client">
    {{ description }}
  </div>
}
