@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin info-drop-down($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  .description-container {
    background-color: map-get($background, 'background');
  }
  .university-dropdown.active > a,
  .university-dropdown.active > mat-icon {
    color: mat.m2-get-color-from-palette($accent, 900) !important;
  }
  .university-dropdown > a,
  .university-dropdown > mat-icon {
    color: mat.m2-get-color-from-palette($primary, 500) !important;
  }
}

@include info-drop-down($orcid-app-theme);
