<div class="row">
  <b class="orc-font-body m-b-8">
    {{ name }}
  </b>
</div>
<div class="row">
  <a
    class="underline"
    [ngClass]="{ 'm-b-16': show }"
    (click)="show = !show"
    [attr.aria-label]="
      (!show ? ariaLabelShowDetailsFor : ariaLabelHideDetailsFor) + ' ' + name
    "
  >
    <ng-container i18n="@@shared.showDetails" *ngIf="!show"
      >Show details</ng-container
    >
    <ng-container i18n="@@shared.hideDetails" *ngIf="show"
      >Hide details</ng-container
    >
  </a>
</div>
<div class="description-container description-client" *ngIf="show">
  {{ description }}
</div>
