@import './material.palettes.scss';
@function light-theme-overwrites($orcid-app-theme) {
  // .
  // .
  // OVERWRITE BACKGROUND COLORS
  // .
  // .
  $background: map-get($orcid-app-theme, background);
  $background: map_merge(
    $background,
    (
      app-news: $dark-primary-background,
      light-grey: $light-grey,
      blue-overlay: $blue-overlay,
      dark-grey: $dark-grey-background,
    )
  );
  // .
  // .
  // OVERWRITE FOREGROUND COLORS
  // .
  // .
  $foreground: map-get($orcid-app-theme, foreground);
  $foreground: map_merge($foreground, (// FOREGROUND BACKGROUND COLORS));
  $result: map_merge(
    $orcid-app-theme,
    (
      background: $background,
      foreground: $foreground,
    )
  );
  @return $result;
}
