// .
// .
// MATERIAL PALETTES
// .
// .
$orcid-dark-primary-text: rgba(black, 0.87);
$orcid-dark-secondary-text: rgba(black, 0.6);
$orcid-disabled-text: rgba(black, 0.38);

$text-dark-mid: rgba(0, 0, 0, 0.6);
$text-dark-high: rgba(0, 0, 0, 0.9);

$orcid-light-primary-text: rgba(white, 1);
$orcid-light-secondary-text: rgba(white, 0.6);
$orcid-light-disabled-text: rgba(white, 0.38);

$orcid-green: (
  50: #f4f9e5,
  100: #e3f1bf,
  200: #d4e7a1 /*#brand-primary-light / USE: mat-color($accent, 200);*/,
  300: #bade67,
  400: #a6ce39 /*#brand-primary / USE: mat-color($accent, 400);*/,
  500: #98ce00,
  600: #87be00,
  700: #70aa00,
  800: #599700,
  900: #63627c /*brand-primary-darkest / USE: mat-color($accent, 900); */,
  contrast: (
    50: $orcid-dark-secondary-text,
    100: $orcid-dark-secondary-text,
    200: $orcid-dark-secondary-text,
    300: $orcid-dark-primary-text,
    400: $orcid-dark-primary-text,
    500: $orcid-dark-primary-text,
    600: $orcid-dark-primary-text,
    700: $orcid-dark-primary-text,
    800: $orcid-dark-primary-text,
    900: $orcid-light-primary-text,
  ),
);
$orcid-blue: (
  50: #d0f3ff,
  100: #adddf2,
  200: #8ec2db,
  300: #6ba7c3,
  400: #4f92b1,
  500: #2e7f9f,
  600: #1e708d,
  700: #523456 /*#brand-secondary-dark*/,
  800: #004961,
  900: #003449,
  contrast: (
    50: $orcid-dark-secondary-text,
    100: $orcid-dark-secondary-text,
    200: $orcid-dark-secondary-text,
    300: $orcid-dark-primary-text,
    400: $orcid-light-primary-text,
    500: $orcid-light-primary-text,
    600: $orcid-light-primary-text,
    700: $orcid-light-primary-text,
    800: $orcid-light-primary-text,
    900: $orcid-light-primary-text,
  ),
);
$orcid-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $orcid-dark-primary-text,
    100: $orcid-dark-primary-text,
    200: $orcid-dark-primary-text,
    300: $orcid-dark-primary-text,
    400: $orcid-dark-primary-text,
    500: $orcid-light-primary-text,
    600: $orcid-light-primary-text,
    700: $orcid-light-primary-text,
    800: $orcid-light-primary-text,
    900: $orcid-light-primary-text,
    A100: $orcid-dark-primary-text,
    A200: $orcid-light-primary-text,
    A400: $orcid-light-primary-text,
    A700: $orcid-light-primary-text,
  ),
);
// .
// .
// EXTRA BACKGROUND AND FOREGROUND COLORS
// .
// .
$text-light-high: #ffffff;
$text-dark-mid: rgba(0, 0, 0, 0.6);
$text-dark-high: rgba(0, 0, 0, 0.9);
$ui-background-darkest: #212121;

$brand-primary-lightest: #7c627a;
$ui-background-lightest: #7c627a;
$ui-background-light: #eeeeee;
$ui-background: #bdbdbd;

$visibility-everyone: #00a500;
$visibility-private: #ab1600;
$visibility-trusted: #ffbd32;

// highlighted background for the footer and organization members section on the home page
$light-grey: #f5f5f5;
// Header main menu active,
$grey: #e3e3e3;
// Inputs place holder
$placeholder-grey: #707070;
// Header search bar grey backgrounds
$dark-grey-background: #747476;
// A translucid blue layer used over hero and news images on the homepage
$blue-overlay: rgba(19, 52, 65, 0.75);
// Border for the search box
$soft-grey: #979797;
// Facebook
$facebook-blue: #3b5998;
// https://seamlessaccess.org/
$seamlessaccess-blue: #216e93;
//brand zeplin colors
$brand-primary: #a6ce39;

$brand-primary-dark: #7faa26;

// state-notice zepling colors
$state-notice-light: #ffdf72;

$state-notice-dark: #ff9c00;

$state-notice-darkest: #ff6400;

$state-warning-dark: #d32f2f;

$panel-shadow: rgba(214, 214, 214, 1);
// .
// .
// NON-USED/DEPRECATED COLORS
// .
// .
$dark-primary-background: #f6f6f6;
