@use '@angular/material' as mat;
@import './material.typography.scss';
@import './material.light-theme.scss';
@import './material.orcid-theme.scss';

@import './material.orcid.overwrites.scss/button-theme';
@import './material.orcid.overwrites.scss/chips-theme';
@import './material.orcid.overwrites.scss/menu-theme';
@import './material.orcid.overwrites.scss/snackbar-theme';
@import './material.orcid.overwrites.scss/paginator.scss';
@import './material.orcid.overwrites.scss/card-theme';
@import './material.orcid.overwrites.scss/form-field-theme';
@import './material.orcid.overwrites.scss/_divider-theme.scss';
@import './material.orcid.overwrites.scss/_mat-error-theme.scss';
@import './material.orcid.overwrites.scss/_cdk-drag-drop-theme.scss';

@import './orcid/_urls-theme.scss';
@import './orcid/_divider-theme.scss';
@import './orcid/divider.scss';
@import './orcid/app-settings-panels-data.scss';

// @import './material.orcid.overwrites.scss/form-field-theme';
// .
// .
// MATERIAL THEMING
// .
// .
// Style material components more info on  https://github.com/angular/components/blob/8.1.4/guides/theming.md
@include mat.core($orcid-material-typography);
// @include mat.strong-focus-indicators();

// TODO: include only the CSS for the used components, instead of everything
@include mat.all-component-themes($orcid-app-theme);
// @include mat.strong-focus-indicators-theme($orcid-app-theme);

// .
// .
// MATERIAL OVERWRITES
// .
// .
// More info about this on https://github.com/angular/components/blob/8.1.4/guides/customizing-component-styles.md
// The following mixings and styles overwrite or extend material styles
@include orcid-typography($orcid-material-typography);
@include mat-base-typography-overwrites($orcid-material-typography);
@include angular-material-form-field-typography($orcid-material-typography);
@import './material.orcid.overwrites.scss/chips.scss';
@include mat-chips-theme-overwrites($orcid-app-theme);
@import './material.orcid.overwrites.scss/button.scss';
@include mat-button-theme-overwrites($orcid-app-theme);
@import './material.orcid.overwrites.scss/menu.scss';
@include mat-menu-theme-overwrites($orcid-app-theme);
@import './material.orcid.overwrites.scss/form-field-outline.scss';
@import './material.orcid.overwrites.scss/checkbox.scss';
@include mat-snackbar-overwrites($orcid-app-theme);
@include mat-card-theme-overwrites($orcid-app-theme);
@import './material.orcid.overwrites.scss/card.scss';
@import './material.orcid.overwrites.scss/stepper.scss';
@import './material.orcid.overwrites.scss/mde-popover.scss';
@import './material.orcid.overwrites.scss/radio.scss';
@import './material.orcid.overwrites.scss/snackbar.scss';
@include mat-form-field-theme-overwrites($orcid-app-theme);
@include mat-divider-theme-overwrites($orcid-app-theme);
@import './material.orcid.overwrites.scss/divider.scss';
@import './material.orcid.overwrites.scss/cdk-drag-drop.scss';
@include mat-error-theme-overwrites($orcid-app-theme);
@import './orcid/urls.scss';
@include mat-drag-drop-theme($orcid-app-theme);
@include urls-theme-overwrites($orcid-app-theme);
