@import '~@angular/material/theming';

$orcid-typography: mat-typography-config(
  $font-family: '"Noto Sans", sans-serif',
  $display-4: mat-typography-level(96px, 96px, 200, $letter-spacing: -1.5px),
  $display-3: mat-typography-level(60px, 80px, 300, $letter-spacing: -0.5px),
  $display-2: mat-typography-level(48px, 48px, 400, $letter-spacing: 0px),
  $display-1: mat-typography-level(34px, 34px, 400, $letter-spacing: 0.25px),
  $headline: mat-typography-level(24px, 24px, 700, $letter-spacing: 0px),
  $title: mat-typography-level(20px, normal, 400, $letter-spacing: 0.15px),
  $subheading-2: mat-typography-level(16px, 28px, 400, $letter-spacing: 0.15px),
  $subheading-1: mat-typography-level(14px, 24px, 400, $letter-spacing: 0.1px),
  $body-2: mat-typography-level(16px, 1.75, 400),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 16px, 400, $letter-spacing: 0.4px),
  $button: mat-typography-level(14px, 14px, 700, $letter-spacing: 1.25px),
  $input: mat-typography-level(inherit, 1.125, 400, $letter-spacing: 0.2px),
);
