$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);

$light-primary-text: rgba(white, 1);
$light-secondary-text: rgba(white, 0.87);
$light-disabled-text: rgba(white, 0.5);

$light-primary-background: #f2f2f3;
$dark-primary-background: #f5f5f5;
$background-hover: rgba(#9acf1c, 0.15);

$orcid-green: (
  50: #f3f9e4,
  100: #e1f1bb,
  200: #cde78e,
  300: #b8dd60,
  400: #a9d63e,
  500: #9acf1c,
  600: #92ca19,
  700: #88c314,
  800: #7ebd11,
  900: #6cb209,
  A100: #f0ffde,
  A200: #d9ffab,
  A400: #c2ff78,
  A700: #b6ff5e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);
$orcid-blue: (
  50: #e0f2f6,
  100: #b3dde8,
  200: #80c7d8,
  300: #4db1c8,
  400: #26a0bd,
  500: #008fb1,
  600: #0087aa,
  700: #007ca1,
  800: #007298,
  900: #006088,
  A100: #b4e5ff,
  A200: #81d4ff,
  A400: #4ec2ff,
  A700: #35b9ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
