@import '~@angular/material/theming';
@import './material.custom-components.scss';
@import './material.theme.scss';
@import './material.typography.scss';

// SETUP-FONTS
@include mat-base-typography($orcid-typography);
@include mat-checkbox-typography($orcid-typography);
@include angular-material-typography($orcid-typography);
@include mat-core($orcid-typography);
@include custom-components-typography($orcid-typography);

// SETUP-THEME
$orcid-app-primary: mat-palette($orcid-blue);
$orcid-app-accent: mat-palette($orcid-green);
$orcid-app-warn: mat-palette($mat-red);
$orcid-app-theme: mat-light-theme(
  $orcid-app-primary,
  $orcid-app-accent,
  $orcid-app-warn
);

// CUSTOM BACKGROUND COLORS
$background: map-get($orcid-app-theme, background);
$background: map_merge(
  $background,
  (
    app-news: $dark-primary-background,
    nav-bar-active: $nav-bar-active,
    highlighted: $grey-background,
  )
);
// CUSTOM FOREGROUND COLORS
$foreground: map-get($orcid-app-theme, foreground);
$foreground: map_merge(
  $foreground,
  (
    nav-bar-active-text: $dark-primary-text,
  )
);
$orcid-app-theme: map_merge(
  $orcid-app-theme,
  (
    background: $background,
    foreground: $foreground,
  )
);
@include angular-material-theme($orcid-app-theme);
@include custom-components-theme($orcid-app-theme);
