@import '~@angular/material/theming';
@import './material.orcid-components.scss';
@import './material.typography.scss';
@import './material.light-theme.scss';

// .
// .
// MATERIAL THEMING
// .
// .
// Setup theme as describe on  https://github.com/angular/components/blob/master/guides/theming.md
@include mat-core($orcid-material-typography);
// SETUP-THEME
$orcid-app-primary: mat-palette($orcid-blue);
$orcid-app-accent: mat-palette($orcid-green);
$orcid-app-warn: mat-palette($mat-red);
$orcid-app-theme: mat-light-theme(
  $orcid-app-primary,
  $orcid-app-accent,
  $orcid-app-warn
);
// Light theme color overwrites
$orcid-app-theme: light-theme-overwrites($orcid-app-theme);
// TODO include only the CSS for the used components, instead of everything
@include angular-material-theme($orcid-app-theme);
// .
// .
// ORCID COMPONENTS THEMING
// .
// .
// Theme Orcid components as describe on https://github.com/angular/components/blob/master/guides/theming-your-components.md
@include orcid-components-typography(
  $orcid-material-typography,
  $orcid-custom-typography
);
@include orcid-components-theme($orcid-app-theme);
// .
// .
// MATERIAL COMPONENT OVERWRITES
// .
// .
