<div class="container no-padding">
  <div class="row" *ngIf="rolesRecordHolderFormArray?.controls?.length === 0">
    <a
      class="col add-record-holder no-gutters"
      [ngClass]="{
        'no-contributors': contributorsFormArray?.controls?.length === 0
      }"
      (click)="addRecordHolderAsContributor()"
      id="cy-add-record-holder-contributor"
    >
      <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
      <span class="mat-body-1" i18n="@@works.addYourselfContributor">
        Add yourself as contributor
      </span>
    </a>
  </div>
  <ng-container *ngIf="contributorsFormArray?.controls?.length > 0">
    <div class="row title">
      <label class="orc-font-body">
        <h3 class="orc-font-body">
          <ng-container i18n="@@works.contributorsToThisWork">
            Contributors to this work
          </ng-container>
          <ng-container
            *ngIf="contributors?.length <= maxNumberOfContributors + 1"
          >
            ({{
              contributorsFormArray?.controls?.length || contributors?.length
            }})
          </ng-container>
        </h3>
      </label>
    </div>
    <ng-container
      *ngIf="
        togglzAddOtherContributors &&
        contributors?.length > maxNumberOfContributors + 1
      "
    >
      <div class="contributors-summary orc-font-body-small">
        <ng-container
          *ngFor="
            let contributor of contributors
              | slice : 0 : maxNumberOfContributorsSummary;
            let last = last
          "
        >
          <ng-container
            *ngIf="
              contributor?.creditName &&
              contributor?.creditName?.content !== privateName
            "
          >
            {{ contributor?.creditName?.content + (!last ? '; ' : '') }}
          </ng-container>
          <ng-container
            *ngIf="
              (!contributor?.creditName ||
                contributor?.creditName?.content === privateName) &&
              contributor?.contributorOrcid?.uri
            "
          >
            <ng-container *ngIf="contributor?.contributorOrcid?.uri">
              <a
                class="underline"
                target="_blank"
                rel="noreferrer noopener"
                href="{{ contributor?.contributorOrcid?.uri }}"
                >{{ contributor?.contributorOrcid?.path }}</a
              >{{ !last ? '; ' : '' }}
            </ng-container>
          </ng-container>
        </ng-container>
        <span i18n="@@works.etAl"> et al. </span>
      </div>
      <div class="notice-panel orc-font-body-small">
        <div class="col no-gutters info">
          <mat-icon class="large-material-icon">info</mat-icon>
        </div>
        <div class="col l11 m6 s3">
          <h2
            class="orc-font-body-small"
            i18n="@@works.largeNumberOfContributors"
          >
            This work has a large number of contributors
          </h2>
          <p i18n="@@works.cannotEditListOfContributors">
            You cannot edit the list of contributors on a work with more than 50
            named participants.
          </p>
          <a
            class="underline"
            rel="noopener noreferrer"
            target="_blank"
            href="https://support.orcid.org/hc/en-us/articles/360006971353-Metadata-in-the-Works-section"
            i18n="@@works.findOutMoreAboutContributors"
          >
            Find out more about managing contributors in ORCID
          </a>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="
        !togglzAddOtherContributors ||
        !(contributors?.length > maxNumberOfContributors + 1)
      "
    >
      <ng-container formArrayName="contributors">
        <div
          class="row contributors-list"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            class="row contributors-box"
            [ngStyle]="{ direction: screenDirection }"
            [formGroupName]="contributorIndex"
            *ngFor="
              let contributor of contributorsFormArray?.controls;
              index as contributorIndex
            "
            [attr.id]="'draggable-' + contributorIndex"
          >
            <div class="row drag-placeholder" *cdkDragPlaceholder></div>
            <div class="row" [ngClass]="{ 'no-wrap': !isMobile }">
              <div
                class="col l12 m8 s4 middle no-wrap no-gutters contributor-wrapper"
              >
                <div class="icons-wrapper">
                  <img
                    class="drag-icon"
                    cdkDragHandle
                    src="assets/vectors/draggable.svg"
                    alt="drag handle"
                  />
                </div>
                <ng-container *ngIf="contributor.get('creditName').disabled">
                  <div class="icons-wrapper">
                    <img
                      class="orcid-logo"
                      src="assets/vectors/orcid.logo.icon.svg"
                      alt="orcid logo"
                      *ngIf="
                        contributor.get(['contributorOrcid', 'path'])?.value
                      "
                      (click)="
                        goto(
                          contributor.get(['contributorOrcid', 'uri'])?.value
                        )
                      "
                    />
                  </div>
                  <p>
                    <span
                      class="credit-name-and-roles orc-font-body-small"
                      [ngClass]="{
                        'record-holder':
                          contributor.get(['contributorOrcid', 'path'])
                            ?.value === id,
                        'not-record-holder':
                          contributor.get(['contributorOrcid', 'path'])
                            ?.value !== id
                      }"
                      >{{ contributor.get('creditName')?.value }}
                      <ng-container
                        *ngIf="
                          roles &&
                          contributor.get(['contributorOrcid', 'path'])
                            ?.value === id
                        "
                        >({{ roles }})</ng-container
                      >
                      <ng-container
                        *ngIf="
                          contributor.get(['contributorOrcid', 'path'])
                            ?.value !== id &&
                          contributor.get('roles')?.value?.length > 0
                        "
                        >({{
                          contributor.get('roles')?.value | contributorRoles
                        }})</ng-container
                      >
                    </span>

                    <span
                      class="affiliation orc-font-small-print"
                      *ngIf="
                        affiliation &&
                        contributor.get(['contributorOrcid', 'path'])?.value ===
                          id
                      "
                      >{{ affiliation }}</span
                    >
                  </p>
                </ng-container>
                <ng-container *ngIf="!contributor.get('creditName').disabled">
                  <div class="row contributor">
                    <div class="col l9 no-gutters">
                      <mat-form-field
                        appearance="outline"
                        class="mat-form-field-min"
                        [ngClass]="{
                          'no-hint': !(
                            contributor.get('creditName').touched &&
                            contributor.get('creditName')?.errors
                          )
                        }"
                      >
                        <input
                          #contributorNames
                          matInput
                          formControlName="creditName"
                          placeholder="{{ ngOrcidContributorName }}"
                        />
                        <mat-error
                          *ngIf="
                            contributor.get('creditName').hasError('required')
                          "
                          i18n="@@works.contributorNameIsRequired"
                        >
                          Contributor name is required
                        </mat-error>
                        <mat-error
                          *ngIf="
                            contributor.get('creditName').errors?.maxlength
                          "
                          i18n="@@works.contributorMaxLength"
                        >
                          Must be less than 100 characters
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col l3 delete-button">
                      <button
                        mat-icon-button
                        (click)="deleteContributor(contributorIndex)"
                        [id]="'cy-delete-button-' + contributorIndex"
                        [attr.aria-label]="
                          deleteLabel +
                          ' ' +
                          contributor.get('creditName')?.value
                        "
                      >
                        <mat-icon
                          class="material-icons-outlined extra-large-material-icon"
                          >delete
                        </mat-icon>
                      </button>
                    </div>
                    <ng-container formArrayName="roles">
                      <div
                        class="row roles-box"
                        *ngFor="
                          let role of rolesFormArray(contributor);
                          index as i
                        "
                        [formGroupName]="i"
                      >
                        <div class="col l9 no-gutters orc-font-body-small">
                          <mat-form-field
                            appearance="outline"
                            class="mat-form-field-min"
                            [ngClass]="{
                              'no-hint': !role.get('role').errors
                            }"
                          >
                            <mat-select
                              [aria-label]="ngOrcidSelectRoleAriaLabel"
                              #roleSelect
                              [ngClass]="[
                                'contributor-role-' + contributorIndex
                              ]"
                              placeholder="{{ ngOrcidSelectRole }}"
                              formControlName="role"
                            >
                              <mat-option
                                *ngFor="
                                  let contributionRole of contributionRoles
                                "
                                [value]="contributionRole.key"
                                [disabled]="
                                  contributionRole.key | disableRole : role
                                "
                              >
                                {{ contributionRole.translation | titlecase }}
                              </mat-option>
                            </mat-select>
                            <mat-error
                              *ngIf="role.get('role').errors?.unique"
                              i18n="@@works.roleNotDuplicated"
                            >
                              Role cannot be duplicated
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col l3 delete-button">
                          <button
                            [attr.aria-label]="deleteLabel + ' ' + role.value"
                            mat-icon-button
                            (click)="deleteRole(contributor, i)"
                            [id]="'cy-remove-role-' + i"
                            *ngIf="i !== 0"
                          >
                            <mat-icon
                              class="material-icons-outlined extra-large-material-icon"
                              >delete
                            </mat-icon>
                          </button>
                        </div>
                      </div>
                    </ng-container>
                    <div class="row">
                      <a
                        class="underline cy-add-another-role"
                        (click)="addAnotherRole(contributor, contributorIndex)"
                      >
                        <span class="mat-body-1" i18n="@@works.addAnotherRole">
                          Add another role
                        </span>
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div
                class="col l3 delete-button"
                *ngIf="contributor.get('creditName').disabled"
              >
                <button
                  mat-icon-button
                  (click)="deleteContributor(contributorIndex)"
                  [id]="'cy-delete-button-' + contributorIndex"
                  [attr.aria-label]="
                    deleteLabel + ' ' + contributor.get('creditName')?.value
                  "
                >
                  <mat-icon
                    class="material-icons-outlined extra-large-material-icon"
                    >delete
                  </mat-icon>
                </button>
              </div>
            </div>
            <hr
              class="dashed-line"
              *ngIf="!(contributorIndex === contributorsFormArray.length - 1)"
            />
          </div>
        </div>
        <div
          class="notice-panel orc-font-body-small"
          *ngIf="contributorsFormArray?.length > maxNumberOfContributors"
        >
          <div class="col no-gutters info">
            <mat-icon class="large-material-icon">info</mat-icon>
          </div>
          <div class="col l11 m6 s3">
            <h2
              class="orc-font-body-small"
              i18n="@@works.youCannotAddMoreContributors"
            >
              You cannot add any more contributors to this work
            </h2>
            <p i18n="@@works.orcidSupportsMaximum">
              ORCID supports a maximum of 50 contributors when adding them
              manually.
            </p>
            <a
              class="underline"
              rel="noopener noreferrer"
              target="_blank"
              href="https://support.orcid.org/hc/en-us/articles/360006971353-Metadata-in-the-Works-section"
              i18n="@@works.findOutMoreAboutContributors"
            >
              Find out more about managing contributors in ORCID
            </a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <div
    class="row"
    *ngIf="
      !togglzAddOtherContributors ||
      !(contributors?.length > maxNumberOfContributors + 1)
    "
  >
    <a
      class="col add-more no-gutters cy-add-another-contributor"
      [class.disabled]="contributorsFormArray?.length > maxNumberOfContributors"
      (click)="
        addAnotherContributor(
          contributorsFormArray?.length > maxNumberOfContributors
        )
      "
    >
      <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
      <span class="mat-body-1">
        <ng-container
          i18n="@@works.addAnotherContributor"
          *ngIf="contributorsFormArray?.length > 0"
        >
          Add another contributor
        </ng-container>
        <ng-container
          i18n="@@works.addOtherContributor"
          *ngIf="contributorsFormArray?.length === 0"
        >
          Add other contributor
        </ng-container>
      </span>
    </a>
  </div>
</div>
