.container {
  width: 100%;
  margin-bottom: 32px;

  .title {
    label {
      display: block;
      margin-bottom: 28px;
    }
  }
}

.contributor-wrapper {
  margin: 5px 0;

  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .icons-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img.drag-icon {
      height: 32px;
      margin: 4px 0;
      cursor: move;
      margin-inline-start: 5px;
      margin-inline-end: 7px;
    }

    img.orcid-logo {
      width: 32px;
      margin-inline-start: 8px;
      margin-inline-end: 8px;
      cursor: pointer;
    }
  }

  .contributor {
    margin-bottom: 12px;
  }

  .credit-name-and-roles {
    display: flex;
    flex-direction: column;
  }

  .record-holder {
    font-style: italic;
  }

  .not-record-holder {
    padding: 0 8px;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  a {
    margin-top: 4px;
  }
}

.notice-panel {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  h2 {
    margin: 0 0 12px 0;
  }

  p {
    margin: 0;
  }

  .info {
    padding-right: 8px;
  }
}

.delete-button {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.add-more {
  margin-top: 27px;
  padding-inline-start: 0;
  a {
    margin: 0;
  }
  span {
    margin: auto;
    padding-inline-start: 6px;
  }
}

.add-record-holder {
  margin-bottom: 27px;
  padding-inline-start: 0;
  a {
    margin: 0;
  }
  span {
    margin: auto;
    padding-inline-start: 6px;
  }
}

.no-contributors {
  margin-bottom: 0;
}

::ng-deep .columns-4-or-8 .contributors-wrapper {
  margin: 16px 0 16px 0;
}

mat-form-field {
    margin-bottom: 8px;
}