<div class="container no-padding">
  <div class="row title">
    <label class="orc-font-body">
      <strong i18n="@@works.contributorsToThisWork">Contributors to this work</strong>
    </label>
  </div>
  <ng-container formArrayName="contributors">
    <div
      class="row contributors-list"
      cdkDropList
    >
      <div
        cdkDrag
        class="row contributors-box"
        [ngStyle]="{ direction: screenDirection }"
        [formGroupName]="i"
        *ngFor="let contributor of contributorsFormArray.controls; index as i"
        [attr.id]="'draggable-' + i"
      >
        <div class="row drag-placeholder" *cdkDragPlaceholder></div>
        <div
          class="row"
          [ngClass]="{ 'no-wrap': !isMobile }"
        >
          <div class="col l12 m8 s4 middle no-wrap no-gutters contributor-wrapper">
            <div class="icons-wrapper">
              <img
                class="drag-icon"
                cdkDragHandle
                src="assets/vectors/draggable.svg"
                alt="drag handle"/>
              <img
                class="orcid-logo"
                src="assets/vectors/orcid.logo.icon.svg"
                alt="orcid logo"
              />
            </div>
            <p>
              <span
                class="record-holder-name-and-roles orc-font-body-small"
              >{{contributor.get('creditName')?.value}}
                <ng-container *ngIf="roles">({{ roles }})</ng-container>
              </span>
              <span
                class="affiliation orc-font-small-print"
                *ngIf="affiliation"
              >{{affiliation}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
