@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin work-contributors-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .drag-placeholder {
    min-height: 60px;
    background-color: mat.m2-get-color-from-palette(
      $background,
      brand-primary-lightest
    );
    border: dashed 1px mat.m2-get-color-from-palette($foreground, brand-primary);
    transition: transform 250ms cubic-bezier(0, 0, 0, 1);
  }

  .contributors-box {
    min-height: 60px;
    background-color: mat.m2-get-color-from-palette($foreground, text-light-high);
  }

  .contributors-box.cdk-drag-preview {
    border: 2px solid mat.m2-get-color-from-palette($foreground, brand-primary);
  }

  .contributors-wrapper {
    .affiliation {
      color: mat.m2-get-color-from-palette($foreground, text-dark-mid);
    }
  }

  .notice-panel {
    border-color: mat.m2-get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;

    mat-icon {
      color: mat.m2-get-color-from-palette(
        $foreground,
        'state-notice-dark'
      ) !important;
    }
  }
}

@include work-contributors-theme($orcid-app-theme);
