@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin notification-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  :host {
    border: solid map-get($background, light-grey) 1px;
  }
  :host.archived .container {
    background-color: map-get($background, background);
    .header {
      color: map-get($foreground, 'text-dark-mid') !important;
    }
  }
  :host.read .header {
    color: map-get($foreground, 'text-dark-high');
  }
  :host.green .header {
    .notification {
      color: mat.m2-get-color-from-palette($accent, 900);
    }
    .notification-background {
      background-color: mat.m2-get-color-from-palette($accent, 900);
    }
  }
  :host.orange .header {
    .notification {
      color: map-get($foreground, 'state-notice-darkest');
    }
    .notification-background {
      background-color: map-get($foreground, 'state-notice-darkest');
    }
  }
  :host.blue .header {
    .notification {
      color: mat.m2-get-color-from-palette($primary, 900);
    }
    .notification-background {
      background-color: mat.m2-get-color-from-palette($primary, 900);
    }
  }
  .body {
    border-top: solid map-get($background, light-grey) 1px;
  }

  .container:hover {
    background-color: map-get($background, hover);
  }
  :host.archived .container:hover {
    background-color: map-get($background, focused-button);
  }
}

@include notification-theme($orcid-app-theme);
