<div class="header">
  <div class="notification-type notification mat-caption">
    <mat-checkbox class="larger"></mat-checkbox>
    <span class="dot notification-background mat-body-1"></span>
    {{ notificationTypeLabel(notificationType) }}
  </div>
  <div class="title mat-body-1">
    {{ notificationTitle(notification) }}
  </div>
  <p class="mat-caption">{{ notificationDate(notification) }}</p>
  <mat-icon class="material-icons-outlined">archived</mat-icon>
</div>

<div class="body">
  <app-notification-your-record-amended
    *ngIf="notification.notificationType === 'AMENDED'"
    [notification]="notification"
  ></app-notification-your-record-amended>
  <app-notification-permission>
    *ngIf="notification.notificationType === 'PERMISSION'"
    [notification]="notification" ></app-notification-permission
  >
</div>
