@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin notification-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  :host {
    border: solid map-get($background, light-grey) 1px;
  }
  :host.archived .header {
    background-color: map-get($background, light-grey);
    color: $dark-secondary-text;
  }
  :host.green .header {
    .notification {
      color: mat-color($accent, 900);
    }
    .notification-background {
      background-color: mat-color($accent, 900);
    }
  }
  :host.orange .header {
    .notification {
      color: map-get($foreground, 'state-notice-dark');
    }
    .notification-background {
      background-color: map-get($foreground, 'state-notice-dark');
    }
  }
  :host.blue .header {
    .notification {
      color: mat-color($primary, 900);
    }
    .notification-background {
      background-color: mat-color($primary, 900);
    }
  }
  .body {
    border-top: solid map-get($background, light-grey) 1px;
  }

  .header.cdk-keyboard-focused {
    background-color: map-get($background, hover);
  }
  :host.archived .header.cdk-keyboard-focused {
    background-color: map-get($background, focused-button);
  }
}

@include notification-theme($orcid-app-theme);
