<div class="header" (click)="toggleNotificationContent()">
  <div class="notification-type notification mat-caption">
    <mat-checkbox class="larger"></mat-checkbox>
    <span class="dot notification-background mat-body-1"></span>
    <ng-container *ngIf="platform.columns12">
      {{ notificationTypeLabel(notificationType) }}
    </ng-container>
  </div>
  <div class="title mat-body-1">
    {{ notificationTitle(notification) }}
  </div>
  <div class="date-archive-container">
    <p class="mat-caption date">{{ notificationDate(notification) }}</p>
    <mat-icon class="material-icons-outlined">archived</mat-icon>
  </div>
</div>

<div class="body" *ngIf="showNotificationContent">
  <app-notification-permission
    *ngIf="notification.notificationType === 'PERMISSION'"
    [notification]="notification"
  ></app-notification-permission>

  <app-notification-your-record-amended
    *ngIf="notification.notificationType === 'AMENDED'"
    [notification]="notification"
  ></app-notification-your-record-amended>

  <app-notification-permission-institutional-connection
    *ngIf="notification.notificationType === 'INSTITUTIONAL_CONNECTION'"
    [notification]="notification"
  ></app-notification-permission-institutional-connection>

  <app-notification-html
    *ngIf="
      notification.notificationType === 'ADMINISTRATIVE' ||
      notification.notificationType === 'CUSTOM' ||
      notification.notificationType === 'SERVICE_ANNOUNCEMENT' ||
      notification.notificationType === 'TIP'
    "
    [notification]="notification"
  ></app-notification-html>
</div>
