@import 'src/assets/scss/orcid.spacing.scss';

:host {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: $spacing-base;

  .date-archive-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.body {
  padding: $spacing-base;
  border-top: solid 1px black;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: $spacing-small;
  [dir='rtl'] & {
    margin-left: $spacing-small;
    margin-right: none;
  }
}

mat-checkbox {
  margin-right: $spacing-base;
  [dir='rtl'] & {
    margin-left: $spacing-base;
    margin-right: none;
  }
}
:host:not(.archived) {
  .title {
    font-weight: bold;
  }
}

.title {
  flex-grow: 1;
}

.columns-12 :host {
  .title {
    margin-left: $spacing-large;
    margin-right: $spacing-base;
  }
  mat-icon {
    margin-left: $spacing-large;
  }
}

.date {
  margin-left: $spacing-base;
  font-weight: bold;
}
.columns-8 :host {
  .title {
    margin-left: $spacing-base;
    margin-right: $spacing-base;
  }
  mat-icon {
    margin-left: $spacing-large;
  }
}

.columns-4 :host {
  mat-icon {
    margin-left: $spacing-base;
  }
}

.notification-type {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}
