<div class="container" [formGroup]="form">
  <mat-checkbox
    [ngStyle]="{ visibility: !displayCheckBox && 'hidden' }"
    class="larger"
    (click)="$event.stopPropagation()"
    formControlName="selected"
    [aria-labelledby]="'notification-' + notification?.putCode"
  ></mat-checkbox>
  <button class="header" #header (click)="toggleNotificationContent()">
    <div class="notification-type notification mat-caption">
      <span class="dot notification-background mat-subtitle-2"></span>
      @if (platform.columns12) {
        {{ notificationTypeLabel(notificationType) }}
      }
    </div>
    <div
      class="title mat-subtitle-2"
      [id]="'notification-' + notification?.putCode"
      >
      {{ notificationTitle(notification) }}
    </div>
    <div class="date-archive-container">
      <p class="mat-caption date">{{ notificationDate(notification) }}</p>

      <button
        mat-icon-button
        (click)="archive(); $event.stopPropagation()"
        [ngClass]="{ hidden: archived }"
        [attr.aria-label]="ariaLabelArchived"
        [matTooltip]="ariaLabelArchived"
        >
        <mat-icon class="material-icons-outlined">archived</mat-icon>
      </button>
    </div>
  </button>
</div>
<div
  class="body"
  [@heightAnimationState]="state"
  [hidden]="!showNotificationContent"
  >
  <div class="body-container">
    @if (notification?.notificationType === 'PERMISSION') {
      <app-notification-permission
        [notification]="$any(notification)"
      ></app-notification-permission>
    }

    @if (notification?.notificationType === 'AMENDED') {
      <app-notification-your-record-amended
        [notification]="$any(notification)"
      ></app-notification-your-record-amended>
    }

    @if (notification?.notificationType === 'INSTITUTIONAL_CONNECTION') {
      <app-notification-permission-institutional-connection
        [notification]="$any(notification)"
      ></app-notification-permission-institutional-connection>
    }

    @if (
      notification?.notificationType === 'ADMINISTRATIVE' ||
      notification?.notificationType === 'CUSTOM' ||
      notification?.notificationType === 'SERVICE_ANNOUNCEMENT' ||
      notification?.notificationType === 'TIP'
      ) {
      <app-notification-html
        [notification]="$any(notification)"
      ></app-notification-html>
    }
  </div>
</div>
