<nav class="container orc-font-body-small">
  <ul>
    <li>
      <span class="side-bar-url">
        <ng-content select="#side-bar-title"></ng-content>
      </span>
      <mat-divider class="divider"></mat-divider>
    </li>
    <li>
      <span class="side-bar-url">
        <ng-content select="#side-bar-url-1"></ng-content>
      </span>
      <mat-divider class="divider"></mat-divider>
    </li>
    <li>
      <span class="side-bar-url">
        <ng-content select="#side-bar-url-2"></ng-content>
      </span>
      <mat-divider class="divider"></mat-divider>
    </li>
    <li>
      <span class="side-bar-url">
        <ng-content select="#side-bar-url-3"></ng-content>
      </span>
      <mat-divider class="divider"></mat-divider>
    </li>
    <li>
      <span class="side-bar-url">
        <ng-content select="#side-bar-url-4"></ng-content>
      </span>
      <mat-divider class="divider"></mat-divider>
    </li>
    <li>
      <span class="side-bar-url">
        <ng-content select="#side-bar-url-5"></ng-content>
      </span>
      <mat-divider class="divider"></mat-divider>
    </li>
  </ul>
</nav>
