:host {
  width: 100%;
  padding-inline-end: 16px;
  padding-top: 16px;
}

ul {
  padding-left: 0;
  list-style-type: none;

  li {
    margin: 14px 0;
  }
}

.divider {
  margin: 14px 0;
}

.title {
  cursor: pointer;
}

.side-bar-url:empty + .divider {
  display: none;
}
