<div class="progress-spinner-container" *ngIf="!profileGeneralData">
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</div>

<div *ngIf="profileGeneralData">
  <h1 class="mat-h1">{{ profileGeneralData.displayName }}</h1>

  <div class="idSection">
    <div class="idSectionHeader">ORCID ID</div>
    <div class="idSectionContainer mat-body">
      <img src="./assets/vectors/favicon.svg" alt="" />
      {{ environment.BASE_URL + id }}
    </div>
  </div>

  <div class="printMenu mat-body-2">
    <i class="material-icons" (click)="goToPrintView()"> print </i>
    <div (click)="goToPrintView()">Print view</div>
    <i
      class="material-icons"
      [matTooltip]="public_record_printHelpText.innerHTML"
    >
      info
    </i>
  </div>

  <app-profile-general-data-detail
    [title]="public_profile_labelAlsoknownas.innerHTML"
    [list]="profileGeneralData.publicGroupedOtherNames"
  ></app-profile-general-data-detail>

  <app-profile-general-data-detail
    [title]="public_profile_labelCountry.innerHTML"
    [list]="profileGeneralData.publicGroupedAddresses"
  ></app-profile-general-data-detail>

  <app-profile-general-data-detail
    [title]="public_profile_labelKeywords.innerHTML"
    [list]="profileGeneralData.publicGroupedKeywords"
  ></app-profile-general-data-detail>

  <app-profile-general-data-detail
    [title]="public_profile_labelWebsites.innerHTML"
    [list]="profileGeneralData.publicGroupedResearcherUrls"
  ></app-profile-general-data-detail>

  <app-profile-general-data-detail
    [title]="public_profile_labelOtherIDs.innerHTML"
    [columnDirection]="true"
    [list]="profileGeneralData.publicGroupedPersonExternalIdentifiers"
  ></app-profile-general-data-detail>

  <app-profile-general-data-detail
    [title]="manage_emails.innerHTML"
    [columnDirection]="true"
    [list]="profileGeneralData.publicGroupedEmails"
  ></app-profile-general-data-detail>
</div>

<div class="staticTranslations">
  <span #public_record_printHelpText i18n="@@public_record.printHelpText"
    >Open a version of this ORCID record formatted for printing.</span
  >
  <span #public_profile_labelKeywords i18n="@@public_profile.labelKeywords"
    >Keywords</span
  >
  <span #public_profile_labelCountry i18n="@@public_profile.labelCountry"
    >Country</span
  >
  <span
    #public_profile_labelAlsoknownas
    i18n="@@public_profile.labelAlsoknownas"
    >Also known as</span
  >
  <span #public_profile_labelWebsites i18n="@@public_profile.labelWebsites"
    >Websites</span
  >
  <span #public_profile_labelOtherIDs i18n="@@public_profile.labelOtherIDs"
    >Other IDs</span
  >
  <span #manage_emails i18n="@@manage.emails">Emails</span>
</div>
