.idSection {
  border-width: 1px;
  border-style: solid;
}

.idSectionHeader {
  padding: 4px 12px;
}

.idSectionContainer {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.idSectionContainer img {
  height: 12px;
  margin-right: 4px;
}

.printMenu {
  display: flex;
  margin-top: 12px;
  margin-bottom: 24px;
  cursor: pointer;
  align-items: center;
  * {
    margin-right: 4px;
  }
  i {
    font-size: 18px;
    align-items: center;
    display: flex;
  }
}

.progress-spinner-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
