<h1 class="orc-font-heading-small col" i18n="@@account.settings">
  Account settings
</h1>
<h2 class="orc-font-body-large col" i18n="@@account.defaults">Defaults</h2>

<app-settings-panels
  id="cy-email-frequency-panel"
  [loading]="emailFrequencyLoading"
  [(expandedContent)]="emailFrequencyExpanded"
  class="row"
  [title]="titleEmailFrequency"
>
  @if (emailFrequencyExpanded) {
    <app-settings-defaults-email-frequency
      (loading)="emailFrequencyLoading = $event"
    ></app-settings-defaults-email-frequency>
  }
</app-settings-panels>

<app-settings-panels
  id="cy-language-panel"
  class="row"
  [title]="titleLanguage"
  [loading]="languageFrequencyLoading"
  [(expandedContent)]="languageExpanded"
>
  @if (languageExpanded) {
    <app-settings-defaults-language
      (loading)="languageFrequencyLoading = $event"
    ></app-settings-defaults-language>
  }
</app-settings-panels>

<app-settings-panels
  id="cy-visibility-panel"
  class="row"
  [title]="titleVisibility"
  [loading]="visibilityFrequencyLoading"
  [(expandedContent)]="visibilityExpanded"
>
  @if (visibilityExpanded) {
    <app-settings-defaults-visibility
      (loading)="visibilityFrequencyLoading = $event"
    ></app-settings-defaults-visibility>
  }
</app-settings-panels>
