<!-- FUNDING BODY -->

<!-- GENERAL DATA DISPLAY BY DEFAULT -->
<app-panel-data
  class="defaul-data-loaded orc-font-body-small"
  [borderBottom]="true"
>
  <div>
    <div class="general-data">
      <ng-container *ngIf="funding.startDate.year"
        >{{ funding.startDate | monthDayYearDateToString }}
        <ng-container> to </ng-container>
        <ng-container *ngIf="funding.endDate">{{
          funding.endDate | monthDayYearDateToString
        }}</ng-container>
        <ng-container *ngIf="!funding.endDate.year">present</ng-container>
      </ng-container>
      <ng-container
        *ngIf="funding.startDate.year && funding.fundingType.value"
      >
        |
      </ng-container>
      {{ funding.fundingType.value | titlecase }}      
    </div>
    <div *ngIf="orgDisambiguated">
      <div>
        {{ orgDisambiguated?.value
        }}<ng-container *ngIf="orgDisambiguated && orgDisambiguated.value"
          >:</ng-container
        >
        ({{ orgDisambiguated | cityRegionCountry }})
      </div>
    </div>
    <div
        *ngFor="let extId of funding.externalIdentifiers"
        class="padding-level-3">
        {{extId.externalIdentifierType.value }}: {{extId.externalIdentifierId.value }}
    </div>
  </div>

  <div align-end>
    <a
      (click)="toggleDetails.next(funding)"
      *ngIf="!panelDetailsState.state"
      i18n="@@share.showMoreDetail"
      >Show more detail</a
    >
    <a
      (click)="toggleDetails.next(funding)"
      *ngIf="panelDetailsState.state"
      i18n="@@share.showLessDetail"
      >Show less detail</a
    >
  </div>
</app-panel-data>

<!-- DATA DISPLAY WHEN "MORE DETAILS" IS CLICKED -->

<app-panel-data [borderBottom]="true" *ngIf="panelDetailsState.state">
  <!-- ORGANIZATION DISAMBIGUATED IDS-->
  <ng-container class="margin-top-1" *ngIf="orgDisambiguated">
    <app-display-attribute>
      <h3 class="orc-font-body-small" i18n="@@record.organizationIdentifiers">
        Organization identifiers
      </h3>
      <div>
        <div>
          {{ orgDisambiguated?.sourceType}}<ng-container *ngIf="orgDisambiguated.sourceType && orgDisambiguated.sourceId">: {{ orgDisambiguated?.sourceId }}</ng-container>
        </div>
        <div>
          {{ orgDisambiguated?.value}}<ng-container *ngIf="orgDisambiguated && orgDisambiguated.value">: {{ orgDisambiguated | cityRegionCountry }}</ng-container>
        </div>
        <a
          target="orcid-app"
          *ngIf="orgDisambiguated?.url"
          [href]="orgDisambiguated?.url"
        >{{ orgDisambiguated?.url }}</a>    
      </div>
    </app-display-attribute>
  </ng-container>
  <!-- ADDED DATE-->
  <app-display-attribute>
    <h3 class="orc-font-body-small" i18n="@@record.added">Added</h3>
    <div>
      {{ funding.createdDate | monthDayYearDateToString }}
    </div>
  </app-display-attribute>

  <!-- LAST MODIFIED  DATE-->
  <app-display-attribute>
    <h3 class="orc-font-body-small" i18n="@@record.lastModified">
      Last modified
    </h3>
    <div>{{ funding.lastModified | monthDayYearDateToString }}</div>
  </app-display-attribute>
</app-panel-data>