<!-- FUNDING BODY -->

<!-- GENERAL DATA DISPLAY BY DEFAULT -->
<app-panel-data
  class="defaul-data-loaded orc-font-body-small"
  [borderBottom]="true"
>
  <div>
    <div class="general-data">
      <ng-container *ngIf="funding.startDate.year"
        >{{ funding.startDate | monthDayYearDateToString }}
        <ng-container> to </ng-container>
        <ng-container *ngIf="funding.endDate">{{
          funding.endDate | monthDayYearDateToString
        }}</ng-container>
        <ng-container *ngIf="!funding.endDate.year">present</ng-container>
      </ng-container>
      <ng-container
        *ngIf="funding.startDate.year && funding.fundingType.value"
      >
        |
      </ng-container>
      {{ funding.fundingType.value }}      
    </div>    
  </div>

  <div align-end>
    <a
      (click)="toggleDetails.next(funding)"
      *ngIf="!panelDetailsState.state"
      i18n="@@share.showMoreDetail"
      >Show more detail</a
    >
    <a
      (click)="toggleDetails.next(funding)"
      *ngIf="panelDetailsState.state"
      i18n="@@share.showLessDetail"
      >Show less detail</a
    >
  </div>
</app-panel-data>

<!-- DATA DISPLAY WHEN "MORE DETAILS" IS CLICKED -->

<app-panel-data [borderBottom]="true" *ngIf="panelDetailsState.state">
  Working on it
</app-panel-data>