:host {
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 0px -10px;
  padding: 16px 10px;
  margin-top: 22px;
}

h3 {
  margin: 0;
}

.margin-top-1 {
  margin-top: 8px;
}
.margin-top-2 {
  margin-top: 28px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.prefered-source {
  display: flex;
  justify-content: space-between;
  i {
    max-width: 20px;
    margin-right: 10px;
  }
}

.padding-level-2 {
  padding-left: 8px;
}
.padding-level-3 {
  padding-left: 16px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}

.title-container i.material-icons {
  margin-top: 2px;
  max-height: 20px;
}
