@import '../../../../assets/scss/material.theme';
@import '~@angular/material/theming';

$config: mat-typography-config();
@mixin profile-records-card-detail-line-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  app-profile-records-card-detail-line {
    h5 {
      color: $dark-primary-text;
    }

    p {
      color: $dark-secondary-text;
    }

    .secondary-text {
      color: $dark-secondary-text;
    }
  }
}
