<h5
  class="mat-body-1"
  *ngIf="title"
  [ngClass]="{
    'title-margin': titleMargin,
    'secondary-text': secondaryText
  }"
>
  {{ title }} <ng-container *ngIf="detail">({{ detail }})</ng-container>
</h5>

<p
  class="mat-body-1"
  *ngIf="!url && copyOnClick"
  appCopyOnClick
  matTooltip="Click to Copy"
  [matTooltipPosition]="'above'"
>
  {{ content }}
</p>
<p class="mat-body-1" *ngIf="!url && !copyOnClick">{{ content }}</p>

<a class="mat-body-1" *ngIf="url" href="{{url}}" target="orcid-app">{{
  content
}}</a>
