:host {
  display: flex;
  align-items: center;
}

button {
  position: absolute;
  right: 0;
  top: 0;
  [dir='rtl'] & {
    left: 0;
  }
}

mat-icon {
  margin-top: 8px;
  font-size: 30px;
  height: 30px;
  width: 35px;
  margin: 10px;
  [dir='rtl'] & {
    margin-left: 10px;
  }
}

.mat-subheading-2 {
  margin: 0px;
}
.mat-caption {
  text-align: right;
}
.error-container {
  margin-bottom: 10px;
}
