:host {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.close-button-container {
  position: absolute;
  right: 0;
  top: 4px;
  [dir='rtl'] & {
    left: 0;
  }
  width: 50px;
}

mat-icon.errorGroup {
  margin-top: 8px;
  font-size: 30px;
  height: 30px;
  width: 35px;
  margin: 10px;
  [dir='rtl'] & {
    margin-left: 10px;
  }
}

.mat-subtitle-1 {
  margin: 0px;
}
.mat-caption {
  text-align: right;
}
.error-container {
  margin-bottom: 10px;
}
