<mat-icon *ngIf="!isIE">error</mat-icon>
<button
  *ngIf="closable"
  mat-icon-button
  [attr.aria-label]="labelClose"
  (click)="snackBarRef.dismiss()"
>
  <mat-icon>close</mat-icon>
</button>
<div class="box mat-body-1">
  <div class="mat-subheading-2">{{ data.errorDisplay.title }}</div>
  <div class="error-container">
    {{ data.errorDisplay.message }}
    <a
      *ngIf="data.errorDisplay.action && data.errorDisplay.actionURL"
      [href]="data.errorDisplay.actionURL"
      rel="noopener noreferrer"
      target="_blank"
      class="white-url"
    >
      {{ data.errorDisplay.action }}
    </a>
  </div>
  <div class="mat-caption">{{ data.error }}</div>
</div>
