<ng-container *ngIf="!(researchResources?.groups.length === 0)">
  <app-panels
    *ngIf="researchResources?.groups"
    class="row"
    [title]="ngOrcidResearchResources"
    [type]="'research-resources'"
    [total]="researchResources.totalGroups"
    [currentAmount]="researchResources?.groups.length"
    [expandedContent]="expandedContent"
    (expanded)="expandedClicked($event)"
    id="research-resources-panel"
    [labelSortButton]="labelSortButton"
    [sortTypes]="['date', 'title']"
    [sortType]="'date'"
    (sort)="sortEvent($event)"
  >
    <mat-paginator
      *ngIf="researchResources.totalGroups > researchResources.groups.length"
      [length]="paginationTotalAmountOfResearchResources"
      [pageSize]="paginationPageSize"
      [pageSizeOptions]="[10, 50, 100]"
      [pageIndex]="paginationIndex"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
    <ng-container *ngIf="researchResources.groups.length > 0">
      <app-research-resource-stack
        [isPublicRecord]="isPublicRecord"
        [researchResourceStack]="group"
        *ngFor="
          let group of researchResources.groups;
          trackBy: trackByResearchResourceGroup
        "
      >
      </app-research-resource-stack>
    </ng-container>
    <ng-container *ngIf="researchResources.groups.length === 0">
      <div class="orc-font-body-small">
        <p class="empty" i18n="@@researchResources.description">
          Connect to trusted organizations to automatically add the specialist
          resources you use for your research.
        </p>
        <a href="" i18n="@@researchResources.learnMore">
          Learn more about how research resources are added to your ORCID record
        </a>
      </div>
    </ng-container>
    <mat-paginator
      *ngIf="researchResources.totalGroups > researchResources.groups.length"
      [length]="paginationTotalAmountOfResearchResources"
      [pageSize]="paginationPageSize"
      [pageSizeOptions]="[10, 50, 100]"
      [pageIndex]="paginationIndex"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
    <button
      class="load-more"
      mat-raised-button
      color="primary"
      (click)="loadMore()"
      *ngIf="researchResources.totalGroups > researchResources?.groups.length"
      i18n="@@share.loadMore"
    >
      Load more
    </button>
  </app-panels>
</ng-container>
