# You can see what browsers were selected by your queries by running:	
#   npx browserslist	

last 20 Chrome versions, 	
last 20 Firefox versions, 	
last 10 Edge versions, 	
last 3 Safari versions, 	
last 3 IOS versions, 	
last 2 ChromeAndroid versions,	
last 1 FirefoxAndroid versions,	
Firefox ESR,
last 2 opera versions