# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.angulardoc.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.vscode/settings.json
src/messages.xlf
src/locale/messages.ar.xlf
src/locale/messages.ca.xlf
src/locale/messages.cs.xlf
src/locale/messages.en.xlf
src/locale/messages.es.xlf
src/locale/messages.fr.xlf
src/locale/messages.it.xlf
src/locale/messages.ja.xlf
src/locale/messages.ko.xlf
src/locale/messages.lr.xlf
src/locale/messages.pt.xlf
src/locale/messages.rl.xlf
src/locale/messages.ru.xlf
src/locale/messages.uk.xlf
src/locale/messages.unfound-translations.json
src/locale/messages.xx.xlf
src/locale/messages.zh_CN.xlf
src/locale/messages.zh_TW.xlf
