# See http://help.github.com/ignore-files/ for more about ignoring files.

# war file builds
target/**
temp/**
src/**

# compiled output
/dist
/tmp
/out-tsc
src/locale/messages.xlf

# dependencies
/node_modules

# have a persistent yarn cache in a single 'code' volume in a docker container
/yarn_cache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.angulardoc.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.vscode/settings.json
src/locale/translate-file-generator.js
*.xlf
src/locale/messages.translation.log.json
sripts/lighthouse/environment.ts.js


## Scripts files

audits/*
scripts/lighthouse/environment.ts
tx.exe

## Cypress

/cypress/cypress.env.js
/cypress/videos/*
/cypress/screenshots/*
/cypress/reports/**
cypress.env
cypress/fixtures/testing-users.fixture.json
cypress/fixtures/work-with-contributors.fixture.json
cypress/fixtures/funding-with-contributors.fixture.json
cypress/plugins/credentials_qa.json
cypress/plugins/token_qa.json
cypress/plugins/token.json


# Packages ignore package-lock to depend only on yarn
package-lock.json

