# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.angulardoc.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.vscode/settings.json
src/locale/messages.dynamic.ja.ts
src/locale/messages.dynamic.ar.ts
src/locale/messages.dynamic.ca.ts
src/locale/messages.dynamic.cs.ts
src/locale/messages.dynamic.es.ts
src/locale/messages.dynamic.fr.ts
src/locale/messages.dynamic.it.ts
src/locale/messages.dynamic.ko.ts
src/locale/messages.dynamic.lr.ts
src/locale/messages.dynamic.pt.ts
src/locale/messages.dynamic.rl.ts
src/locale/messages.dynamic.ru.ts
src/locale/messages.dynamic.uk.ts
src/locale/messages.dynamic.xx.ts
src/locale/messages.dynamic.zh_CN.ts
src/locale/messages.dynamic.zh_TW.ts
src/locale/translate-file-generator.js
*.xlf
src/locale/messages.translation.log.json
