version: '2'
services:
  angular:
    image: ${DOCKER_REG_PRIVATE}/orcid/registry/orcid-angular:${TAG:-0.0.1}
    #entrypoint: sleep infinity
    build:
      context: .
      dockerfile: Dockerfile.build
      args:
        build_env: ${BUILD_ENV:-prod}
    ports:
      - 0.0.0.0:13005:8080
