<main id="main">
  <div class="container">
    <div class="row horizontal-center">
      <mat-card
        appearance="outlined"
        class="orcid-wizard col l6 m6 s4"
        [ngClass]="{ mobile: isMobile }"
      >
        <mat-card-header>
          <mat-card-title>
            <img
              class="logo mat-card-logo"
              src="./assets/vectors/orcid.logo.icon.svg"
              alt="orcid logo"
              role="link"
            />
            <ng-container i18n="@@recovery.resetYourPassword">
              Reset your password
            </ng-container>
          </mat-card-title>
        </mat-card-header>
        <mat-progress-bar
          *ngIf="loading | async"
          mode="indeterminate"
        ></mat-progress-bar>
        <mat-card-content>
          <div
            *ngIf="invalidPasswordResetToken || expiredPasswordResetToken"
            class="info margin-bottom-16"
            [ngClass]="{
              'orc-font-body-small': !isMobile,
              'orc-font-small-print': isMobile,
            }"
          >
            <div>
              <mat-icon class="large-material-icon material-icons-outlined"
                >warning</mat-icon
              >
            </div>
            <div class="col l11 m6 s3">
              <div>
                <ng-container i18n="@@account.yourRessetPasswordLinkHasGoneBad"
                  >There is a problem with your reset password link. Please
                  check the link is not invalid and has not expired.
                </ng-container>
                <a
                  class="underline"
                  [routerLink]="'/reset-password'"
                  i18n="@@account.requestANewLink"
                  >Request a new password reset link</a
                >
              </div>
            </div>
          </div>

          <form>
            <ng-container *ngIf="form" [formGroup]="form">
              <p i18n="@@reset.afterResettingYourPassword">
                After resetting your password, you will be asked to sign in
                using your email address/ORCID iD and your new password.
              </p>
              <label
                class="row mat-caption"
                [ngClass]="{
                  error:
                    form.controls.password?.invalid &&
                    form.controls.password?.touched,
                }"
              >
                <strong i18n="@@account.newPassword">New password</strong>
              </label>
              <div class="input-container">
                <mat-form-field
                  appearance="outline"
                  class="mat-form-field-min input-container"
                >
                  <input
                    formControlName="password"
                    type="password"
                    matInput
                    autocomplete="new-password"
                    id="cy-password-input"
                  />
                  <mat-error
                    *ngIf="form.hasError('required', 'password')"
                    i18n="@@shared.passwordCantBeEmpty"
                  >
                    Password cannot be empty
                  </mat-error>
                  <mat-error
                    *ngIf="
                      !form.hasError('required', 'password') &&
                      (form.hasError('minlength', 'password') ||
                        form.hasError('pattern', 'password'))
                    "
                    i18n="@@register.wrongPasswordPatternV2"
                  >
                    Password must meet all requirements
                  </mat-error>
                  <mat-error
                    *ngIf="form.hasError('maxlength', 'password')"
                    i18n="@@register.passwordIsToLongV2"
                  >
                    Password must be between 8 and 256 characters
                  </mat-error>
                  <mat-error
                    *ngIf="this.form.hasError('backendError', 'password')"
                  >
                    <div
                      *ngFor="
                        let error of this.form.getError(
                          'backendError',
                          'password'
                        )
                      "
                    >
                      {{ error }}
                    </div>
                  </mat-error>
                </mat-form-field>
                <button
                  mat-icon-button
                  [attr.aria-label]="labelInfo"
                  type="button"
                  [mdePopoverTriggerFor]="passwordPopover"
                  mdePopoverTriggerOn="click"
                  #passwordPopoverTrigger="mdePopoverTrigger"
                  class="info-button"
                >
                  <mat-icon class="material-icons-outlined large-material-icon"
                    >help_outline</mat-icon
                  >
                </button>
              </div>

              <ol>
                <li>
                  <ng-container
                    [ngTemplateOutlet]="
                      form.hasError('required', 'password') ||
                      form.hasError('minlength', 'password')
                        ? invalid
                        : valid
                    "
                  ></ng-container>
                  <div i18n="@@register.passwordLength">
                    8 or more characters
                  </div>
                </li>
                <li>
                  <ng-container
                    [ngTemplateOutlet]="
                      form.hasError('required', 'password') ||
                      form.getError('pattern', 'password')?.requiredPattern ==
                        hasLetterOrSymbolPattern
                        ? invalid
                        : valid
                    "
                  ></ng-container>
                  <div i18n="@@register.passwordSymbolV2">
                    At least 1 letter or symbol
                  </div>
                </li>
                <li>
                  <ng-container
                    [ngTemplateOutlet]="
                      form.hasError('required', 'password') ||
                      form.getError('pattern', 'password')?.requiredPattern ==
                        hasNumberPattern
                        ? invalid
                        : valid
                    "
                  ></ng-container>
                  <div i18n="@@register.passwordNumberV2">
                    At least 1 number
                  </div>
                </li>
              </ol>

              <label
                class="row mat-caption"
                [ngClass]="{
                  error:
                    form.controls.retypedPassword?.invalid &&
                    form.controls.retypedPassword?.touched,
                }"
              >
                <strong i18n="@@account.confirmNewPassword"
                  >Confirm new password</strong
                >
              </label>
              <mat-form-field
                appearance="outline"
                class="mat-form-field-min input-container"
              >
                <input
                  formControlName="retypedPassword"
                  type="password"
                  matInput
                  autocomplete="new-password"
                  id="cy-password-confirm-input"
                />
                <mat-error
                  *ngIf="form.hasError('required', 'retypedPassword')"
                  i18n="@@register.passwordConfirmationRequired"
                >
                  Retype your password
                </mat-error>

                <mat-error
                  *ngIf="form.hasError('mismatch', 'retypedPassword')"
                  i18n="@@register.passwordConfirmationMatchV2"
                >
                  Passwords do not match
                </mat-error>

                <mat-error
                  *ngIf="
                    form.hasError(
                      'passwordIsEqualToTheEmail',
                      'retypedPassword'
                    )
                  "
                  i18n="@@register.passwordCantBeEmail"
                >
                  Password must not be the same as your email address
                </mat-error>
              </mat-form-field>
              <div class="button-container">
                <button
                  (click)="save()"
                  mat-raised-button
                  color="primary"
                  i18n="@@shared.saveChanges"
                  id="cy-save-password"
                  [disabled]="
                    expiredPasswordResetToken || invalidPasswordResetToken
                  "
                >
                  Save changes
                </button>
              </div>

              <ng-template #valid>
                <mat-icon class="valid">check_circle</mat-icon>
              </ng-template>

              <ng-template #invalid>
                <mat-icon class="material-icons-outlined"
                  >check_circle</mat-icon
                >
              </ng-template>
            </ng-container>
          </form>
        </mat-card-content></mat-card
      >
    </div>
  </div>
</main>

<mde-popover #passwordPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card appearance="outlined" class="mat-elevation-z3 orcid-popover">
    <div class="popover-content orc-font-body-small">
      <h2 class="orc-font-body-small" i18n="@@register.passwordRequirements">
        Password requirements
      </h2>
      <p>
        <ng-container i18n="@@register.passwordRequirements1"
          >Passwords must be between</ng-container
        >
        <strong i18n="@@register.passwordRequirements2">8</strong>
        <ng-container i18n="@@register.passwordRequirements3">and</ng-container>
        <strong i18n="@@register.passwordRequirements4">256</strong>
        <ng-container i18n="@@register.passwordRequirements5">
          characters in length and are case sensitive.</ng-container
        >
      </p>

      <ng-container i18n="@@register.passwordRequirements6"
        >Your password must contain</ng-container
      >
      <ul>
        <li i18n="@@register.passwordRequirements7">
          At least 1 letter, symbol or space
        </li>
        <li i18n="@@register.passwordRequirements8">At least 1 number</li>
      </ul>
      <p>
        <i i18n="@@register.doesNotAllowCommonPassword">
          ORCID does not allow common passwords. Common passwords are insecure,
          easily-guessed words or phrases such as 'qwerty123'.
        </i>
      </p>
    </div>
  </mat-card>
</mde-popover>
