<mat-card
  appearance="outlined"
  class="max-w-[580px] grid justify-items-center text-center mt-8 sm:p-12! p-4! border rounded-[10px] ml-auto mr-auto"
>
  @if (loading) {
  <mat-progress-bar
    class="max-w-[580px] mr-auto absolute! -mt-12 -ml-4 sm:-ml-12"
    role="heading"
    aria-level="2"
    mode="indeterminate"
  ></mat-progress-bar>
  } @if (!expiredPasswordResetToken && !invalidPasswordResetToken) {
  <mat-card-header class="p-0">
    <mat-card-title role="heading" aria-level="1">
      <div>
        <img
          height="64px"
          src="assets/vectors/orcid.logo.icon.svg"
          alt="orcid logo"
        />
      </div>
      <h1
        class="orc-font-heading-small font-normal mb-8 mt-0"
        i18n="@@recovery.resetYourPassword"
      >
        Reset your password
      </h1>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2">
      <h2
        class="orc-font-body-small font-normal! mb-8 mt-0 text-left"
        i18n="@@reset.afterResetting"
      >
        After resetting your password you will be asked to sign in using your
        email address or ORCID iD and your new password.
      </h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <app-form-password
        #passwordForm
        class="text-left w-full orc-font-body-small"
        formControlName="passwordGroup"
      ></app-form-password>
      <hr class="mb-8! mt-4!" />
      <div class="w-full grid gap-4">
        <button
          mat-raised-button
          color="primary"
          class="h-10! text-base!"
          (click)="save()"
          id="cy-save-password"
          i18n="@@reset.saveYourNewPassword"
        >
          Save your new password
        </button>
        <a
          href="#"
          class="h-10 italic content-center underline"
          [routerLink]="['/signin']"
          i18n="@@reset.cancelPasswordReset"
        >
          Cancel password reset</a
        >
      </div>
    </form>
  </mat-card-content>
  } @else {
  <mat-card-header class="p-0!">
    <mat-card-title role="heading" aria-level="1">
      <div
        class="h-16 w-16 mb-8 flex gap-4 justify-center rounded-[50%] icon-error ml-auto mr-auto"
      >
        <mat-icon class="h-10! w-10! mt-auto mb-auto text-[40px]!"
          >link</mat-icon
        >
      </div>
      <h1 class="orc-font-heading-small font-normal mb-4 mt-0">
        @if (expiredPasswordResetToken) {
        <ng-container i18n="@@reset.hasExpired"
          >Your password reset link has expired</ng-container
        >
        } @else {
        <ng-container i18n="@@reset.invalidLink"
          >There is a problem with your password reset link</ng-container
        >
        }
      </h1>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2">
      <h2 class="orc-font-body-small font-normal! mt-0">
        @if (expiredPasswordResetToken) {
        <ng-container i18n="@@reset.youCanRequestANewLink"
          >You can request a new link from</ng-container
        >
        <a
          class="underline"
          tabindex="0"
          href="#"
          [routerLink]="['/reset-password']"
          i18n="@@recovery.passwordAndIdRecovery"
          >Password and iD recovery</a
        >
        } @else {
        <ng-container i18n="@@reset.pleaseTryTheLinkAgain"
          >Please try the link again. If this does not work you can request a
          new password reset link from</ng-container
        >
        <a
          class="underline"
          tabindex="0"
          href="#"
          [routerLink]="['/reset-password']"
          i18n="@@recovery.passwordAndIdRecovery"
          >Password and iD recovery</a
        >
        }
      </h2>
    </mat-card-subtitle>
  </mat-card-header>
  }
</mat-card>
