@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin settings-security-password-password-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ::ng-deep .valid {
    color: mat.m2-get-color-from-palette($accent, 900);
  }
  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  .info {
    color: mat.m2-get-color-from-palette($warn, 700);

    border-color: mat.m2-get-color-from-palette($warn, 700);

    mat-icon {
      color: mat.m2-get-color-from-palette($warn, 700) !important;
    }
  }
}

@include settings-security-password-password-theme($orcid-app-theme);
