:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

::ng-deep mat-form-field {
  width: 100%;
}

ol {
  margin-block-start: 0px;
  padding-inline-start: 0px;
  padding: 0;
  li {
    list-style-type: none;
    display: flex;
    img {
      margin-inline-end: 4px;
    }
    div {
      margin: 2px;
    }
  }
}

mat-form-field {
  max-width: 400px;
  width: 100%;
  margin-bottom: 16px;
}
.error-container {
  margin-bottom: 16px;
}
.button-container {
  display: flex;
  align-items: row;
  button {
    margin-inline-end: 16px;
  }
}

label {
  margin-bottom: 8px;
}

mat-card-title {
  display: flex;
  flex-direction: column;
  img {
    height: 64px;
    padding-bottom: 32px;
  }
}

.input-container {
  .info-button {
    position: absolute;
  }
}

h2 {
  font-weight: bold;
}

.orcid-wizard.mobile {
  padding: 0 36px 36px 36px;
}

.info {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }
}
