@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin settings-security-password-password-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  h2 {
    color: black;
  }

  ::ng-deep .valid {
    color: mat.m2-get-color-from-palette($accent, 900);
  }
  hr {
    background: $ui-background-light;
  }
  button {
    color: $orcid-light-primary-text !important;
    background: $brand-secondary-dark !important;
  }
  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  .info {
    color: mat.m2-get-color-from-palette($warn, 700);

    border-color: mat.m2-get-color-from-palette($warn, 700);

    mat-icon {
      color: mat.m2-get-color-from-palette($warn, 700) !important;
    }
  }
  .icon-error {
    mat-icon {
      color: white;
    }
    background-color: $state-warning-darkest;
  }
}

@include settings-security-password-password-theme($orcid-app-theme);
