<section
  id="works"
  role="region"
  [attr.aria-label]="regionWorks"
  *ngIf="
    workGroup?.groups && !(isPublicRecord && workGroup?.groups?.length === 0)
  "
>
  <app-panels
    [userRecord]="userRecord"
    class="row"
    [title]="featuredWorks"
    [isPublicRecord]="isPublicRecord"
    [addMenuOptions]="addMenuOptions"
    [type]="'featured-works'"
    id="cy-featured-works-panels"
  >
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <ng-container *ngIf="workGroup.groups.length > 0 && !loading">
      <app-work-stack
        [userRecord]="userRecord"
        [isPublicRecord]="isPublicRecord"
        *ngFor="
          let group of workGroup.groups | slice : 0 : 5;
          trackBy: trackByWorkGroup
        "
        [workStack]="group"
        [userInfo]="userInfo"
        [featured]="true"
      ></app-work-stack>
    </ng-container>
    <app-alert-message *ngIf="noWorksAdded">
      <h3 title class="orc-font-body" i18n="@@shared.addWorksToEnableFeaturing">
        Add your works to enable featuring
      </h3>

      <div class="orc-font-body-small" content>
        <ng-container i18n="@@shared.youNeedToAdd">You need to add</ng-container
        >&nbsp;<em i18n="@@shared.atLeastOneWork">at least one work</em
        >&nbsp;<ng-container i18n="@@shared.toEnableFeaturing"
          >to your ORCID record to enable featuring. Click the ‘Add’ button in
          the</ng-container
        >&nbsp;<strong i18n="@@shared.works">Works</strong>&nbsp;<ng-container
          i18n="@@shared.sectionBelowToStartAdding"
          >section below to start adding research outputs to your
          record.</ng-container
        >
      </div>
    </app-alert-message>
    <div
      *ngIf="workGroup.groups.length === 0"
      class="orc-font-body-small no-featured-works"
    >
      <p class="empty" i18n="@@shared.featuredWorksDescription">
        You can feature up to 5 works in your ORCID record.
      </p>
      <a
        class="underline"
        rel="noopener noreferrer"
        target="_blank"
        href="https://support.orcid.org/hc/en-us/articles/360006973133"
        i18n="@@shared.featuredWorksLearnMore"
      >
        Learn more about featuring works in your ORCID record
      </a>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </app-panels>
</section>
