:host {
  width: 100%;
}

app-work-stack {
  margin-bottom: 24px;
}

app-work-stack:first-child {
  margin-top: 24px;
}

app-work-stack:last-child {
  margin-bottom: 0;
}

.orc-font-small-print {
  line-height: 18px;
}

.group-selected-works-label {
  line-height: 21px;
  letter-spacing: 0.25px;
}

p.empty {
  margin-bottom: 0;
}

::ng-deep .works-buttons .mdc-checkbox {
  margin-left: -17px !important;
}

.works-buttons {
  margin: 16px;

  .select-all {
    margin-left: 10px;
    margin-right: 20px;
  }

  .items-selected {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .controls {
    display: flex;
    align-items: center;

    button {
      width: 200px;
      border: solid 1px;
      display: inline-block;
      text-align: start;

      mat-icon {
        position: absolute;
        top: 20%;
        right: 5%;
      }
    }
  }
}
.columns-4 :host {
  .works-buttons {
    .controls {
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
}

button {
  margin-inline-start: 8px;
  height: 38px;
  margin-top: 6px;
  margin-right: 6px;
}

::ng-deep button.text-align-center {
  text-align: center !important;
  white-space: normal;
  width: auto !important;
  height: auto !important;
}

button.mat-menu-item {
  & > div {
    & > mat-icon {
      display: flex;
      align-items: center;
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
  }

  & > span {
    & > mat-icon {
      display: flex;
      align-items: center;
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
  }

  max-width: 350px;
  white-space: normal;
  height: 48px !important;
  padding: 0 16px 0 16px;
  margin-left: 0;
  display: flex;
  align-items: center;
}

::ng-deep .menu-buttons {
  max-width: none;
}

.visibilityIconSize {
  display: flex;
  align-items: center;
  font-size: 20px !important;
  height: 24px;
  width: 26px;
}

app-alert-message {
  margin-top: 16px;
}
