<ng-container *ngIf="oauthRequest && userName && orcidUrl">
  <ng-container *ngIf="!signInUpdatesV1Togglz">
    <mat-card-header>
      <img
        class="logo mat-card-logo"
        src="./assets/vectors/orcid.logo.svg"
        alt="orcid logo"
        role="link"
        i18n="@@authorize.authorizeAccess"
      />
      <mat-card-title i18n="@@authorize.authorize"
        >Authorize access</mat-card-title
      >
    </mat-card-header>
    <mat-progress-bar
      id="loading-bar"
      *ngIf="
        loadingUserInfo || loadingTrustedIndividuals || loadingAuthorizeEndpoint
      "
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-card-content>
      <mat-divider class="orcid-divider"></mat-divider>
      <p
        class="mat-caption m-b-16 m-t-16"
        i18n="@@authorize.youAreCurrentlySignin"
      >
        You are currently signed in as:
      </p>
      <div class="m-t-small m-b-8">
        <div class="mat-body-2">
          <strong id="user-name">{{ userName }}</strong>
        </div>
        <a class="mat-button-font" href="{{ orcidUrl }}" target="_blank">{{
          orcidUrl
        }}</a>
      </div>
      <div c class="mat-body-2 user-links m-b-8">
        <a
          class="mat-button-font"
          i18n="@@public-layout.sign_out"
          (click)="navigateTo('/signout')"
          >Sign out</a
        >
        <app-trusted-individuals-dropdown
          *ngIf="trustedIndividuals"
          (changeUser)="changeAccount($event)"
          [trustedIndividuals]="trustedIndividuals"
        ></app-trusted-individuals-dropdown>
      </div>
      <mat-divider class="orcid-divider m-b-16"></mat-divider>

      <app-info-drop-down
        class="m-t-16"
        [name]="oauthRequest.clientName"
        [description]="oauthRequest.clientDescription"
      ></app-info-drop-down>

      <p class="mat-body-1 m-t-4 m-b-base" i18n="@@authorize.hasAskedAccess">
        has asked for the following access to your ORCID record:
      </p>

      <ul class="mat-body-1 m-t-base m-b-base">
        <ng-container
          *ngFor="let scope of this.oauthRequest.scopes; let last = last"
        >
          <li [matTooltip]="getLongDescription(scope)" [attr.id]="scope.value">
            <mat-divider></mat-divider>
            <div>
              <ng-container
                [ngTemplateOutlet]="
                  (getIconName(scope) === 'updateIcon' && updateIconTemplate) ||
                  (getIconName(scope) === 'viewIcon' && viewIconTemplate) ||
                  (getIconName(scope) === 'orcidIcon' && orcidIconTemplate)
                "
              ></ng-container>
              <div>{{ getDescription(scope) }}</div>
            </div>
            <mat-divider *ngIf="last"></mat-divider>
          </li>
        </ng-container>
      </ul>

      <button
        mat-raised-button
        color="primary"
        i18n="@@authorize.authorize"
        (click)="authorize()"
        id="authorize-button"
      >
        Authorize access
      </button>
      <button
        mat-stroked-button
        color="primary"
        i18n="@@authorize.deny"
        (click)="authorize(false)"
        id="deny-button"
      >
        Deny access
      </button>

      <p class="mat-caption m-t-0">
        <ng-container i18n="@@authorize.ifAuthorize">
          If authorized, this organization will have access to your ORCID
          record, as outlined above and described in further detail
          in</ng-container
        >
        <a
          href="{{ environment.INFO_SITE + 'privacy-policy' }}"
          target="_blank"
          rel="noopener noreferrer"
          class="mat-button-font"
          i18n="@@authorize.privacyPolicy"
          >ORCID’s privacy policy.</a
        >
      </p>
      <p class="mat-caption">
        <ng-container i18n="@@authorize.youCanManage">
          You can manage access permissions for this and other Trusted
          Organizations in your
        </ng-container>
        <a
          href="/account#manage-permissions"
          target="_blank"
          rel="noopener noreferrer"
          class="mat-button-font"
          i18n="@@authorize.accountSettings"
          >account settings.</a
        >
      </p>
    </mat-card-content>

    <ng-template #updateIconTemplate>
      <mat-icon class="material-icons-outlined" role="presentation"
        >update</mat-icon
      >
    </ng-template>

    <ng-template #viewIconTemplate>
      <mat-icon class="material-icons-outlined" role="presentation"
        >remove_red_eye</mat-icon
      >
    </ng-template>

    <ng-template #orcidIconTemplate>
      <mat-icon role="presentation">
        <img src="/assets/vectors/orcid.logo.black.icon.svg" alt=""
      /></mat-icon>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="signInUpdatesV1Togglz">
    <mat-progress-bar
      id="loading-bar"
      *ngIf="
        loadingUserInfo || loadingTrustedIndividuals || loadingAuthorizeEndpoint
      "
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-card-header class="authorize-header">
      <mat-card-title role="heading" aria-level="1">
        <mat-icon class="logo-icon" aria-hidden="false" [attr.aria-label]=""
          ><img src="./assets/vectors/orcid.logo.icon.svg" />
        </mat-icon>
        <h1 class="orc-font-heading-small" i18n="@@authorize.authorize">
          Authorize access
        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="authorize-content">
      <p
        class="mat-caption m-b-16 m-t-16"
        i18n="@@authorize.youAreCurrentlySignin"
      >
        You are currently signed in as:
      </p>
      <mat-divider class="orcid-divider"></mat-divider>
      <div
        class="row"
        [ngClass]="{ 'center-content': platformInfo.columns4 }"
      >
        <div class="col l2 profile-icon-wrapper">
          <div class="icon">
            <mat-icon
              class="profile-icon"
              aria-hidden="false"
              [attr.aria-label]=""
              ><img src="./assets/vectors/profile-not-verified.svg" />
            </mat-icon>
          </div>
        </div>
        <div class="col l9 user-wrapper">
          <div
            class="row"
            [ngClass]="{ 'center-content': platformInfo.columns4 }"
          >
            <div class="m-b-8">
              <div class="mat-body-2">
                <strong id="user-name">{{ userName }}</strong>
              </div>
              <span>{{ orcidUrl }}</span>
            </div>
          </div>
          <div class="user-links m-b-8">
            <a
              class="underline"
              i18n="@@public-layout.sign_out"
              (click)="navigateTo('/signout')"
              >Sign out</a
            >
            <app-trusted-individuals-dropdown
              *ngIf="trustedIndividuals"
              (changeUser)="changeAccount($event)"
              [trustedIndividuals]="trustedIndividuals"
              [signInUpdatesV1Togglz]="signInUpdatesV1Togglz"
            ></app-trusted-individuals-dropdown>
          </div>
        </div>
      </div>
      <mat-divider class="orcid-divider"></mat-divider>

      <app-info-drop-down
        class="m-t-32 m-b-32"
        [name]="oauthRequest.clientName"
        [description]="oauthRequest.clientDescription"
        [signInUpdatesV1Togglz]="signInUpdatesV1Togglz"
      ></app-info-drop-down>

      <p
        class="mat-body-1 m-t-16 m-b-32"
        i18n="@@authorize.organizationAskedFollowingAccess"
      >
        This organization has asked for the following access to your ORCID
        record:
      </p>

      <ul class="mat-body-1 m-t-base m-b-64">
        <ng-container
          *ngFor="let scope of this.oauthRequest.scopes; let last = last"
        >
          <li [matTooltip]="getLongDescription(scope)" [attr.id]="scope.value">
            <mat-divider></mat-divider>
            <div>
              <ng-container
                [ngTemplateOutlet]="
                  (getIconName(scope) === 'updateIcon' && updateIconTemplate) ||
                  (getIconName(scope) === 'viewIcon' && viewIconTemplate) ||
                  (getIconName(scope) === 'orcidIcon' && orcidIconTemplate)
                "
              ></ng-container>
              <div>{{ getDescription(scope) }}</div>
            </div>
            <mat-divider *ngIf="last"></mat-divider>
          </li>
        </ng-container>
      </ul>

      <button
        class="authorize-button"
        mat-raised-button
        i18n="@@authorize.authorize"
        (click)="authorize()"
        id="authorize-button"
      >
        Authorize access
      </button>
      <div class="row deny-button-wrapper">
        <a id="deny-button" class="underline" (click)="authorize(false)">
          <i i18n="@@authorize.deny">Deny access</i>
        </a>
      </div>
    </mat-card-content>

    <ng-template #updateIconTemplate>
      <mat-icon class="material-icons-outlined scope" role="presentation"
        >update</mat-icon
      >
    </ng-template>

    <ng-template #viewIconTemplate>
      <mat-icon class="material-icons-outlined scope" role="presentation"
        >remove_red_eye</mat-icon
      >
    </ng-template>

    <ng-template #orcidIconTemplate>
      <mat-icon role="presentation scope">
        <img src="/assets/vectors/orcid.logo.black.icon.svg" alt=""
      /></mat-icon>
    </ng-template>
  </ng-container>
</ng-container>
