.mat-mdc-form-field {
  width: 100%;
}

.title {
  p {
    margin: 6px 0;
  }
}

label.mat-caption {
  margin-bottom: 8px;
}

.mat-mdc-form-field {
  width: 100%;
}

.side-bar {
  text-decoration: underline;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  mat-radio-button {
    padding-top: 8px;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.input-container {
  max-width: 402px;
}

.fundingIdErrors {
  padding-top: 5px;
}
