<button
  mat-icon-button
  (click)="toggle.next()"
  [matTooltip]="tooltipLabelShowDetails"
  *ngIf="!openState"
  [attr.aria-label]="
    panelType | appPanelsExpandAriaLabel : panelId : panelTitle
  "
  class="expand_more"
>
  <mat-icon>expand_less</mat-icon>
</button>
<button
  mat-icon-button
  (click)="toggle.next()"
  [matTooltip]="tooltipLabelHideDetails"
  *ngIf="openState"
  [attr.aria-label]="
    panelType | appPanelsCollapseAriaLabel : panelId : panelTitle
  "
  class="expand_less"
>
  <mat-icon>expand_more</mat-icon>
</button>
