@if (!openState) {
  <button
    mat-icon-button
    (click)="toggle.next()"
    [matTooltip]="tooltipLabelShowDetails"
  [attr.aria-label]="
    panelType | appPanelsExpandAriaLabel : panelId : panelTitle
  "
    class="expand_more"
    tabindex="0"
    >
    <mat-icon>expand_less</mat-icon>
  </button>
}
@if (openState) {
  <button
    mat-icon-button
    (click)="toggle.next()"
    [matTooltip]="tooltipLabelHideDetails"
  [attr.aria-label]="
    panelType | appPanelsCollapseAriaLabel : panelId : panelTitle
  "
    class="expand_less"
    tabindex="0"
    >
    <mat-icon>expand_more</mat-icon>
  </button>
}
