[body] {
  display: flex;
  flex-direction: column;
}

:host {
  width: 100%;
}

app-panel.stack-mode {
  -webkit-box-shadow: 0px 9px 5px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: 0px 9px 5px 0px rgba(214, 214, 214, 1);
  box-shadow: 0px 9px 5px 0px rgba(214, 214, 214, 1);
  display: block;
  position: relative;
  border: solid 1px;
}

:host.stack-mode {
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
}
