<!-- A single affiliation
That might have N equivalent affiliations with with different sources  -->

<div>
  <div *ngFor="let affiliation of affiliationStack.affiliations">
    <app-panel [elements]="affiliation">
      <h2 header class="orc-font-body" i18n="@@record.emails">
        {{ affiliation.affiliationName.value }}
      </h2>

      <app-affiliation
        [affiliation]="affiliation"
        [affiliationCardState]="affiliationCardState[affiliation.putCode.value]"
        [affiliationDetailsState]="
          affiliationDetailsState[affiliation.putCode.value]
        "
        (toggleDetails)="toggleDetails($event)"
        [orgDisambiguated]="orgDisambiguated[affiliation.putCode.value]"
      >
      </app-affiliation>
      <app-panel-source
        [isPreferred]="isPreferred(affiliation)"
        [sourceName]="affiliation.sourceName"
        [stackLength]="affiliationStack.affiliations.length"
        [stackState]="affiliationCardState.stackState"
        [(stackMode)]="stackMode"
      >
      </app-panel-source>
    </app-panel>
  </div>
</div>
