[body] {
  display: flex;
  flex-direction: column;
}

:host {
  width: 100%;
}

:host.display-the-stack {
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;

  app-panel:not(.last) {
    display: block;
    position: relative;
  }
}

.affiliation-title {
  display: flex;
  align-items: center;

  h4 {
    margin: 0;
    padding-inline-end: 16px;
  }

  h4.mobile {
    max-width: calc(100% - 50px);
  }

  mat-icon {
    margin-inline-end: 4px;
    flex-shrink: 0;
  }

  .vl {
    height: 28px;
    margin-inline-start: 8px;
    margin-inline-end: 12px;
  }
}