<app-modal [noSidebar]="true">
  <app-modal-header i18n="@@account.deleteDuplicatedAccount"
    >Duplicated record removed!</app-modal-header
  >
  <ng-container i18n="@@account.orcidRecord"> ORCID record </ng-container>
  <strong
    ><a
      id="dialog-deprecated-id"
      class="underline"
      href="{{ baseUrl }}{{ data.deprecatingOrcid }}"
      rel="noopener noreferrer"
      target="_blank"
      >{{ data.deprecatingOrcid }}</a
    ></strong
  >
  <ng-container i18n="@@account.hasBeenRemovedDuplicated">
    has been removed and now refers to your current record,
  </ng-container>

  <strong
    >{{ data.primaryAccountName }}
    <a
      id="dialog-not-deprecated-id"
      class="underline"
      href="{{ baseUrl }}{{ data.primaryOrcid }}"
      rel="noopener noreferrer"
      target="_blank"
      >{{ data.primaryOrcid }}</a
    ></strong
  >

  <app-modal-footer>
    <button
      mat-stroked-button
      color="primary"
      (click)="ok()"
      i18n="@@shared.ok"
      id="dialog-ok"
    >
      Ok
    </button>
  </app-modal-footer></app-modal
>
