@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin manage-featured-works-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .featured-work-box.card {
    background-color: mat.m2-get-color-from-palette(
      $background,
      brand-citrus-lemon-lightest
    ) !important;
  }

  .star mat-icon {
    color: map-get($foreground, visibility-trusted);
  }

  hr {
    background-color: mat.m2-get-color-from-palette(
      $background,
      'ui-background-light'
    );
  }

  .not-featured {
    ::ng-deep {
      .featured-work-star {
        color: mat.m2-get-color-from-palette(
          $background,
          'ui-background-light'
        ) !important;
      }
    }
  }

  :host ::ng-deep .highlight {
    color: $state-info !important;
  }

  :host {
    ::ng-deep {
      .featured-header,
      .featured-body {
        background-color: transparent !important;
      }
    }
  }

  .no-featured-works {
    border-color: mat.m2-get-color-from-palette(
      $background,
      'ui-background'
    ) !important;
  }

  .make-featured-button {
    color: $brand-secondary-darkest !important;
    border-color: mat.m2-get-color-from-palette(
      $background,
      'ui-background-light'
    ) !important;
  }
}

@include manage-featured-works-theme($orcid-app-theme);
