.featured-works-list {
  width: 100%;
}
.featured-work-box {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.featured-work-line {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 16px;
}
.handle,
.close-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-drag {
  width: 24px;
  height: 24px;
}
.featured-title {
  font-weight: 600;
}
.intro {
  margin: 8px 0 16px;
}
.star {
  margin-right: 8px;
  display: flex;
  align-items: flex-start;
}
.title-line {
  display: block;
}
.content {
  display: flex;
  flex-direction: column;
}
.cdk-drag-placeholder.drag-placeholder {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
}

.search-box {
  width: 100%;
  max-width: 334px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 45px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.search-icon-button {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.columns-8,
.columns-4 {
  :host {
    .search-box {
      max-width: 100%;
    }
  }
}

.results {
  ::ng-deep {
    .featured-header,
    .featured-body {
      background-color: transparent !important;
    }
  }
}
.results-count {
  height: 48px;
  align-content: center;
}
.search-result-wrapper {
  display: flex;
}
.make-featured-button {
  font-weight: normal;
  flex-shrink: 0;
  align-self: center;
  height: 40px;
  padding: 0 8px;
  border: 1px solid;
}

.mb-2 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mt-2 {
  margin-top: 8px;
}
hr {
  height: 1px;
}

mat-icon {
  height: 24px !important;
  width: 24px !important;
  font-size: 24px !important;
}
