@import 'src/assets/scss/material.orcid-theme.scss';
@import '~@angular/material/theming';

@mixin profile-activities-affiliation-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .title-secondary-container {
    color: $orcid-dark-primary-text;
  }
  .secondary-container {
    color: $orcid-dark-secondary-text;
  }
  .secondary-container-primary {
    color: $orcid-dark-primary-text;
  }
}

@include profile-activities-affiliation-theme($orcid-app-theme);
