@import '../interstitial-component/share-emails-domains.component.scss';

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-header.authorize-header {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-title {
    margin: 0 0 24px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
    }
  }
  mat-icon {
    margin-bottom: 8px;
  }
}

:host.columns-12 {
  padding: 40px;
  display: block;
}
