@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .card-container.hover {
    border-color: mat.m2-get-color-from-palette($primary, 500);
  }

  .activity-container:hover {
    a {
      text-decoration: underline;
      cursor: pointer;
      color: map-get($foreground, 'brand-primary-dark');
    }

    svg {
      path {
        fill: map-get($foreground, 'brand-primary-dark');
      }
    }
  }

  .verified {
    color: mat.m2-get-color-from-palette($accent, 400);
  }

  .not-verified {
    color: mat.m2-get-color-from-palette($primary, 200);
  }

  .card-container {
    border-color: map-get($background, 'ui-background-light');
  }

  .activity-container {
    .header {
      .header-title {
        color: map-get($foreground, 'text-dark-high');
      }
    }
  }

  .activity-container.with-border {
    border-color: map-get($background, 'ui-background-light');
  }

  .body-wrapper {
    color: map-get($foreground, 'text-dark-mid');
  }
}

@include theme($orcid-app-theme);
