@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin modal-keyword-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ::ng-deep .keyword-input-line {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-flex {
      background-color: map-get($background, dialog);
    }
  }
  :host ::ng-deep mat-form-field mat-icon {
    color: map-get($background, ui-background);
  }
  :host ::ng-deep mat-form-field.email-activated mat-icon {
    color: mat.get-color-from-palette($accent, 400);
  }
}

@include modal-keyword-theme($orcid-app-theme);
