.cdk-drag-placeholder {
  opacity: 0;
}

.actions-wrapper {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

::ng-deep ::ng-deep .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.icon-drag {
  height: 32px;
  margin: 4px;
}

.keywords-input-line {
  .image-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
  margin-inline-end: 32px;
}

.keyword-input {
  text-align: right !important;
}

::ng-deep .columns-4-or-8 .mat-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.add-more {
  margin-top: 16px;
  span {
    padding-left: 6px;
  }
}

::ng-deep .cdk-drop-list-dragging {
  cursor: move !important;
  .mat-form-field-flex,
  .mat-select-trigger,
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    cursor: move !important;
  }
}

app-privacy-selector {
  min-width: 180px;
}

::ng-deep .columns-4-or-8 {
  .keywords-input-line .input-container {
    padding-bottom: 30px;
  }

  .keywords-input-line .actions-wrapper {
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .actions-wrapper {
    width: 100%;
  }
  .columns-4-or-8 .cdk-drag-placeholder {
    opacity: 0;
  }
}
