.actions-wrapper {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.keyword-list.cdk-drop-list-dragging .keyword-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.icon-drag {
  height: 32px;
  margin: 4px 0;
  cursor: move;
  margin-inline-start: 6px;
  margin-inline-end: 10px;
}

.keywords-input-line {
  margin-top: 10px;
  margin-bottom: 4px;
  .image-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.keyword-input {
  text-align: right !important;
}

::ng-deep .columns-4-or-8 .mat-mdc-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.add-more {
  margin-top: 16px;
  span {
    padding-left: 6px;
  }
}

::ng-deep .columns-4-or-8 {
  .keywords-input-line .input-container {
    padding-bottom: 30px;
  }

  .keywords-input-line .actions-wrapper {
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .actions-wrapper {
    width: 100%;
  }
}

.delete-button,
app-visibility-selector {
  margin-inline-start: 16px;
}

.delete-button {
  margin-top: -3px;
}
