<mat-card class="orcid-wizard">
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    id="loading-bar"
  ></mat-progress-bar>

  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">
      <div>
        <img
          height="64px"
          src="assets/vectors/orcid.logo.icon.svg"
          alt="orcid logo"
        />
      </div>
      <ng-container *ngIf="!reactivation?.isReactivation">
        <h1 class="orc-font-heading-small" i18n="@@register.create">
          Create your ORCID iD
        </h1>
      </ng-container>
      <ng-container
        *ngIf="reactivation?.isReactivation"
        i18n="@@register.reactivation"
      >
        Thank you for reactivating your ORCID iD.
      </ng-container>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2">
      <h2 class="orc-font-body-small" i18n="@@register.step5.3">
        Step 5 of 5 - Terms and conditions
      </h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGroup" #form>
      <app-form-notifications
        formControlName="sendOrcidNews"
      ></app-form-notifications>
      <app-form-terms
        formControlName="termsOfUse"
        [nextButtonWasClicked]="nextButtonWasClicked"
      ></app-form-terms>
      <app-form-anti-robots
        formControlName="captcha"
        [nextButtonWasClicked]="nextButtonWasClicked"
      ></app-form-anti-robots>
      <div class="step-actions">
        <button
          id="step-d-register-button"
          mat-raised-button
          color="primary"
          [disabled]="loading"
          (click)="nextButton2()"
          matStepperNext
        >
          <ng-container
            *ngIf="!reactivation?.isReactivation"
            i18n="@@register.completeRegistration"
          >
            Complete registration
          </ng-container>
          <ng-container
            *ngIf="reactivation?.isReactivation"
            i18n="@@register.reactivate"
          >
            REACTIVATE
          </ng-container>
        </button>
        <button
          mat-button
          color="primary"
          matStepperPrevious
          type="button"
          id="step-d-back-button"
          (click)="backButton()"
        >
          <a i18n="@@shared.previousStep"> Previous Step</a>
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    id="bottom-loading-bar"
  ></mat-progress-bar>
</mat-card>
