:host {
  width: 100%;
}

button {
  width: 100%;
  max-width: 460px;
}

.mat-button-font {
  margin: auto;
}

.columns-8,
.columns-12 {
  :host {
    ::ng-deep .mat-card {
      border: solid 1px rgba(0, 0, 0, 0.12);
    }
  }
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-card {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-button {
  max-width: 460px;
  max-height: 40px;
}

.form-container,
.success-container {
  max-width: 460px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.password {
  margin-top: 12px;
}

.sign-in-button {
  margin-top: 12px;
}

.chipsError {
  padding: 0 1em;
}

.mat-divider-horizontal {
  position: relative !important;
}

.mat-card-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 24px;
}

.mat-subheading-2 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 4px;
}

.forgot {
  margin-top: 16px;
}

.dontHaveOrcid {
  margin-top: 12px;
  padding: 0 !important;
}

.mat-progress-bar {
  top: -16px;
}
