<main id="main">
  <div class="container">
    <div class="row space-around">
      <div class="col l6 m6 s4">
        <mat-card class="orcid-wizard">
          <mat-progress-bar
            role="heading"
            aria-level="2"
            *ngIf="loading"
            mode="indeterminate"
          ></mat-progress-bar>
          <mat-card-header>
            <mat-card-title
              role="heading"
              aria-level="1"
              i18n="@@ngOrcid.signin.title"
            > Sign in
            </mat-card-title>
          </mat-card-header>
          <mat-progress-bar
            role="heading"
            aria-level="2"
            *ngIf="loading"
            mode="indeterminate"
          ></mat-progress-bar>
          <mat-card-content>
            <ng-container *ngIf="!isLoggedIn">
              <app-form-sign-in
                #formSignInComponent
                [signInType]="signInType"
                (show2FAEmitter)="show2FAEmitter($event)"
              >
                <button
                  mat-raised-button
                  (click)="formSignInComponent.onSubmit()"
                  color="primary"
                  class="row sign-in-button mat-elevation-z0"
                  type="submit"
                  [disabled]="loading"
                  *ngIf="!show2FA"
                  i18n="@@ngOrcid.signin.button"
                >
                  SIGN IN
                </button>
              </app-form-sign-in>
              <p class="mat-subheading-2" i18n="@@ngOrcid.signin.or">or</p>
              <mat-divider></mat-divider>
              <br/>
              <app-social></app-social>
            </ng-container>
            <app-logged-in
              *ngIf="isLoggedIn"
              [displayName]="displayName"
              [realUserOrcid]="realUserOrcid"
            >
            </app-logged-in>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>
