:host {
  width: 100%;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-title {
  margin-top: 32px !important;
  text-align: center;
  margin-bottom: 8px !important;
}

.mat-subtitle-1 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 4px;
}

.forgot {
  margin-top: 16px;
}

.dontHaveOrcid {
  margin-top: 12px;
}

.register-now {
  display: inline;
}

.mat-card .mat-divider-horizontal {
  position: relative;
}

.icon {
  margin-bottom: 26px;

  img {
    width: 64px;
  }
}

.sign-in-wrapper {
  padding: 64px !important;
  h1 {
    margin-top: 0;
  }

  .orc-font-heading-small {
    font-style: normal;
    font-weight: 500;
  }

  mat-progress-bar {
    top: 0 !important;
  }

  mat-card-title {
    margin: 0 0 32px 0 !important;
  }

  mat-card-content {
    margin: 0px;
  }

  .icon {
    margin-bottom: 32px !important;
  }

  .forgot {
    margin-top: 24px;
  }

  mat-divider,
  .separator {
    margin: 24px 0;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
  }

  .separator:not(:empty)::before {
    margin-right: 0.5em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.5em;
  }
}

.sign-in-wrapper.mobile {
  padding: 0 !important;
}
