:host {
  width: 100%;
}

button {
  width: 100%;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-button {
  max-height: 40px;
}

.password {
  margin-top: 12px;
}

.sign-in-button {
  margin-top: 12px;
}

.mat-card-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.mat-subheading-2 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 4px;
}

.forgot {
  margin-top: 16px;
}

.dontHaveOrcid {
  margin-top: 12px;
}

.register-now {
  display: inline;
  margin-inline-start: 6px;
}

.mat-card .mat-divider-horizontal {
  position: relative;
}
