@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin sign-in-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .display-1 {
    color: mat.get-color-from-palette($primary);
  }

  button.sign-in-to-orcid-button {
    color: $orcid-light-primary-text;
    background: mat.get-color-from-palette($primary, 700);
  }

  .separator::before,
  .separator::after {
    content: '';
    border-bottom: 1px solid mat.get-color-from-palette($foreground, dividers);
  }

  .info {
    background-color: mat.get-color-from-palette(
      $background,
      state-notice-lightest
    );
    border-color: mat.get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;

    mat-icon {
      color: mat.get-color-from-palette(
        $foreground,
        'state-notice-dark'
      ) !important;
    }
    a {
      color: mat.get-color-from-palette($primary, 700);
    }
  }
}

@include sign-in-theme($orcid-app-theme);
