:host {
  display: flex;
  margin-top: 22px;
  flex-direction: column;
  div {
    app-profile-records-card {
      margin-top: 0;
    }
  }
}

app-profile-records-card {
  overflow: hidden;
}

app-profile-records-card-detail-line {
  margin-bottom: 12px;
}
