:host {
  display: block;
  padding: 16px;
}
:host.border-bottom {
  border-bottom: solid 1px;
}

:host.featured {
  padding-top: 0;
  padding-left: 48px;
}

h3 {
  margin: 0;
}

.panel-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  .align-end-content {
    flex-shrink: 0;
  }
  .data-content {
    width: 100%;
  }
}

.columns-8 :host,
.columns-4 :host {
  .panel-data-container {
    flex-direction: column;
    .data-content {
      margin-bottom: 12px;
    }
  }
  .featured-data-content {
    margin-bottom: 0 !important;
  }
}
