@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin privacy-selector-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .panel {
    background-color: map-get($background, light-grey);
  }
  .panel.white-background {
    background-color: mat-color($foreground, text-light-high);
  }
  ::ng-deep .no-selected svg > g,
  ::ng-deep .no-selected svg > path {
    fill: map-get($background, ui-background);
  }
  ::ng-deep .selected svg > g,
  ::ng-deep .selected svg > path {
    fill: map-get($foreground, text-light-high);
  }
  ::ng-deep .panel button {
    background-color: map-get($foreground, text-light-high);
  }

  ::ng-deep button.private-button.selected {
    background-color: map-get($foreground, visibility-private);
  }
  ::ng-deep button.limited-button.selected {
    background-color: map-get($foreground, visibility-trusted);
  }
  ::ng-deep button.public-button.selected,  {
    background-color: map-get($foreground, visibility-everyone);
  }

  .privacy-selector {
    background-color: map-get($foreground, 'text-light-high');
    border-color: mat-color($background, ui-background);
  }
}
@include privacy-selector-theme($orcid-app-theme);
