.panel {
  border-radius: 50px;
  display: flex;
  height: 40px;
  width: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px 0 4px;
}

button {
  height: 32px;
  width: 32px;
  line-height: 0px;
}
