@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin work-stack-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host.display-the-stack {
    border-color: mat.get-color-from-palette(
      $background,
      ui-background-darkest
    );

    app-panel:not(.last) {
      -webkit-box-shadow: 0px 9px 5px 0px
        mat.get-color-from-palette($background, panel-shadow);
      -moz-box-shadow: 0px 9px 5px 0px
        mat.get-color-from-palette($background, panel-shadow);
      box-shadow: 0px 9px 5px 0px
        mat.get-color-from-palette($background, panel-shadow);
    }
  }

  .featured {
    background-color: transparent !important;
  }
}

@include work-stack-theme($orcid-app-theme);
