[body] {
  display: flex;
  flex-direction: column;
}

:host {
  width: 100%;
}

:host.display-the-stack {
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;

  app-panel:not(.last) {
    display: block;
    position: relative;
  }
}

a {
  text-decoration: underline;
}
