[body] {
  display: flex;
  flex-direction: column;
}

:host {
  width: 100%;
}

:host.display-the-stack {
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;

  app-panel:not(.last) {
    display: block;
    position: relative;
  }
}

.work-title {
  margin: 0;
}

.featured {
  border: none;
  display: flex;
}
