<div
  class="mdc-layout-grid__cell--span-1"
  *ngIf="!platformInfo?.tabletOrHandset"
></div>
<div
  [ngClass]="{
    'mdc-layout-grid__cell--span-3': !platformInfo?.tabletOrHandset,
    'mdc-layout-grid__cell--span-12': platformInfo?.tabletOrHandset
  }"
>
  <app-profile-general-data [profileGeneralData]="profileGeneralData" [id]="id">
  </app-profile-general-data>
</div>

<div
  class="records-container"
  [ngClass]="{
    'mdc-layout-grid__cell--span-7': !platformInfo?.tabletOrHandset,
    'mdc-layout-grid__cell--span-12': platformInfo?.tabletOrHandset
  }"
>
  <app-profile-biography
    *ngIf="
      profileGeneralData &&
      profileGeneralData.biography &&
      profileGeneralData.biography.content
    "
    [profileGeneralData]="profileGeneralData"
    [id]="id"
  >
  </app-profile-biography>
  <app-profile-records
    *ngIf="profileAffiliationUiGroups && id"
    [id]="id"
    [profileAffiliationUiGroups]="profileAffiliationUiGroups"
  >
  </app-profile-records>
</div>
