:host {
  width: 100%;
}

.records-container {
  margin-bottom: 40px;
}

.progress-spinner-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
