<main class="container ">
  <div class="row space-around">
    <div class="col l6 m6 s4">
      <!-- MOBILE PRESENTATION -->
      <mat-vertical-stepper
        [linear]="isLinear"
        #stepper
        *ngIf="platform.tabletOrHandset"
      >
        <mat-step [stepControl]="FormGroupStepA">
          <ng-template matStepLabel>Personal data</ng-template>
          <app-step-a [(formGroup)]="FormGroupStepA"></app-step-a>
        </mat-step>
        <mat-step [stepControl]="FormGroupStepB">
          <ng-template matStepLabel>Security and visibility</ng-template>
          <app-step-b [(formGroup)]="FormGroupStepB"></app-step-b>
        </mat-step>
        <mat-step [stepControl]="FormGroupStepC" #lastStep>
          <ng-template matStepLabel>Notifications and terms</ng-template>
          <app-step-c
            [(formGroup)]="FormGroupStepC"
            (submit)="register()"
          ></app-step-c>
        </mat-step>
      </mat-vertical-stepper>

      <!-- DESKTOP PRESENTATION -->
      <mat-horizontal-stepper
        [linear]="isLinear"
        #stepper
        *ngIf="platform.desktop"
        labelPosition="bottom"
      >
        <mat-step [stepControl]="FormGroupStepA">
          <ng-template matStepLabel>Personal data</ng-template>
          <app-step-a [(formGroup)]="FormGroupStepA"></app-step-a>
        </mat-step>
        <mat-step [stepControl]="FormGroupStepB">
          <ng-template matStepLabel>Security and visibility</ng-template>
          <app-step-b [(formGroup)]="FormGroupStepB"></app-step-b>
        </mat-step>
        <mat-step [stepControl]="FormGroupStepC">
          <ng-template matStepLabel>Notifications and terms</ng-template>
          <app-step-c [(formGroup)]="FormGroupStepC"></app-step-c>
        </mat-step>
      </mat-horizontal-stepper>
      -->
    </div>
  </div>
</main>
