<main id="main">
  <div class="container">
    <div class="row space-around">
      <div
        class="col l6 m6 s4"
        [ngClass]="{
          'no-gutters': platform.columns4,
          mobile: platform.columns4,
        }"
      >
        <mat-horizontal-stepper
          [linear]="isLinear"
          #stepper
          labelPosition="bottom"
          class="orcid-stepper-wizard"
          (selectionChange)="selectionChange($event)"
          role="tablist"
          [ngClass]="{
            mobile: platform.columns4,
          }"
        >
          <mat-step [stepControl]="FormGroupStepA">
            <ng-template matStepLabel i18n="@@register.personalData"
              >Personal data</ng-template
            >
            <app-step-a
              [(formGroup)]="FormGroupStepA"
              [reactivation]="reactivation"
              #stepComponentA
            ></app-step-a>
          </mat-step>
          <mat-step [stepControl]="FormGroupStepB">
            <ng-template matStepLabel i18n="@@register.securityAndNotifications"
              >Security and notifications</ng-template
            >
            <app-step-b
              #stepComponentB
              [(formGroup)]="FormGroupStepB"
              [personalData]="personalData"
              [reactivation]="reactivation"
            ></app-step-b>
          </mat-step>
          <mat-step
            [stepControl]="FormGroupStepC2"
            [optional]="formGroupStepC2Optional"
          >
            <app-step-c2
              #stepComponentC2
              [(formGroup)]="FormGroupStepC2"
              [loading]="loading"
              [reactivation]="reactivation"
              (formGroupStepC2OptionalChange)="formGroupStepC2Next($event)"
            ></app-step-c2>
          </mat-step>
          <mat-step [stepControl]="FormGroupStepC">
            <ng-template matStepLabel i18n="@@register.visibilityAndTerm"
              >Visibility and terms</ng-template
            >
            <app-step-c
              #stepComponentC2
              [(formGroup)]="FormGroupStepC"
              [loading]="loading"
              [reactivation]="reactivation"
            ></app-step-c>
          </mat-step>
          <mat-step [stepControl]="FormGroupStepD" #lastStep>
            <ng-template matStepLabel i18n="@@register.visibilityAndTerm"
              >Visibility and terms</ng-template
            >
            <app-step-d
              #stepComponentD
              [(formGroup)]="FormGroupStepD"
              (submit)="register()"
              [loading]="loading"
              [reactivation]="reactivation"
            ></app-step-d>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</main>
