<!-- WEB VERSION -->
<header *ngIf="!tabletOrHandset" class="container">
  <div class="row">
    <div class="logo" routerLink="/" class="col l4 m4 s4 middle">
      <div class="logo-container">
        <img src="./assets/vectors/orcid.logo.svg" />
        <div>Connecting research and researchers</div>
      </div>
    </div>

    <div class="col l4 offset-l4 m4 s4 middle">
      <div class="search-menu">
        <i class="material-icons"> search </i>
        <button mat-button [matMenuTriggerFor]="languageMenu">
          <div class="language">
            <i class="material-icons"> language </i>
            <p>{{ languageMenuOptions[locale] }}</p>
            <i class="material-icons"> expand_more </i>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>

<nav (mouseleave)="mouseLeave()">
  <div class="top-bar">
    <div class="container">
      <ul class="row">
        <li class="col no-gutters">
          <button
            [ngClass]="{ active: menu.researchers.route === currentRoute }"
            mat-button
            (click)="click('researchers')"
            (mouseenter)="mouseEnter('researchers')"
            i18n="@@public-layout.for_researchers"
          >
            For Researchers
          </button>
        </li>
        <li class="col no-gutters">
          <button
            [ngClass]="{ active: menu.organizations.route === currentRoute }"
            mat-button
            (click)="click('organizations')"
            (mouseenter)="mouseEnter('organizations')"
            i18n="@@public-layout.for_organizations"
          >
            For Organizations
          </button>
        </li>
        <li class="col no-gutters">
          <button
            [ngClass]="{ active: menu.about.route === currentRoute }"
            mat-button
            (click)="click('about')"
            (mouseenter)="mouseEnter('about')"
            i18n="@@public-layout.about"
          >
            About
          </button>
        </li>
        <li class="col no-gutters">
          <button
            [ngClass]="{ active: menu.help.route === currentRoute }"
            mat-button
            (click)="click('help')"
            (mouseenter)="mouseEnter('help')"
            i18n="@@public-layout.help"
          >
            Help
          </button>
        </li>
        <li class="col no-gutters">
          <button
            [ngClass]="{ active: menu.signIn.route === currentRoute }"
            mat-button
            (click)="click('signIn')"
            (mouseenter)="mouseEnter('signIn')"
            i18n="@@public-layout.sign_in"
          >
            Sign in
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container" *ngIf="menu.researchers.hover">
      <ul class="row">
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.sign_in">
            SIGN IN
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.register">
            Register for an ORCID iD
          </button>
        </li>
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.for_researchers"
          >
            Learn more
          </button>
        </li>
      </ul>
    </div>
    <div class="container" *ngIf="menu.organizations.hover">
      <ul class="row">
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.funders">
            Funders
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.publishers">
            Publishers
          </button>
        </li>
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.research_organizations"
          >
            Research Organizations
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button i18n="@@public-layout.associations">
            Associations
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.integrators">
            Integrators
          </button>
        </li>
      </ul>
    </div>
    <div class="container" *ngIf="menu.about.hover">
      <ul class="row">
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.what_is_orcid"
          >
            What is ORCID
          </button>
        </li>
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.the_orcid_team"
          >
            The ORCID Team
          </button>
        </li>
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.the_orcid_community"
          >
            The ORCID Community
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.membership">
            Membership
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.news">
            News
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.events">
            Events
          </button>
        </li>
      </ul>
    </div>

    <div class="container" *ngIf="menu.help.hover">
      <ul class="row">
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.faq">
            FAQ
          </button>
        </li>
        <li class="col no-gutters">
          <button mat-button color="primary" i18n="@@public-layout.contact_us">
            Contact us
          </button>
        </li>
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.give_feedback"
          >
            Give Feedback
          </button>
        </li>
        <li class="col no-gutters">
          <button
            mat-button
            color="primary"
            i18n="@@public-layout.knowledge_base"
          >
            Knowledge Base
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="statics container">
  <div class="row">
    <div class="col l5 push-l7">
      <div class="row middle mat-caption">
        5,566,081
        <ng-container i18n="@@public-layout.amount_ids"
          >ORCID iDs and counting.</ng-container
        >
        <a href="/statistics">See more statics</a>
      </div>
    </div>
  </div>
</div>

<!-- HANDSET AND TABLET VERSION -->
<nav *ngIf="tabletOrHandset">
  <div class="top-bar">
    <div class="">
      <div class="menu-logo-container" routerLink="/">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <div class="icon-button"><i class="material-icons"> menu </i></div>
        </button>

        <div class="logo"><img src="./assets/vectors/orcid.logo.svg" /></div>
      </div>
      <div class="search-menu">
        <i class="material-icons"> search </i>
        <button mat-icon-button [matMenuTriggerFor]="languageMenu">
          <div class="icon-button">
            <i class="material-icons"> language </i>
          </div>
        </button>
      </div>
    </div>
  </div>

  <mat-menu #appMenu="matMenu">
    <div [ngClass]="{ active: menu.researchers.route === currentRoute }">
      <button
        mat-menu-item
        [matMenuTriggerFor]="researchers"
        i18n="@@public-layout.for_researchers"
      >
        For Researchers
      </button>
    </div>

    <div>
      <button
        mat-menu-item
        [matMenuTriggerFor]="organizations"
        [ngClass]="{ active: menu.organizations.route === currentRoute }"
        i18n="@@public-layout.for_organizations"
      >
        For organizations
      </button>
    </div>

    <div>
      <button
        mat-menu-item
        [matMenuTriggerFor]="about"
        [ngClass]="{ active: menu.about.route === currentRoute }"
        i18n="@@public-layout.about"
      >
        About
      </button>
    </div>

    <div>
      <button
        mat-menu-item
        [matMenuTriggerFor]="help"
        [ngClass]="{ active: menu.help.route === currentRoute }"
        i18n="@@public-layout.help"
      >
        Help
      </button>
    </div>
    <div>
      <button
        mat-menu-item
        [ngClass]="{ active: menu.signIn.route === currentRoute }"
        i18n="@@public-layout.sign_in"
      >
        Sign in
      </button>
    </div>
  </mat-menu>

  <mat-menu #researchers="matMenu">
    <div>
      <button mat-menu-item i18n="@@public-layout.sign_in">SIGN IN</button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.register">
        Register for an ORCID iD
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.for_researchers">
        Learn more
      </button>
    </div>
  </mat-menu>

  <mat-menu #organizations="matMenu">
    <div>
      <button mat-menu-item i18n="@@public-layout.funders">FUNDERS</button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.publishers">
        Publishers
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.research_organizations">
        Research Organizations
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.associations">
        Associations
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.integrators">
        Integrators
      </button>
    </div>
  </mat-menu>

  <mat-menu #about="matMenu">
    <div>
      <button mat-menu-item i18n="@@public-layout.what_is_orcid">
        What is orcid
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.the_orcid_team">
        The ORCID team
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.the_orcid_community">
        The ORCID Community
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.membership">
        Membership
      </button>
    </div>
    <div><button mat-menu-item i18n="@@public-layout.news">NEWS</button></div>
    <div>
      <button mat-menu-item i18n="@@public-layout.events">EVENTS</button>
    </div>
  </mat-menu>

  <mat-menu #help="matMenu">
    <div><button mat-menu-item i18n="@@public-layout.faq">FAQ</button></div>
    <div>
      <button mat-menu-item i18n="@@public-layout.contact_us">
        Contact us
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.give_feedback">
        Give Feedback
      </button>
    </div>
    <div>
      <button mat-menu-item i18n="@@public-layout.knowledge_base">
        Knowledge Base
      </button>
    </div>
  </mat-menu>
</nav>

<mat-menu #languageMenu="matMenu">
  <div
    *ngFor="let language of (languageMenuOptions | keyvalue)"
    [ngClass]="{ active: language.key === locale }"
    (click)="changeLanguage(language.key)"
  >
    <button mat-menu-item>{{ language.value }}</button>
  </div>
</mat-menu>
