@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';
@import 'src/assets/scss/material.typography.scss';

@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .container {
    .logo-container {
      color: mat.m2-get-color-from-palette(
        $background,
        placeholder-grey
      ) !important;
    }
  }
  .top-bar {
    color: mat.m2-get-color-from-palette($primary, '500-contrast');
    background-color: mat.m2-get-color-from-palette($primary);

    .menu-container {
      .row {
        button {
          &.active {
            background-color: mat.m2-get-color-from-palette($background, grey);
            color: mat.m2-get-contrast-color-from-palette($accent, 500);
          }
          &.sign-in-button {
            border-color: mat.m2-get-color-from-palette(
              $background,
              background
            );
            color: mat.m2-get-color-from-palette($primary, '500-contrast');
          }
        }

        .row {
          color: mat.m2-get-color-from-palette($primary, 500);
        }
      }
    }
  }
  .top-bar-new-info {
    button {
      color: mat.m2-get-color-from-palette($primary);
    }

    .menu-container {
      .row {
        button {
          &.active {
            color: mat.m2-get-color-from-palette($accent);
          }
          &.sign-in-button {
            border-color: mat.m2-get-color-from-palette(
              $background,
              background
            );
            color: mat.m2-get-color-from-palette($primary, '500-contrast');
          }
        }
        button:hover,
        button:focus {
          color: mat.m2-get-color-from-palette($accent);
        }
        .row {
          color: mat.m2-get-color-from-palette($primary, 500);
        }
      }
    }
  }

  .columns-8 :host,
  .columns-4 :host {
    header.container.fixed-header-mode {
      > .row {
        background-color: mat.m2-get-color-from-palette($background, 'card');
      }
    }

    .top-bar {
      background-color: mat.m2-get-color-from-palette($primary, 700);
      .menu-container {
        .row {
          .row {
            background-color: mat.m2-get-color-from-palette($primary, 600);
            button {
              color: mat.m2-get-color-from-palette($primary, '500-contrast');
            }
            .row {
              button {
                color: mat.m2-get-color-from-palette($primary, 500);
              }
              background-color: mat.m2-get-color-from-palette(
                $background,
                'light-grey'
              );
              .row {
                background-color: mat.m2-get-color-from-palette(
                  $background,
                  'card'
                );
              }
            }
          }
        }
      }
    }
    .top-bar-new-info {
      background-color: mat.m2-get-color-from-palette($primary, 900);
      color: mat.m2-get-color-from-palette($primary, '500-contrast');

      .menu-container {
        .row {
          button:hover,
          button:focus {
            background-color: mat.m2-get-color-from-palette($accent, 200);
            color: $orcid-dark-primary-text;
          }

          .row {
            background-color: mat.m2-get-color-from-palette($primary, 600);
            button {
              color: mat.m2-get-color-from-palette($primary, '500-contrast');
            }
            button:hover,
            button:focus {
              background-color: mat.m2-get-color-from-palette($accent, 200);
              color: $orcid-dark-primary-text;
            }
            .row {
              button {
                color: mat.m2-get-color-from-palette($primary, 500);
              }
              button:hover,
              button:focus {
                background-color: mat.m2-get-color-from-palette($accent, 200);
                color: $orcid-dark-primary-text;
              }
              background-color: mat.m2-get-color-from-palette(
                $background,
                'light-grey'
              );
              .row {
                background-color: mat.m2-get-color-from-palette(
                  $background,
                  'card'
                );
              }
            }
          }
        }
      }
    }
  }
}

@mixin app-header-typography(
  $orcid-material-typography,
  $orcid-custom-typography
) {
  .top-bar,
  .top-bar-new-info {
    .menu-container > .row > .col > button {
      @include mat.m2-typography-level($orcid-custom-typography, title-alt);
      &.sign-in-button {
        @include mat.m2-typography-level($orcid-material-typography, button);
      }
    }
  }
}
@include header-theme($orcid-app-theme);
@include app-header-typography(
  $orcid-material-typography,
  $orcid-custom-typography
);
