<header>
  <div class="logo"><img src="/assets/vectors/orcid.logo.svg" /></div>
</header>
<nav>
  <div class="top-bar">
    <div class="main-menu">
      <ul class="buttons-container">
        <li *ngFor="let button of (menu | keyvalue)">
          <button
            mat-button
            (mouseenter)="mouseEnter('button.key')"
            (mouseleave)="mouseLeave('button.key')"
          >
            {{ button.key }}
          </button>
        </li>
      </ul>
    </div>

    <div class="search-menu">
      <i class="material-icons"> search </i>
      <button mat-button>
        <div class="language">
          <i class="material-icons"> language </i>
          <p>English</p>
          <i class="material-icons"> expand_more </i>
        </div>
      </button>
    </div>
  </div>

  <div class="bottom-bar">
    <div class="secondary-menu">
      <ul class="buttons-container">
        <li><button mat-button>SIGN IN</button></li>
        <li><button mat-button>REGISTER FOR AN ORCID</button></li>
        <li><button mat-button>LEARN MORE</button></li>
      </ul>
    </div>
  </div>
</nav>
