header.container {
  padding: 24px 16px;
  margin: auto;

  .logo-menu-container {
    .logo-container {
      img {
        margin-bottom: 8px;
      }
      .mat-subtitle-2 {
        line-height: 16px;
      }
    }
  }
  img {
    height: 50px;
  }
  .row {
    height: 100%;
    img {
      height: 60px;
      width: 200px;
    }
  }
}
nav.not-wordpress-display > .top-bar,
nav.not-wordpress-display > .top-bar-new-info {
  margin-bottom: 60px;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .top-bar,
  .top-bar-new-info {
    height: 60px;
    margin-bottom: 1px;
    .menu-container {
      height: 100%;
      display: flex;
      .row {
        position: relative;
        .col {
          & button {
            &.active {
              border-radius: 0;
            }
          }
          .row {
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

.columns-8,
.columns-4 {
  :host {
    header.container {
      padding: 12px 16px;
      .logo-menu-container {
        display: flex;
        justify-content: space-between;
        .logo-container {
          .mat-subtitle-2 {
            line-height: 16px;
          }
          img {
            height: 35px;
            width: auto;
          }
        }
      }
      nav {
        .top-bar,
        .top-bar-new-info {
          .menu-container {
            nav {
              .top-bar,
              .top-bar-new-info {
                .menu-container {
                  padding-top: 60px;
                }
              }
            }
          }
        }
      }
    }

    nav {
      position: absolute;
      width: 100%;
      z-index: 1000;
      height: 100%;
      margin-top: -65px;
      .top-bar,
      .top-bar-new-info {
        height: auto;
        .menu-container {
          flex-direction: column;
          padding-top: 32px;
          padding-bottom: 32px;
          .row {
            flex-direction: column;
            .col {
              max-width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              button {
                width: 100%;
                height: 100%;
                text-align: left;
                padding-top: 12px;
                padding-bottom: 12px;
                &.sign-in-button {
                  width: auto;
                  padding-bottom: 10px;
                  padding-top: 10px;
                  margin-top: 12px;
                  left: 16px;
                  [dir='rtl'] & {
                    left: 0;
                    right: 16px;
                  }
                }
                .button-box {
                  display: flex;
                  justify-content: space-between;
                }
              }

              .row {
                top: 0;
                flex-direction: column;
                position: relative;
                button {
                  padding-left: calc(
                    16px + 16px
                  ); // TODO: this should be gutter plus 16
                  [dir='rtl'] & {
                    margin-left: auto;
                    margin-right: 16px;
                  }
                  width: 100%;
                  text-align: left;
                  padding-top: 8px;
                  padding-bottom: 8px;
                }
                .row {
                  button {
                    padding-left: calc(
                      16px + 32px
                    ); // TODO: this should be gutter plus 32
                    [dir='rtl'] & {
                      margin-left: auto;
                      margin-right: 32px;
                    }
                  }
                  .row {
                    button {
                      padding-left: calc(
                        16px + 64px
                      ); // TODO: this should be gutter plus 64
                      [dir='rtl'] & {
                        margin-left: auto;
                        margin-right: 64px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.ie,
.edge {
  :host {
    .menu-container {
    }
  }
}

app-search {
  overflow: hidden;
}

app-user-menu {
  display: flex;
}

.top-menu-button {
  height: 100%;
  padding: 0 16px;
}
