header {
  height: 55px;
  .logo {
    margin-left: 24px;
    width: 103px;
    padding-top: 12px;
    cursor: pointer;
  }
  .logo:focus {
    outline: none;
  }
}

nav {
  z-index: 2;
  .top-bar {
    padding-left: 24px;
    padding-right: 24px;
    height: 50px;
    font-weight: 600;
    margin-left: -15px;
    .search-menu {
      .language {
        justify-content: space-between;
        width: 105px;
        height: 50px;
      }
    }
    li {
      height: 100%;
    }
  }

  .bottom-bar {
    z-index: 1;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
    height: 40px;
    margin-left: -15px;
    .secondary-menu {
      height: 100%;
      .buttons-container {
        margin-top: 1px;
        li {
          height: 38px;
          padding-bottom: 1px;
        }
      }
    }
  }
  ul {
    height: 100%;
    li {
      min-width: 20px;
      button {
        height: 100%;
        width: 100%;
      }
      button.mat-button {
        text-transform: uppercase;
      }
    }
  }
  li,
  i {
    cursor: pointer;
  }
  .buttons-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
  }
}

// MOBILE AND TABLETS
.tabletOrHandset {
  :host {
    nav {
      .top-bar {
        height: unset;
      }

      .logo {
        margin-left: 16px - 10px; // removes menu icon padding
        width: 103px;
        cursor: pointer;
        padding: 0;
      }
      .menu-logo-container {
        margin-left: -10px;
        display: flex;
        align-items: center;
      }

      .menu-logo-container:focus {
        outline: none;
      }

      .main-menu {
        height: 61px;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .top-bar {
        margin-left: unset;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
        .search-menu {
          width: 70px;
          margin-right: -10px;
        }
      }
      .icon-button {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

// RIGHT TO LEFT
body[dir] {
  :host {
    header .logo {
      margin-left: unset;
      margin-right: 24px;
    }
    nav {
      .top-bar {
        margin-left: unset;
        margin-right: -15px;
      }
      .bottom-bar {
        margin-right: -15px;
        margin-left: unset;
      }
    }
  }
}
