@import '~@angular/material/theming';
$config: mat-typography-config();
@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-header {
    .top-bar {
      //FIXME ACCESSIBILITY-ISSUE
      color: mat-color($primary, '500-contrast');
      background-color: mat-color($primary);

      .menu-container {
        .row {
          button {
            & .active {
              background-color: mat-color($background, light-grey);
              color: mat-contrast($accent, 500);
              border-radius: 0;
            }
            &.sign-in-button {
              border-color: white;
            }
          }

          .row {
            color: mat-contrast($accent, 500);
          }
        }
      }
    }

    .columns-8 &,
    .columns-4 & {
      .top-bar {
        background-color: mat-color($primary, 700);
        .menu-container {
          .row {
            button {
              & .active {
              }
              &.sign-in-button {
              }
            }

            .row {
              background-color: mat-color($primary, 600);
              .row {
                background-color: mat-color($background, 'light-grey');
                .row {
                  background-color: mat-color($background, 'card');
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin app-header-typography($orcid-material, $orcid-custom) {
  app-header {
    .top-bar {
      .menu-container > .row > .col > button {
        @include mat-typography-level-to-styles($orcid-custom, title-alt);
      }
    }
  }
}
