@import '~@angular/material/theming';
$config: mat-typography-config();
@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-header {
    .top-bar {
      //FIXME ACCESSIBILITY-ISSUE
      color: mat-color($primary, '500-contrast');
      background-color: mat-color($primary);
      .container {
        .row {
          .active {
            background-color: mat-color($background, light-grey);
            color: mat-contrast($accent, 500);
            border-radius: 0;
          }
        }
      }
    }
  }
}
