@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin results-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .table-container table tr {
    border-bottom: solid 1px map-get($foreground, 'divider');
  }
}

@include results-theme($orcid-app-theme);
