.info {
  padding: 16px;
  margin-top: 32px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }
}

.work-info {
  margin-bottom: 16px;

  .added {
    margin-left: 16px;
  }
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}

.list-works-group {
  mat-checkbox {
    padding-inline-end: 16px;
    padding-top: 16px;
  }
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list-works {
  display: flex;
  flex-direction: column;
}

h2 {
  word-break: normal;
  overflow-wrap: anywhere;
}
