:host {
  width: 100%;
}

label {
  margin: 6px 0 3px 0;
}

hr.dashed-line {
  margin-bottom: 0 !important;
}

h2,
h3 {
  margin: 6px 0;
}

::ng-deep .columns-4-or-8 .mat-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.other-names-list.cdk-drop-list-dragging
  .other-names-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.required {
  margin-left: 3px;
}

.required-information {
  margin-left: auto !important;
  margin-top: 10px !important;

  span {
    margin-right: 3px !important;
  }
}
.input-container {
  max-width: 402px;
}

.names-visibility {
  margin-bottom: 18px;
}

.other-names-input-line {
  margin-top: 20px;
  img {
    margin-top: 6px;
    cursor: move;
    z-index: 1;
    margin-inline-end: 18px;
  }

  .input-container {
    max-width: 366px;
  }

  .privacy {
    width: 100%;

    button {
      margin-left: auto;
    }
  }

  .selector {
    margin: 0 !important;
  }
}

.icon-drag {
  height: 32px;
  margin: 4px;
}

.actions-wrapper {
  flex-wrap: nowrap;
}

.mat-form-field {
  width: 100%;
}

.title {
  p {
    margin: 6px 0;
  }

  .your-given-names {
    margin-bottom: 10px;
  }
}

label.mat-caption {
  margin-bottom: 8px;
}

.mat-form-field {
  padding: 0 !important;
}

.input-box {
  flex-grow: 1;
  input {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    border-width: 1px;
    border-style: solid;
    padding: 0 12px;
  }
}
hr {
  margin-bottom: 16px;
}

.family-names {
  margin-top: 18px;
}

.delete {
  margin-left: auto;
}

.other-names-wrapper {
  margin: 20px 0 30px 0;
}

.orcid-has-number {
  margin-bottom: 0;
}

.add-more {
  margin-top: 16px;

  span {
    margin: auto;
    padding-left: 6px;
  }
}

::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 4px;
}

.side-bar {
  text-decoration: underline;
}

::ng-deep .columns-4-or-8 {
  .other-names-input-line .input-container {
    padding-bottom: 30px;
  }

  .other-names-input-line .actions-wrapper {
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .actions-wrapper {
    width: 100%;
  }
  .columns-4-or-8 .cdk-drag-placeholder {
    opacity: 0;
  }
}
.actions-wrapper-last app-visibility-selector {
  margin-inline-end: 16px;
  margin-inline-start: 16px;
  .mat-mdc-icon-button {
    top: -3px;
  }
}
