<app-modal>
  <app-modal-header>Names</app-modal-header>
  <app-modal-side-bar>
    <ng-container id="side-bar-title"
    >Given and family names
    </ng-container>
  </app-modal-side-bar>
  <app-modal-footer>
    <button mat-raised-button color="primary" (click)="saveEvent()">
      Save changes
    </button>
    <button mat-stroked-button color="primary" (click)="closeEvent()">
      Cancel
    </button>
  </app-modal-footer>
  <form [formGroup]="namesForm" (ngSubmit)="onSubmit()">
    <div class="mat-body-2 title">
      <strong>Given and family names </strong><span class="required">*</span>
    </div>
    <hr>
    <p class="orc-font-small-print">
      Your given and family names. These are used on your ORCID record by default.
    </p>
    <div class="row">
      <label
        for="given-names-input"
        class="mat-caption"
        [ngClass]="{ error: namesForm.hasError('required', 'givenNames') }"
      >
        <strong>Given names</strong>
        <span class="required">*</span>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field
        appearance="outline"
        class="mat-form-field-min"
      >
        <input
          id="given-names-input"
          matInput
          formControlName="givenNames"
          placeholder="Add given name"
        />
        <mat-error
          class="mat-caption"
          *ngIf="namesForm.get('givenNames').hasError('required')"
        >
          Please enter your first/given name
        </mat-error>
        <mat-error
          *ngIf="namesForm.get('givenNames').hasError('notPattern')"
        >
          Invalid name characters or format
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <label
        for="family-names-input"
        class="mat-caption"
      >
        <strong>Family names</strong>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field
        appearance="outline"
        class="mat-form-field-min"
      >
        <input
          id="family-names-input"
          matInput
          formControlName="familyNames"
          placeholder="Add family names"
        />
      </mat-form-field>
    </div>
    <div class="mat-body-2 title">
      <strong>Published name</strong>
    </div>
    <hr>
    <p class="orc-font-small-print">
      Your preferred name format and structure. If added the published name will be used instead of your given and
      family names.
    </p>
    <div class="row">
      <label
        for="published-names-input"
        class="mat-caption"
      >
        <strong>Published name</strong>
      </label>
    </div>
    <div class="row">
      <div class="input-container">
        <mat-form-field
          appearance="outline"
          class="mat-form-field-min"
        >
          <input
            id="published-names-input"
            matInput
            formControlName="publishedName"
            placeholder="Add family names"
          />
        </mat-form-field>
        <mat-hint class="mat-caption">
          You can format this name however you wish
        </mat-hint>
      </div>
      <div class="col no-wrap actions-wrapper no-gutters visibility">
        <app-privacy-selector
          formControlName="visibility"
        ></app-privacy-selector>
      </div>
    </div>
    <div class="mat-body-2 title">
      <strong>Also known as</strong>
    </div>
    <hr>
    <p class="orc-font-small-print">
      You can add variants of your name, such as an abbreviated first name, middle names, former names or names in a different character set or language. Adding other names can help people find your record when they search the ORCID registry.
    </p>
    <div class="row">
      <label
        for="alternative-names-input"
        class="mat-caption"
      >
        <strong>Other names</strong>
      </label>
    </div>
    <div class="row other-names-wrapper"
         id="country-droplist"
         cdkDropList
         (cdkDropListDropped)="drop($event)"
    >
      <div
        cdkDrag
        rootElementSelector="#country-droplist"
        class="row country-input-line"
        [ngClass]="{ 'no-wrap': !isMobile }"
        *ngFor="let names of otherNames;"
      >
        <div class="col l12 m8 s4 top no-wrap no-gutters input-container">
          <img class="icon-drag" cdkDragHandle src="./assets/vectors/draggable.svg"/>
          <mat-form-field
            appearance="outline"
            class="mat-form-field-min"
          >
            <input
              id="alternative-names-input"
              matInput
              formControlName="publishedName"
              placeholder="Add family names"
            />
            <mat-hint class="mat-caption">
              <ng-container>Source:</ng-container>
              {{ getSourceName(names)}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col no-wrap actions-wrapper no-gutters visibility">
          <app-privacy-selector
            formControlName="visibility"
          ></app-privacy-selector>
          <button (click)="deleteOtherName('caca')" mat-icon-button>
            <mat-icon class="material-icons-outlined large-material-icon"
            >delete
            </mat-icon
            >
          </button>
        </div>
      </div>
    </div>
    <!--        mobile version -->
    <!--          <div class="col no-wrap actions-wrapper no-gutters visibility">-->
    <!--            <app-privacy-selector-->
    <!--              formControlName="visibility"-->
    <!--            ></app-privacy-selector>-->
    <!--            <div class="delete">-->
    <!--              <button (click)="deleteOtherName(otherNames.putCode)" mat-icon-button>-->
    <!--                <mat-icon-->
    <!--                  class="material-icons-outlined large-material-icon">delete-->
    <!--                </mat-icon>-->
    <!--              </button>-->
    <!--            </div>-->
    <!--          </div>-->
    <div class="row">
      <a class="col add-more no-gutters" (click)="addOtherName()">
        <mat-icon class="large-material-icon">add_circle</mat-icon>
        <span class="mat-body-1">
          Add another name
        </span>
      </a>
    </div>
  </form>
</app-modal>
