.margin-botton:host {
  margin-bottom: 12px;
}
:host {
  display: flex;
  flex-direction: row;
  h5 {
    margin: 0;
    flex-shrink: 0;
    margin-right: 5px;
    display: flex;
  }
  h5 .prefixTitle {
    margin-right: 4px;
    font-style: italic;
  }
  .title-margin {
    width: 120px;
  }

  margin: 0;
  p {
    margin: 0;
    word-break: break-all;
    margin-right: 12px;
  }
}

.tabletOrHandset {
  :host.primary-text {
    flex-direction: column;
  }
}

body[dir] :host {
  p {
    margin-right: 0px;
    margin-left: 12px;
  }
  h5 {
    margin-right: 0px;
    margin-left: 5px;
  }

  h5 .prefixTitle {
    margin-left: 4px;
    margin-right: 0px;
  }
}
