<app-settings-panels-data>
  <p i18n="@@account.ifYouHaveTwoorMore" class="mb-0 leading-5.25">
    If you have two or more ORCID records you can easily remove any unwanted
    duplicates.
  </p>
  <p class="mb-4!">
    <a
      id="cy-learn-more-about-removing-duplicated"
      class="underline leading-5.25"
      href="https://support.orcid.org/hc/en-us/articles/360006896634-Removing-your-additional-or-duplicate-ORCID-iD"
      rel="noopener noreferrer"
      target="_blank"
      i18n="@@account.learnMoreAboutRemovingDuplicates"
      >Learn more about removing duplicate records</a
    >
  </p>

  <app-alert-message class="row mb-8">
    <h3 title i18n>What happens when you remove a duplicate ORCID account?</h3>

    <ul content i18n>
      <li class="list-disc">
        The email addresses are transferred from the duplicate account to
        <strong>{{ orcid }}</strong>
      </li>
      <li class="list-disc">
        All information on the duplicate account is permanently deleted
      </li>
    </ul>
  </app-alert-message>
  @if (authenticated) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="data.deprecatingAccountName">
      <strong
        >{{ data.deprecatingAccountName }}
        <a
          id="cy-deprecating-orcid"
          class="underline"
          routerLink="/"
          +
          data.deprecatingOrcid
          rel="noopener noreferrer"
          target="_blank"
          >({{ data.deprecatingOrcid }})</a
        ></strong
      >
    </ng-container>
    <ng-container *ngIf="!data.deprecatingAccountName">
      <strong
        ><ng-container i18n="@@account.nameIsPri">Name is private</ng-container>
        <a
          id="cy-deprecating-orcid"
          class="underline"
          routerLink="/"
          +
          data.deprecatingOrcid
          rel="noopener noreferrer"
          target="_blank"
          >{{ data.deprecatingOrcid }}</a
        ></strong
      >
    </ng-container>
    <div *ngFor="let email of data.deprecatingEmails">{{ email }}</div>

    <h2 class="keep">
      <strong class="orc-font-body-large" i18n="@@account.keepThisRecord"
        >Keep this record</strong
      >
    </h2>

    <ng-container *ngIf="data.primaryAccountName">
      <strong
        >{{ data.primaryAccountName }}
        <a
          id="cy-primary-orcid"
          class="underline"
          routerLink="/"
          +
          data.primaryOrcid
          rel="noopener noreferrer"
          target="_blank"
          >({{ data.primaryOrcid }})</a
        ></strong
      >
    </ng-container>
    <ng-container *ngIf="!data.primaryAccountName">
      <strong>
        <a
          id="cy-primary-orcid"
          class="underline"
          routerLink="/"
          +
          data.primaryOrcid
          rel="noopener noreferrer"
          target="_blank"
          >{{ data.primaryOrcid }}</a
        ></strong
      >
    </ng-container>
    <div *ngFor="let email of data.primaryEmails">{{ email }}</div>

    <button
      mat-raised-button
      color="warn"
      (click)="onSubmit()"
      i18n="@@account.removeDuplicatedRecord"
      id="cy-remove-duplicate-record"
    >
      Remove duplicate record
    </button>
  </form>
  } @else {
  <form [formGroup]="form" (ngSubmit)="submitVerify()">
    <h3 i18n class="mt-0 mb-2">Which account do you want to remove?</h3>
    <p i18n class="mb-8!">
      You will need to verify your sign in details for the duplicate account
      before it can be removed.
    </p>

    <label
      class="row mat-caption"
      [ngClass]="{
        error:
          form.controls.deprecatingOrcidOrEmail?.invalid &&
          form.controls.deprecatingOrcidOrEmail?.touched
      }"
    >
      <strong i18n>Duplicate account email address or ORCID iD </strong>
    </label>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container"
    >
      <input
        formControlName="deprecatingOrcidOrEmail"
        type="text"
        matInput
        autocomplete="email"
        [errorStateMatcher]="errorMatcher"
        id="cy-duplicate-rercod-email"
      />
    </mat-form-field>

    <label
      class="row mat-caption"
      [ngClass]="{
        error:
          form.controls.password?.invalid && form.controls.password?.touched
      }"
    >
      <strong i18n>Duplicate account password </strong>
    </label>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container mb-8"
    >
      <input
        formControlName="password"
        type="password"
        matInput
        autocomplete="password"
        [errorStateMatcher]="errorMatcher"
        id="cy-duplicate-rercod-email"
      />
    </mat-form-field>

    <mat-error *ngFor="let error of errors">{{ error }}</mat-error>

    <div class="button-container">
      <button
        mat-raised-button
        i18n
        type="submit"
        [disabled]="form.invalid"
        class="cy-remove-duplicated-record"
      >
        Verify duplicate account details
      </button>
    </div>
  </form>
  }
</app-settings-panels-data>
