ul {
  padding-inline-start: 8px;
  li {
    list-style-type: none;
  }
}
.button-container {
  display: flex;
  align-items: row;
  margin-top: 16px;
}

:host {
  width: 100%;
}
.info {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }
}
mat-form-field {
  max-width: 400px;
  width: 100%;
  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
}

.italic {
  font-style: italic;
}

.margin-bottom-16 {
  margin-bottom: 32px;
}

.form-title {
  padding-bottom: 16px;
}

form > p:first-child {
  margin-top: 0;
}

mat-caption {
  margin-bottom: 4px;
}
