<main id="main">
  <div class="container">
    <div class="row space-around">
      <div class="col l6 m8 s4" [ngClass]="{ 'no-gutters': platform.columns4 }">

        <!-- DESKTOP PRESENTATION -->
        <mat-horizontal-stepper
          [linear]="isLinear"
          #stepper
          labelPosition="bottom"
          class="orcid-stepper-wizard"
          (selectionChange)="selectionChange($event)"
        >
          <!-- <mat-step [stepControl]="FormGroupStepA">
            <ng-template matStepLabel i18n="@@register.personalData"
              >Personal data</ng-template
            >
            <app-step-a
              [(formGroup)]="FormGroupStepA"
              [reactivation]="reactivation"
              #stepComponentA
            ></app-step-a>
          </mat-step> -->
          <mat-step [stepControl]="FormGroupStepBPassword">
            <ng-template matStepLabel i18n="@@register.securityAndNotifications"
              >Security and notifications</ng-template
            >
            <app-step-b
              #stepComponentB
              [(formGroup)]="FormGroupStepBPassword"
              [personalData]="personalData"
              [reactivation]="reactivation"
            ></app-step-b>
          </mat-step>
          <mat-step [stepControl]="FormGroupStepC" #lastStep>
            <ng-template matStepLabel i18n="@@register.visibilityAndTerm"
              >Visibility and terms</ng-template
            >
            <app-step-c
              #stepComponentC
              [(formGroup)]="FormGroupStepC"
              (submit)="register()"
              [loading]="loading"
              [reactivation]="reactivation"
            ></app-step-c>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</main>
