<main id="main">
  <div class="container">
    <div class="row space-around">
      <div class="col l7 m8 s4" [ngClass]="{ 'no-gutters': platform.columns4 }">
        <mat-horizontal-stepper
          [linear]="isLinear"
          #stepper
          labelPosition="bottom"
          class="orcid-stepper-wizard"
        >
          <mat-step [stepControl]="FormGroupStepA">
            <ng-template matStepLabel i18n="@@register.personalData"
              >Personal data</ng-template
            >
            <app-step-a
              [(formGroup)]="FormGroupStepA"
              [reactivation]="reactivation"
              #stepComponentA
            ></app-step-a>
          </mat-step>
          <mat-step [stepControl]="FormGroupStepB">
            <ng-template matStepLabel i18n="@@register.securityAndNotifications"
              >Security and notifications</ng-template
            >
            <app-step-b
              #stepComponentB
              [(formGroup)]="FormGroupStepB"
              [personalData]="personalData"
              [reactivation]="reactivation"
            ></app-step-b>
          </mat-step>FormGroupStepD
          <mat-step [stepControl]="FormGroupStepC">
            <ng-template matStepLabel i18n="@@register.visibilityAndTerm"
              >Visibility and terms</ng-template
            >
            <app-step-ct
              #stepComponentC
              [(formGroup)]="FormGroupStepC"
              (submit)="register()"
              [loading]="loading"
              [reactivation]="reactivation"
            ></app-step-ct>
          </mat-step>
          <mat-step [stepControl]="FormGroupStepD" #lastStep>
            <ng-template matStepLabel i18n="@@register.visibilityAndTerm"
              >Visibility and terms</ng-template
            >
            <app-step-d
              #stepComponentC
              [(formGroup)]="FormGroupStepD"
              (submit)="register()"
              [loading]="loading"
              [reactivation]="reactivation"
            ></app-step-d>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</main>
