<!-- The following line is a temporall sorting test button -->
<div (click)="testSorting()">Temp test sort</div>

<mat-expansion-panel
  *ngIf="profileAffiliationsGroup.affiliationGroup.length"
  (opened)="panelState = true"
  (closed)="panelState = false"
  [expanded]="panelState"
>
  <mat-expansion-panel-header class="mat-expansion-header">
    <h2 class="mat-subheading-2">
      <!--
        The translation of the header of each card is handle with a separate template #translatedHeader
      -->
      <ng-container
        [ngTemplateOutlet]="translatedHeader"
        [ngTemplateOutletContext]="{
          profileAffiliationsGroup: profileAffiliationsGroup
        }"
      >
      </ng-container>
    </h2>
    <h2 class="mat-subheading-2 itemsAmount">
      ({{ profileAffiliationsGroup.affiliationGroup.length }})
    </h2>
  </mat-expansion-panel-header>

  <div
    [@childListAnimation]="
      profileAffiliationsGroup.affiliationGroup[0].groupId +
      profileAffiliationsGroup.affiliationGroup.length
    "
  >
    <app-profile-activities-affiliation
      *ngFor="
        let affiliation of profileAffiliationsGroup.affiliationGroup;
        trackBy: trackByAffiliationGroup
      "
      [affiliation]="affiliation"
      [id]="id"
    ></app-profile-activities-affiliation>
  </div>
</mat-expansion-panel>

<!--
  I18N translation labels
  TODO: Explain the use of these labels
  _______________________________________________________________________________________________
-->

<ng-template
  #translatedHeader
  let-profileAffiliationsGroup="profileAffiliationsGroup"
>
  <ng-container
    *ngIf="profileAffiliationsGroup.type == affiliationUIGroupsTypes.EMPLOYMENT"
    i18n="@@org.orcid.jaxb.model.message.AffiliationType.employment"
  >
    Employment</ng-container
  >
  <ng-container
    *ngIf="
      profileAffiliationsGroup.type ==
      affiliationUIGroupsTypes.EDUCATION_AND_QUALIFICATION
    "
    i18n="@@org.orcid.jaxb.model.message.AffiliationType.education_qualification"
  >
    Education and qualifications</ng-container
  >
  <ng-container
    *ngIf="
      profileAffiliationsGroup.type ==
      affiliationUIGroupsTypes.INVITED_POSITION_AND_DISTINCTION
    "
    i18n="@@org.orcid.jaxb.model.message.AffiliationType.distinction_invited_position"
  >
    Invited positions and distinctions</ng-container
  >
  <ng-container
    *ngIf="
      profileAffiliationsGroup.type ==
      affiliationUIGroupsTypes.MEMBERSHIP_AND_SERVICE
    "
    i18n="@@org.orcid.jaxb.model.message.AffiliationType.membership_service"
  >
    Membership and service</ng-container
  >
</ng-template>
