<div class="externalIds">
  <app-panel-data-line
    *ngIf="workIdentifier?.externalIdentifierType"
    [title]="typeLabel"
    [content]="workIdentifier.externalIdentifierType"
  ></app-panel-data-line>

  <app-panel-data-line
    *ngIf="workIdentifier?.externalIdentifierId"
    [title]="valueLabel"
    [content]="workIdentifier.externalIdentifierId"
  >
  </app-panel-data-line>

  <app-panel-data-line
    *ngIf="workIdentifier?.externalIdentifierUrl"
    [title]="urlLabel"
    [content]="workIdentifier.externalIdentifierUrl"
    [url]="workIdentifier.externalIdentifierUrl"
  >
  </app-panel-data-line>

  <app-panel-data-line
    *ngIf="workIdentifier?.externalRelationship"
    [title]="relationshipLabel"
    [content]="workIdentifier.externalRelationship"
  >
  </app-panel-data-line>
</div>
<div class="controls">
  <a (click)="edit.emit()" i18n="@@shared.edit">Edit</a>
  <a (click)="delete.emit()" i18n="@@shared.delete">Delete</a>
</div>
