<app-settings-panels-data>
  <p i18n="@@account.OrcidCollectsLimited">
    ORCID collects limited data about you when you register for an ORCID iD,
    including your first name and your email address. You can also choose to add
    other data to your ORCID record, such as your last name, affiliations,
    title, education, grants, patents and publications.
  </p>
  <p i18n="@@account.youCanEasilyDownload">
    You can easily download an XML file of all your personal data in the ORCID
    registry. This file is unique to you and only you have access to it.
  </p>

  <a
    href="https://support.orcid.org/hc/en-us/articles/360006897634-Download-all-your-data"
    target="_blank"
    rel="noopener noreferrer"
    i18n="@@account.learnMoreAbout"
    id="learnMoreAboutDownloading"
    class="underline"
  >
    Learn more about downloading your personal ORCID data</a
  >

  <div class="button-container">
    <button
      (click)="createDownload()"
      mat-raised-button
      color="primary"
      i18n="@@account.downloadAllMyData"
      id="download"
    >
      Download all my data
    </button>
  </div>
</app-settings-panels-data>
