@import '../header-action-button';

:host {
  > button.orcid-button-light-grey {
    padding: 0 7px 0 12px;
    p {
      margin: 0;
      margin-right: 7px;
    }
    mat-icon {
      height: auto;
      width: auto;
    }
  }

  > button.header-action-button {
    @include header-action-button;

    height: 40px;
    line-height: 40px;
  }
}
