<mat-form-field class="orcid-language-select" appearance="fill">
  <mat-select
    id="cy-language-menu"
    [value]="locale"
    [attr.aria-label]="labelLanguage"
    (selectionChange)="changeLanguage($event.value)"
    panelClass="orcid-language-select-panel"
  >
    <mat-select-trigger>
      <span class="orcid-language-select__value">{{
        languageMenuOptions[locale]
      }}</span>
    </mat-select-trigger>

    <mat-option
      *ngFor="let language of languageMenuOptions | keyvalue"
      [value]="language.key"
      [attr.aria-label]="language.value"
    >
      {{ language.value }}
    </mat-option>
  </mat-select>
</mat-form-field>
