<button
  mat-button
  [matMenuTriggerFor]="languageMenu"
  [attr.aria-label]="labelLanguage"
  class="orcid-button-light-grey"
>
  <div class="row middle space-between button-box no-wrap">
    <p class="col no-gutters">{{ languageMenuOptions[locale] }}</p>
    <mat-icon>expand_more</mat-icon>
  </div>
</button>

<mat-menu
  #languageMenu="matMenu"
  id="cy-language-menu"
  [attr.aria-label]="labelLanguage"
>
  <div
    *ngFor="let language of languageMenuOptions | keyvalue"
    (click)="changeLanguage(language.key)"
    mat-menu-item
    [ngClass]="{ 'orcid-mat-menu-item-active': language.key === locale }"
    class="orcid-menu-item-small"
  >
    <button
      mat-menu-item
      [ngClass]="{ 'orcid-mat-menu-item-active': language.key === locale }"
      class="orcid-menu-item-small"
      [attr.aria-label]="language.value"
    >
      <div class="row middle space-between">
        {{ language.value }}
        <mat-icon *ngIf="language.key === locale">check</mat-icon>
      </div>
    </button>
  </div>
</mat-menu>
