<app-info-drop-down
  [name]="notification?.source.sourceName.content"
  [description]="notification?.sourceDescription"
></app-info-drop-down>

<!--  https://github.com/ORCID/ORCID-Source/blob/a9868bbc959b151d7c761936b610936faf1b2d84/orcid-web/src/main/resources/freemarker/includes/ng2_templates/notification-body-ng2-template.ftl#L81 -->

<div class="mat-subtitle-2">
  <ng-container i18n="@@inbox.updateThe">has updated the</ng-container>
  <span>{{ getNotificationSectionUpdatedLabel(notification) }}</span>
  <ng-container i18n="@@inbox.sectionOf">section of your record:</ng-container>
</div>

@if (isProfessionalActivity(notification)) {
  <div>
    <strong>{{ getProfessionalActivitiesUpdatedLabel(notification) }}</strong>
  </div>
}
@for (i of itemGroupedByType; track i) {
  <div>
    <strong>{{ getAmendedTypeLabel(i.type) }}</strong>
    @if (item) {
      <div class="item orc-font-body-small">
        @for (item of i.items; track item) {
          <ng-container>-</ng-container>
          @if (
            item.additionalInfo && item.additionalInfo['org_name'] != undefined
          ) {
            <i>{{ item.additionalInfo['org_name'] }} </i>
          }
          @if (item.itemName != null) {
            {{ item.itemName }}
          }
          @if (item.additionalInfo) {
            @if (
              item.itemName == null &&
              item.additionalInfo['group_name'] != undefined
            ) {
              {{ item.additionalInfo['group_name'] }}
            }
            @if (item.additionalInfo['external_identifiers'] != undefined) {
              <ul>
                @for (
                  otherId of item.additionalInfo['external_identifiers'][
                    'externalIdentifier'
                  ];
                  track otherId
                ) {
                  <li>{{ otherId.type }}: {{ otherId.value }}</li>
                }
              </ul>
            }
          }
        }
      </div>
    }
  </div>
}
