<app-notification-header [notification]="notification"></app-notification-header>

<h3>
  {{ getNotificationSectionUpdatedLabel(notification) }}
</h3>

<strong>{{ getAmendedTypeLabel(item) }}</strong>

<div class="item" *ngIf="item">
  <ng-container>-</ng-container>

  <ng-container
    *ngIf="item.additionalInfo && item.additionalInfo['org_name'] != undefined"
  >
    <i>{{ item.additionalInfo['org_name'] }} </i>
  </ng-container>

  <ng-container *ngIf="item.itemName != null">{{ item.itemName }}</ng-container>

  <ng-container *ngIf="item.additionalInfo">
    <ng-container
      *ngIf="
        item.itemName == null && item.additionalInfo['group_name'] != undefined
      "
      >{{ item.additionalInfo['group_name'] }}</ng-container
    >
    <div *ngIf="item.additionalInfo['external_identifiers'] != undefined">
      <ul
        *ngFor="
          let otherId of item.additionalInfo['external_identifiers'][
            'externalIdentifier'
          ]
        "
      >
        <li>{{ otherId.type }}: {{ otherId.value }}</li>
      </ul>
    </div>
  </ng-container>
</div>
<app-notification-footer></app-notification-footer>
