<h2 class="orc-font-body-large col" i18n="@@account.security">Security</h2>

<app-settings-panels
  [(expandedContent)]="settingSecurityPasswordOpen"
  class="row"
  id="cy-password-panel"
  [title]="titleAccountPassword"
  [(expandedContent)]="settingSecurityPasswordOpen"
  [loading]="settingSecurityPasswordLoading"
>
  <app-settings-security-password
    [twoFactorState]="twoFactorState"
    *ngIf="settingSecurityPasswordOpen"
    (loading)="settingSecurityPasswordLoading = $event"
  >
  </app-settings-security-password>
</app-settings-panels>

<app-settings-panels
  [(expandedContent)]="settingSecurityTwoFactor"
  class="row"
  id="cy-2FA-panel"
  [title]="titleTwoFactor"
  [type]="{ value: 'two-factor', enabled: twoFactorState }"
  [loading]="settingSecurityTwoFactorLoading"
>
  <app-settings-security-two-factor-auth
    [twoFactorState]="twoFactorState"
    (twoFactorStateOutput)="twoFactorStateChanges($event)"
    (loading)="settingSecurityTwoFactorLoading = $event"
  >
  </app-settings-security-two-factor-auth>
</app-settings-panels>

<app-settings-panels
  [(expandedContent)]="settingSecurityAlternateAccounts"
  class="row"
  id="cy-alternate-signin-panel"
  [title]="titleAlternativeSignin"
  [loading]="settingSecurityAlternateAccountsLoading"
>
  <app-settings-security-alternate-sign-in
    (loading)="settingSecurityAlternateAccountsLoading = $event"
    *ngIf="settingSecurityAlternateAccounts"
  ></app-settings-security-alternate-sign-in>
</app-settings-panels>
