<div class="col s4 m8 l12">
  <div
    class="header-container"
    [ngClass]="{
      'sub-peer-review': type === 'sub-peer-review'
    }"
  >
    <div class="inline-initial-side">
      <button
        mat-icon-button
        (click)="collapse()"
        id="expand-content-button"
      >
        <mat-icon
          class="large-material-icon"
          *ngIf="expandedContent"
          >keyboard_arrow_down
        </mat-icon>
        <mat-icon class="large-material-icon" *ngIf="!expandedContent"
          >keyboard_arrow_up
        </mat-icon>
      </button>

      <div class="text-container">
        {{ title }}
        <ng-container *ngIf="type === 'activities'">
          <ng-container *ngIf="currentAmount"
            >({{ currentAmount }} of {{ total }})</ng-container
          >
          <ng-container *ngIf="!currentAmount">(0)</ng-container>
        </ng-container>
        <ng-container *ngIf="type === 'peer-review' || 'research-resources'">
          ({{ total }})
        </ng-container>
      </div>
    </div>

    <div class="controls" *ngIf="type !== 'sub-peer-review'">
      <button
        *ngIf="type !== 'research-resources'"
        mat-icon-button
      >
        <mat-icon
          (click)="add()"
          class="large-material-icon"
          id="add-button"
        >
          add_circle
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon
          (click)="sort()"
          class="large-material-icon"
          id="sort-button"
        >
          sort
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="col s4 m8 l12 content" *ngIf="expandedContent">
  <ng-content></ng-content>
</div>
