:host {
  margin-bottom: 30px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 4px;
  .text-container,
  .inline-initial-side {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      margin-left: 3px;
    }
    button {
      margin-inline-end: 4px;
    }
  }
  .controls {
    display: flex;
    button {
      margin-inline-end: 20px;
      font-weight: normal;
    }
  }
}

.header-container,
.sub-peer-review {
  border: solid 1px;
}
