@use '@angular/material' as mat;
@import '../../../../assets/scss/material.palettes';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin stack-container-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  :host {
    .header-container {
      background-color: mat.m2-get-color-from-palette($accent, 900);
      color: mat.m2-get-contrast-color-from-palette($accent, 900);
    }

    .featured-works-star {
      color: mat.m2-get-color-from-palette(
        $foreground,
        text-light-high
      ) !important;
    }

    .featured-works-header-container {
      background-color: mat.m2-get-color-from-palette(
        $background,
        brand-citrus-lemon
      ) !important;
      color: mat.m2-get-color-from-palette(
        $foreground,
        text-dark-high
      ) !important;
      border-color: transparent !important;
    }

    .white-header-container {
      border-color: mat.m2-get-color-from-palette(
        $background,
        ui-background
      ) !important;
      background-color: mat.m2-get-color-from-palette(
        $background,
        ui-background-lightest
      );
    }

    .sub-peer-review {
      border-color: mat.m2-get-color-from-palette(
        $background,
        ui-background
      ) !important;
      background-color: mat.m2-get-color-from-palette(
        $background,
        ui-background
      ) !important;
      color: $orcid-dark-primary-text;
    }
  }

  ::ng-deep .works-add-menu-panel .mat-mdc-menu-item {
    background-color: mat.m2-get-color-from-palette(
      $background,
      ui-background-lightest
    );
    color: mat.m2-get-color-from-palette($foreground, text-dark-high);
  }

  ::ng-deep .works-add-menu-panel .mat-mdc-menu-item:hover,
  ::ng-deep .works-add-menu-panel .mat-mdc-menu-item.cdk-keyboard-focused,
  ::ng-deep .works-add-menu-panel .mat-mdc-menu-item.cdk-mouse-focused {
    background-color: mat.m2-get-color-from-palette($background, ui-background);
    color: mat.m2-get-color-from-palette($foreground, text-dark-high);

    .works-add-menu-title,
    .works-add-menu-description {
      color: mat.m2-get-color-from-palette($foreground, text-dark-high);
    }

    .works-add-menu-title {
      font-weight: 700;
    }
  }

  ::ng-deep .works-add-menu-panel {
    border: 1px solid var(--orcid-ui-background, #bdbdbd);
  }
}

@include stack-container-header-theme($orcid-app-theme);
