:host {
  margin-bottom: 30px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 4px;
  .text-container,
  .inline-initial-side {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      margin-left: 3px;
    }
    button {
      margin-inline-end: 4px;
    }
  }
  .controls {
    display: flex;

    button {
      font-weight: normal;
      padding: 0 6px;

      mat-icon {
        margin-right: 8px;
        margin-bottom: 2px;
      }
    }

    .add {
      margin-right: 32px;
    }
  }
}

.header-container,
.sub-peer-review {
  border: solid 1px;
}

.sort {
  position: absolute;
  bottom: 12px;
  right: 0;
}
