@use '@angular/material' as mat;
@import '../../../../assets/scss/material.palettes';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin stack-container-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  :host {
    .header-container {
      background-color: mat.m2-get-color-from-palette($accent, 900);
      color: mat.m2-get-contrast-color-from-palette($accent, 900);
    }

    .featured-works-star {
      color: mat.m2-get-color-from-palette(
        $foreground,
        text-light-high
      ) !important;
    }

    .featured-works-header-container {
      background-color: mat.m2-get-color-from-palette(
        $background,
        brand-citrus-lemon
      ) !important;
      color: mat.m2-get-color-from-palette(
        $foreground,
        text-dark-high
      ) !important;
      border-color: transparent !important;
    }

    .white-header-container {
      border-color: mat.m2-get-color-from-palette(
        $background,
        ui-background
      ) !important;
      background-color: mat.m2-get-color-from-palette(
        $background,
        ui-background-lightest
      );
    }

    .sub-peer-review {
      border-color: mat.m2-get-color-from-palette(
        $background,
        ui-background
      ) !important;
      background-color: mat.m2-get-color-from-palette(
        $background,
        ui-background
      ) !important;
      color: $orcid-dark-primary-text;
    }
  }
}

@include stack-container-header-theme($orcid-app-theme);
