<div class="col s4 m8 l12 no-gutters">
  <div
    class="header-container"
    [ngClass]="{
      'sub-peer-review': type === 'sub-peer-review'
    }"
    *ngIf="
      IS_QA ||
      type !== 'peer-review' ||
      (type === 'peer-review' && currentAmount > 0)
    "
  >
    <div class="inline-initial-side">
      <app-panel-expand-buttons
        (toggle)="collapse()"
        [openState]="expandedContent"
        [panelType]="this.type"
      ></app-panel-expand-buttons>

      <div class="text-container">
        <div class="clickable" (click)="collapse()">
          <h3 class="activity-header orc-font-body-large">
            <strong> {{ title }} </strong>
            <span
              *ngIf="currentAmount && total && currentAmount !== total"
              class="clickable"
              (click)="collapse()"
              >({{ currentAmount }}
              <ng-container i18n="@@shared.of">of</ng-container>
              {{ total }})</span
            >
            <span
              *ngIf="
                (currentAmount && !total) ||
                (currentAmount !== 0 && currentAmount === total)
              "
              class="clickable"
              (click)="collapse()"
            >
              ({{ currentAmount }})
            </span>
            <span
              *ngIf="
                (!currentAmount && total == 0) || (!currentAmount && !total)
              "
              >(0)</span
            >
            <span *ngIf="!currentAmount && currentAmount !== 0"></span>
          </h3>
        </div>
        <ng-container> </ng-container>
      </div>
    </div>

    <div class="controls" *ngIf="type !== 'sub-peer-review'">
      <button
        *ngIf="!isPublicRecord && singleAddButton()"
        mat-button
        class="orc-font-body-small add"
        [attr.aria-label]="labelAddButton"
        (click)="add(type)"
        [attr.aria-label]="type | appPanelsAddAriaLabel"
        id="{{ 'cy-add-btn-' + type }}"
      >
        <mat-icon class="large-material-icon" id="add-button">
          add_circle_outline
        </mat-icon>
        <ng-container i18n="@@shared.add"> Add </ng-container>
      </button>
      <button
        *ngIf="
          !isPublicRecord &&
          multipleMatButton() &&
          (IS_QA || (!IS_QA && type !== 'peer-review'))
        "
        mat-button
        class="orc-font-body-small add"
        [attr.aria-label]="type | appPanelsAddAriaLabel"
        [matMenuTriggerFor]="menuAdd"
        id="{{ 'cy-menu-add-' + type }}"
      >
        <mat-icon class="large-material-icon add-button-multiple">
          add_circle_outline
        </mat-icon>
        <ng-container i18n="@@shared.add"> Add </ng-container>
      </button>
      <mat-menu #menuAdd="matMenu">
        <ng-container *ngIf="type === 'education' || type === 'qualification'">
          <button mat-menu-item (click)="add('education')">
            <ng-container i18n="@@shared.addEducation"
              >Add Education</ng-container
            >
          </button>
          <button mat-menu-item (click)="add('qualification')">
            <ng-container i18n="@@shared.addQualification"
              >Add Qualification</ng-container
            >
          </button>
        </ng-container>
        <ng-container
          *ngIf="type === 'invited-position' || type === 'distinction'"
        >
          <button mat-menu-item (click)="add('invited-position')">
            <ng-container i18n="@@shared.addInvited"
              >Add Invited Position</ng-container
            >
          </button>
          <button mat-menu-item (click)="add('distinction')">
            <ng-container i18n="@@shared.addDistinction"
              >Add Distinction</ng-container
            >
          </button>
        </ng-container>
        <ng-container *ngIf="type === 'membership' || type === 'service'">
          <button mat-menu-item (click)="add('membership')">
            <ng-container i18n="@@shared.addMembership"
              >Add Membership</ng-container
            >
          </button>
          <button mat-menu-item (click)="add('service')">
            <ng-container i18n="@@shared.addService">Add Service</ng-container>
          </button>
        </ng-container>
        <ng-container *ngIf="type === 'funding'">
          <button mat-menu-item (click)="add('funding-search')">
            <ng-container i18n="@@shared.searchLink"
              >Search & link</ng-container
            >
          </button>
          <button mat-menu-item (click)="add('funding')">
            <ng-container i18n="@@shared.addManually"
              >Add manually</ng-container
            >
          </button>
        </ng-container>
        <ng-container *ngIf="type === 'works'">
          <button
            mat-menu-item
            *ngFor="let option of addMenuOptions"
            (click)="add('works', option.action)"
            id="{{ option.id }}"
          >
            {{ option.label }}
          </button>
        </ng-container>
        <ng-container *ngIf="type === 'peer-review'">
          <button mat-menu-item (click)="add(type)">
            <ng-container i18n="@@shared.searchLink"
              >Search & link</ng-container
            >
          </button>
        </ng-container>
      </mat-menu>
      <button
        mat-button
        class="orc-font-body-small"
        [attr.aria-label]="
          type | appPanelsSortAriaLabel : !currentAmount && !total
        "
        [matMenuTriggerFor]="menu"
        [disabled]="!currentAmount && !total"
      >
        <mat-icon class="large-material-icon"> sort </mat-icon>
        <ng-container i18n="@@shared.sort"> Sort </ng-container>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="sortChange(option)"
          *ngFor="let option of sortTypes"
        >
          {{ option | sortLabel }}
          <mat-icon
            aria-hidden="false"
            class="sort"
            *ngIf="option === sortType && sortDirection === 'asc'"
            [attr.aria-label]="ariaLabelAscending"
          >
            north
          </mat-icon>
          <mat-icon
            aria-hidden="false"
            class="sort"
            *ngIf="option === sortType && sortDirection === 'desc'"
            [attr.aria-label]="ariaLabelDescending"
          >
            south
          </mat-icon>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="loading"
></mat-progress-bar>
<div class="col s4 m8 l12 content no-gutters" *ngIf="expandedContent">
  <ng-content></ng-content>
</div>
