<div class="col s4 m8 l12">
  <div class="header-container">
    <div class="inline-intial-side">
      <button mat-icon-button (click)="collapse()">
        <mat-icon class="large-material-icon" *ngIf="expandedContent"
          >keyboard_arrow_down
        </mat-icon>
        <mat-icon class="large-material-icon" *ngIf="!expandedContent"
          >keyboard_arrow_up
        </mat-icon>
      </button>

      <div class="text-container">
        {{ title }}
        <ng-container *ngIf="currentAmount"
          >({{ currentAmount }} of {{ total }})</ng-container
        >
        <ng-container *ngIf="!currentAmount">(0)</ng-container>
      </div>
    </div>

    <div class="controls">
      <button mat-icon-button a>
        <mat-icon (click)="add()" class="large-material-icon"
          >add_circle</mat-icon
        >
      </button>
      <button mat-icon-button a>
        <mat-icon (click)="sort()" class="large-material-icon">sort</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="col s4 m8 l12 content" *ngIf="expandedContent">
  <ng-content></ng-content>
</div>
