:host {
  width: 100%;
}

hr {
  margin-bottom: 16px;
}

label {
  margin: 6px 0 3px 0;
}

:host {
  ::ng-deep .columns-4-or-8 .mat-mdc-form-field {
    width: 100%;
    margin-inline-end: auto;
  }
}
.required {
  margin-left: 3px;
}

.required-information {
  margin-left: auto !important;
  margin-top: 10px !important;

  span {
    margin-right: 3px !important;
  }
}

.input-container,
.date-group {
  margin: 0;
}

.actions-wrapper {
  flex-wrap: nowrap;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-option {
  min-height: 64px;
  line-height: 32px;
  height: auto;
  margin-bottom: 8px;
  white-space: normal;
  line-height: 1.4;

  .title {
    display: flex;
    width: 100%;
    font-weight: 500;
  }
}

.title {
  p {
    margin: 6px 0;
  }
}

.mat-mdc-form-field {
  padding: 0 !important;
}

.input-box {
  flex-grow: 1;
  max-width: 402px;
  input {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    border-width: 1px;
    border-style: solid;
    padding: 0 12px;
  }
}

.visibility {
  margin-top: 60px;
}

.delete {
  margin-left: auto;
}

.other-names-wrapper {
  margin: 20px 0 30px 0;
}

.side-bar {
  text-decoration: underline;
}

.input-container {
  max-width: 402px;
}

:host {
  .date-group {
    padding-bottom: 1.475em;
    .date {
      padding-left: 0;
    }
  }
}

button,
.clear {
  z-index: 1;
}

label.mat-caption {
  margin-bottom: 8px;
}
