@import '../../../../assets/scss/material.palettes';
@import '~@angular/material/theming';

$config: mat-typography-config();
@mixin card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  app-card {
    border-color: map-get($foreground, divider);
    .title-container {
      color: $dark-primary-text;
    }
    .general-data,
    .type,
    .card-footer {
      color: $dark-secondary-text;
    }
  }
}

@mixin card-typography($config) {
}
