@import 'src/assets/scss/orcid.spacing.scss';

:host {
  width: 100%;
}

.mat-headline-5 {
  margin-bottom: $spacing-large;
}
main#main {
  flex-direction: column;
  margin-bottom: $spacing-large;
  padding-top: 48px;
  padding-inline-start: 16px;
  overflow: hidden;
}

app-side-bar {
  padding-bottom: 12px !important;
}
