:host {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
}

main.stand-alone-mode {
  height: fit-content;
  min-height: 400px;
  margin-top: 32px;
  border: 2px solid;
}

main.inside-iframe {
  margin-top: 0;
  align-content: start;
  grid-gap: 0;
  box-sizing: border-box;

  .panel-body {
    padding-top: 16px;
    overflow-y: auto;
  }
}

.panel {
  display: grid;
  grid-gap: 16px;
  border-radius: 8px 8px 0px 0px;
}

.panel-header {
  height: 46px;
  border-bottom: 2px solid;
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: row;

  label.caption {
    text-align: initial;
    display: inline;
    line-height: 1;
  }

  img {
    padding-inline-end: 10px;
  }

  .header-name {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      line-height: 1;
      word-break: break-word;
    }
  }
}

.column {
  padding-left: 20px;
  padding-right: 20px;
}

.panel-body {
  grid-column: 1 / -1;
  display: grid;
  padding-bottom: 16px;
}

.panel-body-3-cols {
  // 3 columns with a max with of 320px each
  grid-template-columns: repeat(3, minmax(auto, 433px));
}

.panel-body-2-cols {
  grid-template-columns: 1fr 1fr;
}

.panel-body-1-cols {
  grid-template-columns: 340px;
}

.column-border {
  border-right: 2px solid;
}

h3 {
  font-weight: 600;
  letter-spacing: 2px;
}

main.loading {
  display: flex;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 352px;
  width: 1304px;
  overflow: hidden;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

main.panel.mobile {
  max-width: 340px;
}

.date-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  caption,
  label {
    display: block;
  }
}

.date-item.last-date {
  padding-bottom: 0;
}

ul {
  list-style-type: none;

  margin: 0;
  margin: 0;
  padding-inline-start: 29px;
}

ul li {
  position: relative;
  margin-bottom: 0;
}

ul li:after {
  content: url('/assets/vectors/bullet-point.svg');
  position: absolute;
  left: -29px;
  top: 5px;
}

ul li:before {
  content: '';
  position: absolute;
  left: -16px;
  border-left: 1px dashed;
  height: 100%;
  width: 1px;
  left: -19px;
  top: 6px;
}

ul li:first-child:before {
  top: 6px;
}

ul li:last-child:before {
  height: 6px;
}

.card-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px;
  border: 2px solid;
  background: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  .label-with-icon {
    padding-top: 2px;
    color: #fff;
    text-decoration: underline;

    > svg > path {
      fill: #fff;
    }

    display: flex;
    align-items: center;
    gap: 8px;
  }

  h3.hover-effect {
    text-decoration: underline;
  }
}
