<ng-container
  *ngIf="
    !(
      isPublicRecord &&
      getAffiliationType('EMPLOYMENT')?.affiliationGroup?.length === 0
    )
  "
>
  <!-- A PANELS COMPONENT FOR EACH GROUP OF AFFILIATION -->
  <app-panels
    *ngIf="getAffiliationType('EMPLOYMENT') as profileAffiliationsGroup"
    class="row"
    [title]="affiliationTypeLabel(profileAffiliationsGroup.type)"
    [type]="'employment'"
    [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
    [expandedContent]="expandedContent"
    [isPublicRecord]="isPublicRecord"
    (expanded)="expandedClicked('employment', $event)"
    [labelAddButton]="labelAddEmploymentButton"
    [labelSortButton]="labelSortEmploymentButton"
    [sortType]="'end'"
    (sort)="sortEvent($event, 'EMPLOYMENT')"
  >
    <ng-container *ngIf="profileAffiliationsGroup.affiliationGroup.length > 0">
      <app-affiliation-stack
        [isPublicRecord]="isPublicRecord"
        *ngFor="
          let affiliationGroup of profileAffiliationsGroup.affiliationGroup;
          trackBy: trackByAffiliationGroup
        "
        [affiliationStack]="affiliationGroup"
        [type]="affiliationGroup.affiliationType === 'EDUCATION' ? 'education' : 'qualification'"
        [userInfo]="userInfo"
      ></app-affiliation-stack>
    </ng-container>
    <ng-container
      *ngIf="profileAffiliationsGroup.affiliationGroup.length === 0"
    >
      <div class="orc-font-body-small">
        <p i18n="@@shared.employmentDescription">
          Add details of your current and previous employers.
        </p>
        <a
          rel="noopener noreferrer"
          class="underline"
          target="_blank"
          href="https://support.orcid.org/hc/en-us/articles/360006894834-Add-employment-information-to-your-ORCID-record"
          i18n="@@shared.employmentLearnMore"
        >
          Learn more about adding employment information to your ORCID record
        </a>
      </div>
    </ng-container>
  </app-panels>
</ng-container>

<ng-container
  *ngIf="
    !(
      isPublicRecord &&
      getAffiliationType('EDUCATION_AND_QUALIFICATION')?.affiliationGroup
        ?.length === 0
    )
  "
>
  <!-- A PANELS COMPONENT FOR EACH GROUP OF AFFILIATION -->
  <app-panels
    *ngIf="
      getAffiliationType(
        'EDUCATION_AND_QUALIFICATION'
      ) as profileAffiliationsGroup
    "
    class="row"
    [title]="affiliationTypeLabel(profileAffiliationsGroup.type)"
    [type]="'education'"
    [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
    [expandedContent]="expandedContent"
    [isPublicRecord]="isPublicRecord"
    (expanded)="expandedClicked('education', $event)"
    [labelAddButton]="labelEducationAddButton"
    [labelSortButton]="labelEducationSortButton"
    [sortType]="'end'"
    (sort)="sortEvent($event, 'EDUCATION_AND_QUALIFICATION')"
  >
    <ng-container *ngIf="profileAffiliationsGroup.affiliationGroup.length > 0">
      <app-affiliation-stack
        [isPublicRecord]="isPublicRecord"
        *ngFor="
          let affiliationGroup of profileAffiliationsGroup.affiliationGroup;
          trackBy: trackByAffiliationGroup
        "
        [affiliationStack]="affiliationGroup"
        [type]="'education'"
        [userInfo]="userInfo"
      ></app-affiliation-stack>
    </ng-container>
    <ng-container
      *ngIf="profileAffiliationsGroup.affiliationGroup.length === 0"
    >
      <div class="orc-font-body-small">
        <p i18n="@@shared.educationQualificationsDescription">
          Add details about where you have studied and educational or
          professional qualifications you have been awarded.
        </p>
        <a
          class="underline"
          rel="noopener noreferrer"
          target="_blank"
          href="https://support.orcid.org/hc/en-us/articles/360006973933-Add-an-education-or-qualification-to-your-ORCID-record"
          i18n="@@shared.educationLearnMore"
        >
          Learn more about adding education or qualifications to your ORCID
          record
        </a>
      </div>
    </ng-container>
  </app-panels>
</ng-container>

<ng-container
  *ngIf="
    !(
      isPublicRecord &&
      getAffiliationType('INVITED_POSITION_AND_DISTINCTION')?.affiliationGroup
        ?.length === 0
    )
  "
>
  <!-- A PANELS COMPONENT FOR EACH GROUP OF AFFILIATION -->
  <app-panels
    *ngIf="
      getAffiliationType(
        'INVITED_POSITION_AND_DISTINCTION'
      ) as profileAffiliationsGroup
    "
    class="row"
    [title]="affiliationTypeLabel(profileAffiliationsGroup.type)"
    [type]="'invited-position'"
    [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
    [expandedContent]="expandedContent"
    [isPublicRecord]="isPublicRecord"
    (expanded)="expandedClicked('invited-position', $event)"
    [labelAddButton]="labelInvitedAddButton"
    [labelSortButton]="labelInvitedSortButton"
    [sortType]="'end'"
    (sort)="sortEvent($event, 'INVITED_POSITION_AND_DISTINCTION')"
  >
    <ng-container *ngIf="profileAffiliationsGroup.affiliationGroup.length > 0">
      <app-affiliation-stack
        [isPublicRecord]="isPublicRecord"
        *ngFor="
          let affiliationGroup of profileAffiliationsGroup.affiliationGroup;
          trackBy: trackByAffiliationGroup
        "
        [affiliationStack]="affiliationGroup"
        [type]="
          affiliationGroup.affiliationType === 'DISTINCTION'
            ? 'distinction'
            : 'invited-position'
        "
        [userInfo]="userInfo"
      ></app-affiliation-stack>
    </ng-container>
    <ng-container
      *ngIf="profileAffiliationsGroup.affiliationGroup.length === 0"
    >
      <div class="orc-font-body-small">
        <p i18n="@@shared.invitedPositionsDescription">
          Add details of invited positions you have held and awards or prizes
          you have received in recognition of your achievements.
        </p>
        <a
          class="underline"
          target="_blank"
          href="https://support.orcid.org/hc/en-us/articles/360008897654-Add-an-invited-position-or-distinction-to-your-ORCID-record"
          i18n="@@shared.invitedPositionsLearnMore"
        >
          Learn more about adding invited positions or distinctions to your
          ORCID record
        </a>
      </div>
    </ng-container>
  </app-panels>
</ng-container>

<ng-container
  *ngIf="
    !(
      isPublicRecord &&
      getAffiliationType('MEMBERSHIP_AND_SERVICE')?.affiliationGroup?.length ===
        0
    )
  "
>
  <!-- A PANELS COMPONENT FOR EACH GROUP OF AFFILIATION -->
  <app-panels
    *ngIf="
      getAffiliationType('MEMBERSHIP_AND_SERVICE') as profileAffiliationsGroup
    "
    class="row"
    [title]="affiliationTypeLabel(profileAffiliationsGroup.type)"
    [type]="'membership'"
    [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
    [expandedContent]="expandedContent"
    [isPublicRecord]="isPublicRecord"
    (expanded)="expandedClicked('membership', $event)"
    [labelAddButton]="labelMembershipAddButton"
    [labelSortButton]="labelMembershipSortButton"
    [sortType]="'end'"
    (sort)="sortEvent($event, 'MEMBERSHIP_AND_SERVICE')"
  >
    <ng-container *ngIf="profileAffiliationsGroup.affiliationGroup.length > 0">
      <app-affiliation-stack
        [isPublicRecord]="isPublicRecord"
        *ngFor="
          let affiliationGroup of profileAffiliationsGroup.affiliationGroup;
          trackBy: trackByAffiliationGroup
        "
        [affiliationStack]="affiliationGroup"
        [type]="
          affiliationGroup.affiliationType === 'MEMBERSHIP'
            ? 'membership'
            : 'service'
        "
        [userInfo]="userInfo"
      ></app-affiliation-stack>
    </ng-container>
    <ng-container
      *ngIf="profileAffiliationsGroup.affiliationGroup.length === 0"
    >
      <div class="orc-font-body-small">
        <p i18n="@@shared.membershipDescription">
          Add details of society or association memberships and donations of
          time or other resources in the service of an organization.
        </p>
        <a
          class="underline"
          target="_blank"
          href="https://support.orcid.org/hc/en-us/articles/360008897694-Add-a-membership-or-service-to-your-ORCID-record"
          i18n="@@shared.membershipLearnMore"
        >
          Learn more about adding a membership or service to your ORCID record
        </a>
      </div>
    </ng-container>
  </app-panels>
</ng-container>
