@if (
  !(
    isPublicRecord &&
    getAffiliationType('EMPLOYMENT')?.affiliationGroup?.length === 0
  )
) {
  <section
    id="affiliations"
    role="region"
    [attr.aria-label]="regionAffiliations"
  >
    <!-- A PANELS COMPONENT FOR EMPLOYMENT -->
    @if (getAffiliationType('EMPLOYMENT'); as profileAffiliationsGroup) {
      <app-panels
        [loading]="$loading | async"
        class="row"
        [title]="affiliationTypeLabel(profileAffiliationsGroup.type)"
        [type]="'employment'"
        [userRecord]="userRecord"
        [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
        [(expandedContent)]="expandedContent['EMPLOYMENT']"
        (expandedContentChange)="expandedContentChange.emit(expandedContent)"
        [isPublicRecord]="isPublicRecord"
        [sortTypes]="sortTypes"
        [sortType]="'end'"
        (sort)="sortEvent($event, 'EMPLOYMENT')"
        id="cy-affiliation-employment"
      >
        @if (profileAffiliationsGroup.affiliationGroup.length > 0) {
          @for (
            affiliationGroup of profileAffiliationsGroup.affiliationGroup;
            track trackByAffiliationGroup($index, affiliationGroup)
          ) {
            <app-affiliation-stack
              [userRecord]="userRecord"
              [isPublicRecord]="isPublicRecord"
              [affiliationStack]="affiliationGroup"
              [type]="affiliationType.employment"
              [userInfo]="userInfo"
            ></app-affiliation-stack>
          }
        }
        @if (profileAffiliationsGroup.affiliationGroup.length === 0) {
          <div class="orc-font-body-small">
            <p i18n="@@shared.employmentDescription">
              Add details of your current and previous employers.
            </p>
            <a
              rel="noopener noreferrer"
              class="underline"
              target="_blank"
              href="https://support.orcid.org/hc/en-us/articles/360006894834-Add-employment-information-to-your-ORCID-record"
              i18n="@@shared.employmentLearnMore"
            >
              Learn more about adding employment information to your ORCID
              record
            </a>
          </div>
        }
      </app-panels>
    }
  </section>
}
@if (
  !(
    isPublicRecord &&
    getAffiliationType('EDUCATION_AND_QUALIFICATION')?.affiliationGroup
      ?.length === 0
  )
) {
  <section id="education-and-qualification">
    <!-- A PANELS COMPONENT FOR EDUCATION_AND_QUALIFICATION -->
    @if (
      getAffiliationType('EDUCATION_AND_QUALIFICATION');
      as profileAffiliationsGroup
    ) {
      <app-panels
        [loading]="$loading | async"
        s
        class="row"
        [title]="affiliationTypeLabel(profileAffiliationsGroup.type)"
        [type]="'education'"
        [userRecord]="userRecord"
        [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
        [(expandedContent)]="expandedContent['EDUCATION_AND_QUALIFICATION']"
        (expandedContentChange)="expandedContentChange.emit(expandedContent)"
        [isPublicRecord]="isPublicRecord"
        [sortTypes]="educationAndQualificationSortTypes"
        [sortType]="'end'"
        (sort)="sortEvent($event, 'EDUCATION_AND_QUALIFICATION')"
        id="cy-affiliation-education-and-qualification"
      >
        @if (profileAffiliationsGroup.affiliationGroup.length > 0) {
          @for (
            affiliationGroup of profileAffiliationsGroup.affiliationGroup;
            track trackByAffiliationGroup($index, affiliationGroup)
          ) {
            <app-affiliation-stack
              [userRecord]="userRecord"
              [isPublicRecord]="isPublicRecord"
              [affiliationStack]="affiliationGroup"
              [type]="affiliationGroup.affiliationType | affiliationType"
              [userInfo]="userInfo"
            ></app-affiliation-stack>
          }
        }
        @if (profileAffiliationsGroup.affiliationGroup.length === 0) {
          <div class="orc-font-body-small">
            <p i18n="@@shared.educationQualificationsDescription">
              Add details about where you have studied and educational or
              professional qualifications you have been awarded.
            </p>
            <a
              class="underline"
              rel="noopener noreferrer"
              target="_blank"
              href="https://support.orcid.org/hc/en-us/articles/360006973933-Add-an-education-or-qualification-to-your-ORCID-record"
              i18n="@@shared.educationLearnMore"
            >
              Learn more about adding education or qualifications to your ORCID
              record
            </a>
          </div>
        }
      </app-panels>
    }
  </section>
}

<section
  role="region"
  [attr.aria-label]="regionProfessionalActivities"
  id="professional-activities"
>
  @if (
    !(
      isPublicRecord &&
      getAffiliationType('PROFESSIONAL_ACTIVITIES')?.affiliationGroup
        ?.length === 0
    )
  ) {
    <!-- A PANELS COMPONENT FOR INVITED_POSITION_AND_DISTINCTION AND MEMBERSHIP_AND_SERVICE -->
    @if (
      getAffiliationType('PROFESSIONAL_ACTIVITIES');
      as profileAffiliationsGroup
    ) {
      <app-panels
        [loading]="$loading | async"
        class="row"
        [title]="affiliationTypeLabel('PROFESSIONAL_ACTIVITIES')"
        [type]="'professional-activities'"
        [userRecord]="userRecord"
        [currentAmount]="profileAffiliationsGroup?.affiliationGroup?.length"
        [(expandedContent)]="expandedContent['PROFESSIONAL_ACTIVITIES']"
        (expandedContentChange)="expandedContentChange.emit(expandedContent)"
        [isPublicRecord]="isPublicRecord"
        [sortTypes]="professionalActivitiesSortTypes"
        (sort)="sortEvent($event, 'PROFESSIONAL_ACTIVITIES')"
        id="cy-affiliation-professional-activities"
      >
        @if (profileAffiliationsGroup?.affiliationGroup?.length > 0) {
          @for (
            affiliationGroup of getAffiliationType('PROFESSIONAL_ACTIVITIES')
              .affiliationGroup;
            track trackByAffiliationGroup($index, affiliationGroup)
          ) {
            <app-affiliation-stack
              [userRecord]="userRecord"
              [isPublicRecord]="isPublicRecord"
              [affiliationStack]="affiliationGroup"
              [type]="affiliationGroup.affiliationType | affiliationType"
              [userInfo]="userInfo"
              [professionalActivities]="true"
            ></app-affiliation-stack>
          }
        }
        @if (profileAffiliationsGroup?.affiliationGroup?.length === 0) {
          <div class="orc-font-body-small">
            <p i18n="@@shared.addInvitedPositionsMemberships">
              Add the invited positions or memberships you have held, awards or
              prizes you have received, and donations of time and resources
              given in service of organizations or institutions.
            </p>
            <a
              class="underline"
              target="_blank"
              href="https://support.orcid.org/hc/en-us/articles/360008897694-Add-a-membership-or-service-to-your-ORCID-record"
              i18n="@@shared.learnMoreProfessionalActivities"
            >
              Learn more about adding professional activities to your ORCID
              record
            </a>
          </div>
        }
      </app-panels>
    }
  }
</section>
