@import 'src/assets/scss/orcid.spacing.scss';

:host {
  width: 100%;
}

h2 {
  margin-top: 32px;
  margin-bottom: 20px;
}

app-main {
  padding-bottom: 180px !important;
  max-width: 100%;
}

app-side-bar {
  padding-bottom: 40px !important;
}

app-statistics {
  position: absolute;
  right: 24px;
  bottom: 148px;
  justify-content: flex-end;
}

main#main {
  flex-direction: column;
  margin-bottom: $spacing-large;
}

.container {
  margin-bottom: -140px;
}

.mobile {
  bottom: 400px !important;
}

.activities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-public-info {
  margin-top: 20px;

  mat-error {
    display: flex;
    align-items: center;
    mat-icon {
      margin-inline-end: 4px;
    }
  }
}

.last-modified {
  margin-top: 20px;
}