@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin my-orcid-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .no-public-info {
    color: mat-color($background, dark-grey);
  }
}

@include my-orcid-theme($orcid-app-theme);
