<main id="main">
  <div class="container">
    <div class="row">
      <app-side-bar class="col l3 m8 s4" [isPublicRecord]="publicOrcid">
      </app-side-bar>
      <app-main class="col l9 m8 s4">
        <app-top-bar [isPublicRecord]="publicOrcid" class="row"></app-top-bar>
        <div class="activities" *ngIf="!(publicOrcid && affiliations === 0)">
          <h2 class="orc-font-body col">Activities</h2>
          <div class="expand-buttons">
            <button
              mat-button
              color="primary"
              type="button"
              i18n="@@shared.expandAll"
              [ngClass]="{ selected: expandedContent }"
              (click)="collapse()"
            >
              Expand all
            </button>
            <button
              mat-button
              color="primary"
              type="button"
              i18n="@@shared.collapseAll"
              [ngClass]="{ selected: !expandedContent }"
              (click)="collapse()"
            >
              Collapse all
            </button>
          </div>
        </div>
        <app-affiliations
          [isPublicRecord]="publicOrcid"
          [expandedContent]="expandedContent"
          (total)="affiliationsCount($event)"
          (expanded)="expandedByType($event)"
        ></app-affiliations>
        <app-fundings
          [isPublicRecord]="publicOrcid"
          [expandedContent]="expandedContent"
          (total)="affiliationsCount($event)"
          (expanded)="expandedByType($event)"
        ></app-fundings>
        <app-work-stack-group
          [isPublicRecord]="publicOrcid"
          [expandedContent]="expandedContent"
          (total)="affiliationsCount($event)"
          (expanded)="expandedByType($event)"
        ></app-work-stack-group>
        <app-research-resources
          [isPublicRecord]="publicOrcid"
          [expandedContent]="expandedContent"
          (total)="affiliationsCount($event)"
          (expanded)="expandedByType($event)"
        ></app-research-resources>
        <app-peer-reviews
          [isPublicRecord]="publicOrcid"
          [expandedContent]="expandedContent"
          (total)="affiliationsCount($event)"
          (expanded)="expandedByType($event)"
        ></app-peer-reviews>
        <div class="orc-font-body-small" *ngIf="publicOrcid">
          <i>
            <span i18n="@@shared.lastModifiedTime"> Record last modified </span>
            {{ userRecord?.lastModifiedTime | date: 'long':'UTC' }}
          </i>
        </div>
      </app-main>
    </div>
  </div>
</main>
