@import 'src/assets/scss/orcid.spacing.scss';

.main-content-shadow {
  box-shadow: 0px -6px 6px -4px #dddddd;
}

:host {
  display: block;
  width: 100%;
}

.container {
  margin-top: 6px;
  padding-top: 16px !important;
}

.container.mobile {
  padding-top: 28px !important;
}

h2 {
  margin-top: 0;
  margin-bottom: 18px;
}

a.activities {
  margin-bottom: 18px;
}

app-main {
  padding-bottom: 180px !important;
  max-width: 100%;
}

app-top-bar.mobile {
  margin-bottom: 32px;
}

app-side-bar {
  margin-bottom: 40px !important;
}

app-side-bar.mobile {
  margin-bottom: 32px !important;
}

app-statistics {
  position: absolute;
  right: 24px;
  bottom: 148px;
  justify-content: flex-end;
}

.content {
  flex-direction: column;
  margin-bottom: $spacing-large;
  padding-inline-start: 16px;
}

.mobile {
  bottom: 400px !important;
}

.activities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-public-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}

.no-public-bio {
  margin-top: 0 !important;
}

.last-modified {
  margin-top: 20px;
}

.side-bar-mobile {
  padding: 0;
}
