<main id="main">
  <ng-container *ngIf="!userNotFound">
    <app-top-bar-my-public-record-preview
      [isPublicRecord]="publicOrcid"
    ></app-top-bar-my-public-record-preview>
    <app-record-header
      *ngIf="
        !!publicOrcid &&
        !((compactEligible$ | async) && (compactActive$ | async))
      "
    ></app-record-header>
    <!---
    On compact mode the record summary is displayed in the record header 
    on non-compact mode the record summary is displayed in my-orcid page (here)
    --->
    <div
      class="container no-padding main-content"
      [ngClass]="{
        mobile: !platform.columns12
      }"
    >
      <app-record-summary></app-record-summary>

      <div
        class="row"
        [ngClass]="{
          'main-content-shadow': recordSummaryOpen,

        }"
      >
        <app-side-bar
          class="col l3 m8 s4 new-header"
          [isPublicRecord]="publicOrcid"
          [orcidId]="platform.columns8 || platform.columns4"
          [loadingUserRecord]="loadingUserRecord"
          (isSideBarEmpty)="isSideBarEmpty($event)"
          *ngIf="
            !loadingUserRecord
              ? publicOrcid
                ? platform.columns12 &&
                  !recordWithIssues &&
                  (displaySideBar || displayBiography || affiliations > 0)
                : true
              : true
          "
        >
        </app-side-bar>
        <div
          class="content"
          [ngClass]="{
            'col l9 m8 s4': !loadingUserRecord
              ? publicOrcid
                ? !recordWithIssues &&
                  (displaySideBar || displayBiography || affiliations > 0)
                : true
              : true
          }"
        >
          <app-main>
            <app-top-bar
              [newlySharedDomains]="newlySharedDomains"
              [newAddedAffiliation]="newAddedAffiliation"
              class="row"
              [ngClass]="{
                mobile: !platform.columns12
              }"
              [isPublicRecord]="publicOrcid"
              [loadingUserRecord]="loadingUserRecord"
              *ngIf="
                !loadingUserRecord
                  ? publicOrcid
                    ? !recordWithIssues && displayBiography
                    : true
                  : true
              "
            ></app-top-bar>

            <app-side-bar
              class="col l3 m8 s4 new-header side-bar-mobile"
              [isPublicRecord]="publicOrcid"
              [hideOrcidId]="true"
              [ngClass]="{
                mobile: !platform.columns12
              }"
              *ngIf="
                !loadingUserRecord
                  ? publicOrcid
                    ? !platform.columns12 &&
                      !recordWithIssues &&
                      (displaySideBar || displayBiography || affiliations > 0)
                    : !platform.columns12
                  : false
              "
            >
            </app-side-bar>
            <ng-container *ngIf="!recordWithIssues">
              <section
                id="activities"
                role="region"
                [attr.aria-label]="regionActivities"
              >
                <div
                  class="activities"
                  *ngIf="!(publicOrcid && affiliations === 0)"
                >
                  <h2
                    class="activities-header col"
                    [ngClass]="{
                      'orc-font-body-large': publicOrcid,
                      'no-gutters': publicOrcid,
                      'public-info': publicOrcid,
                      'no-public-bio': publicOrcid ? !displayBiography : false,
                      'orc-font-body': !publicOrcid
                    }"
                    i18n="@@shared.activities"
                  >
                    Activities
                  </h2>
                  <div class="expand-buttons">
                    <a
                      class="activities orc-font-body-small"
                      [ngClass]="{ 'public-info': publicOrcid }"
                      (click)="switchPanelsState()"
                      [attr.aria-label]="
                        globalExpandState
                          ? collapseAllActivitiesArialLabel
                          : expandAllActivitiesArialLabel
                      "
                    >
                      <b i18n="@@shared.collapseAll" *ngIf="globalExpandState"
                        >Collapse all</b
                      >
                      <b i18n="@@shared.expandAll" *ngIf="!globalExpandState"
                        >Expand all</b
                      >
                    </a>
                  </div>
                </div>
                <app-affiliations
                  [userInfo]="userInfo"
                  [isPublicRecord]="publicOrcid"
                  [expandedContent]="expandedContent"
                  (expandedContentChange)="expandedContentUpdate($event)"
                  (total)="affiliationsCount($event)"
                  id="cy-affiliations"
                ></app-affiliations>
                <app-fundings
                  [userInfo]="userInfo"
                  [isPublicRecord]="publicOrcid"
                  [expandedContent]="expandedContent"
                  (expandedContentChange)="expandedContentUpdate($event)"
                  (total)="affiliationsCount($event)"
                  id="cy-fundings"
                ></app-fundings>
                <app-research-resources
                  [isPublicRecord]="publicOrcid"
                  [expandedContent]="expandedContent"
                  (expandedContentChange)="expandedContentUpdate($event)"
                  (total)="affiliationsCount($event, 'RESEARCH_RESOURCE')"
                  id="cy-research-resources"
                ></app-research-resources>
                <app-work-featured-stack-group
                  *ngIf="featuredWorksTogglz"
                  [userInfo]="userInfo"
                  [isPublicRecord]="publicOrcid"
                  id="cy-featured-works"
                >
                </app-work-featured-stack-group>
                <app-work-stack-group
                  [userInfo]="userInfo"
                  [isPublicRecord]="publicOrcid"
                  [expandedContent]="expandedContent"
                  (expandedContentChange)="expandedContentUpdate($event)"
                  (total)="affiliationsCount($event)"
                  id="cy-works"
                ></app-work-stack-group>
                <app-peer-reviews
                  [userInfo]="userInfo"
                  [isPublicRecord]="publicOrcid"
                  [expandedContent]="expandedContent"
                  (expandedContentChange)="expandedContentUpdate($event)"
                  (total)="affiliationsCount($event)"
                  id="cy-peer-reviews"
                ></app-peer-reviews>
              </section>
            </ng-container>

            <app-record-info
              *ngIf="
                publicOrcid
                  ? recordWithIssues ||
                    (!loadingUserRecord && affiliations === 0)
                  : false
              "
              [isPublicRecord]="publicOrcid"
              [displaySideBar]="displaySideBar"
              [displayBiography]="displayBiography"
              [affiliations]="affiliations"
            ></app-record-info>
            <app-statistics
              [ngClass]="{ mobile: !platform.columns12 }"
            ></app-statistics>
          </app-main>
        </div>
      </div>
    </div>
  </ng-container>
  <app-not-found *ngIf="userNotFound"></app-not-found>
</main>
