@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin delete-work-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .info {
    border-color: mat-color($foreground, 'state-notice-dark') !important;

    mat-icon {
      color: mat-color($foreground, 'state-notice-dark') !important;
    }
  }
}

@include delete-work-theme($orcid-app-theme);
