:host {
  width: 100%;
}

::ng-deep .columns-4-or-8 .mat-mdc-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.websites-list.cdk-drop-list-dragging .websites-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.description {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 16px !important;
    margin-bottom: 4px;
  }
}

.websites-input-line {
  .image-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      cursor: move;
      margin-inline-start: 6px;
      margin-inline-end: 10px;
    }
  }

  .input-container {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  button {
    margin: auto 0;
  }

  .privacy {
    width: 100%;
    max-height: 60px;
    margin: 0;

    button {
      margin: 0 0 0 auto !important;
    }
  }

  .selector {
    margin: 0 !important;
  }
}

::ng-deep .columns-4-or-8 {
  .websites-input-line .input-container {
    padding-bottom: 30px;
  }
}

.icon-drag {
  height: 32px;
  margin: 4px;
}

.actions-wrapper {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  height: 80%;
}
::ng-deep .columns-4-or-8 {
  .websites-input-line .actions-wrapper {
    padding-bottom: 10px;
  }
}

.mat-mdc-form-field {
  width: 100%;
  margin-inline-end: 16px;
}
::ng-deep .columns-4-or-8 .mat-mdc-form-field {
  margin-inline-end: 0;
}

.website-input {
  text-align: right !important;
}

.add-more {
  margin-top: 16px;

  span {
    margin: auto;
    padding-left: 6px;
  }
}

.drag-placeholder {
  min-height: 120px;
}

.actions-wrapper {
  padding: 0 32px 0 0;
}

.web-site-input-container {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    padding-bottom: 6px;
  }
  .not-editable-url {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    a {
      word-break: break-all;
    }
  }
  .not-editable-description {
    padding-top: 15px;
  }
}

::ng-deep .columns-4-or-8 {
  .actions-wrapper {
    padding: 0;
  }
}

.delete-button,
app-visibility-selector {
  margin-inline-start: 16px;
}

.delete-button {
  margin-top: -3px;
}

button.mat-focus-indicator.delete-button.mat-mdc-icon-button {
  margin-inline-start: 16px;
}
