:host {
  width: 100%;
}

::ng-deep .columns-4-or-8 .mat-form-field {
  width: 100%;
  margin-inline-end: auto;
}

::ng-deep .cdk-drop-list-dragging {
  cursor: move !important;
  .mat-form-field-flex,
  .mat-select-trigger,
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    cursor: move !important;
  }
}

::ng-deep .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.description {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }
}

.url {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 18px !important;
  }
}

.websites-input-line {
  .image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .input-container {
    margin-top: 18px;
  }
  button {
    margin: auto 0;
  }

  .privacy {
    width: 100%;
    margin: 0;

    button {
      margin: 0 0 0 auto !important;
    }
  }

  app-privacy-selector {
    min-width: 180px;
  }

  .selector {
    margin: 0 !important;
  }
}

::ng-deep .columns-4-or-8 {
  .websites-input-line .input-container {
    padding-bottom: 30px;
  }
}

.icon-drag {
  height: 32px;
  margin: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.actions-wrapper {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}
::ng-deep .columns-4-or-8 {
  .websites-input-line .actions-wrapper {
    padding-bottom: 10px;
  }
}


.cdk-drag-placeholder {
  opacity: 0;
}

.mat-form-field {
  width: 100%;
  margin-inline-end: 32px;
}
::ng-deep .columns-4-or-8 .mat-form-field {
  margin-inline-end: 0;
}

.website-input {
  text-align: right !important;
}

.add-more {
  margin-top: 16px;

  span {
    margin: auto;
    padding-left: 6px;
  }
}
