<app-side-bar-id
  [id]="userSession.userInfo.EFFECTIVE_USER_ORCID"
></app-side-bar-id>

<app-panel>
  <h2 header class="orc-font-body" i18n="@@record.alsoKnowAs">
    Also known as
  </h2>
  <div body>
    <app-panel-element
      *ngFor="let otherNames of userRecord.otherNames.otherNames"
      [visibility]="otherNames.visibility.visibility"
      >{{ otherNames.content }}</app-panel-element
    >
  </div>
</app-panel>

<app-panel>
  <h2 header class="orc-font-body" i18n="@@record.emails">
    Emails
  </h2>
  <div body *ngIf="userRecord">
    <app-panel-element
      *ngFor="let email of userRecord.emails.emails"
      [visibility]="email.visibility"
      [bold]="email.primary"
      >{{ email.value }}</app-panel-element
    >
  </div>
</app-panel>

<app-panel>
  <h2 header class="orc-font-body" i18n="@@record.websiteAndSocialLinks">
    Website and social links
  </h2>
  <div body>
    <app-panel-element
      *ngFor="let website of userRecord.website.websites"
      [visibility]="website.visibility.visibility"
      ><a
        [href]="website.url.value"
        target="_blank"
        rel="me nofollow noopener noreferrer"
        >{{ website.urlName }}</a
      ></app-panel-element
    >
  </div>
</app-panel>

<app-panel *ngIf="userRecord.externalIdentifier.externalIdentifiers">
  <h2 header class="orc-font-body" i18n="@@record.otherIds">
    Other IDs
  </h2>
  <div body>
    <app-panel-element
      *ngFor="
        let externalIdentifier of userRecord.externalIdentifier
          .externalIdentifiers
      "
      [visibility]="externalIdentifier.visibility.visibility"
      ><a
        [href]="externalIdentifier.url"
        target="_blank"
        rel="me nofollow noopener noreferrer"
        >{{
          externalIdentifier.commonName + ': ' + externalIdentifier.reference
        }}</a
      ></app-panel-element
    >
  </div>
</app-panel>

<app-panel>
  <h2 header class="orc-font-body" i18n="@@record.keywords">
    Keywords
  </h2>
  <div body>
    <app-panel-element
      *ngFor="let keyword of userRecord.keyword.keywords"
      [visibility]="keyword.visibility.visibility"
      >{{ keyword.content }}</app-panel-element
    >
  </div>
</app-panel>

<app-panel>
  <h2 header class="orc-font-body" i18n="@@record.countries">
    Countries
  </h2>
  <div body></div>
</app-panel>
