<app-side-bar-id></app-side-bar-id>
<app-panel>
  <h2 header>
    Emails
  </h2>
  <div body>
    <app-panel-element>Email 1</app-panel-element>
    <app-panel-element>Email 2</app-panel-element>
    <app-panel-element>Email 3</app-panel-element>
  </div>
</app-panel>
<app-panel>
  <h2 header>
    Website and social links
  </h2>
  <div body>
    <app-panel-element>Email 1</app-panel-element>
    <app-panel-element>Email 2</app-panel-element>
    <app-panel-element>Email 3</app-panel-element>
  </div>
</app-panel>

<app-panel>
  <h2 header>
    Others IDs
  </h2>
  <div body>
    <app-panel-element>Email 1</app-panel-element>
    <app-panel-element>Email 2</app-panel-element>
    <app-panel-element>Email 3</app-panel-element>
  </div>
</app-panel>

<app-panel>
  <h2 header>
    Keywords
  </h2>
  <div body>
    <app-panel-element>Email 1</app-panel-element>
    <app-panel-element>Email 2</app-panel-element>
    <app-panel-element>Email 3</app-panel-element>
  </div>
</app-panel>

<app-panel>
  <h2 header>
    Countries
  </h2>
  <div body>
    <app-panel-element>Email 1</app-panel-element>
    <app-panel-element>Email 2</app-panel-element>
    <app-panel-element>Email 3</app-panel-element>
  </div>
</app-panel>
