@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin modal-person-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host ::ng-deep mat-form-field mat-icon {
    color: map-get($background, ui-background);
  }
  :host ::ng-deep mat-form-field.email-activated mat-icon {
    color: mat.m2-get-color-from-palette($accent, 400);
  }
}

@include modal-person-theme($orcid-app-theme);
