.actions-wrapper {
  flex-wrap: nowrap;
}

::ng-deep .columns-4-or-8 .mat-mdc-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.add-more {
  margin-top: 16px;
}

::ng-deep .columns-4-or-8 .mat-mdc-form-field {
  width: 100%;
  margin-inline-end: auto;
}

::ng-deep .columns-4-or-8 .personal-identifiers-wrapper {
  margin: 16px 0 16px 0;
}

::ng-deep .columns-4-or-8 .personal-identifiers-controls-wrapper {
  justify-content: space-between;
  width: 100%;
}

.personal-identifier-input-line {
  margin-top: 10px;
  margin-bottom: 4px;
  img {
    margin-top: 3px;
    cursor: move;
    z-index: 1;
    margin-inline-start: 6px;
    margin-inline-end: 10px;
  }

  .person-identifier {
    display: flex;
    flex-direction: column;
    a {
      word-break: break-all;
    }
  }
}

.person-identifiers-list.cdk-drop-list-dragging
  .person-identifiers-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-form-field {
  width: 100%;
}

.icon-drag {
  cursor: move;
  height: 32px;
  margin: 4px;
}

.find-out {
  display: inline;
  margin-top: 8px;
}

.line {
  overflow-wrap: break-word;
  word-break: break-word;
}

.delete-button,
app-visibility-selector {
  margin-inline-start: 16px;
}

.delete-button {
  margin-top: -3px;
}
