.cdk-drag-placeholder {
  opacity: 0;
}

.actions-wrapper {
  flex-wrap: nowrap;
}

.cdk-drag-placeholder {
  opacity: 0;
}

::ng-deep .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .columns-4-or-8 .mat-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.add-more {
  margin-top: 16px;
}

::ng-deep .columns-4-or-8 .personal-identifiers-wrapper {
  margin: 16px 0 16px 0;
}

::ng-deep .columns-4-or-8 .personal-identifiers-controls-wrapper {
  justify-content: space-between;
  width: 100%;
}

.personal-identifier-input-line {
  margin-top: 20px;
  img {
    margin-top: 6px;
    cursor: move;
    z-index: 1;
    margin-inline-end: 18px;
  }
}
::ng-deep .cdk-drop-list-dragging {
  cursor: move !important;
  .mat-form-field-flex,
  .mat-select-trigger,
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    cursor: move !important;
  }
}

app-privacy-selector {
  min-width: 180px;
}
