mat-toolbar {
  width: calc(100% - -24px);
  margin-left: -12px;
  min-height: 56px;

  mat-toolbar-row {
    text-align: center;

    div {
      width: 100%;
      p {
        white-space: pre-wrap;
      }
    }
  }
}
