@if (emailVerified || invalidVerifyUrl) {
  <app-alert-message
    [type]="invalidVerifyUrl ? 'warning' : 'success'"
    role="alert"
    aria-labelledby="dialogTitle"
    aria-describedby="dialogDescription"
  >
    <h3 title id="dialogTitle" i18n="@@ngOrcid.signin.almostDone">
      Almost done!
    </h3>
    @if (emailVerified) {
      <div content i18n="@@ngOrcid.signin.signInToComplete">
        Sign in to complete your email verification
      </div>
    }
    @if (invalidVerifyUrl) {
      <div content i18n="@@myOrcidAlerts.invalidVerifyUrl">
        Your email couldn't be verified, please check the link you used to
        verify it.
      </div>
    }
  </app-alert-message>
}
@if (printError && badCredentials) {
  <app-alert-message
    type="warning"
    role="dialog"
    aria-live="polite"
    aria-labelledby="dialogTitle"
    aria-describedby="dialogDescription"
  >
    <div content class="content">
      <b id="dialogTitle" i18n="@@ngOrcid.signin.invalidSignInDetails">
        Invalid sign in details
      </b>
      <div
        id="dialogDescription"
        i18n="@@ngOrcid.signin.pleaseCheckYourDetails"
      >
        Please check your ORCID sign in details and then try signing in again.
      </div>
    </div>
  </app-alert-message>
}
