@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin my-orcid-alerts-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .mat-toolbar  {
    background: map-get($foreground, 'state-notice-light');
    color: $orcid-dark-primary-text;
  }

}

@include my-orcid-alerts-theme($orcid-app-theme);
