@import '../../../../../assets/scss/orcid.spacing.scss';

h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.published-email-container {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.published-domain {
  margin-inline-start: 16px;
}

.items {
  margin-top: 24px;
}

.logo {
  width: 130px;
}

.user-links {
  display: flex;
  justify-content: space-between;
}

.university-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

:host {
  ul {
    padding: 0;

    li {
      list-style-type: none;
      flex-direction: column;
      align-items: baseline;

      div {
        display: flex;
        align-items: center;
        mat-icon {
          margin-bottom: -4px; // Compensates mat icon bottom with space
          margin-left: $spacing-small;
          margin-right: $spacing-small;
        }
      }
    }
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-divider.last {
  margin-top: 16px;
  margin-bottom: 32px;
}

mat-icon > img {
  height: 17px;
  margin-top: 2px; // Fix icon component with SVG image
}

.col {
  overflow: hidden;
}

app-info-drop-down {
  max-width: 100%;
  display: block;
}

.progress-bar {
  top: 0;
}

mat-card-header.authorize-header {
  align-self: center;
  margin-top: 40px;
  mat-card-title {
    margin: 0 0 32px 0 !important;
  }

  h1 {
    margin-top: 0;
  }

  .orc-font-heading-small {
    font-style: normal;
    font-weight: 500;
  }

  mat-icon.logo-icon {
    height: 80px;
    width: 64px;
    img {
      height: 64px;
    }
  }
}

.disclaimer-box {
  margin: 24px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  :first-child {
    margin-bottom: 12px;
  }
}

:host {
  display: flex;
  flex-direction: column;
}
.mat-option {
  min-height: 64px;
  line-height: 32px;
  height: auto;
  margin-bottom: 8px;
  white-space: normal;
  line-height: 1.4;

  .title {
    display: flex;
    width: 100%;
    font-weight: 500;
  }
}
.title {
  p {
    margin: 6px 0;
  }
}

.selected-org {
  margin-top: 8px;
  line-height: 18px;
}

.date-inputs-container {
  text-align: center;

  gap: 8px;
  .date-divider {
    line-height: 42px;
    font-size: 16px;
  }
  .date-input {
    width: 100px;
  }
}

::ng-deep {
  mat-select {
    .mat-select-trigger {
      .mat-select-arrow-wrapper {
        height: 0;
      }
    }
  }
}

.input-container,
mat-card,
mat-form-field {
  width: 100%;
}

a {
  width: 100%;
  text-decoration: underline;
  font-weight: normal;
  margin-top: 20px;
}

.no-top-margin {
  margin-top: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h3.margin-top-12,
.step-actions.margin-top-12,
.margin-top-12 {
  margin-top: 12px;
}

legend {
  margin-top: 32px;
  margin-bottom: 2px;
  font-weight: bold;
  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.margin-tb-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

mat-card-title img {
  margin-bottom: 16px;
}

.input-container {
  padding-bottom: 20px;
}

mat-label.orc-font-small-print {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;

  label {
    font-weight: normal;
    padding-inline-start: 4px;
  }
}

.step-actions {
  border-top: 1px solid;
  padding-top: 32px;

  button {
    height: 40px;
    font-size: 16px;
    a {
      font-style: italic;
      font-size: 14px;
    }
    a.skip-step {
      font-style: normal;
      font-size: 14px;
    }
  }
}
.columns-12 {
  :host ::ng-deep {
    .mat-card-title {
      margin-top: 64px;
    }
    .mat-card.orcid-wizard {
      box-sizing: border-box;
      mat-card-content {
        margin-left: 64px;
        margin-right: 64px;
        margin-bottom: 64px;
      }
    }
  }
}

:host ::ng-deep {
  .mat-icon-button {
    height: 1.6em !important;
    width: 1.6em !important;
  }

  mat-error {
    margin-top: 8px;
    font-size: 12px;
  }

  mat-form-field {
    padding-top: 8px;

    .mat-form-field-subscript-wrapper {
      padding: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 2px;
    }
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      margin: 0;

      .mat-form-field-outline {
        top: 0px;
      }

      .mat-form-field-prefix {
        top: 0.35em;

        mat-icon {
          margin-inline-end: 8px;
        }
      }

      .mat-form-field-flex {
        .mat-form-field-infix {
          border-top: 0px;
          padding: 10px 0 10px 0;
        }
      }
    }
  }

  mat-form-field.mat-form-field.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-invalid {
    margin-bottom: 0px;
  }
}

mat-card-content.authorize-content.no-padding {
  padding: 0 !important;
}
mat-card-content.authorize-content {
  margin: 0px !important;
  padding: 0 40px;
  padding-bottom: 40px;

  button {
    width: 100%;
  }
  div.profile-icon-wrapper {
    padding: 0 !important;
    margin-right: 16px;
  }

  div.user-wrapper {
    padding: 0 !important;
  }

  div.deny-button-wrapper {
    justify-content: center;
  }

  mat-icon.profile-icon {
    height: 80px;
    width: 64px;
    img {
      height: 64px;
    }
  }

  mat-icon.scope {
    width: 32px;
  }

  mat-icon.scope.orcid {
    font-size: small;
    img {
      margin-top: 0 !important;
    }
  }

  .user-links {
    width: 100%;
  }

  .center-content {
    justify-content: center;
  }

  .disclaimer-box {
    margin: 24px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    :first-child {
      margin-bottom: 12px;
    }
  }
}

strong {
  font-weight: bold;
}

mat-spinner {
  align-self: center;
  margin: 60px;
}
