.info {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }
}

h2 {
  border-bottom: solid 2px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
