<app-modal [noSidebar]="true">
  <app-modal-header i18n="@@account.removeDuplicateRecord"
    >Remove duplicate record
  </app-modal-header>

  <app-alert-message type="warning" class="orc-font-body-small">
    <ng-container content i18n="@@account.warningDuplicated">
      Warning! All information will be deleted from the duplicate record. Only
      the email addresses will be transferred to your main ORCID record.
      Removing a duplicate record cannot be undone.
    </ng-container>
  </app-alert-message>

  <h2 class="remove">
    <strong class="orc-font-body-large" i18n="@@account.removeThisRecord"
      >Remove this record</strong
      >
    </h2>
    @if (data.deprecatingAccountName) {
      <strong
        >{{ data.deprecatingAccountName }}
        <a
          id="cy-deprecating-orcid"
          class="underline"
          href="{{ baseUrl }}{{ data.deprecatingOrcid }}"
          rel="noopener noreferrer"
          target="_blank"
          >({{ data.deprecatingOrcid }})</a
          ></strong
          >
        }
        @if (!data.deprecatingAccountName) {
          <strong
            ><ng-container i18n="@@account.nameIsPri">Name is private</ng-container>
            <a
              id="cy-deprecating-orcid"
              class="underline"
              href="{{ baseUrl }}{{ data.deprecatingOrcid }}"
              rel="noopener noreferrer"
              target="_blank"
              >{{ data.deprecatingOrcid }}</a
              ></strong
              >
            }
            @for (email of data.deprecatingEmails; track email) {
              <div>{{ email }}</div>
            }

            <h2 class="keep">
              <strong class="orc-font-body-large" i18n="@@account.keepThisRecord"
                >Keep this record</strong
                >
              </h2>

              @if (data.primaryAccountName) {
                <strong
                  >{{ data.primaryAccountName }}
                  <a
                    id="cy-primary-orcid"
                    class="underline"
                    href="{{ baseUrl }}{{ data.primaryOrcid }}"
                    rel="noopener noreferrer"
                    target="_blank"
                    >({{ data.primaryOrcid }})</a
                    ></strong
                    >
                  }
                  @if (!data.primaryAccountName) {
                    <strong>
                      <a
                        id="cy-primary-orcid"
                        class="underline"
                        href="{{ baseUrl }}{{ data.primaryOrcid }}"
                        rel="noopener noreferrer"
                        target="_blank"
                        >{{ data.primaryOrcid }}</a
                        ></strong
                        >
                      }
                      @for (email of data.primaryEmails; track email) {
                        <div>{{ email }}</div>
                      }

                      <app-modal-footer>
                        <button
                          mat-raised-button
                          color="warn"
                          (click)="ok()"
                          i18n="@@account.removeDuplicatedRecord"
                          id="cy-remove-duplicate-record"
                          >
      Remove duplicate record
    </button>
                        <button
                          mat-stroked-button
                          color="primary"
                          (click)="cancel()"
                          i18n="@@shared.cancel"
                          id="cy-dialog-cancel"
                          >
      Cancel
    </button>
                      </app-modal-footer></app-modal
                      >
