<app-modal [loading]="loadingBiography">
  <app-modal-header [closeLabel]="closeAriaLabel">
    <ng-container i18n="@@topBar.biography"> Biography </ng-container>
  </app-modal-header>
  <app-modal-side-bar>
    <ng-container id="side-bar-title">
      <a class="side-bar" i18n="@@topBar.biography" (click)="toBiography()">
        Biography
      </a>
    </ng-container>
    <ng-container id="side-bar-url-1">
      <a class="side-bar" i18n="@@shared.visibility" (click)="toVisibility()">
        Visibility
      </a>
    </ng-container>
  </app-modal-side-bar>
  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      i18n="@@shared.saveChanges"
      id="save-biography-button"
      [attr.aria-label]="saveAriaLabel"
    >
      Save changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-biography-button"
      [attr.aria-label]="cancelAriaLabel"
    >
      Cancel
    </button>
  </app-modal-footer>
  <form [formGroup]="biographyForm" (ngSubmit)="onSubmit()">
    <section id="biography">
      <div
        class="title"
        [ngClass]="{
          'orc-font-body': !platform.columns12,
          'orc-font-body-large': platform.columns12,
        }"
      >
        <p>
          <strong i18n="@@topBar.biography"> Biography </strong>
        </p>
      </div>
      <hr />
      <p class="orc-font-body-small" i18n="@@topBar.information">
        Information about yourself, your research interests and other pertinent
        details that enhance your ORCID record.
      </p>
      <label for="biography-input" class="mat-caption">
        <strong i18n="@@topBar.biography">Biography</strong>
      </label>
      <mat-form-field appearance="outline" class="mat-form-field-min biography">
        <textarea
          maxlength="5000"
          id="biography-input"
          matInput
          formControlName="biography"
          placeholder=" {{ ngOrcidAddYourBiography }}"
          [cdkTextareaAutosize]="true"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="1000"
        >
        </textarea>

        <mat-hint
          >{{ biographyForm.get('biography').value?.length }}/5000</mat-hint
        >
      </mat-form-field>
    </section>
    <section id="visibility">
      <div
        class="title"
        [ngClass]="{
          'orc-font-body': !platform.columns12,
          'orc-font-body-large': platform.columns12,
        }"
      >
        <p>
          <strong i18n="@@shared.visibility"> Visibility </strong>
        </p>
      </div>
      <hr />
      <p class="orc-font-body-small">
        {{ ngOrcidDefaultVisibilityLabel }}
        <strong>{{ defaultVisibility | visibilityStringLabel }}</strong
        >.
      </p>
      <div class="row visibility">
        <div class="col no-wrap actions-wrapper no-gutters">
          <app-visibility-selector
            formControlName="visibility"
            [ariaLabelPrivate]="visibilityPrivateAriaLabel"
            [ariaLabelPublic]="visibilityPublicAriaLabel"
            [ariaLabelTrustedParty]="visibilityTrustedPartyAriaLabel"
            [itemTitle]="ariaLabelBiography"
          >
          </app-visibility-selector>
        </div>
      </div>
    </section>
  </form>
</app-modal>
