:host {
  width: 100%;
}

hr {
  height: 2px;
  border: 0;
  margin: 0;
}

.title {
  p {
    margin: 6px 0;
  }
}

label.mat-caption {
  margin-bottom: 8px;
}

.mat-mdc-form-field {
  width: 100%;
}

.side-bar {
  text-decoration: underline;
}
