@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';
@import 'src/assets/scss/material.typography';

@mixin model-biography-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.m2-define-typography-config();

  textarea.mat-mdc-input-element {
    font-size: mat.m2-font-size($config, body-1) !important;
  }
}
@include model-biography-theme($orcid-app-theme);
