@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';
@import 'src/assets/scss/material.typography';

@mixin model-biography-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat-typography-config();

  input {
    border: solid 1px mat-color($background, grey);
  }

  ::placeholder {
    color: mat-color($background, grey);
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: mat-color($background, grey);
  }

  hr {
    border-color: map-get($foreground, 'brand-primary');
    color: map-get($foreground, 'brand-primary');
    background: map-get($foreground, 'brand-primary');
  }

  mat-error {
    color: map-get($foreground, 'state-warning-dark');
  }

  mat-hint {
    color: map-get($foreground, 'text-dark-mid');
  }

  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  .required {
    color: map-get($foreground, 'state-warning-dark');
  }

  textarea.mat-input-element {
    font-size: mat-font-size($config, caption) !important;
  }

}
@include model-biography-theme($orcid-app-theme);
