mat-icon {
  vertical-align: middle;
  float: left;
  font-size: 20px !important;
  line-height: 42px !important;
}

button {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.12);
}

.google {
  margin-top: 12px;
  max-height: 36px;
  background-color: #ffffff;
}

.institution {
  height: auto;
  background-color: #0079ff;
  color: #ffffff;
}

.facebook {
  margin-top: 12px;
  background-color: #3b5998;
  color: #ffffff;
}

.institution-icon {
  margin-left: -79px;
  line-height: 35px !important;
  font-size: 26px !important;
}

.institution-icon-align-top {
  margin-top: 6px;
}

.institution-text {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
  white-space: normal;
  line-height: 24px;
}
