<button
  mat-raised-button
  (click)="navigateTo('')"
  class="institution mat-elevation-z0"
  type="button"
>
  <mat-icon class="institution-icon">ic_account_balance</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.institutionalAccount">
    Access through your institution
  </ng-container>
</button>
<button
  mat-raised-button
  (click)="navigateTo('')"
  class="google mat-elevation-z0"
  type="button"
>
  <mat-icon svgIcon="google"></mat-icon>
  <ng-container i18n="@@ngOrcid.signin.google">
    Sign in with Google
  </ng-container>
</button>
<button
  mat-raised-button
  (click)="navigateTo('')"
  class="facebook mat-elevation-z0"
  type="button"
>
  <mat-icon svgIcon="facebook"></mat-icon>
  <ng-container i18n="@@ngOrcid.signin.facebook">
    Sign in with Facebook
  </ng-container>
</button>
