button.mat-button-wrap-text-with-icon {
  width: 100%;
  margin-top: 12px;
}

.institutional {
  font-weight: normal;
  margin-top: 0 !important;
}

.institutional.mobile {
  ::ng-deep {
    span.mat-button-wrapper {
      width: 210px !important;
    }
  }
}

.google {
  font-weight: normal;
  margin-top: 16px !important;
}
