<button
  mat-raised-button
  id="access-through-your-institution-button"
  (click)="accessThroughInstitution()"
  class="mat-button-wrap-text-with-icon mobile-fixed-width mat-elevation-z0 institutional"
  [ngClass]="{
    mobile: !platform.columns12
  }"
  type="button"
  [attr.aria-label]="labelInstitutionalButton"
>
  <img
    [src]="'./assets/vectors/institutional-access-no-background.svg'"
    alt="Institutional"
  />
  <ng-container i18n="@@ngOrcid.signin.signInInstitution">
    Sign in through your institution
  </ng-container>
</button>