<main id="main">
  <div class="container">
    <div class="row space-around">
      <div class="col l5 m6 s4">
        <mat-card class="orcid-wizard-2">
          <mat-card-header>
            <img
              class="logo mat-card-logo"
              src="./assets/vectors/orcid.logo.svg"
              alt="orcid logo"
              role="link"
              i18n="@@authorize.authorizeAccess"
            />
            <mat-card-title>Authorize Access</mat-card-title>
          </mat-card-header>
          <mat-divider class="orcid-divider"></mat-divider>
          <mat-card-content>
            <p class="mat-caption" i18n="@@authorize.youAreCurrentlySignin">
              You are currently signed in as:
            </p>
            <p class="mat-body-2"><strong>Herman Cote</strong></p>
            <p class="mat-body-2">https://qa.orcid.org/0000-0001-9618-9183</p>
            <div class="mat-body-2" class="user-links">
              <a class="mat-button-font" i18n="@@public-layout.sign_out"
                >Sign out</a
              >
              <a
                *ngIf="isATrustedIndividual"
                class="mat-button-font"
                [matMenuTriggerFor]="menu"
                i18n="@@authorize.switchAccount"
                >Switch to another account</a
              >
            </div>
            <mat-divider class="orcid-divider"></mat-divider>
            <div class="university-dropdown">
              <a class="mat-body-2 black-underline-url body-2">
                Aalborg University Library
                <!-- TODO user the right icon-->
              </a>
              <mat-icon class="material-icons-outlined">info</mat-icon>
            </div>
            <p class="mat-body-1" i18n="@@authorize.hasAskedAccess">
              has asked for the following access to your ORCID record:
            </p>

            <ul class="mat-body-1">
              <li>
                <mat-icon class="material-icons-outlined"
                  >remove_red_eye</mat-icon
                >
                <p>
                  Read your information with visibility set to Trusted
                  Organizations
                </p>
              </li>
              <li>
                <mat-icon class="material-icons-outlined">update</mat-icon>
                <p>
                  Add/update your research activities (works, affiliations, etc)
                </p>
              </li>
              <li>
                <mat-icon class="material-icons-outlined">update</mat-icon>
                <p>
                  Add/update information about you (country, keywords, etc.)
                </p>
              </li>
            </ul>

            <button
              mat-raised-button
              color="primary"
              i18n="@@authorize.authorize"
            >
              Authorize access
            </button>
            <button mat-stroked-button color="primary" i18n="@@authorize.deny">
              Deny access
            </button>

            <p class="mat-caption">
              <ng-container i18n="@@authorize.ifAuthorize">
                If authorized, this organization will have access to your ORCID
                record, as outlined above and described in further detail
                in</ng-container
              >

              <a
                href="https://orcid.org/footer/privacy-policy"
                target="_blank"
                rel="noopener"
                class="mat-button-font"
                i18n="@@authorize.privacyPolicy"
                >ORCID’s privacy policy.</a
              >
            </p>
            <p class="mat-caption">
              <ng-container i18n="@@authorize.youCanManage">
                You can manage access permissions for this and other Trusted
                Organizations in your
              </ng-container>
              <a
                href="/account#manage-permissions"
                target="_blank"
                rel="noopener"
                class="mat-button-font"
                i18n="@@authorize.accountSettings"
                >account settings.</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>

<mat-menu #menu="matMenu" class="mat-body-1">
  <div i18n="@@authorize.SwitchTo">Switch to another account</div>
  <div>
    <ng-container i18n="@@authorize.youHave">You have</ng-container> {{ '12' }}
    <ng-container i18n="@@authorize.accounts">accounts</ng-container>
  </div>
  <button
    class="mat-button-wrap-text"
    mat-menu-item
    *ngFor="let account of alternativeAccounts"
    (click)="changeAccount(account)"
  >
    <div>
      <strong>{{ account }}</strong>
    </div>
    <div>
      0000-0000-0000-000X
    </div>
  </button>
</mat-menu>
