:host {
  width: 100%;
}

.logo {
  width: 130px;
}

.user-links {
  display: flex;
  justify-content: space-between;
}

.university-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}
