<main id="main">
  <div class="container">
    <div class="row space-around">
      <div class="col l5 m6 s4">
        <mat-card
          class="orcid-wizard-2"
          *ngIf="oauthRequest && userName && orcidUrl"
        >
          <mat-card-header>
            <img
              class="logo mat-card-logo"
              src="./assets/vectors/orcid.logo.svg"
              alt="orcid logo"
              role="link"
              i18n="@@authorize.authorizeAccess"
            />
            <mat-card-title>Authorize Access</mat-card-title>
          </mat-card-header>
          <mat-divider class="orcid-divider"></mat-divider>
          <mat-card-content>
            <p class="mat-caption" i18n="@@authorize.youAreCurrentlySignin">
              You are currently signed in as:
            </p>
            <p class="mat-body-2">
              <strong>{{ userName }}</strong>
            </p>
            <p class="mat-body-2">{{ orcidUrl }}</p>
            <div class="mat-body-2" class="user-links">
              <a
                class="mat-button-font"
                i18n="@@public-layout.sign_out"
                (click)="signout()"
                >Sign out</a
              >
              <app-trusted-individuals-dropdown></app-trusted-individuals-dropdown>
            </div>
            <mat-divider class="orcid-divider"></mat-divider>

            <app-info-drop-down
              [name]="oauthRequest.memberName"
              [description]="oauthRequest.clientDescription"
            ></app-info-drop-down>

            <p class="mat-body-1" i18n="@@authorize.hasAskedAccess">
              has asked for the following access to your ORCID record:
            </p>

            <ul class="mat-body-1">
              <ng-container
                *ngFor="let scope of this.oauthRequest.scopes; let last = last"
              >
                <li [matTooltip]="scope.longDescription">
                  <mat-divider></mat-divider>
                  <div>
                    <ng-container
                      [ngTemplateOutlet]="
                        (getIconName(scope.value) === 'updateIcon' &&
                          updateIconTemplate) ||
                        (getIconName(scope.value) === 'orcidIcon' &&
                          orcidIconTemplate) ||
                        (getIconName(scope.value) === 'viewIcon' &&
                          viewIconTemplate)
                      "
                    ></ng-container>
                    <p>{{ scope.description }}</p>
                  </div>
                  <mat-divider *ngIf="last"></mat-divider>
                </li>
              </ng-container>
            </ul>

            <button
              mat-raised-button
              color="primary"
              i18n="@@authorize.authorize"
              (click)="authorize()"
            >
              Authorize access
            </button>
            <button
              mat-stroked-button
              color="primary"
              i18n="@@authorize.deny"
              (click)="authorize(false)"
            >
              Deny access
            </button>

            <p class="mat-caption">
              <ng-container i18n="@@authorize.ifAuthorize">
                If authorized, this organization will have access to your ORCID
                record, as outlined above and described in further detail
                in</ng-container
              >

              <a
                href="https://orcid.org/footer/privacy-policy"
                target="_blank"
                rel="noopener"
                class="mat-button-font"
                i18n="@@authorize.privacyPolicy"
                >ORCID’s privacy policy.</a
              >
            </p>
            <p class="mat-caption">
              <ng-container i18n="@@authorize.youCanManage">
                You can manage access permissions for this and other Trusted
                Organizations in your
              </ng-container>
              <a
                href="/account#manage-permissions"
                target="_blank"
                rel="noopener"
                class="mat-button-font"
                i18n="@@authorize.accountSettings"
                >account settings.</a
              >
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>

<ng-template #updateIconTemplate>
  <mat-icon class="material-icons-outlined" role="presentation"
    >update</mat-icon
  >
</ng-template>

<ng-template #viewIconTemplate>
  <mat-icon class="material-icons-outlined" role="presentation"
    >remove_red_eye</mat-icon
  >
</ng-template>

<ng-template #orcidIconTemplate>
  <mat-icon role="presentation">
    <img src="/assets/vectors/orcid.logo.black.icon.svg" alt=""
  /></mat-icon>
</ng-template>
