:host {
  width: 100%;
}

.language-menu {
  margin-bottom: 18px;
  button {
    height: 34px;
    div {
      height: 34px;
      width: auto;
      padding: 0 12px;
      .col {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.advance-search-box {
  margin-bottom: 5.5px;
}

.search-box {
  > div {
    height: 42px;
  }
  // border: 1px solid black;

  .search-where {
    width: 115px;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;

    padding: 0 12px;
    > div {
      width: 76px;
      font-size: 16px;
    }
  }

  .input-box {
    flex-grow: 1;
    max-width: 240px;
    input {
      width: 100%;
    }
  }

  .search-icon {
    width: 45px;
    height: 42px;
    border-radius: 0 4px 4px 0;
    padding-left: 9px;
    mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
  }

  input {
    height: 42px;
    box-sizing: border-box;
    padding-left: 12px;
  }
  mat-icon {
    width: 12px;
    height: 20px;
  }
}

.columns-8,
.columns-4 {
  :host {
    .search-box {
      .search-where,
      .search-icon {
        flex-shrink: 0;
        border-radius: 0;
      }
      flex-wrap: initial;
      .input-box {
        flex-grow: 1;
        max-width: unset;
        input {
          width: 100%;
        }
      }
    }
  }
}

body[dir='rtl'] :host {
  .search-where {
    border-radius: 0 4px 4px 0;
  }
  .search-icon {
    border-radius: 4px 0 0 4px;
  }
}
