:host {
  width: 100%;
}

.language-menu {
  margin-bottom: 16px;
  button {
    height: 34px;
    div {
      height: 34px;
      width: auto;
      padding: 0 12px;
      .col {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.advance-search-box {
  button {
    padding: 0;
  }
}

.search-box {
  flex: 1px;
  > div,
  > button {
    height: 42px;
  }
  // border: 1px solid black;

  .search-where {
    width: auto;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    padding: 0 12px;
    margin: 0;
    > div {
      padding: 0 8px;
      width: auto;
    }
  }

  .input-box {
    flex-grow: 1;
    max-width: 214px;
    input {
      border-width: 1px;
      border-style: solid;
      width: 100%;
    }
  }

  .input-box-new-info {
    width: 334px;
    input {
      border-radius: 3px;
      margin-left: 2px;
      width: 100%;
    }
  }

  .search-icon {
    width: 45px;
    height: 42px;
    border-radius: 0 4px 4px 0;
    padding-left: 9px;

    mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
      [dir='rtl'] :host & {
        padding-right: 2px;
      }
    }
  }

  input {
    height: 42px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
  }
  mat-icon {
    width: 12px;
    height: 20px;
  }
}

.columns-8,
.columns-4 {
  :host {
    .search-box {
      padding: 12px 0px;
      justify-content: center;
      max-width: calc(100% - 28px);
      .search-where,
      .search-icon {
        flex-shrink: 0;
        border-radius: 0;
      }
      flex-wrap: initial;
      .input-box,
      .input-box-new-info {
        flex-grow: 1;
        max-width: none;
        input {
          width: 100%;
        }
      }
    }
  }
}

[dir='rtl'] :host {
  .search-where {
    border-radius: 0 4px 4px 0;
  }
  .search-icon {
    border-radius: 4px 0 0 4px;
  }
}

button {
  border: none;
}

app-user-menu {
  overflow: hidden;
}
