<div class="row end language-menu" *ngIf="platform.columns12">
  <app-language></app-language>
</div>

<div class="row end advance-search-box" *ngIf="platform.columns12">
  <button
    mat-button
    color="primary"
    i18n="@@ng-orcid.advanceSearch"
    (click)="goTo('/orcid-search/search')"
  >
    ADVANCED SEARCH
  </button>
</div>
<form class="row end search-box middle">
  <div
    matRipple
    mat-button
    [matMenuTriggerFor]="menu"
    class="col middle search-where"
  >
    <div>{{ whereToSearchSelected }}</div>
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </div>
  <div class="input-box">
    <input
      autocomplete="off"
      name="whatToSearch"
      [(ngModel)]="whatToSearch"
      [placeholder]="searchPlaceHolder"
      type="text"
      (keyup.enter)="search(whereToSearchSelected, whatToSearch)"
    />
  </div>
  <div
    matRipple
    class="col middle search-icon"
    (click)="search(whereToSearchSelected, whatToSearch)"
  >
    <mat-icon matSuffix>search</mat-icon>
  </div>
</form>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let item of whereToSearch"
    (click)="changeWhereToSearch(item)"
  >
    {{ item }}
  </button>
</mat-menu>
