<mat-card appearance="outlined" class="orcid-wizard">
  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">
      <ng-container
        *ngIf="!reactivation?.isReactivation"
        i18n="@@register.create"
      >
        Create your ORCID iD
      </ng-container>
      <ng-container
        *ngIf="reactivation?.isReactivation"
        i18n="@@register.reactivation"
      >
        Thank you for reactivating your ORCID iD.
      </ng-container>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2" i18n="@@register.step1"
      >This is step 1 of 3</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="!reactivation?.isReactivation">
      <ng-container i18n="@@register.orcids">Per ORCID's</ng-container>
      <a
        href="{{ infoSiteBaseUrl }}content/orcid-terms-use"
        class="mat-button-font"
        rel="noopener noreferrer"
        target="_blank"
        i18n="@@register.terms"
        >terms of use</a
      ><ng-container i18n="@@register.only"
        >, you may only register for an ORCID iD for yourself. Already have an
        ORCID iD?</ng-container
      >
      <a class="mat-button-font" i18n="@@register.sign" (click)="signIn()"
        >Sign In</a
      >
    </p>
    <form [formGroup]="formGroup">
      <app-form-personal
        formControlName="personal"
        [reactivation]="reactivation"
      >
      </app-form-personal>
      <div class="step-actions">
        <button
          mat-button
          color="primary"
          (click)="goBack()"
          matStepperPrevious
          type="button"
          i18n="@@shared.back"
          id="step-a-back-button"
        >
          GO BACK
        </button>
        <button
          id="step-a-next-button"
          mat-raised-button
          matStepperNext
          color="primary"
          i18n="@@shared.next"
          (click)="goForward()"
        >
          NEXT
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
