:host {
  background-color: black;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}


.text-container {
  display: flex;
  align-items: center;
}
