:host {
  background-color: black;
  width: 100%;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
}

.text-container {
  display: flex;
  align-items: center;
}

.orc-font-body-large {
  margin-left: 4px;
}

.orc-font-body {
  margin-left: 6px;
}
