:host {
  background-color: black;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px 0 16px;
}

.text-container {
  display: flex;
  align-items: center;
}
