:host {
  background-color: #f5c120;
  display: flex;
  padding: 15px;
}

.alert-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

button {
  flex-shrink: 0;
}

.mat-subtitle-2 p {
  margin: 0;
}
.columns-12 :host {
  .alert-banner > div {
    padding-right: 15px;
  }
}
.columns-8 :host,
.columns-4 :host {
  .alert-banner {
    flex-direction: column;
    align-items: flex-end;
    p {
      align-self: flex-start;
    }
  }
}
