<app-modal
  [noPadding]="true"
  [noSidebar]="true"
  [loading]="loading"
  class="orc-font-body-small"
  >
  <app-modal-header [closeLabel]="closeLabel">
    <div class="header">
      <div class="featured-works-star">
        <mat-icon> star_filled </mat-icon>
      </div>
      <ng-container i18n="@@shared.featuredWork">Featured work</ng-container>
    </div>
  </app-modal-header>

  <app-modal-title [featured]="true">{{ work?.title?.value }}</app-modal-title>
  <div class="body">
    <div class="summary">
      @if (work?.journalTitle) {
        <div>
          {{ work.journalTitle.value }}
        </div>
      }
      <div>
        @if (work?.publicationDate?.year) {
          {{ work.publicationDate | monthDayYearDateToString }}
          |
        }
        {{ work?.workType?.value | recordWorkTypeLabel }}
        @if (
          work?.contributorsGroupedByOrcid
          | recordHolderRoles
          : 'true'
          : userRecord?.userInfo?.EFFECTIVE_USER_ORCID; as roles
          ) {
          @if (roles) {
            |
            <span class="record-holder">{{ roles }}</span>
          }
        }
      </div>
      <app-display-external-ids
        [externalIdentifiers]="work?.workExternalIdentifiers"
      ></app-display-external-ids>
    </div>

    <app-work-details
      [work]="work"
      [isPublicRecord]="true"
      [id]="userRecord?.userInfo?.EFFECTIVE_USER_ORCID"
    ></app-work-details>
  </div>
</app-modal>
