<div class="externalIds">
  <app-panel-data-line
    *ngIf="grant?.grantNumber"
    [title]="typeLabel"
    [content]="grant.grantNumber"
  ></app-panel-data-line>

  <app-panel-data-line
    *ngIf="grant?.grantUrl"
    [title]="valueLabel"
    [content]="grant.grantUrl"
    [url]="grant.grantUrl"
  >
  </app-panel-data-line>

  <app-panel-data-line
    *ngIf="grant?.fundingRelationship"
    [title]="urlLabel"
    [content]="grant.fundingRelationship"
  >
  </app-panel-data-line>
</div>
<div class="controls">
  <a (click)="edit.emit()">Edit</a>
  <a (click)="delete.emit()">Delete</a>
</div>
