<div class="externalIds">
  @if (grant?.grantNumber) {
    <app-panel-data-line
      [title]="grantNumberLabel"
      [content]="grant.grantNumber"
    ></app-panel-data-line>
  }
  @if (grant?.grantUrl) {
    <app-panel-data-line
      [title]="grantUrlLabel"
      [content]="grant.grantUrl"
      [url]="grant.grantUrl"
    >
    </app-panel-data-line>
  }
  @if (grant?.fundingRelationship) {
    <app-panel-data-line
      [title]="fundingRelationshipLabel"
      [content]="grant.fundingRelationship | recordFundingRelationshipLabel"
    >
    </app-panel-data-line>
  }
</div>
<div class="controls">
  <a i18n="@@shared.edit" (click)="edit.emit()">Edit</a>
  <a i18n="@@shared.delete" (click)="delete.emit()">Delete</a>
</div>
