[body] {
  display: flex;
  flex-direction: column;
}

:host {
  width: 100%;
}

:host.display-the-stack {
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;

  app-panel:not(.last) {
    display: block;
    position: relative;
  }
}

app-panel {
  margin-top: 16px;
  word-break: break-word;

  p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.header-sub-peer-review {
  margin-right: 40px;
}

.header-sub-peer-review,
.mobile {
  margin-right: 10px;
}

.show {
  margin-right: 32px;
}
