@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin peer-review-stack-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-panel-data {
    border-color: mat.m2-get-color-from-palette(
      $background,
      ui-background
    ) !important;
    background-color: map-get($background, card);
  }

  .description {
    border-color: mat.m2-get-color-from-palette(
      $background,
      ui-background
    ) !important;
  }
}

@include peer-review-stack-theme($orcid-app-theme);
