:host {
  width: 100%;
}

.two-factor {
  margin-top: 12px;
}

.error-message {
  float: left;
  margin: 0;
  [dir='rtl'] :host & {
    float: right;
  }
}

.error-length {
  float: right;
  margin: 0;
  [dir='rtl'] :host & {
    float: left;
  }
}

.orcid-error {
  margin-top: 20px !important;
}



p.enter-code {
  margin-top: 28px;
}

mat-label.orc-font-small-print {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;

  label {
    font-weight: normal;
  }
}
