<form [formGroup]="twoFactorForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <mat-label
      class="orc-font-small-print"
      i18n="@@ngOrcid.signin.2fa.label"
      [ngClass]="{
        error: isVerificationCodeInvalid,
      }"
      *ngIf="!recoveryCode"
      >Two-factor authentication code
    </mat-label>
    <mat-form-field
      appearance="outline"
      class="row deactivate"
      *ngIf="!recoveryCode"
    >
      <input
        matInput
        #inputVerificationCode
        formControlName="verificationCode"
        cdkFocusInitial
        appTrim
        autocomplete="off"
      />
    </mat-form-field>
    <ng-container *ngIf="!recoveryCode">
      <mat-hint
        class="orc-font-small-print error-length"
        *ngIf="!isVerificationCodeInvalid"
        >{{ verificationFormControl.value?.length || 0 }}/6</mat-hint
      >
      <mat-error
        *ngIf="
          verificationWasTouched && verificationFormControl.hasError('required')
        "
      >
        <p
          i18n="@@ngOrcid.signin.2fa.verificationCodeRequired"
          class="error-message"
        >
          Authentication code is required
        </p>
        <p class="error-length">
          {{ verificationFormControl.value?.length || 0 }}/6
        </p>
      </mat-error>

      <mat-error
        *ngIf="
          verificationWasTouched &&
          (verificationFormControl.hasError('minlength') ||
            verificationFormControl.hasError('maxlength'))
        "
      >
        <p
          i18n="@@ngOrcid.signin.2fa.badVerificationCodeLength"
          class="error-message"
        >
          Invalid authentication code length
        </p>
        <p class="error-length">
          {{ verificationFormControl.value?.length || 0 }}/6
        </p>
      </mat-error>
    </ng-container>
  </div>
  <p
    [ngClass]="{
      'enter-code': isVerificationCodeInvalid,
    }"
  >
    <a
      class="underline orc-font-body-small"
      (click)="showAuthenticationCode()"
      i18n="@@ngOrcid.signin.2fa.instructionsPart1"
      >Enter a code
    </a>
    <ng-container i18n="@@ngOrcid.signin.2fa.instructionsPart2">
      from your two-factor authentication app
    </ng-container>
  </p>
  <p>
    <ng-container i18n="@@ngOrcid.signin.2fa.noDevice1">
      Don't have your device?
    </ng-container>
    <a
      class="underline orc-font-body-small"
      (click)="showRecoveryCode()"
      i18n="@@ngOrcid.signin.2fa.noDevice2"
      >Enter a recovery code
    </a>
  </p>
  <p>
    <ng-container i18n="@@ngOrcid.signin.2fa.noDeviceOrRecovery">
      Don't have your device or recovery code?
    </ng-container>
    <a
      class="underline orc-font-body-small"
      (click)="navigateTo('https://support.orcid.org/')"
      rel="noopener noreferrer"
      target="_blank"
      i18n="@@shared.orcidHelpCenter"
      >ORCID Help Center
    </a>
  </p>
  <div class="input-container">
    <mat-label
      class="orc-font-small-print"
      i18n="@@ngOrcid.signin.2fa.recoveryCode"
      [ngClass]="{
        error: isRecoveryCodeInvalid,
      }"
      *ngIf="recoveryCode"
      >Recovery code
    </mat-label>
    <mat-form-field appearance="outline" class="row" *ngIf="recoveryCode">
      <input
        matInput
        #inputRecoveryCode
        formControlName="recoveryCode"
        appTrim
        autocomplete="off"
      />
    </mat-form-field>
    <ng-container *ngIf="recoveryCode">
      <mat-hint
        class="orc-font-small-print error-length"
        *ngIf="!isRecoveryCodeInvalid"
        >{{ recoveryCodeFormControl.value?.length || 0 }}/10</mat-hint
      >
      <mat-error
        *ngIf="
          recoveryCodeWasTouched && recoveryCodeFormControl.hasError('required')
        "
      >
        <p
          i18n="@@ngOrcid.signin.2fa.recoveryCodeRequired"
          class="error-message"
        >
          Recovery code is required
        </p>
        <p class="error-length">
          {{ recoveryCodeFormControl.value?.length || 0 }}/10
        </p>
      </mat-error>

      <mat-error
        *ngIf="
          recoveryCodeWasTouched &&
          (recoveryCodeFormControl.hasError('minlength') ||
            recoveryCodeFormControl.hasError('maxlength'))
        "
      >
        <p
          i18n="@@ngOrcid.signin.2fa.badRecoveryCodeLength"
          class="error-message"
        >
          Invalid recovery code length
        </p>
        <p class="error-length">
          {{ recoveryCodeFormControl.value?.length || 0 }}/10
        </p>
      </mat-error>
    </ng-container>
  </div>

  <button
    mat-raised-button
    class="row mat-elevation-z0 two-factor authenticate-button-new-signin"
    type="submit"
    i18n="@@ngOrcid.signin.2fa.authenticate"
    id="authenticateButton"
  >
    AUTHENTICATE
  </button>
</form>
<mat-error *ngIf="showBadVerificationCode" class="orcid-error">
  <mat-icon inline="true">error</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.2fa.badVerificationCode">
    Invalid authentication code
  </ng-container>
</mat-error>
<mat-error *ngIf="showBadRecoveryCode" class="orcid-error">
  <mat-icon inline="true">error</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.2fa.badRecoveryCode">
    Invalid recovery code
  </ng-container>
</mat-error>
