<app-modal [noSidebar]="true">
  <app-modal-header i18n="@@account.addAccessTrustedIndividuals"
    >Add access - Trusted individual
  </app-modal-header>

  <p i18n="@@account.addThisUserAsTrusted">
    Adding this user as a trusted individual will mean they are able to update
    your ORCID record.
  </p>

  @if (data['given-names'] || data['family-names']) {
    <div class="orcid-id-container">
      <strong> {{ data['given-names'] }} {{ data['family-names'] }}</strong>
      @if (data?.['orcid-id']) {
        <a
          class="underline"
          target="_blank"
          rel="noreferrer noopener"
          href="{{ baseUrl }}{{ data?.['orcid-id'] }}"
          >https:{{ baseUrl }}{{ data?.['orcid-id'] }}</a
        >
      }
    </div>
  }
  @if (addByEmailOrOrcid) {
    <div class="orcid-id-container">
      <strong>{{ addByEmailOrOrcid }}</strong>
    </div>
  }

  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="ok()"
      id="cy-add-as-trusted-individual"
      i18n="@@account.addAsTrustedIndividuals"
    >
      Add as trusted individual
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="cancel()"
      id="cy-cancell"
      i18n="@@shared.cancel"
    >
      Cancel
    </button>
  </app-modal-footer></app-modal
>
