.container {
    width: 40px;
    height: 8px;
    border-radius: 8px;
    display: flex;
    padding: 4px;
    justify-content: space-around;
    padding: 4px;
    box-sizing: unset;
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}
