<div class="container">
  <div class="inline-intial-side">
    <button mat-icon-button a>
      <mat-icon (click)="collapse()" class="large-material-icon"
        >keyboard_arrow_down
      </mat-icon>
    </button>

    <div class="text-container">
      <ng-content> </ng-content>
    </div>
  </div>

  <div class="contols">
    <button mat-icon-button a>
      <mat-icon (click)="add()" class="large-material-icon"
        >add_circle</mat-icon
      >
    </button>
    <button mat-icon-button a>
      <mat-icon (click)="sort()" class="large-material-icon">sort</mat-icon>
    </button>
  </div>
</div>
