.card-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border: 2px solid;
  border-radius: 4px;
  background-color: white;
}

.activity-container:hover {
  cursor: pointer;
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}


.activity-container.padding-botton {
  padding-bottom: 16px;
}

.activity-container {
  width: 100%;
  border-bottom: 16px;
  text-align: initial;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;

    .header-title {
      max-width: 100%;
      display: flex;
      align-items: initial;

      h3 {
        margin: 0;
        overflow: hidden;
      }
    }

    display: flex;
    padding-bottom: 4px;
  }

  caption {
    display: inline;
    width: 100%;
    text-align: left;
  }
}

.activity-container.with-border {
  border-bottom: 2px solid;
}

.body-wrapper {
  margin-inline-start: 25px;
}

mat-icon {
  min-width: 25px;
  margin-inline-end: 3px;
  img {
    margin-top: 2px;
    display: block;
  }
}

a {
  font-weight: 400;
  max-width: 100%;
}

.text-container {
  max-width: 210px;
  overflow: hidden;
  word-wrap: break-word;
}

.header {
  line-height: 24px;
}
