:host {
  display: block;
}

.summary-container-head {
  max-width: 1304px;
  min-height: 80px;
  padding: 16px 16px;

  h2 {
    padding: 0;
    margin: 0;
  }

  svg {
    margin-left: 8px;
    position: absolute;
    margin-top: 4px;
  }
}
