@for (
  funding of fundingStack?.fundings;
  track trackByFundingStack(i, funding);
  let i = $index;
  let last = $last
) {
  <!-- A PANEL COMPONENT FOR EACH FUNDING ON THE STACK -->
  @if (isPreferred(funding) || displayTheStack) {
    <app-panel
      panelId="funding-stack"
      [userRecord]="userRecord"
      [stackSiblings]="fundingStack.fundings"
      [editableVisibilityControl]="isPreferred(funding)"
      [elements]="funding"
      [editModalComponent]="modalFundingComponent"
      [ngStyle]="{ 'z-index': fundingStack.fundings.length - i }"
      [ngClass]="{ last: last }"
      [visibility]="fundingStack.defaultFunding.visibility.visibility"
      [isPublicRecord]="isPublicRecord"
      [putCode]="funding.putCode.value"
      [isUserSource]="userIsSource(funding)"
      [hasExternalIds]="hasExternalIds"
      [userVersionPresent]="fundingStack.userVersionPresent"
      [(displayTheStack)]="displayTheStack"
      type="funding"
      [panelTitle]="funding.fundingTitle.title.value"
    >
      <h4 header class="funding-title orc-font-body">
        {{ funding.fundingTitle.title.value }}
      </h4>
      <!-- FUNDING BODY -->
      @if (stackPanelsDisplay[funding.putCode.value].topPanelOfTheStack) {
        <app-funding
          [orgDisambiguated]="orgDisambiguated[funding.putCode.value]"
          [funding]="funding"
          [panelDetailsState]="panelDetailsState[funding.putCode.value]"
          (toggleDetails)="toggleDetails($event)"
        >
        </app-funding>
      }
      <!-- FUNDING SOURCE -->
      <app-panel-source
        [userRecord]="userRecord"
        [isPreferred]="isPreferred(funding)"
        [sourceName]="funding.sourceName || funding.source"
        [assertionOriginName]="funding.assertionOriginName"
        [assertionOriginClientId]="funding.assertionOriginClientId"
        [assertionOriginOrcid]="funding.assertionOriginOrcid"
        [stackLength]="fundingStack.fundings.length"
        [(displayTheStack)]="displayTheStack"
        (makePrimary)="makePrimaryCard(funding)"
        [topPanelOfTheStackMode]="
          stackPanelsDisplay[funding.putCode.value].topPanelOfTheStack
        "
        [isPublicRecord]="isPublicRecord"
        (topPanelOfTheStackModeChange)="changeTopPanelOfTheStack(funding)"
        [type]="'funding'"
        [item]="funding"
        [panelTitle]="funding.fundingTitle.title.value"
      >
      </app-panel-source>
    </app-panel>
  }
}
