<div
  class="info"
  [ngClass]="{
    'orc-font-body-small': !isMobile,
    'orc-font-small-print': isMobile,
    'just-registered': justRegistered,
    'email-verified': emailVerified
  }"
>
  <div class="col">
    <mat-icon *ngIf="justRegistered">info</mat-icon>
    <mat-icon *ngIf="emailVerified">verified</mat-icon>
  </div>
  <div class="col l11 m6 s3">
    <ng-container *ngIf="justRegistered">
      <h2 class="orc-font-body" i18n="@@record.thankYouForRegistering">
        Thank you for registering with ORCID
      </h2>
      <p class="orc-font-body-small" i18n="@@record.weHaveSent">
        We have sent verification messages to each of your registered email
        addresses. You will need to verify your primary email address before you
        can begin adding information manually to your ORCID record.
      </p>
      <button
        mat-raised-button
        color="primary"
        i18n="@@record.resendVerificationEmails"
        (click)="resendVerificationEmailModal()"
      >
        Resend verification emails
      </button>
    </ng-container>
    <ng-container *ngIf="emailVerified">
      <h2 class="orc-font-body" i18n="@@myOrcidAlerts.emailVerified">
        Thank you for verifying your email
      </h2>
    </ng-container>
  </div>
</div>
