<div
  class="info"
  [ngClass]="{
      'orc-font-body-small': !isMobile,
      'orc-font-small-print': isMobile
    }"
  *ngIf="userRecord?.userInfo?.IS_PRIMARY_EMAIL_VERIFIED"
>
  <div class="col">
    <mat-icon>info</mat-icon>
  </div>
  <div class="col l11 m6 s3">
    <h2
      class="orc-font-body"
      i18n="@@record.thankYouForRegistering"
    >
      Thank you for registering with ORCID
    </h2>
    <p
      class="orc-font-body-small"
      i18n="@@record.weHaveSent"
    >
      We have sent verification messages to each of your registered email addresses. You will need to verify your primary email address before you can begin adding information manually to your ORCID record.
    </p>
    <button
      mat-raised-button
      color="primary"
      i18n="@@record.resendVerificationEmails"
      (click)="resendVerificationEmail()"
    >
      Resend verification emails
    </button>
  </div>
</div>
