<ng-container [formGroup]="additionalEmails">
  <div
    class="input-container"
    *ngFor="
      let additionalEmailControl of additionalEmails?.controls | keyvalue;
      index as i
    "
  >
    <mat-form-field appearance="outline">
      <mat-label>
        <ng-container i18n="@@register.additionalEmails"
          >Additional email</ng-container
        >
        {{ i !== 0 ? i : '' }}
        <ng-container i18n="@@register.optional">(Optional)</ng-container>
      </mat-label>
      <input
        #emailInput
        formControlName="{{ additionalEmailControl.key }}"
        matInput
        [errorStateMatcher]="backendErrorsMatcher"
        appTrim
        [id]="additionalEmailControl.key"
        type="email"
      />
      <mat-error
        *ngIf="
          additionalEmails.hasError('email', additionalEmailControl.key) ||
          additionalEmails.hasError('pattern', additionalEmailControl.key)
        "
        i18n="@@register.invalidEmail"
      >
        Invalid email format
      </mat-error>
      <mat-error
        *ngFor="
          let error of getControlErrorAtFormLevel(
            additionalEmailControl.value,
            'backendErrors'
          )
        "
      >
        <app-backend-error
          [errorCode]="error"
          [value]="additionalEmailControl.value.value"
        ></app-backend-error>
      </mat-error>
    </mat-form-field>

    <button
      *ngIf="i == 0"
      mat-icon-button
      [attr.aria-label]="labelInfoAboutEmails"
      type="button"
      [mdePopoverTriggerFor]="namesPopover"
      mdePopoverTriggerOn="click"
      #additionalEmailsPopoverTrigger="mdePopoverTrigger"
    >
      <mat-icon class="material-icons-outlined large-material-icon"
        >help_outline</mat-icon
      >
    </button>
    <button
      *ngIf="i > 0"
      mat-icon-button
      [attr.aria-label]="labelDeleteEmail"
      type="button"
      (click)="deleteEmailInput(additionalEmailControl.key)"
    >
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
</ng-container>

<a (click)="addAdditionalEmail()" class="mat-button-font">
  <mat-icon>add</mat-icon>
  <span i18n="@@register.additionalEmailAdd">Add another email</span>
</a>

<mde-popover
  #namesPopover="mdePopover"
  [mdePopoverOverlapTrigger]="false"
  [mdePopoverCloseOnClick]="true"
>
  <mat-card appearance="outlined" class="mat-elevation-z3 orcid-popover">
    <ng-container i18n="@@register.additionalEmailInfo"
      >Ensure that you never lose access to your ORCID record by registering
      additional email addresses on your account.</ng-container
    >

    <button
      mat-button
      color="primary"
      [attr.aria-label]="labelClose"
      (click)="additionalEmailsPopoverTrigger.closePopover()"
      cdkFocusInitial
      i18n="@@shared.ok"
      type="button"
    >
      Ok
    </button>
  </mat-card>
</mde-popover>
