<ng-container [formGroup]="additionalEmails">
  <div
    class="input-container margin-top-12"
    *ngFor="
      let additionalEmailControl of additionalEmails?.controls | keyvalue;
      index as i
    "
  >
    <mat-label
      class="orc-font-small-print"
      id="additional-email-label"
      [ngClass]="{
        error: additionalEmailsTouched && additionalEmails.valid === false,
      }"
    >
      <ng-container i18n="@@register.additionalEmails"
        >Additional email</ng-container
      >
      {{ i !== 0 ? i : '' }}
      <label i18n="@@register.optional">(Optional)</label>
    </mat-label>
    <mat-form-field appearance="outline">
      <input
        aria-labelledby="additional-email-label"
        [placeholder]="labelAddAnAddionalEmail"
        #emailInput
        formControlName="{{ additionalEmailControl.key }}"
        matInput
        [errorStateMatcher]="backendErrorsMatcher"
        appTrim
        [id]="additionalEmailControl.key"
        type="email"
      />
    </mat-form-field>
    <mat-error
      *ngIf="
        additionalEmailsTouched &&
        (additionalEmails.hasError('email', additionalEmailControl.key) ||
          additionalEmails.hasError('pattern', additionalEmailControl.key))
      "
      i18n="@@register.invalidEmail2"
    >
      Please enter a valid email address, for example joe&#64;institution.edu
    </mat-error>
    <ng-container *ngIf="additionalEmailsTouched">
      <mat-error
        *ngFor="
          let error of getControlErrorAtFormLevel(
            additionalEmailControl.value,
            'backendErrors'
          )
        "
      >
        <app-backend-error
          [showEmailAlreadyExistUntilNextButtonWasClicked]="true"
          [nextButtonWasClicked]="nextButtonWasClicked"
          [errorCode]="error"
          [value]="additionalEmailControl.value.value"
        ></app-backend-error>
      </mat-error>
    </ng-container>

    <!-- <button
      *ngIf="i == 0"
      mat-icon-button
      [attr.aria-label]="labelInfoAboutEmails"
      type="button"
      [mdePopoverTriggerFor]="namesPopover"
      mdePopoverTriggerOn="click"
      #additionalEmailsPopoverTrigger="mdePopoverTrigger"
    >
      <mat-icon class="material-icons-outlined large-material-icon"
        >help_outline</mat-icon
      >
    </button> -->
    <!-- <button
      *ngIf="i > 0"
      mat-icon-button
      [attr.aria-label]="labelDeleteEmail"
      type="button"
      (click)="deleteEmailInput(additionalEmailControl.key)"
    >
      <mat-icon>remove_circle_outline</mat-icon>
    </button> -->
  </div>
</ng-container>
