<!-- ADDITIONAL EMAILS -->

<ng-container [formGroup]="additionalEmails">
  <div
    class="input-container"
    *ngFor="
      let additionalEmailControl of (additionalEmails.controls | keyvalue);
      index as i
    "
  >
    <mat-form-field appearance="outline">
      <mat-label>
        <ng-container>Additional email</ng-container>
        {{
          additionalEmailControl.key !== '1' ? additionalEmailControl.key : ''
        }}
        <ng-container>(Optional)</ng-container>
      </mat-label>
      <input
        formControlName="{{additionalEmailControl.key}}"
        matInput
        [errorStateMatcher]="backendErrorsMatcher"
      />
      <mat-error
        *ngIf="
          additionalEmails.hasError('email', additionalEmailControl.key) ||
          additionalEmails.hasError('pattern', additionalEmailControl.key)
        "
      >
        Invalid email format
      </mat-error>
      <mat-error
        *ngFor="
          let error of getControlErrorAtFormLevel(
            additionalEmailControl.value,
            'allEmailsAreUnique'
          )
        "
      >
        Additional email cannot match primary email
      </mat-error>
      <mat-error
        *ngFor="
          let error of getControlErrorAtFormLevel(
            additionalEmailControl.value,
            'backendErrors'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <button
      *ngIf="i == 0"
      mat-icon-button
      aria-label="info about names"
      type="button"
      [mdePopoverTriggerFor]="namesPopover"
      mdePopoverTriggerOn="click"
      #namesPopoverTrigger="mdePopoverTrigger"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>
</ng-container>

<a
  role="button"
  tabindex="0"
  (click)="addAdditionalEmail()"
  class="mat-button-font"
>
  <mat-icon>add</mat-icon>
  <ng-container>Add another email</ng-container>
</a>

<mde-popover #namesPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 300px" class="mat-elevation-z3">
    Ensure that you never lose access to your ORCID record by registering all of
    your email addresses on your account.
    <button
      mat-button
      color="primary"
      aria-label="close"
      (click)="namesPopoverTrigger.closePopover()"
      cdkFocusInitial
    >
      Ok
    </button>
  </mat-card>
</mde-popover>
