:host {
  display: flex;
  flex-direction: column;
}

mat-form-field,
.input-container {
  width: 100%;

  button[mat-icon-button] {
    position: absolute;
    margin-top: 10px;
  }
}

a {
  display: flex;
}
