@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) "source(none)";
@import "tailwindcss/utilities.css" layer(utilities) "source(none)";

@source not inline("container columns-{1..12}");

@source "../../**/*.{html,ts}";
@theme {
  --color-*: initial;
  --font-*: initial;
}