@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) source(none);
@import "tailwindcss/utilities.css" layer(utilities) source(none);


@source "../../**/*.{html,ts}";