<h3 class="mat-subheading-2" i18n="@@register.termsOfUse">Terms of Use</h3>

<ng-container [formGroup]="form">
  <mat-checkbox
    id="privacy-input"
    class="orcid-checkbox-baseline"
    color="primary"
    formControlName="termsOfUse"
    ><ng-container i18n="@@register.consentTo">I consent to the</ng-container>
    <a
      href="{{ environment.INFO_SITE + 'footer/privacy-policy' }}"
      target="_blank"
      rel="noopener noreferrer"
      class="mat-button-font"
      i18n="@@register.privacyPolicy"
    >
      privacy policy
    </a>
    <ng-container i18n="@@register.and">and</ng-container>
    <a
      href="{{ environment.INFO_SITE + 'content/orcid-terms-use' }}"
      target="_blank"
      rel="noopener noreferrer"
      class="mat-button-font"
      i18n="@@register.terms"
    >
      terms of use
    </a>
    <ng-container i18n="@@register.use"
      >including agreeing to my data being processed in the US and being
      publicly accessible where marked as “visible to Everyone”.</ng-container
    >
  </mat-checkbox>
  <mat-error
    *ngIf="form.hasError('required', 'termsOfUse') && errorState"
    i18n="@@register.termsRequired"
    >You must accept the terms of use</mat-error
  >
</ng-container>
