<h3 class="mat-subheading-2" i18n="@@register.termsOfUse">Terms of Use</h3>

<ng-container [formGroup]="form">
  <mat-checkbox
    class="orcid-checkbox-baseline"
    color="primary"
    formControlName="termsOfUse"
    ><ng-container i18n="@@register.consentTo">I consent to the</ng-container>
    <a
      href="https://qa.orcid.org/footer/privacy-policy"
      target="_blank"
      rel="noopener"
      class="mat-button-font"
      i18n="@@register.privacyPolicy"
    >
      privacy policy
    </a>
    <ng-container i18n="@@register.and">and</ng-container>
    <a
      href="https://qa.orcid.org/content/orcid-terms-use"
      target="_blank"
      rel="noopener"
      class="mat-button-font"
      i18n="@@register.termsAndConditions"
    >
      terms and conditions
    </a>
    <ng-container i18n="@@register.use"
      >of use, including agreeing to my data being processed in the US and being
      publicly accessible where marked as “visible to Everyone”.</ng-container
    >
  </mat-checkbox>
  <mat-error
    *ngIf="form.hasError('required', 'termsOfUse') && errorState"
    i18n="@@register.termsRequired"
    >You must accept the terms and conditions</mat-error
  >
</ng-container>
