app-panel-data {
  ::ng-deep .panel-data-container {
    align-items: center;
  }
}

.panel-footer,
.panel-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  padding-right: 8px;
}

.panel-footer.no-padding,
.panel-footer.no-padding > div {
  padding: 0;
}

.panel-footer.max-height-31 {
  max-height: 31px;
}

.preferred-source {
  display: flex;
  flex-direction: row;
  margin-inline-start: 20px;
  align-items: center;
}

.source-items {
  display: flex;
  align-items: center;
}

.columns-8 :host,
.columns-4 :host {
  .source-items {
    flex-direction: column;
    align-items: flex-start;
    .preferred-source {
      margin-inline-start: 0px;
      align-items: center;
    }
  }
}

.source-title {
  display: flex;
  align-items: center;
  mat-icon {
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
