.panel-footer,
.panel-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
}

.preferred-source {
  display: flex;
  flex-direction: row;
  margin-inline-start: 20px;
  align-items: center;
}

.source-items {
  display: flex;
  align-items: center;
}
