<app-panel-data
  class="panel-footer"
  [ngClass]="{
    'margin-top-2': !displayTheStack,
    'no-padding': disablePadding,
    'max-height-31': disablePadding
  }"
  [deprecatedPadding]="!disablePadding"
>
  <div class="source-items">
    <div>
      <!-- TOP PANEL SOURCE TITLE -->
      <div
        *ngIf="topPanelOfTheStackMode || !clickableSource"
        class="source-title"
      >
        <strong i18n="@@shared.source">Source</strong>:
        <ng-container *ngIf="recordOnDisplayIsTheSource !== undefined">
          <ng-container
            *ngIf="
              assertionOriginOrcid ||
              (recordOnDisplayIsTheSource && !assertionOriginClientId)
            "
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="selftAssertedSource"
              [attr.alt]="selftAssertedSource"
              ><img
                src="./assets/vectors/profile-not-verified.svg"
                [attr.alt]="selftAssertedSource"
              />
            </mat-icon>
          </ng-container>
          <ng-container
            *ngIf="
              assertionOriginClientId ||
              (!recordOnDisplayIsTheSource && !assertionOriginOrcid)
            "
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="validatedSourceAriaLabel"
              class="verified"
              [attr.alt]="validatedSourceAriaLabel"
              >check_circle</mat-icon
            >
          </ng-container></ng-container
        >
        <div>
          <ng-container *ngIf="assertionOriginName || assertionOriginOrcid">
            {{ assertionOriginName || assertionOriginOrcid }}
            <i i18n="@@shared.onBehalfOf">via</i>
          </ng-container>
          {{ sourceName }}
        </div>
      </div>
      <!-- OTHER SOURCES (COLLAPSED PANEL) URL -->
      <div
        *ngIf="!topPanelOfTheStackMode && clickableSource"
        class="source-title"
      >
        <strong i18n="@@shared.source">Source</strong>:
        <ng-container *ngIf="recordOnDisplayIsTheSource !== undefined">
          <ng-container
            *ngIf="
              assertionOriginOrcid ||
              (recordOnDisplayIsTheSource && !assertionOriginClientId)
            "
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="selftAssertedSource"
              [attr.alt]="selftAssertedSource"
              ><img
                src="./assets/vectors/profile-not-verified.svg"
                [attr.alt]="selftAssertedSource"
              />
            </mat-icon>
          </ng-container>
          <ng-container
            *ngIf="
              assertionOriginClientId ||
              (!recordOnDisplayIsTheSource && !assertionOriginOrcid)
            "
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="validatedSourceAriaLabel"
              class="verified"
              [attr.alt]="validatedSourceAriaLabel"
              >check_circle</mat-icon
            >
          </ng-container>
          <a (click)="clickDisplayAsTopPanelOfTheStack()">
            <ng-container *ngIf="assertionOriginName || assertionOriginOrcid">
              {{ assertionOriginName || assertionOriginOrcid }}
              <i i18n="@@shared.onBehalfOf">via</i>
            </ng-container>
            {{ sourceName }}</a
          >
        </ng-container>
      </div>
    </div>
    <div class="preferred-source" *ngIf="isPreferred && stackLength > 1">
      <div>
        <ng-container i18n="@@groups.common.preferred_source"
          >Preferred source</ng-container
        >
        <a
          *ngIf="!displayTheStack && stackLength > 1"
          (click)="toggleStackMode()"
          [attr.aria-label]="openOtherSources"
        >
          (<ng-container i18n="@@shared.of">of</ng-container>
          {{ stackLength }})&#x200E;
        </a>
        <a
          (click)="toggleStackMode()"
          [attr.aria-label]="closeOtherSources"
          *ngIf="stackLength > 1 && displayTheStack"
        >
          <ng-container i18n="@@shared.closeOtherSources"
            >(Close other sources)</ng-container
          >
        </a>
      </div>
    </div>

    <div
      class="preferred-source"
      *ngIf="!isPreferred && stackLength > 1 && !isPublicRecord"
    >
      <a (click)="clickMakePrimary()" *ngIf="stackLength > 1">
        Make preferred source
      </a>
    </div>
  </div>
  <div align-end *ngIf="!isPublicRecord">
    <button
      mat-icon-button
      [matTooltip]="labelDeleteButton"
      [attr.aria-label]="
        type | appPanelActivityActionAriaLabel : 'delete' : this.panelTitle
      "
      (click)="delete()"
      *ngIf="(stackLength > 1 && displayTheStack) || stackLength === 1"
    >
      <mat-icon class="large-material-icon delete-button">
        delete_outline
      </mat-icon>
    </button>
  </div>
</app-panel-data>
