<app-panel-data
  class="panel-footer"
  [ngClass]="{
    'margin-top-2': !displayTheStack
  }"
>
  <div class="source-items">
    <div>
      <ng-container *ngIf="!topPanelOfTheStackMode && clickableSource">
        <strong i18n="@@record.source">Source</strong
        ><ng-container>: </ng-container
        ><a (click)="clickDisplayAsTopPanelOfTheStack()">{{ sourceName }}</a>
      </ng-container>
      <div *ngIf="topPanelOfTheStackMode || !clickableSource">
        <strong i18n="@@record.source">Source</strong>:
        <ng-container
          *ngIf="
            assertionOriginClientId && assertionOriginClientId !== sourceName
          "
        >
          {{ assertionOriginName || assertionOriginOrcid }}
          <i i18n="@@shared.onBehalfOf">via</i>
        </ng-container>
        {{ sourceName }}
      </div>
    </div>
    <div
      class="preferred-source"
      *ngIf="isPreferred && stackLength > 1 && !isPublicRecord"
    >
      <i class="material-icons"> grade </i>
      <div>
        <ng-container i18n="@@groups.common.preferred_source"
          >Preferred source</ng-container
        >
        <a
          *ngIf="!displayTheStack && stackLength > 1"
          (click)="toggleStackMode()"
        >
          (<ng-container i18n="@@shared.of">of</ng-container>
          {{ stackLength }})&#x200E;
        </a>
        <a
          (click)="toggleStackMode()"
          *ngIf="stackLength > 1 && displayTheStack"
        >
          <ng-container i18n="@@shared.closeOtherSources"
            >(Close other sources)</ng-container
          >
        </a>
      </div>
    </div>

    <div
      class="preferred-source"
      *ngIf="!isPreferred && stackLength > 1 && !isPublicRecord"
    >
      <a
        (click)="clickMakePrimary()"
        *ngIf="stackLength > 1"
        i18n="@@record.closeOtherSources"
      >
        Make preferred source
      </a>
    </div>
  </div>
  <div align-end>
    <button
      *ngIf="!isPublicRecord"
      mat-icon-button
      [matTooltip]="labelDeleteButton"
      [attr.aria-label]="labelDeleteButton"
    >
      <mat-icon (click)="delete()" class="large-material-icon" id="delete-button">
        delete_outline
      </mat-icon>
    </button>
  </div>
</app-panel-data>

