<app-panel-data
  class="panel-footer"
  [ngClass]="{
    'margin-top-2': !displayTheStack
  }"
>
  <div class="source-items">
    <div>
      <!-- TOP PANEL SOURCE TITLE -->
      <div *ngIf="topPanelOfTheStackMode || !clickableSource">
        <strong i18n="@@shared.source">Source</strong>:
        <ng-container *ngIf="assertionOriginName || assertionOriginOrcid">
          {{ assertionOriginName || assertionOriginOrcid }}
          <i i18n="@@shared.onBehalfOf">via</i>
        </ng-container>
        {{ sourceName }}
      </div>
      <!-- OTHER SOURCES (COLLAPSED PANEL) URL -->
      <ng-container *ngIf="!topPanelOfTheStackMode && clickableSource">
        <strong i18n="@@shared.source">Source</strong
        ><ng-container>: </ng-container
        ><a (click)="clickDisplayAsTopPanelOfTheStack()">
          <ng-container *ngIf="assertionOriginName || assertionOriginOrcid">
            {{ assertionOriginName || assertionOriginOrcid }}
            <i i18n="@@shared.onBehalfOf">via</i>
          </ng-container>
          {{ sourceName }}</a
        >
      </ng-container>
    </div>
    <div class="preferred-source" *ngIf="isPreferred && stackLength > 1">
      <i class="material-icons"> grade </i>
      <div>
        <ng-container i18n="@@groups.common.preferred_source"
          >Preferred source</ng-container
        >
        <a
          *ngIf="!displayTheStack && stackLength > 1"
          (click)="toggleStackMode()"
          [attr.aria-label]="openOtherSources"
        >
          (<ng-container i18n="@@shared.of">of</ng-container>
          {{ stackLength }})&#x200E;
        </a>
        <a
          (click)="toggleStackMode()"
          [attr.aria-label]="closeOtherSources"
          *ngIf="stackLength > 1 && displayTheStack"
        >
          <ng-container i18n="@@shared.closeOtherSources"
            >(Close other sources)</ng-container
          >
        </a>
      </div>
    </div>

    <div
      class="preferred-source"
      *ngIf="!isPreferred && stackLength > 1 && !isPublicRecord"
    >
      <a (click)="clickMakePrimary()" *ngIf="stackLength > 1">
        Make preferred source
      </a>
    </div>
  </div>
  <div align-end *ngIf="!isPublicRecord">
    <button
      mat-icon-button
      [matTooltip]="labelDeleteButton"
      [attr.aria-label]="
        type | appPanelActivityActionAriaLabel : 'delete' : this.panelTitle
      "
      (click)="delete()"
      *ngIf="(stackLength > 1 && displayTheStack) || stackLength === 1"
    >
      <mat-icon class="large-material-icon delete-button">
        delete_outline
      </mat-icon>
    </button>
  </div>
</app-panel-data>
