.panel-footer,
.panel-footer > div {
  display: flex;
  flex-direction: row;
}

.preferred-source {
  display: flex;
  flex-direction: row;
  margin-inline-start: 20px;
  align-items: center;
}

.source-items {
  display: flex;
  align-items: center;
}
