<app-settings-panels-data [formGroup]="form" *ngIf="form">
  <p i18n="@@account.byDefaultVisibility">
    By default, what visibility should be given to new items added to your ORCID
    Record?
  </p>
  <p>
    <mat-radio-group
      formControlName="activitiesVisibilityDefault"
      color="primary"
      class="grid gap-2"
    >
      <mat-radio-button
        id="cy-visibility-everyone-input"
        [value]="visibilityOptions[0]"
        class="orcid-radio-button-with-icons"
      >
        <mat-icon aria-hidden="true" class="everyone mr-2 ml-1"
          >visibility</mat-icon
        >
        <div class="inlined">
          <strong i18n="@@register.VisibilityEveryone">Everyone</strong>

          <ng-container i18n="@@register.VisibilityEveryone2"
            >(87% of users choose this)</ng-container
          >
        </div>
      </mat-radio-button>
      <mat-radio-button
        id="cy-visibility-trusted-input"
        [value]="visibilityOptions[1]"
        class="orcid-radio-button-with-icons"
      >
        <mat-icon
          aria-hidden="true"
          class="trusted material-symbols-outlined mr-2 ml-1"
          >visibility_lock</mat-icon
        >

        <div class="inlined">
          <strong i18n="@@register.VisibilityTrusted"
            >Trusted Organizations</strong
          >
          <ng-container i18n="@@register.VisibilityTrusted2"
            >(5% of users choose this)</ng-container
          >
        </div>
      </mat-radio-button>
      <mat-radio-button
        id="cy-visibility-private-input"
        [value]="visibilityOptions[2]"
        class="orcid-radio-button-with-icons"
      >
        <mat-icon aria-hidden="true" class="private mr-2 ml-1"
          >visibility_off</mat-icon
        >

        <div class="inlined">
          <strong i18n="@@register.VisibilityPrivate">Only me</strong>

          <ng-container i18n="@@register.VisibilityPrivate2"
            >(8% of users choose this)</ng-container
          >
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </p>
  <p>
    <a
      class="underline"
      href="https://support.orcid.org/hc/articles/360006897614"
      target="_blank"
      rel="noopener noreferrer"
      i18n="@@register.visibilityDescription2"
      id="cy-more-info-on-visibility-settings"
      >More information on visibility settings</a
    >
  </p>
</app-settings-panels-data>
