<app-panels
  *ngIf="userRecord && userRecord.peerReviews"
  class="row"
  [title]="ngOrcidPeerReview"
  [type]="'peer-review'"
  [total]="userRecord.peerReviews.length"
>
  <ng-container *ngFor="let peerReview of userRecord.peerReviews">
    <app-panel
      [elements]="peerReview"
      [type]="'top-bar'"
      [openState]="false"
      class="top-bar"
    >
      <div header>
        <ng-container i18n="@@peerReview.reviewActivity">
          Review activity for
        </ng-container>
        <b>
          {{ peerReview.name }}
        </b>
        ({{ peerReview.peerReviewDuplicateGroups.length }})
      </div>
      <app-panel-data class="orc-font-body-small">
        <app-panel-element [hideVisibility]="false">
          <div class="description">
            <p>
              <span class="capitalize">{{ peerReview.type }}</span
              >, {{ peerReview.description }}
            </p>
            <ng-container *ngIf="peerReview.groupType">
              <p>
                {{ peerReview.groupType }}:
                <a href="{{ peerReview.url }}">
                  {{ peerReview.groupIdValue }}
                </a>
              </p>
            </ng-container>
          </div>
        </app-panel-element>
        <app-panel-element class="nested-panels" [hideVisibility]="false">
          <ng-container
            *ngFor="let subPeerReview of peerReview.peerReviewDuplicateGroups"
          >
            <div nested-panels>
              <app-panel
                [elements]="subPeerReview"
                [type]="'top-bar'"
                [customControls]="true"
                class="top-bar"
                *ngIf="subPeerReview.peerReviews[0] as peerReview"
              >
                <div header>
                  <span class="header-sub-peer-review">
                    <b i18n="@@peerReview.reviewDate"> Review date: </b>
                    {{ peerReview.completionDate | monthDayYearDateToString }}
                  </span>
                  <span class="header-sub-peer-review">
                    <b i18n="@@peerReview.type"> Type: </b>
                    <span class="capitalize">
                      {{ peerReview.type.value}}
                    </span>
                  </span>
                  <span class="header-sub-peer-review">
                    <b i18n="@@peerReview.role"> Role: </b>
                    <span class="capitalize">
                      {{ peerReview.role.value }}
                    </span>
                  </span>
                </div>
                <div custom-controls>
                  <span class="show">
                    <a
                      *ngIf="!peerReview.showDetails"
                      (click)="getDetails(peerReview, peerReview.putCode.value)"
                      i18n="@@shared.showMoreDetail"
                    >
                      Show more detail
                    </a>
                    <a
                      *ngIf="peerReview.showDetails"
                      (click)="collapse(peerReview)"
                      i18n="@@shared.showLessDetail"
                    >
                      Show less detail
                    </a>
                  </span>
                  <a
                    rel="noopener noreferrer"
                    target="_blank"
                    href="{{ peerReview.url }}"
                    i18n="@@peerReview.view"
                  >
                    View
                  </a>
                </div>
                <app-panel-data *ngIf="peerReview.showDetails">
                  <app-panel-element [hideVisibility]="false">
                    <div class="details">
                      <div>
                        <b i18n="@@peerReview.reviewIdentifiers"
                          >Review identifier(s)</b
                        >
                      </div>
                      <span class="source">
                        {{
                          peerReview.externalIdentifiers[0]
                            .externalIdentifierType.value
                        }}:
                        {{
                          peerReview.externalIdentifiers[0].externalIdentifierId
                            .value
                        }}
                      </span>
                    </div>
                    <div class="details">
                      <div>
                        <b i18n="@@peerReview.conveningOrganization">
                          Convening organization
                        </b>
                      </div>
                      {{
                        getPeerReview(peerReview.putCode.value).orgName.value
                      }}
                    </div>
                    <div>
                      <b i18n="@@peerReview.reviewSubject"> Review subject </b>
                    </div>
                    <div>
                      <ng-container
                        *ngIf="
                          getPeerReview(peerReview.putCode.value).subjectName
                        "
                      >
                        {{
                          getPeerReview(peerReview.putCode.value).subjectName
                            .value
                        }}
                      </ng-container>
                      <ng-container
                        *ngIf="
                          getPeerReview(peerReview.putCode.value).subjectType
                        "
                      >
                        ({{
                          getPeerReview(peerReview.putCode.value).subjectType
                            .value
                        }})
                      </ng-container>
                    </div>
                    <div
                      *ngIf="
                        getPeerReview(peerReview.putCode.value)
                          .subjectContainerName
                      "
                    >
                      {{
                        getPeerReview(peerReview.putCode.value)
                          .subjectContainerName.value
                      }}
                    </div>
                  </app-panel-element>
                </app-panel-data>
              </app-panel>
            </div>
          </ng-container>
        </app-panel-element>
      </app-panel-data>
      <app-panel-source
        [sourceName]="peerReview.sourceName || peerReview.source"
      >
      </app-panel-source>
    </app-panel>
  </ng-container>
</app-panels>
