<ng-container *ngIf="peerReviews">
  <app-panels
    class="row"
    [title]="ngOrcidPeerReview"
    [type]="'peer-review'"
    [currentAmount]="peerReviews.length"
    [isPublicRecord]="isPublicRecord"
    [addModalComponent]="modalPeerReviewComponent"
    [expandedContent]="expandedContent"
    (expanded)="expandedClicked($event)"
    [labelAddButton]="labelAddButton"
    [labelSortButton]="labelSortButton"
    [sortTypes]="['order']"
    [sortType]="'order'"
    [sortDirection]="'asc'"
    (sort)="sortEvent($event)"
  >
    <ng-container *ngIf="peerReviews.length > 0">
      <app-panel
        *ngFor="let peerReview of peerReviews"
        [elements]="peerReview"
        [type]="'top-bar'"
        [editable]="false"
        [openState]="false"
        class="top-bar"
        [expandButtonsPosition]="'left'"
      >
        <div header>
          <ng-container i18n="@@peerReview.reviewActivity">
            Review activity for
          </ng-container>
          <b>
            {{ peerReview.name }}
          </b>
          ({{ peerReview.peerReviewDuplicateGroups.length }})
        </div>
        <app-panel-data class="orc-font-body-small">
          <app-panel-element [hideVisibility]="false">
            <div class="description">
              <p>
                <span class="capitalize">{{ peerReview.type }}</span
                >, {{ peerReview.description }}
              </p>
              <ng-container *ngIf="peerReview.groupType">
                <p>
                  {{ peerReview.groupType }}:
                  <a
                    class="underline"
                    href="{{ peerReview.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ peerReview.groupIdValue }}
                  </a>
                </p>
              </ng-container>
            </div>
          </app-panel-element>
          <app-panel-element class="nested-panels" [hideVisibility]="false">
            <ng-container
              *ngFor="let subPeerReview of peerReview.peerReviewDuplicateGroups"
            >
              <div nested-panels>
                <app-panel
                  [elements]="subPeerReview"
                  [type]="'top-bar'"
                  [editable]="false"
                  [customControls]="true"
                  class="top-bar"
                  *ngIf="subPeerReview.peerReviews[0] as peerReview"
                >
                  <div header>
                    <span class="header-sub-peer-review">
                      <b i18n="@@peerReview.reviewDate"> Review date: </b>
                      {{ peerReview.completionDate | monthDayYearDateToString }}
                    </span>
                    <span class="header-sub-peer-review">
                      <b i18n="@@peerReview.type"> Type: </b>
                      <span class="capitalize">
                        {{ peerReview.type.value }}
                      </span>
                    </span>
                    <span class="header-sub-peer-review">
                      <b i18n="@@peerReview.role"> Role: </b>
                      <span class="capitalize">
                        {{ peerReview.role.value }}
                      </span>
                    </span>
                  </div>
                  <div custom-controls>
                    <span class="show">
                      <a
                        class="underline"
                        *ngIf="!peerReview.showDetails"
                        (click)="
                          getDetails(peerReview, peerReview.putCode.value)
                        "
                        i18n="@@shared.showMoreDetail"
                      >
                        Show more detail
                      </a>
                      <a
                        class="underline"
                        *ngIf="peerReview.showDetails"
                        (click)="collapse(peerReview)"
                        i18n="@@shared.showLessDetail"
                      >
                        Show less detail
                      </a>
                    </span>
                    <a
                      class="underline"
                      rel="noopener noreferrer"
                      target="_blank"
                      href="{{ peerReview.url }}"
                      i18n="@@peerReview.view"
                    >
                      View
                    </a>
                  </div>
                  <app-panel-data
                    [borderBottom]="true"
                    *ngIf="peerReview.showDetails"
                  >
                    <app-panel-element [hideVisibility]="false">
                      <div class="details">
                        <div>
                          <b i18n="@@peerReview.reviewIdentifiers"
                            >Review identifier(s)</b
                          >
                        </div>
                        <app-display-external-ids
                          [externalIdentifiers]="peerReview.externalIdentifiers"
                          [noBoldTitle]="true"
                        ></app-display-external-ids>
                      </div>
                      <div class="details">
                        <div>
                          <b i18n="@@peerReview.conveningOrganization">
                            Convening organization
                          </b>
                        </div>
                        <p>
                          {{
                            getPeerReview(peerReview.putCode.value)?.orgName
                              ?.value
                          }}, ({{
                            getPeerReview(peerReview.putCode.value)?.city
                              ?.value
                          }}<ng-container
                            *ngIf="
                              getPeerReview(peerReview.putCode.value)?.city
                                ?.value &&
                              getPeerReview(peerReview.putCode.value)?.country
                                ?.value
                            "
                            >,</ng-container
                          >{{
                            getPeerReview(peerReview.putCode.value)?.country
                              ?.value
                          }})
                        </p>
                      </div>
                      <div
                        class="details"
                        *ngIf="
                          getPeerReview(peerReview.putCode.value)?.subjectName
                            ?.value &&
                          getPeerReview(peerReview.putCode.value)?.subjectType
                            ?.value
                        "
                      >
                        <b i18n="@@peerReview.reviewSubject">
                          Review subject
                        </b>
                        <div>
                          <ng-container
                            *ngIf="
                              getPeerReview(peerReview.putCode.value)
                                ?.subjectName?.value
                            "
                          >
                            {{
                              getPeerReview(peerReview.putCode.value)
                                .subjectName.value
                            }}
                          </ng-container>
                          <ng-container
                            *ngIf="
                              getPeerReview(peerReview.putCode.value)
                                ?.subjectType?.value
                            "
                          >
                            ({{
                              getPeerReview(peerReview.putCode.value)
                                .subjectType.value
                            }})
                          </ng-container>
                          <div
                            *ngIf="
                              getPeerReview(peerReview.putCode.value)
                                ?.subjectContainerName?.value
                            "
                          >
                            {{
                              getPeerReview(peerReview.putCode.value)
                                .subjectContainerName.value
                            }}
                          </div>
                          <div>
                            <i
                              *ngIf="
                                getPeerReview(peerReview.putCode.value)
                                  ?.subjectExternalIdentifier?.relationship
                                  ?.value === 'part-of'
                              "
                              i18n="@@shared.partOf"
                            >
                              Part of
                            </i>
                            <i
                              *ngIf="
                                getPeerReview(peerReview.putCode.value)
                                  ?.subjectExternalIdentifier?.relationship
                                  ?.value === 'funded-by'
                              "
                              i18n="@@shared.fundedBy"
                            >
                              Funded by
                            </i>
                            {{
                              getPeerReview(peerReview.putCode.value)
                                ?.subjectExternalIdentifier
                                ?.externalIdentifierType?.value | uppercase
                            }}
                            :
                            {{
                              getPeerReview(peerReview.putCode.value)
                                ?.subjectExternalIdentifier.externalIdentifierId
                                ?.value
                            }}
                          </div>
                        </div>
                      </div>
                    </app-panel-element>
                  </app-panel-data>
                  <app-panel-source
                    [sourceName]="peerReview.sourceName || peerReview.source"
                    [clickableSource]="false"
                    [assertionOriginClientId]="
                      peerReview.assertionOriginClientId
                    "
                    [assertionOriginName]="peerReview.assertionOriginName"
                    [assertionOriginOrcid]="peerReview.assertionOriginOrcid"
                    [isPublicRecord]="isPublicRecord"
                  >
                  </app-panel-source>
                </app-panel>
              </div>
            </ng-container>
          </app-panel-element>
        </app-panel-data>
      </app-panel>
    </ng-container>
    <ng-container *ngIf="peerReviews.length === 0">
      <div class="orc-font-body-small">
        <p class="empty" i18n="@@peerReview.description">
          Connect to trusted organizations to automatically add your peer review
          activity to your ORCID record.
        </p>
        <a class="underline" href="" i18n="@@peerReview.learnMore">
          Learn more about how peer reviews are added to your ORCID record
        </a>
      </div>
    </ng-container>
  </app-panels>
</ng-container>
