<h2 class="orc-font-body">Peer review</h2>
<div *ngIf="userRecord && userRecord.peerReviews.length > 0">
  <ng-container *ngFor="let peerReview of userRecord.peerReviews">
    <span i18n="@@peerReview.reviewActivity">Review activity for</span>{{ peerReview.name }}
    <br>
    <span>{{peerReview.type}},</span>{{ peerReview.description }}
    <br>
    <ng-container *ngIf="peerReview.groupType">
      <span>{{peerReview.groupType}}</span><a href="{{ peerReview.url }}">{{peerReview.groupIdValue}}</a>
      <br>
    </ng-container>
    <ul>
      <ng-container *ngFor="let subPeerReview of peerReview.peerReviewDuplicateGroups">
        <li>
          <span i18n="@@peerReview.reviewDate">Review date</span>{{subPeerReview.peerReviews[0].completionDate | monthDayYearDateToString}}
            <span i18n="@@peerReview.type">Type</span>{{subPeerReview.peerReviews[0].type}}
            <span i18n="@@peerReview.role">Role</span>{{subPeerReview.peerReviews[0].role.value}}
          <br>
          <!--Details-->
            <span i18n="@@peerReview.reviewIdentifiers">Review identifier(s)</span>
          {{subPeerReview.peerReviews[0].externalIdentifiers[0].externalIdentifierType.value}} {{subPeerReview.peerReviews[0].externalIdentifiers[0].externalIdentifierId.value}}
          <br>
          <button type="button" (click)="getDetails(subPeerReview.id)">details</button>
          <br>
          <ng-container *ngIf="detailsPeerReviews[subPeerReview.id]"></ng-container>
          <span i18n="@@peerReview.conveningOrganization">Convening organization</span>
<!--          {{detailsPeerReviews[subPeerReview.peerReviews[0].putCode].orgName.value}}-->
          <span i18n="@@peerReview.reviewSubject">Review subject</span>
          {{subPeerReview.peerReviews[0].subjectExternalIdentifier}}
          <!--Details-->
          <span>Source</span> {{ subPeerReview.peerReviews[0].sourceName}}
        </li>
      </ng-container>
    </ul>
  </ng-container>
</div>
