@import '~@angular/material/theming';
$config: mat-typography-config();
@mixin user-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .user-menu {
    .main-button {
      border-bottom: 1px map-get($foreground, divider) solid;
    }
  }
}
