<section role="navigation">
  <button
    *ngIf="userInfo"
    class="user-menu-button"
    mat-button
    color="primary"
    [matMenuTriggerFor]="menu"
    (menuOpened)="state = true"
    (menuClosed)="state = false"
    [attr.aria-label]="labelUserMenu + ' ' + displayName"
    id="cy-user-info"
  >
    <img src="./assets/vectors/profile-icon.svg" alt="" />
    <span *ngIf="platform.columns12" class="name-text-container">{{
      displayName
    }}</span>

    <mat-icon *ngIf="platform.columns12">expand_more</mat-icon>
  </button>
  <button
    (click)="goto('signin')"
    mat-button
    color="primary"
    class="user-menu-button"
    *ngIf="!userInfo && !platform.columns4"
    [attr.aria-label]="labelSigninRegister"
    id="menu-signin-button"
  >
    <ng-container i18n="@@header.signin">Sign in</ng-container
    >&nbsp;/&nbsp;<ng-container i18n="@@header.register">Register</ng-container>
  </button>
  <button
    mat-stroked-button
    class="user-menu-button"
    (click)="goto('inbox', 'fromHeaderButton')"
    [attr.aria-label]="labelInbox"
    id="cy-inbox-button"
    *ngIf="userInfo"
    [matTooltip]="
      inboxUnread > 0 ? notificationTooltipActive : notificationTooltip
    "
    [attr.aria-label]="
      inboxUnread > 0 ? notificationTooltipActive : notificationTooltip
    "
  >
    <mat-icon
      matBadgeSize="small"
      matBadgeColor="warn"
      class="material-icons-outlined"
      ><img
        *ngIf="inboxUnread === 0"
        src="./assets/vectors/notification-button.svg"
        alt=""
      />
      <img
        *ngIf="inboxUnread > 0"
        src="./assets/vectors/notification-button-active.svg"
        alt=""
      />
    </mat-icon>
  </button>
</section>
<mat-menu #menu="matMenu" class="user-menu" id="cy-user-menu">
  <button
    class="main-button"
    (click)="goto('my-orcid')"
    mat-menu-item
    id="cy-my-orcid"
  >
    <div class="row main-button-container">
      <img src="./assets/vectors/profile-icon.svg" alt="" />
      <div class="col name-container">
        <div class="mat-title">{{ displayName }}</div>
        <div class="mat-caption" i18n="@@ngOrcid.viewMyOrcid">
          View my ORCID record
        </div>
      </div>
    </div>
  </button>
  <button mat-menu-item (click)="goto('inbox', 'fromMenuButton')" id="cy-inbox">
    <mat-icon *ngIf="inboxUnread === 0">inbox</mat-icon>
    <mat-icon *ngIf="inboxUnread > 0"
      ><img src="./assets/vectors/notification-button-active.svg"
    /></mat-icon>
    <span i18n="@@workspace.notifications">Inbox</span>
    ({{ inboxUnread }})
  </button>
  <button
    mat-menu-item
    (click)="goto('account')"
    id="cy-account-settings"
    *ngIf="
      userInfo &&
      (userInfo['IN_DELEGATION_MODE'] === 'false' ||
        userInfo['DELEGATED_BY_ADMIN'] === 'true')
    "
  >
    <mat-icon>settings</mat-icon>
    <span i18n="@@ngOrcid.accountSetting">Account settings </span>
  </button>
  <button
    mat-menu-item
    (click)="goto('trusted-parties')"
    id="cy-trusted-parties-panel"
  >
    <mat-icon>key</mat-icon>
    <span i18n="@@layout.trustedParties">Trusted parties</span>
  </button>
  <button
    mat-menu-item
    *ngIf="
      userInfo &&
      (userInfo['IN_DELEGATION_MODE'] === 'false' ||
        userInfo['DELEGATED_BY_ADMIN'] === 'true') &&
      userInfo['MEMBER_MENU'] == 'true'
    "
    (click)="goto('group/developer-tools')"
    id="cy-delegation-developer-tools"
  >
    <mat-icon>code</mat-icon>
    <span i18n="@@workspace.developer_tools">Developer tools </span>
  </button>
  <button
    mat-menu-item
    *ngIf="
      userInfo &&
      (userInfo['IN_DELEGATION_MODE'] === 'false' ||
        userInfo['DELEGATED_BY_ADMIN'] === 'true') &&
      userInfo['MEMBER_MENU'] != 'true'
    "
    (click)="goto('developer-tools')"
    id="cy-developer-tools"
  >
    <mat-icon>code</mat-icon>
    <span i18n="@@workspace.developer_tools">Developer tools </span>
  </button>
  <button
    mat-menu-item
    *ngIf="userInfo && userInfo['SELF_SERVICE_MENU']"
    (click)="goto('self-service')"
    id="cy-self-service"
  >
    <mat-icon>build</mat-icon>
    <span i18n="@@ngOrcid.selfService">Member tools </span>
  </button>
  <button
    mat-menu-item
    *ngIf="userInfo && userInfo['ADMIN_MENU']"
    (click)="goto('manage-members')"
    id="cy-manage-members"
  >
    <mat-icon>group</mat-icon>
    <span i18n="#sentenceCase@@ngOrcid.manageMembers">Manage members</span>
  </button>
  <button
    mat-menu-item
    *ngIf="userInfo && userInfo['ADMIN_MENU']"
    (click)="goto('admin-actions')"
    id="cy-admin-actions"
  >
    <mat-icon>verified_user</mat-icon>
    <span i18n="@@ngOrcid.adminPage">Admin page</span>
  </button>
  <button mat-menu-item (click)="navigateTo('/signout')" id="cy-signout">
    <mat-icon>exit_to_app</mat-icon>
    <span i18n="@@ngOrcid.logout">Logout</span>
  </button>
</mat-menu>
<!-- Beel for Inbox-->
