.main-button {
  height: auto;
  .main-button-container {
    cursor: pointer;
    padding-bottom: 8px;
    padding-top: 4px;
    align-items: start;
    width: auto;
    flex-wrap: nowrap;
    max-width: 248px;
    overflow: hidden;
    text-overflow: ellipsis;

    img {
      height: 36px;
      width: 36px;
    }
    .name-container {
      flex-direction: column;
      align-items: start;
      overflow: hidden;
      .mat-caption {
        text-align: left;
      }
      .mat-title {
        margin: 0;
        width: 199px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        word-break: break-word;
      }
    }
  }
}

:host {
  .user-menu-button {
    max-width: 100%;
    padding: 0 32px;
    .columns-4 & {
      padding: 0;
    }
    .user-menu-button-container {
      flex-direction: row;
    }
    img {
      height: 24px;
      width: 24px;
      margin-right: 10px;
      .columns-4 &,
      .columns-8 & {
        height: 24px;
        width: 24px;
        margin: 0;
      }
    }
  }
  .name-container {
    .columns-4 & {
      padding: 0;
    }
  }

  .small-login-icon {
    margin-right: 12px;
  }
}

span.name-text-container {
  overflow: hidden;
  width: calc(100% - 59px);
  display: inline-block;
  text-overflow: ellipsis;
}
