@import 'src/assets/scss/material.orcid-theme.scss';

@mixin user-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .main-button {
    border-bottom: 1px map-get($foreground, divider) solid;
  }
  .mat-icon {
    color: map-get($background, ui-background-darkest);
  }
}

@include user-menu-theme($orcid-app-theme);
