.main-button-container {
  padding: 0 16px;
  padding-bottom: 8px;
  align-items: center;
  width: auto;
  img {
    height: 36px;
    width: 36px;
  }
  .name-container {
    flex-direction: column;
    .mat-title {
      margin: 0;
    }
  }
}

:host {
  .user-menu-button {
    .user-menu-button-container {
      flex-direction: row;
    }
    img {
      height: 20px;
      width: 20px;
      margin-right: 10px;
      .columns-4 &,
      .columns-8 & {
        height: 24px;
        width: 24px;
      }
    }
  }
}
