<!---->
<!-- APPLICATION HEADER -->
<!---->
<var i18n="@@public-layout.for_researchers">For Researchers</var>
<var i18n="@@public-layout.for_organizations">For Organizations</var>
<var i18n="@@public-layout.about">About</var>
<var i18n="@@public-layout.help">Help</var>
<var i18n="#upperCase@@public-layout.sign_in">SIGN IN</var>
<var i18n="@@login.registerOrcidId">Register for an ORCID iD</var>
<var i18n="@@manage_delegators.learn_more.link.text">Learn more</var>
<var i18n="@@public-layout.funders">Funders</var>
<var i18n="@@public-layout.research_organizations">Research Organizations</var>
<var i18n="@@public-layout.publishers">Publishers</var>
<var i18n="@@public-layout.associations">Associations</var>
<var i18n="@@public-layout.integrators">Integrators</var>
<var i18n="@@public-layout.what_is_orcid">What is ORCID</var>
<var i18n="@@public-layout.the_orcid_team">The ORCID Team</var>
<var i18n="@@public-layout.the_orcid_community">The ORCID Community</var>
<var i18n="@@public-layout.events">Events</var>
<var i18n="@@public-layout.news">News</var>
<var i18n="@@public-layout.faq">FAQ</var>
<var i18n="@@public-layout.give_feedback">Give Feedback</var>
<var i18n="@@public-layout.contact_us">Contact us </var>
<var i18n="@@public-layout.knowledge_base">Knowledge Base </var>
<var i18n="@@public-layout.resources">Resources</var>
<var i18n="@@ngOrcid.outreach">OUTREACH RESOURCES</var>
<var i18n="@@ngOrcid.ambassadors">Ambassadors</var>
<var i18n="@@ngOrcid.useCases">USE CASES</var>
<var i18n="@@public-layout.membership">Membership</var>
<var i18n="@@ngOrcid.theOrcidApi">THE ORCID API</var>
<var i18n="@@ngOrcid.registerClientApp">REGISTER A CLIENT APPLICATION</var>
<var i18n="@@ngOrcid.currentIntegrations">CURRENT INTEGRATIONS</var>
<var i18n="@@ngOrcid.integrationsChart">INTEGRATION CHART</var>
<var i18n="@@ngOrcid.betaTesters">BETA TESTERS</var>
<var i18n="@@public-layout.our_mission">Our Mission </var>
<var i18n="@@public-layout.our_principles">Our Principles</var>
<var i18n="@@ngOrcid.ourGovernance">OUR GOVERNANCE</var>
<var i18n="@@ngOrcid.ourPolicies">OUR POLICIES</var>
<var i18n="@@public-layout.working_groups">Working Groups</var>
<var i18n="@@public-layout.sponsors">Sponsors</var>
<var i18n="@@public-layout.launch_partners">Launch Partners</var>
<var i18n="@@public-layout.members">Members</var>
<var i18n="@@ngOrcid.openSource">OPEN SOURCE</var>
<var i18n="@@ngOrcid.partners">PARTNERS</var>
<var i18n="@@ngOrcid.adoptionAndInt">ADOPTION AND INTEGRATION PROGRAM</var>
<var i18n="@@ngOrcid.orcidGear">ORCID GEAR</var>
<var i18n="@@ngOrcid.membershipComparison">MEMBERSHIP COMPARISON</var>
<var i18n="@@public-layout.standard_member_agreement"
  >Standard Member Agreement</var
>
<var i18n="@@public-layout.our_members">Our Members</var>
<var i18n="@@ngOrcid.standartCreatorAgreement"
  >STANDARD CREATOR MEMBER AGREEMENT</var
>
<var i18n="@@ngOrcid.blog">BLOG</var>
<var i18n="@@ngOrcid.subscribe"> SUBSCRIBE!</var>
<var i18n="#upperCase@@public-layout.sign_out">SIGN OUT</var>
<var i18n="@@ngOrcid.disputeProcedures">DISPUTE PROCEDURES</var>
<var i18n="@@change_email_preferences.privacyPolicy">privacy policy</var>
<var i18n="@@developer_tools.public_member.terms.check_2"
  >Public Client Terms of Service</var
>
<var i18n="@@ngOrcid.publicDataFileUsePolicy">PUBLIC DATA FILE USE POLICY</var>
<var i18n="@@ngOrcid.trademark2">Trademark and iD Display Guidelines</var>
<var i18n="@@layout.public-layout.registry">registry</var>
<var i18n="@@layout.public-layout.website">website</var>
<var i18n="@@ngOrcid.search">Search...</var>
<var i18n="@@ngOrcid.searchNewInfo">Search the ORCID registry</var>
<var i18n="@@ngOrcid.search.ariaLabelSearchResults">Search Results</var>
<var i18n="@@public-layout.account_setting">Account Settings</var>
<var i18n="@@workspace.developer_tools">Developer tools</var>
<var i18n="@@admin.members.workspace_link">Manage members</var>
<var i18n="@@admin.workspace_link">Admin page</var>
<var i18n="@@workspace.self_service">Member Tools</var>
<var i18n="@@manage_delegators.learn_more.link.text">Learn more</var>
<var i18n="@@public-layout.my_orcid">ORCID Record</var>
<var i18n="@@public-layout.my_orcid_record">My ORCID Record</var>
<var i18n="@@workspace.notifications">Notifications inbox</var>

<var i18n="@@ngOrcid.search.institutionNamePlaceholder"
  >affiliation or organization ID</var
>
<var i18n="@@ngOrcid.material.firstPageLabel">First page</var>
<var i18n="@@ngOrcid.material.itemsPerPageLabel">Items per page:</var>
<var i18n="@@ngOrcid.material.lastPageLabel">Last page</var>
<var i18n="@@ngOrcid.material.nextPageLabel">Next page</var>
<var i18n="@@ngOrcid.material.previousPageLabel">Previous page</var>
<var i18n="@@ngOrcid.material.of">of</var>
<var i18n="@@ngOrcid.error">Oh no! An error occurred</var>
<var i18n="@@ngOrcid.passwordError"
  >We couldn't recover your account details. Please try again, and if the error
  persists please
</var>
<var i18n="@@ngOrcid.registerError"
  >We couldn't complete your registration. Please try again, and if the error
  persists please
</var>
<var i18n="@@shared.standardError"
  >Please try again, and if the error persists please</var
>

<var i18n="@@register.titleLabel">Could this be you?</var>
<var i18n="@@shared.knowledgeBase">visit our knowledge base.</var>
<var i18n="@@register.bodyLabel"
  >We found some accounts with your name, which means you may have already
  created an ORCID iD using a different email address. Before creating an
  account, please confirm that none of these records belong to you. Not sure if
  any of these are you?</var
>
<var i18n="@@register.contactLabel">Contact us.</var>
<var i18n="@@register.firstNameLabel">First Name</var>
<var i18n="@@register.lastNameLabel">Last Name</var>
<var i18n="@@register.affiliationsLabel">Affiliations</var>
<var i18n="@@register.dateCreatedLabel">Date Created</var>
<var i18n="@@register.viewRecordLabel">View Record</var>
<var i18n="@@register.signinLabel"
  >I ALREADY HAVE AN ID, GO BACK TO SIGN IN</var
>
<var i18n="@@register.continueLabel"
  >NONE OF THESE ARE ME, CONTINUE WITH REGISTRATION</var
>
<var i18n="@@register.passwordCantBeEmail"
  >Password must not be the same as your email address</var
>
<var i18n="@@public-layout.membership">Membership</var>
<var i18n="@@public-layout.documentation">Documentation</var>
<var i18n="@@public-layout.newsEvents">News & Events</var>
<var i18n="@@layout.ariaLabelFooter">footer</var>
<var i18n="@@layout.ariaLabelLogo">orcid mini logo</var>
<var i18n="@@layout.ariaLabelMenu">main menu</var>
<var i18n="@@layout.ariaLabelLanguage">language</var>
<var i18n="@@layout.ariaLabelMaintenance">Maintenance message</var>
<var i18n="@@layout.ariaLabelSearch">Search</var>
<var i18n="@@layout.ariaLabelStatistics">statistics</var>
<var i18n="@@environmentBanner.ariaLabelWarning">Warning, testing website</var>
<var i18n="@@institutional.ariaLabelInstitution">Institution</var>
<var i18n="@@institutional.ariaLabelClear">Clear</var>
<var i18n="@@home.ariaLabelNews">News</var>
<var i18n="@@register.ariaLabelInfo">info about names</var>
<var i18n="@@register.ariaLabelClose">close</var>
<var i18n="@@register.ariaLabelDeleteEmail">delete email</var>
<var i18n="@@register.ariaLabelInfoEmails">info about emails</var>
<var i18n="@@register.ariaLabelInfoPassword">info about password</var>
<var i18n="@@twoFactor.ariaLabelInfoTwoFactor"
  >info about two factor authentication</var
>
<var i18n="@@shared.ariaLabelClose">Close</var>
<var i18n="@@inbox.yourRecord">YOUR RECORD</var>
<var i18n="@@inbox.permissions">PERMISSIONS</var>
<var i18n="@@inbox.announcement">ANNOUNCEMENT</var>
<var i18n="@@inbox.hadMadeChanges">has made changes to your ORCID record</var>
<var i18n="@@inbox.connectingYour">Connecting your</var>
<var i18n="@@inbox.accountWithYourOrcid">account with your ORCID record</var>

<var i18n="@@inbox.affiliations">Affiliations</var>
<var i18n="@@inbox.bio">Bio</var>
<var i18n="@@inbox.distinction">Distinction</var>
<var i18n="@@inbox.education">Education</var>
<var i18n="@@inbox.employment">Employment</var>
<var i18n="@@inbox.externalIdentifiers">External Identifiers</var>
<var i18n="@@inbox.funding">Funding</var>
<var i18n="@@inbox.invitedPosition">Invited Position</var>
<var i18n="@@inbox.membership">Membership</var>
<var i18n="@@inbox.peerReview">Peer Review</var>
<var i18n="@@inbox.preferences">Preferences</var>
<var i18n="@@inbox.qualification">Qualification</var>
<var i18n="@@inbox.service">Service</var>
<var i18n="@@inbox.researchResource">Research Resource</var>
<var i18n="@@inbox.work">Work</var>
<var i18n="@@inbox.unknown">unknown</var>

<var i18n="@@inbox.newItemAdded">Added</var>
<var i18n="@@inbox.itemUpdate">Updated</var>
<var i18n="@@inbox.deleteItem">Deleted</var>
<var i18n="@@inbox.otherUpdate">Other</var>

<var i18n="@@inbox.archive">archive</var>
<var i18n="@@register.reactivating">Reactivating your account</var>
<var i18n="@@ngOrcid.reactivationAccountError"
  >We couldn't reactivate your ORCID account. Please try again, and if the error
  persists please</var
>
<var i18n="@@authorize.authenticate">Get your ORCID iD </var>
<var i18n="@@authorize.addUpdateInformation"
  >Add/update information about you (country, keywords, etc.)
</var>
<var i18n="@@authorize.activitiesUpdate"
  >Add/update your research activities (works, affiliations, etc)
</var>
<var i18n="@@authorize.readLimited"
  >Read your information with visibility set to Trusted Organizations
</var>
<var i18n="@@authorize.authenticateLongDescription"
  >Allow this organization or application to get your 16-character ORCID iD and
  read information on your ORCID record you have marked as public.
</var>
<var i18n="@@authorize.personUpdateLongDescription"
  >Allow this organization or application to add information about you (for
  example, your country, key words, other identifiers - but not your biography)
  that is stored in their system(s) to the lefthand section of your ORCID
  record. They will also be able to update this and any other information they
  have added, but will not be able to edit information added by you or by
  another trusted organization.
</var>
<var i18n="@@authorize.activitiesUpdateLongDescription"
  >Allow this organization or application to add information about your research
  activities (for example, works, affiliations) that is stored in their
  system(s) to your ORCID record. They will also be able to update this and any
  other information they have added, but will not be able to edit information
  added by you or by another trusted organization.
</var>
<var i18n="@@authorize.readLimitedLongDescription"
  >Allow this organization or application to read any information from your
  record you have marked as limited access. They cannot read information you
  have marked as private.
</var>
<var i18n="@@shared.oauthSessionError">Your Oauth request is invalid </var>

<var i18n="@@search.showAdvanceSearch">Show advanced search form</var>
<var i18n="@@search.hideAdvanceSearch">Hide advanced search form</var>
<var i18n="@@search.paginator">paginator</var>
<var i18n="@@search.bottomPaginator">bottom paginator</var>
<var i18n="@@layout.ariaLabelCookies">Cookies Policy</var>
<var i18n="@@shared.contactSupport">contact support.</var>

<var i18n="@@shared.showDetails">Show details</var>
<var i18n="@@shared.hideDetails">Hide details</var>
<var i18n="@@shared.edit">Edit</var>

<var i18n="@@topBar.addBiography">Add your biography</var>
<var i18n="@@topBar.addGivenName">Add given name</var>
<var i18n="@@topBar.addFamilyName">Add family name</var>
<var i18n="@@topBar.addPublishedName">Add a published or credit name</var>
<var i18n="@@topBar.addOtherName">Add other name</var>
<var i18n="@@topBar.description">Link Title</var>
<var i18n="@@topBar.url">Link URL</var>
<var i18n="@@topBar.keyword">Keyword</var>

<var i18n="@@peerReview.peerReview">Peer review</var>

<var i18n="@@shared.funding">Funding</var>
<var i18n="@@shared.addItem">Add Item</var>
<var i18n="@@shared.sortItems">Sort Items</var>
<var i18n="@@shared.addEmployment">Add Employment</var>
<var i18n="@@shared.sortEmployments">Sort Employments</var>
<var i18n="@@shared.addEducation">Add Education</var>
<var i18n="@@shared.sortEducation">Sort Education</var>
<var i18n="@@shared.addInvited">Add Invited Position</var>
<var i18n="@@shared.sortInvited">Sort Invited Positions</var>
<var i18n="@@shared.addMembership">Add Membership</var>
<var i18n="@@shared.sortMemberships">Sort Memberships</var>
<var i18n="@@shared.addFunding">Add Funding</var>
<var i18n="@@shared.sortFundings">Sort Fundings</var>
<var i18n="@@shared.addWork">Add Work</var>
<var i18n="@@shared.sortWorks">Sort Works</var>
<var i18n="@@shared.sortResearch">Sort Research Resources</var>
<var i18n="@@shared.addPeerReviews">Add Peer Review</var>
<var i18n="@@shared.sortPeerReviews">Sort Peer Reviews</var>

<var i18n="@@funding.amount">Total funding amount</var>
<var i18n="@@funding.contributors">Contributors</var>
<var i18n="@@funding.description">Description</var>
<var i18n="@@funding.organizationDefinedFundingSubType">Funding subtype</var>
<var i18n="@@funding.translatedTitle">Translated title</var>
<var i18n="@@researchResources.researchResources">Research resources</var>
