<!---->
<!-- APPLICATION HEADER -->
<!---->
<label i18n="@@public-layout.for_researchers">For Researchers</label>
<label i18n="@@public-layout.for_organizations">For Organizations</label>
<label i18n="@@public-layout.about">About</label>
<label i18n="@@public-layout.help">Help</label>
<label i18n="@@public-layout.sign_in">Sign in</label>
<label i18n="@@login.registerOrcidId">Register for an ORCID iD</label>
<label i18n="@@manage_delegators.learn_more.link.text">Learn more</label>
<label i18n="@@public-layout.funders">Funders</label>
<label i18n="@@public-layout.research_organizations"
  >Research Organizations</label
>
<label i18n="@@public-layout.publishers">Publishers</label>
<label i18n="@@public-layout.associations">Associations</label>
<label i18n="@@public-layout.integrators">Integrators</label>
<label i18n="@@public-layout.what_is_orcid">What is ORCID</label>
<label i18n="@@public-layout.the_orcid_team">The ORCID Team</label>
<label i18n="@@public-layout.the_orcid_community">The ORCID Community</label>
<label i18n="@@public-layout.events">Events</label
><label i18n="@@public-layout.news">News</label>
<label i18n="@@public-layout.faq">FAQ</label>
<label i18n="@@public-layout.give_feedback">Give Feedback</label>
<label i18n="@@public-layout.contact_us">Contact us </label>
<label i18n="@@public-layout.knowledge_base">Knowledge Base </label>
<label i18n="@@ngOrcid.outreach">OUTREACH RESOURCES</label>
<label i18n="@@ngOrcid.useCases">Use Cases</label>
<label i18n="@@public-layout.membership">Membership</label>
<label i18n="@@ngOrcid.theOrcidApi">THE ORCID API</label>
<label i18n="@@ngOrcid.registerClientApp">REGISTER A CLIENT APPLICATION</label>
<label i18n="@@ngOrcid.currentIntegrations">CURRENT INTEGRATIONS</label>
<label i18n="@@ngOrcid.integrationsChart">INTEGRATION CHART</label>
<label i18n="@@ngOrcid.betaTesters">BETA TESTERS </label>
<label i18n="@@public-layout.our_mission">Our Mission </label>
<label i18n="@@public-layout.our_principles">Our Principles</label>
<label i18n="@@ngOrcid.ourGovernance">OUR GOVERNANCE</label>
<label i18n="@@ngOrcid.ourPolicies">OUR POLICIES</label>
<label i18n="@@public-layout.working_groups">Working Groups</label>
<label i18n="@@public-layout.sponsors">Sponsors</label>
<label i18n="@@public-layout.launch_partners">Launch Partners</label>
<label i18n="@@public-layout.members">Members</label>
<label i18n="@@ngOrcid.openSource">OPEN SOURCE</label>
<label i18n="@@ngOrcid.partners">PARTNERS</label>
<label i18n="@@ngOrcid.adoptionAndInt">ADOPTION AND INTEGRATION PROGRAM</label>
<label i18n="@@ngOrcid.outreachResources">Outreach Resources</label>
<label i18n="@@ngOrcid.orcidGear">ORCID GEAR</label>
<label i18n="@@ngOrcid.membershipComparison">MEMBERSHIP COMPARISON</label>
<label i18n="@@public-layout.standard_member_agreement"
  >Standard Member Agreement</label
>
<label i18n="@@public-layout.our_members">Our Members</label>
<label i18n="@@ngOrcid.standartCreatorAgreement"
  >Standard Creator Member Agreement</label
>
<label i18n="@@ngOrcid.blog">Blog</label>
<label i18n="@@ngOrcid.subscribe"> Subscribe!</label>
<label i18n="@@public-layout.sign_out">Sign out</label>
