<app-settings-panels-data>
  @if (success) {
  <app-alert-message type="success" class="mb-4.5">
    <div content class="mt-0.5" i18n>
      Two-factor authentication has been disabled
    </div>
  </app-alert-message>
  } @if (cancel) {
  <app-alert-message type="warning" class="mb-4.5">
    <div content class="mt-0.5" i18n>
      Two-factor authentication was not disabled
    </div>
  </app-alert-message>
  } @if (!twoFactorState) {
  <div class="two-factor-panel">
    <p
      class="two-factor-panel__copy two-factor-panel__copy--intro"
      i18n="@@account.addExtraSecurity"
    >
      Add extra security to your ORCID account by enabling two-factor
      authentication (2FA).
    </p>
    <a
      class="two-factor-panel__link"
      href="https://support.orcid.org/hc/en-us/articles/360006971673"
      rel="noopener noreferrer"
      target="_blank"
      i18n="@@account.learnMoreAbout2FA"
    >
      Learn more about two-factor authentication
      <mat-icon inline="true" aria-hidden="true">open_in_new</mat-icon>
    </a>
    <button
      mat-raised-button
      color="primary"
      id="cy-two-factor-enable"
      (click)="twoFactor()"
      i18n="@@account.enableTwoFactorAuth"
    >
      Enable two-factor authentication
    </button>
  </div>
  } @else {
  <div class="two-factor-panel two-factor-panel--enabled">
    <section class="two-factor-panel__section">
      <h4 i18n="@@account.signInWith2FA">Sign in with 2FA</h4>
      <p
        class="two-factor-panel__section-description"
        i18n="@@account.signInWith2FADescription"
      >
        Use your authentication app to generate a verification code whenever you
        sign in to ORCID.
      </p>
      <div class="two-factor-panel__requirement">
        <mat-icon
          inline="true"
          aria-hidden="true"
          class="two-factor-panel__requirement-icon"
        >
          check_circle
        </mat-icon>
        <div>
          <p class="two-factor-panel__requirement-title" i18n>
            Authentication app
          </p>
        </div>
      </div>
    </section>

    <section class="two-factor-panel__section">
      <h4 i18n="@@account.accountRecovery">Account recovery</h4>
      <p
        class="two-factor-panel__section-description"
        i18n="@@account.accountRecoveryDescription"
      >
        Recover access to your ORCID account if you can't use your
        authentication app.
      </p>
      <div class="two-factor-panel__requirement">
        <mat-icon
          inline="true"
          aria-hidden="true"
          class="two-factor-panel__requirement-icon"
        >
          check_circle
        </mat-icon>
        <div>
          <p class="two-factor-panel__requirement-title" i18n>
            2FA recovery codes
          </p>
        </div>
      </div>
    </section>

    <p class="two-factor-panel__copy" i18n="@@account.disable2FAWarning">
      You can disable two-factor authentication at any time. Turning 2FA off
      will reset any account recovery options you have set up.
    </p>
    <a
      class="two-factor-panel__link two-factor-panel__link--disable-info"
      href="https://support.orcid.org/hc/en-us/articles/360006971673"
      rel="noopener noreferrer"
      target="_blank"
      i18n="@@account.findOutMoreDisabling2FA"
    >
      Find out more about disabling two-factor authentication
      <mat-icon inline="true" aria-hidden="true">open_in_new</mat-icon>
    </a>
    <button
      mat-raised-button
      id="cy-two-factor-disable"
      class="two-factor-panel__disable-button"
      (click)="twoFactor()"
      i18n="@@account.disableTwoFactorAuth"
    >
      Disable two-factor authentication
    </button>
  </div>
  }
</app-settings-panels-data>
