<ng-template #wizardItem let-recordImportWizard>
  <h2 class="orc-font-body-small wizard-header">
    <img
      *ngIf="recordImportWizard.redirectUriMetadata?.logoUrl"
      [src]="recordImportWizard.redirectUriMetadata.logoUrl"
      [alt]="recordImportWizard.name + ' logo'"
      class="wizard-logo"
      loading="lazy"
    />
    <a
      target="_blank"
      rel="noopener noreferrer"
      [href]="openImportWizardUrlFilter(recordImportWizard)"
    >
      {{ recordImportWizard.name }}
    </a>
    <span
      *ngIf="recordImportWizard.redirectUriMetadata?.type"
      class="orc-font-body-small wizard-type"
    >
      {{ recordImportWizard.redirectUriMetadata.type }}
    </span>
  </h2>
  <p class="orc-font-body-small">
    <ng-container *ngIf="displayDescription(recordImportWizard).length > 125">
      <ng-container *ngIf="!recordImportWizard.show">
        {{ displayDescription(recordImportWizard).substring(0, 125) + '...' }}
        <a
          class="underline"
          i18n="@@shared.showMore"
          (click)="toggle(recordImportWizard)"
        >
          Show more
        </a>
      </ng-container>
      <ng-container *ngIf="recordImportWizard.show">
        {{ displayDescription(recordImportWizard) }}
        <br />
        <a
          class="underline"
          i18n="@@shared.showLess"
          (click)="toggle(recordImportWizard)"
        >
          Show less
        </a>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="displayDescription(recordImportWizard).length < 125">
      {{ displayDescription(recordImportWizard) }}
    </ng-container>
  </p>
</ng-template>

<h3 class="orc-font-body-small">Certified</h3>
<ng-container
  *ngFor="let recordImportWizard of certifiedWizards"
  [ngTemplateOutlet]="wizardItem"
  [ngTemplateOutletContext]="{ $implicit: recordImportWizard }"
></ng-container>

<h3 class="orc-font-body-small">Featured</h3>
<ng-container
  *ngFor="let recordImportWizard of featuredWizards"
  [ngTemplateOutlet]="wizardItem"
  [ngTemplateOutletContext]="{ $implicit: recordImportWizard }"
></ng-container>

<h3 class="orc-font-body-small">Default</h3>
<ng-container
  *ngFor="let recordImportWizard of defaultWizards"
  [ngTemplateOutlet]="wizardItem"
  [ngTemplateOutletContext]="{ $implicit: recordImportWizard }"
></ng-container>
