@for (recordImportWizard of recordImportWizards; track recordImportWizard) {
  <div>
    <h2 class="orc-font-body-small">
      <a
        target="_blank"
        rel="noopener noreferrer"
        [href]="openImportWizardUrlFilter(recordImportWizard)"
      >
        {{ recordImportWizard.name }}
      </a>
    </h2>
    <p class="orc-font-body-small">
      @if (recordImportWizard.description.length > 125) {
        @if (!recordImportWizard.show) {
          {{ recordImportWizard.description.substring(0, 125) + '...' }}
          <a
            class="underline"
            i18n="@@shared.showMore"
            (click)="toggle(recordImportWizard)"
          >
            Show more
          </a>
        }
        @if (recordImportWizard.show) {
          {{ recordImportWizard.description }}
          <br />
          <a
            class="underline"
            i18n="@@shared.showLess"
            (click)="toggle(recordImportWizard)"
          >
            Show less
          </a>
        }
      }
      @if (recordImportWizard.description.length < 125) {
        {{ recordImportWizard.description }}
      }
    </p>
  </div>
}
