<main id="main">
  <div class="container">
    <div class="row space-around">
      <div class="col l6 m6 s4">
        <mat-card class="orcid-wizard">
          <mat-progress-bar
            *ngIf="loading || signingLoading"
            mode="indeterminate"
          ></mat-progress-bar>

          <!-- Header Section with Title -->
          <mat-card-header>
            <mat-card-title class="header-container">
              <div class="icon">
                <img
                  src="assets/vectors/orcid.logo.icon.svg"
                  role="presentation"
                />
              </div>
              <h1 class="orc-font-heading-small">
                <ng-container i18n="@@linking.title.1">
                  Link your
                </ng-container>
                {{ entityDisplayName }}
                <ng-container i18n="@@linking.title.2">
                  account
                </ng-container>
              </h1>
              <p class="mat-body-1">
                <ng-container i18n="@@linking.signed">
                  You are signed into
                </ng-container>
                <b>{{ entityDisplayName }}</b>
              </p>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div
              *ngIf="
                signInData && !signInData.unsupportedInstitution && !loading
              "
            >
              <p class="mat-body-1">
                <ng-container i18n="@@linking.finish">
                  To link your
                </ng-container>
                {{ entityDisplayName }}
                <ng-container i18n="@@linking.account">
                  account please sign in to ORCID below. You will only need to
                  do this once. Once the accounts are linked you will be able to
                  sign in to your ORCID record with your
                </ng-container>
                {{ entityDisplayName }}
                <ng-container i18n="@@linking.questions">
                  account.
                </ng-container>
              </p>

              <p class="middle-text">
                <ng-container i18n="@@linking.ifYOuHaveQuestions">
                  If you have any questions
                </ng-container>

                <a
                  class="mat-button-font underline orc-font-body-small"
                  i18n="@@linking.knowledgebase"
                  href="https://support.orcid.org/hc/en-us/articles/360006972693"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  please visit the ORCID help centre
                </a>
              </p>

              <app-form-sign-in
                (loading)="signingLoading = $event"
                [email]="email"
                #formSignInComponent
                [signInData]="signInData"
                [signInUpdatesV1Togglz]="true"
                [showForgotYourPassword]="false"
                (show2FAEmitter)="show2FAEmitter($event)"
              >
              </app-form-sign-in>
              <div class="button-group center-content">
                <button
                  mat-raised-button
                  (click)="formSignInComponent.onSubmit()"
                  class="mat-elevation-z0 mat-button-wrap-text"
                  type="submit"
                  [disabled]="loading || signingLoading"
                  *ngIf="!show2FA"
                >
                  <ng-container i18n="@@linking.button.1">
                    Sign in and link your
                  </ng-container>
                  {{ entityDisplayName }}
                  <ng-container i18n="@@linking.button.2">
                    account
                  </ng-container>
                </button>

                <a
                  class="mat-button-font institution-name-link underline"
                  i18n="@@linking.cancelLinking"
                  (click)="cancel()"
                >
                  Cancel linking
                </a>

                <a
                  class="mat-button-font institution-name-link underline"
                  i18n="@@ngOrcid.signin.forgotYourPassword"
                  (click)="forgotPassword()"
                >
                  Forgot your password or ORCID ID?
                </a>

                <a
                  class="mat-button-font institution-name-link underline"
                  i18n="@@ngOrcid.signin.registerNow"
                  (click)="register()"
                >
                  Register now
                </a>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>
