@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin institutional-linking-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  // .display-1 {
  //   color: mat.get-color-from-palette($primary);
  // }
  button {
    color: $orcid-light-primary-text;
    background: mat.get-color-from-palette($primary, 700);
  }
}

@include institutional-linking-theme($orcid-app-theme);
