:host {
  width: 100%;

  ::ng-deep {
    .mat-mdc-card-header {
      width: unset !important;
      padding: 24px 64px 0 64px !important;
      .mat-mdc-card-title {
        margin-bottom: 0;
      }
    }
    .mat-mdc-card-content {
      margin: 24px 64px 64px 64px !important;
    }
  }
}
.handset {
  :host {
    ::ng-deep {
      .mat-mdc-card-header {
        padding: 0 0 0 0 !important;
      }
      .mat-mdc-card-content {
        margin: 0 0 0 0 !important;
      }
    }
  }
}

mat-card-title {
  max-width: 448px;
}

button {
  width: 100%;
  margin-top: 12px;
  border: solid 1px rgba(0, 0, 0, 0.12);
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-subtitle-1 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 4px;
}

:host {
  width: 100%;
  margin-top: 64px;
}

.header-container {
  margin-top: 64px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.icon {
  margin-bottom: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;

  img {
    width: 64px;
  }
}

h1 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

a {
  font-weight: 400;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  a {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 24px;
  }
}

.middle-text {
  margin: 24px 0;
}
