@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin deactivate-account-theme($theme) {
  .container {
    border-color: $ui-background-light;
  }

  .icon-error {
    mat-icon {
      color: white;
    }
    background-color: $state-warning-darkest;
  }

  .error {
    color: $state-warning-darkest !important;
  }

  hr {
    background: $ui-background-light;
  }

  .deactivate-button {
    background-color: $state-warning-darkest !important;
    color: white !important;
  }

  .deactivate-button-loading {
    opacity: 30%;
  }

  mat-hint {
    color: $text-dark-high;
  }
}

@include deactivate-account-theme($orcid-app-theme);
