@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin dialog-trusted-organizations($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .warn {
    color: mat.get-color-from-palette($warn, 700);
  }

  .disabled a.mat-mdc-tooltip-trigger.black-url.underline {
    color: mat.get-color-from-palette($background, dark-grey);
  }

  .disabled
    mat-icon.mat-icon.mat-mdc-tooltip-trigger.pointer.material-icons.mat-icon-no-color {
    color: mat.get-color-from-palette($background, dark-grey);
  }
}

@include dialog-trusted-organizations($orcid-app-theme);
