<app-panel-data
  class="orc-font-body-small"
  [borderBottom]="researchResource?.showDetails"
>
  <app-panel-element [hideVisibility]="false">
    <div
      class="description-container"
      [ngClass]="{
        'show-details': researchResource?.showDetails
      }"
    >
      <div class="description">
        <div *ngFor="let host of researchResource?.hosts">
          <span>{{ host.name | titlecase }}</span>
          <span *ngIf="host.city || host.region || host.country"> (</span>
          <span *ngIf="host.city">{{ host.city }}</span
          ><span *ngIf="host.region">, {{ host.region }}</span>
          <span *ngIf="host.country">, {{ host.country }}</span>
          <span *ngIf="host.city || host.region || host.country">)</span>
        </div>
        <div>
          <span *ngIf="researchResource?.startDate">
            <span>{{
              researchResource.startDate | monthDayYearDateToString
            }}</span>
            <span> to </span>
            <span
              [hidden]="
                researchResource.endDate && researchResource.endDate.year
              "
              i18n="@@researchResources.present"
            >
              present
            </span>
            <span *ngIf="researchResource.endDate">
              <span>{{
                researchResource.endDate | monthDayYearDateToString
              }}</span>
            </span>
          </span>
          <!--End date-->
          <span
            *ngIf="!researchResource?.startDate && researchResource?.endDate"
          >
            <span>{{
              researchResource.endDate | monthDayYearDateToString
            }}</span>
          </span>
        </div>
        <app-display-external-ids
          [externalIdentifiers]="researchResource?.externalIdentifiers"
          [noBoldTitle]="true"
        ></app-display-external-ids>
      </div>
      <div
        class="buttons-container"
        [ngClass]="{
          'orc-font-small-print': isMobile,
          'orc-font-body-small': !isMobile
        }"
      >
        <a
          class="underline show-more-button"
          *ngIf="!researchResource?.showDetails"
          (click)="getDetails(researchResource, researchResource.putCode)"
          i18n="@@shared.showMoreDetail"
          [attr.aria-label]="
            'research-resource'
              | appPanelActivityActionAriaLabel
                : 'show'
                : researchResource.title
          "
        >
          Show more detail
        </a>
        <a
          class="underline"
          *ngIf="researchResource?.showDetails"
          (click)="collapse(researchResource)"
          i18n="@@shared.showLessDetail"
          id="show-less-button"
          [attr.aria-label]="
            'research-resource'
              | appPanelActivityActionAriaLabel
                : 'hide'
                : researchResource.title
          "
        >
          Show less detail
        </a>
      </div>
    </div>
  </app-panel-element>
  <app-panel-element
    [hideVisibility]="false"
    *ngIf="researchResource?.showDetails"
  >
    <div
      class="description"
      *ngIf="getResearchResource(researchResource.putCode) as researchDetail"
    >
      <div class="host" *ngFor="let host of researchDetail.hosts">
        <ng-container
          *ngIf="
            getOrganizationDisambiguated(host) as organizationDisambiguated
          "
        >
          <p>
            <span>{{ host.name | titlecase }}</span>
            <span *ngIf="host.city || host.region || host.country"> (</span>
            <span *ngIf="host.city">{{ host.city }}</span
            ><span *ngIf="host.region">, {{ host.region }}</span>
            <span *ngIf="host.country">, {{ host.country }}</span>
            <span *ngIf="host.city || host.region || host.country">)</span>
          </p>
          <app-org-identifier
            [orgDisambiguated]="organizationDisambiguated"
          ></app-org-identifier>
          <ng-container *ngIf="researchDetail.translatedTitle">
            <h3 class="orc-font-body-small" i18n="@@shared.translatedTitle">
              Translated title
            </h3>
            <div>
              {{ researchDetail.translatedTitle }}
            </div>
          </ng-container>
          <ng-container *ngIf="researchDetail.url">
            <h3 class="orc-font-body-small" i18n="@@shared.url">URL</h3>
            <div>
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="{{ researchDetail.url }}"
              >
                {{ researchDetail.url }}
              </a>
            </div>
          </ng-container>
          <h3 class="orc-font-body-small" i18n="@@shared.added">Added</h3>
          <div>
            {{ researchDetail.createdDate | monthDayYearDateToString }}
          </div>
          <ng-container *ngIf="researchDetail.lastModifiedDate">
            <h3 class="orc-font-body-small" i18n="@@shared.lastModified">
              Last modified
            </h3>
            <div>
              {{ researchDetail.lastModifiedDate | monthDayYearDateToString }}
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div *ngFor="let item of researchDetail.items; index as i">
        <app-panel
          panelId="research-resource"
          [elements]="item"
          [type]="'top-bar'"
          [editable]="false"
          [customControls]="true"
          class="top-bar"
          [attr.id]="'research-detail-item-' + i"
          [stackedHeader]="!platform.columns12"
        >
          <div header>
            <div>
              <span
                class="orc-font-small-print resourceType"
                [ngClass]="{
                  infrastructures:
                    item.resourceType.toLocaleLowerCase() === 'infrastructures',
                  equipment:
                    item.resourceType.toLocaleLowerCase() === 'equipment',
                  collections:
                    item.resourceType.toLocaleLowerCase() === 'collections',
                  services:
                    item.resourceType.toLocaleLowerCase() === 'services',
                  mobile: isMobile
                }"
              >
                <span class="dot"></span>
                <strong>
                  {{ item.resourceType | uppercase }}
                </strong>
              </span>
              <strong class="orc-font-body-small" *ngIf="!isMobile">
                {{ item.resourceName }}
              </strong>
            </div>
            <strong class="orc-font-body-small" *ngIf="isMobile">
              {{ item.resourceName }}
            </strong>
          </div>
          <div custom-controls>
            <span
              class="show"
              [ngClass]="{
                'orc-font-small-print': isMobile,
                'orc-font-body-small': !isMobile
              }"
            >
              <a
                class="underline"
                *ngIf="!item.showDetails"
                (click)="
                  getOrganizationDisambiguatedDetails(
                    item,
                    item.hosts[0].disambiguationSource,
                    item.hosts[0].orgDisambiguatedId
                  )
                "
                i18n="@@shared.showMoreDetail"
                id="show-more-item-button"
                [attr.aria-label]="
                  'research-resource'
                    | appPanelActivityActionAriaLabel
                      : 'show'
                      : item.resourceName
                "
              >
                Show more detail
              </a>
              <a
                class="underline"
                *ngIf="item.showDetails"
                (click)="collapse(item)"
                i18n="@@shared.showLessDetail"
                id="show-less-item-button"
                [attr.aria-label]="
                  'research-resource'
                    | appPanelActivityActionAriaLabel
                      : 'hide'
                      : item.resourceName
                "
              >
                Show less detail
              </a>
            </span>
          </div>
          <app-panel-data [borderBottom]="true" *ngIf="item.showDetails">
            <app-panel-element [hideVisibility]="false">
              <div class="description">
                <app-display-external-ids
                  [externalIdentifiers]="item.externalIdentifiers"
                  [noBoldTitle]="true"
                ></app-display-external-ids>

                <div *ngIf="item.hosts && item.hosts[0] as itemHost">
                  <span>{{ itemHost.name }}</span>
                  <span
                    *ngIf="itemHost.city || itemHost.region || itemHost.country"
                  >
                    (</span
                  >
                  <span *ngIf="itemHost.city">{{ itemHost.city }}</span
                  ><span *ngIf="itemHost.region">, {{ itemHost.region }}</span>
                  <span *ngIf="itemHost.country">, {{ itemHost.country }}</span>
                  <span
                    *ngIf="itemHost.city || itemHost.region || itemHost.country"
                    >)</span
                  >
                </div>
              </div>
              <div *ngIf="item.url" class="description">
                <h3 class="orc-font-body-small" i18n="@@shared.url">URL</h3>
                <ng-container *ngIf="!(item.url | isUrl)">
                  {{ item.url }}
                </ng-container>
                <ng-container *ngIf="item.url | isUrl">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="{{ item.url }}"
                  >
                    {{ item.url }}
                  </a>
                </ng-container>
              </div>
              <div
                *ngIf="item.hosts && item.hosts[0] as itemHost"
                class="description"
              >
                <ng-container
                  *ngIf="getOrganizationDisambiguated(itemHost) as nestOrg"
                >
                  <app-org-identifier
                    [orgDisambiguated]="nestOrg"
                  ></app-org-identifier>
                </ng-container>
              </div>
            </app-panel-element>
          </app-panel-data>
        </app-panel>
      </div>
    </div>
  </app-panel-element>
</app-panel-data>
