@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin research-resource-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .description-container,
  .show-details {
    border-color: mat.m2-get-color-from-palette(
      $background,
      ui-background
    ) !important;
  }

  .infrastructures {
    color: mat.m2-get-contrast-color-from-palette($accent, 600);
    .dot {
      background-color: mat.m2-get-contrast-color-from-palette($accent, 600);
    }
  }

  .equipment {
    color: mat.m2-get-contrast-color-from-palette($accent, 600);
    .dot {
      background-color: mat.m2-get-contrast-color-from-palette($accent, 600);
    }
  }

  .services {
    color: mat.m2-get-contrast-color-from-palette($accent, 600);
    .dot {
      background-color: mat.m2-get-contrast-color-from-palette($accent, 600);
    }
  }

  .collections {
    color: mat.m2-get-contrast-color-from-palette($accent, 600);
    .dot {
      background-color: mat.m2-get-contrast-color-from-palette($accent, 600);
    }
  }
}

@include research-resource-theme($orcid-app-theme);
