@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin work-bibtex-modal-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.define-typography-config();

  code {
    background-color: mat.get-color-from-palette(
      $background,
      ui-background-light
    );
  }
}
@include work-bibtex-modal-theme($orcid-app-theme);
