.choose-bibtex {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 6px;

  button {
    min-width: 237px;
  }
}

.work-info {
  margin-bottom: 16px;
  width: 100%;
  word-break: break-word;

  div {
    word-break: break-word;

    h2 {
      width: 48em;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }

    .details {
      margin-left: 24px;
    }

    .added {
      margin-left: 16px;
    }
  }
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}

.bibtex-error {
  margin: 6px 2px;

  code {
    border-radius: 3px;
    padding: 6px;
  }
}
