<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input formControlName="firstName" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input formControlName="lastName" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input formControlName="primaryEmail" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input formControlName="confirmEmail" matInput />
  </mat-form-field>
</ng-container>
