:host {
  display: flex;
  flex-direction: column;
}

mat-form-field,
.input-container {
  width: 100%;

  mat-icon {
    position: absolute;
  }
}

.mat-icon {
  margin-top: 20px;
  margin-left: 5px;
}
