<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input formControlName="givenNames" matInput />
    <mat-error *ngIf="form.hasError('required', 'givenNames')">
      The first name is required
    </mat-error>
    <mat-error *ngIf="form.hasError('notPattern', 'givenNames')">
      The first name format is incorrect
    </mat-error>
    <mat-error *ngIf="form.hasError('backendError', 'givenNames')">
      <div *ngFor="let error of form.getError('backendError', 'givenNames')">
        {{ error }}
      </div>
    </mat-error>
  </mat-form-field>

  <mat-icon aria-hidden="true">info</mat-icon>
  <mat-form-field appearance="outline">
    <mat-label>Last name (Optional)</mat-label>
    <input formControlName="familyNames" matInput />
    <mat-error *ngIf="form.hasError('required', 'familyNames')">
      The first name is required
    </mat-error>
    <mat-error *ngIf="form.hasError('backendError', 'familyNames')">
      <div *ngFor="let error of form.getError('backendError', 'familyNames')">
        {{ error }}
      </div>
    </mat-error>
  </mat-form-field>

  <ng-container formGroupName="emails">
    <mat-form-field appearance="outline">
      <mat-label>Primary email</mat-label>
      <input formControlName="email" matInput />
      <mat-error *ngIf="form.hasError('required', 'emails.email')">
        Email is required
      </mat-error>

      <mat-error
        *ngIf="
          this.emails.hasError('email', 'email') ||
          this.emails.hasError('pattern', 'email')
        "
      >
        Invalid email format
      </mat-error>

      <mat-error *ngIf="this.emails.hasError('backendError', 'email')">
        <div
          *ngFor="let error of this.emails.getError('backendError', 'email')"
        >
          {{ error }}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm primary email</mat-label>
      <input formControlName="confirmEmail" matInput />
      <mat-error *ngIf="form.hasError('required', 'emails.confirmEmail')">
        The first name is required
      </mat-error>
      <mat-error
        *ngIf="
          this.emails.hasError('email', 'confirmEmail') ||
          this.emails.hasError('pattern', 'confirmEmail')
        "
      >
        Invalid email format
      </mat-error>
      <mat-error *ngIf="this.emails.hasError('mismatch', 'confirmEmail')">
        the emails are not the same
      </mat-error>
      <mat-error
        *ngIf="this.emails.hasError('backendError', 'emails.confirmEmail')"
      >
        <div
          *ngFor="
            let error of form.getError('backendError', 'emails.confirmEmail')
          "
        >
          {{ error }}
        </div>
      </mat-error>
    </mat-form-field>

    <!-- ADDITIONAL EMAILS -->
    <app-form-personal-additional-emails
      [additionalEmails]="additionalEmails"
    ></app-form-personal-additional-emails>
  </ng-container>
</ng-container>
