<div
  class="orc-font-body-small"
  *ngIf="title"
  [ngClass]="{
    'title-margin': titleMargin,
    'secondary-text': secondaryText,
    'no-bold': noBoldTitle
  }"
>
  <i class="prefixTitle" *ngIf="prefixTitle">
    <ng-container *ngIf="prefixTitle === 'part-of'" i18n="@@shared.partOf">
      Part of
    </ng-container>
    <ng-container *ngIf="prefixTitle === 'funded-by'" i18n="@@shared.fundedBy">
      Funded by
    </ng-container>
    <ng-container
      *ngIf="prefixTitle === 'version-of'"
      i18n="@@shared.versionOf"
    >
      Version of
    </ng-container>
  </i>
  {{ title }}
  <ng-container *ngIf="detail">&#x200E;({{ detail }})&#x200E;</ng-container>
</div>

<p
  class="mat-body-1"
  *ngIf="!url && copyOnClick"
  appCopyOnClick
  matTooltip="Click to Copy"
  [matTooltipPosition]="'above'"
>
  {{ content }}
</p>
<p class="mat-body-1" *ngIf="!url && !copyOnClick">{{ content }}</p>

<a
  class="underline mat-body-1"
  href="{{ url }}"
  target="_blank"
  rel="noopener noreferrer"
  *ngIf="url"
>
  {{ content }}
</a>
