<main id="main">
  <div
    class="container"
    [ngClass]="{
      mobile: !platform.columns12
    }"
  >
    <div class="row space-around">
      <div
        [ngClass]="{
          'col l5 m6 s4': !platform.columns12
        }"
      >
        <img src="assets/vectors/orcid.logo.icon.svg" alt="orcid logo" />
        <h2 class="orc-font-heading-small" i18n="@@record.notFound">
          We’re really sorry, we can’t find the page you’re looking for.
        </h2>
        <p class="orc-font-body-large" i18n="@@record.whatHappened">
          What happened?
        </p>
        <div class="orc-font-body-small">
          <div class="if-you">
            <b i18n="@@record.ifYouTyped">
              If you typed in a URL or link by hand
            </b>
            <p i18n="@@record.pleaseCheck">
              Please check the URL or link for typos or mistakes. If you are
              looking for a specific ORCID record make sure the ORCID iD - the
              16-digit number at the end of the URL - is right.A
              correctly-formatted ORCID iD URL looks like this:
              https://orcid.org/1234-5678-9101-1121
            </p>
          </div>
          <div class="if-you">
            <b i18n="@@record.ifYouFollowed">
              If you followed a link to this record from another site or service
            </b>
            <p i18n="@@record.pleaseReport">
              Please report the broken link to the site or service you came from
              so they can fix it.
            </p>
          </div>
          <div class="if-you">
            <b i18n="@@record.ifYouHave">
              If you have previously bookmarked this record and it has now
              stopped working
            </b>
            <p i18n="@@record.pleaseGet">
              Please get in touch with our support team via the Help button
              below. They can help you find the record you are looking for.
            </p>
          </div>
        </div>
        <p class="orc-font-body-large" i18n="@@record.whatToDo">
          What to do next
        </p>
        <div class="search">
          <a
            class="underline orc-font-body-small"
            i18n="@@record.trySearching"
            (click)="goto('/orcid-search/search')"
          >
            Try using our advanced search to find researchers by their name or
            ORCID iD
          </a>
        </div>
        <div class="search">
          <a
            class="underline orc-font-body-small"
            i18n="@@record.headBackToMain"
            (click)="goto('/')"
          >
            Head back to the main ORCID homepage
          </a>
        </div>
        <div class="search">
          <a
            class="underline orc-font-body-small"
            i18n="@@record.findOutMoreAboutOrcid"
            href="https://info.orcid.org/"
          >
            Find out more about ORCID on our information site
          </a>
        </div>
        <div class="search">
          <a
            class="underline orc-font-body-small"
            i18n="@@record.signinToOricd"
            (click)="goto('/login')"
          >
            Sign in to ORCID and manage your record
          </a>
        </div>
        <div class="search">
          <a
            class="underline orc-font-body-small"
            i18n="@@record.registerForAnOrcid"
            (click)="goto('/register')"
          >
            Register for an ORCID record
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
