<app-modal [loading]="loadingPeerReviews">
  <app-modal-header></app-modal-header>
  <app-modal-side-bar>
    <ng-container id="side-bar-title" i18n="@@side-bar.myCountries"
    >Peer reviews</ng-container
    >
  </app-modal-side-bar>
  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      i18n="@@shared.saveChanges"
      id="save-countries-button"
    >
      Save changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-countries-button"
    >
      Cancel
    </button>
  </app-modal-footer>
  <div class="container no-padding">

  </div>
</app-modal>
