<app-panel-data
  [borderBottom]="true"
  *ngIf="subPeerReview.showDetails"
>
  <app-panel-element
    [hideVisibility]="false"
    *ngIf="
      getPeerReview(subPeerReview.putCode.value) as peerReview
    "
  >
    <div class="details">
      <div>
        <b i18n="@@peerReview.reviewIdentifiers"
        >Review identifier(s)</b
        >
      </div>
      <app-display-external-ids
        [externalIdentifiers]="peerReview.externalIdentifiers"
        [noBoldTitle]="true"
      ></app-display-external-ids>
    </div>
    <div class="details">
      <div>
        <b i18n="@@peerReview.conveningOrganization">
          Convening organization
        </b>
      </div>
      <p>
        {{
        getPeerReview(peerReview.putCode.value)?.orgName
          ?.value
        }}, ({{
        getPeerReview(peerReview.putCode.value)?.city
          ?.value
        }}<ng-container
        *ngIf="
                              getPeerReview(peerReview.putCode.value)?.city
                                ?.value &&
                              getPeerReview(peerReview.putCode.value)?.country
                                ?.value
                            "
      >,</ng-container
      >{{
        getPeerReview(peerReview.putCode.value)?.country
          ?.value
        }})
      </p>
    </div>
    <div
      class="details"
      *ngIf="
                          peerReview?.subjectName?.value &&
                          peerReview?.subjectType?.value
                        "
    >
      <b i18n="@@peerReview.reviewSubject">
        Review subject
      </b>
      <div>
        <ng-container *ngIf="peerReview?.subjectName?.value">
          {{ peerReview.subjectName.value }}
        </ng-container>
        <ng-container *ngIf="peerReview?.subjectType?.value">
          ({{ peerReview.subjectType.value }})
        </ng-container>
        <div
          *ngIf="
                              getPeerReview(peerReview.putCode.value)
                                ?.subjectContainerName?.value
                            "
        >
          {{
          getPeerReview(peerReview.putCode.value)
            .subjectContainerName.value
          }}
        </div>
        <div>
          <i
            *ngIf="
                                getPeerReview(peerReview.putCode.value)
                                  ?.subjectExternalIdentifier?.relationship
                                  ?.value === 'part-of'
                              "
            i18n="@@shared.partOf"
          >
            Part of
          </i>
          <i
            *ngIf="
                                getPeerReview(peerReview.putCode.value)
                                  ?.subjectExternalIdentifier?.relationship
                                  ?.value === 'funded-by'
                              "
            i18n="@@shared.fundedBy"
          >
            Funded by
          </i>
          {{
          getPeerReview(peerReview.putCode.value)
            ?.subjectExternalIdentifier
            ?.externalIdentifierType?.value | uppercase
          }}
          :
          {{
          getPeerReview(peerReview.putCode.value)
            ?.subjectExternalIdentifier.externalIdentifierId
            ?.value
          }}
        </div>
      </div>
    </div>
    <div class="details">
      <b i18n="@@shared.added"> Added </b>
      <div>
        {{
        peerReview.createdDate | monthDayYearDateToString
        }}
      </div>
    </div>
    <div class="details">
      <b i18n="@@shared.lastModified"> Last modified </b>
      <div>
        {{
        peerReview.lastModified | monthDayYearDateToString
        }}
      </div>
    </div>
  </app-panel-element>
</app-panel-data>
