<app-panel-data [borderBottom]="true" *ngIf="subPeerReview?.showDetails" [deprecatedPadding]="true">
  <app-panel-element
    [hideVisibility]="false"
    *ngIf="getPeerReview(subPeerReview.putCode.value) as peerReview"
  >
    <div class="details">
      <div>
        <b i18n="@@peerReview.reviewIdentifiers">Review identifier(s)</b>
      </div>
      <app-display-external-ids
        [externalIdentifiers]="peerReview.externalIdentifiers"
        [noBoldTitle]="true"
      ></app-display-external-ids>
    </div>
    <div class="details">
      <b i18n="@@peerReview.conveningOrganization"> Convening organization </b>
      <div>
        {{ peerReview?.orgName?.value }} ({{ peerReview?.city?.value
        }}<span *ngIf="peerReview?.city?.value && peerReview?.country?.value"
          >, </span
        >{{ peerReview?.country?.value }})
      </div>
    </div>
    <div
      class="details"
      *ngIf="
        (peerReview?.subjectName?.value && peerReview?.subjectType?.value) ||
        peerReview?.subjectExternalIdentifier?.externalIdentifierType?.value
      "
    >
      <b i18n="@@peerReview.reviewSubject"> Review subject </b>
      <div>
        <ng-container *ngIf="peerReview?.subjectName?.value">
          {{ peerReview.subjectName.value }}
        </ng-container>
        <ng-container *ngIf="peerReview?.subjectType?.value">
          ({{ peerReview.subjectType.value }})
        </ng-container>
        <div *ngIf="peerReview?.subjectContainerName?.value">
          {{ peerReview.subjectContainerName.value }}
        </div>
        <app-display-external-ids
          [externalIdentifier]="peerReview?.subjectExternalIdentifier"
          [noBoldTitle]="true"
        ></app-display-external-ids>
      </div>
    </div>
  </app-panel-element>
</app-panel-data>
