<div
  class="wrapper"
  [ngClass]="{
    'warning-message': type === 'warning',
    'success-message': type === 'success',
  }"
>
  <div
    class="container-text-and-icon"
    [ngClass]="{
      'orc-font-body-small': !isMobile,
      'orc-font-small-print': isMobile,
    }"
  >
    <div class="col">
      <mat-icon
        [ngClass]="{
          'material-icons-outlined': type === 'success',
        }"
      >
        {{ icon }}</mat-icon
      >
    </div>
    <div class="text-container">
      <strong>
        <ng-content select="[title]"> </ng-content>
      </strong>
      <p>
        <ng-content select="[content]"></ng-content>
      </p>
    </div>
  </div>
</div>
