@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin warning-message-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .wrapper.warning-message {
    border-color: mat.get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;
    .container-text-and-icon {
      mat-icon {
        color: mat.get-color-from-palette(
          $foreground,
          'state-notice-dark'
        ) !important;
      }
    }
  }

  .wrapper.success-message {
    border-color: $brand-primary-dark;

    .container-text-and-icon {
      mat-icon {
        color: $brand-primary-dark;
      }
    }
  }
}

@include warning-message-theme($orcid-app-theme);
