<a
  *ngIf="delegators.length"
  class="mat-button-font"
  [matMenuTriggerFor]="menu"
  i18n="@@authorize.switchAccount"
  >Switch to another account</a
>

<mat-menu #menu="matMenu" class="mat-body-1">
  <strong i18n="@@authorize.SwitchTo" class="header text-container">
    Switch to another account
  </strong>
  <div class="text-container">
    <ng-container i18n="@@authorize.youHave">You have</ng-container>
    <strong>{{ '12' }}</strong>
    <ng-container i18n="@@authorize.accounts">accounts</ng-container>
  </div>
  <button
    mat-menu-item
    *ngFor="let delegator of delegators"
    (click)="changeAccount(delegator.giverOrcid.path)"
  >
    <div class="content">
      <div>
        <strong>{{ delegator.giverName.value }}</strong>
      </div>
      <div>
        {{ delegator.giverOrcid.uri }}
      </div>
    </div>
  </button>
</mat-menu>
