@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin trusted-individuals-dropdown($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  .header {
    background-color: mat.m2-get-color-from-palette($primary, 700);
    color: mat.m2-get-contrast-color-from-palette($primary, 700);
  }
}

@include trusted-individuals-dropdown($orcid-app-theme);
