<a
  *ngIf="hasTrustedIndividual"
  class="mat-button-font"
  [matMenuTriggerFor]="menu"
  i18n="@@authorize.switchAccount"
  >Switch to another account</a
>

<mat-menu #menu="matMenu" class="mat-body-1">
  <div i18n="@@authorize.SwitchTo" class="header text-container">
    Switch to another account
  </div>
  <div class="text-container">
    <ng-container i18n="@@authorize.youHave">You have</ng-container>
    <strong>{{ '12' }}</strong>
    <ng-container i18n="@@authorize.accounts">accounts</ng-container>
  </div>
  <button
    class="mat-button-wrap-text"
    mat-menu-item
    *ngFor="let account of alternativeAccounts"
    (click)="changeAccount(account)"
  >
    <div>
      <strong>{{ account }}</strong>
    </div>
    <div>
      0000-0000-0000-000X
    </div>
  </button>
</mat-menu>
