<app-modal [loading]="loading">
  <app-modal-header [closeLabel]="closeLabel">
    <ng-container i18n="@@work.works"> Works </ng-container>
  </app-modal-header>
  <app-modal-side-bar>
    <ng-container id="side-bar-title">
      <a class="side-bar" i18n="@@works.workDetails" (click)="toWorkDetails()">
        Work Details
      </a>
    </ng-container>
    <ng-container id="side-bar-url-1">
      <a class="side-bar" i18n="@@works.identifiers" (click)="toIdentifiers()">
        Identifiers
      </a>
    </ng-container>
    <ng-container id="side-bar-url-2">
      <a
        class="side-bar"
        i18n="@@works.contributors"
        (click)="toContributors()"
      >
        Contributors
      </a>
    </ng-container>
    <ng-container id="side-bar-url-3">
      <a class="side-bar" i18n="@@works.citation" (click)="toCitation()">
        Citation
      </a>
    </ng-container>
    <ng-container id="side-bar-url-4">
      <a
        class="side-bar"
        i18n="@@works.otherInformation"
        (click)="toOtherInformation()"
      >
        Other information
      </a>
    </ng-container>
    <ng-container id="side-bar-url-5">
      <a class="side-bar" i18n="@@shared.visibility" (click)="toVisibility()">
        Visibility
      </a>
    </ng-container>
  </app-modal-side-bar>
  <app-modal-footer>
    <button
      *ngIf="work"
      mat-raised-button
      color="primary"
      (click)="workFormComponent.saveEvent()"
      i18n="@@shared.saveChanges"
      id="save-work-button"
      [attr.aria-label]="saveAndClose"
    >
      Save changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-work-button"
      [attr.aria-label]="cancelAndClose"
    >
      Cancel
    </button>
  </app-modal-footer>
  <app-work-form
    [work]="work"
    [userRecord]="userRecord"
    *ngIf="work && !loading"
    #workFormComponent
  >
  </app-work-form>
</app-modal>
