.hide {
  display: none;
}

mat-form-field {
  width: 100%;
}

:host {
  width: 100%;
}

hr {
  height: 2px;
  border: 0;
  margin: 0;
  margin-bottom: 20px;
}

.title {
  margin-top: 16px;

  p {
    margin: 6px 0;
  }
}

.mat-form-field {
  width: 100%;
}

.side-bar {
  text-decoration: underline;
}

.date-container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  mat-form-field {
    width: 120px;
    margin-left: 4px;
  }
}
