.mat-button-font {
  margin: auto;
}

.two-factor {
  margin-top: 12px;
}

.error-message {
  float: left;
  margin: 0;
}

.error-length {
  float: right;
  margin: 0;
}

.orcid-error {
  margin-top: 20px !important;
}
