.mat-button-font {
  margin: auto;
}

.two-factor {
  margin-top: 12px;
}

.orcid-error {
  margin-top: 20px !important;
}

.enter-code {
  margin-right: 4px;
}

.recover-code {
  margin-left: 4px;
}
