table {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topBottomMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  overflow: auto;
}

.mobile-elements-container {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  .mobile-ements-text-container {
    padding: 6px;
  }
  > div {
    width: 50%;
  }
}

.actions-container {
  display: flex;
  align-items: center;
  min-width: 145px;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  a {
    margin-inline-start: 4px;
  }
}
