app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.router-container {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
}

:host.tabletOrHandset {
  .router-container {
    padding-bottom: 210px; //remove footer height
  }
}
