@import 'src/assets/scss/material.orcid-theme.scss';
@import '~@angular/material/theming';

@mixin offline-message-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .offline-container {
    color: $orcid-disabled-text;
  }
}
@include offline-message-theme($orcid-app-theme);
