@import '../../../../assets/scss/material.palettes';
@import '~@angular/material/theming';

@mixin offline-message-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  app-offline-message {
    .offline-container {
      color: $dark-disabled-text;
    }
  }
}
