:host mat-icon {
  height: 32px;
  min-width: 32px;
  font-size: 32px;
  margin-left: 8px;
  margin-right: 10px;
  [dir='rtl'] & {
    margin-right: -4px;
    margin-left: 4px;
  }
}
mat-error {
  font-size: 14px !important;
}

.trusted {
  font-variation-settings: 'FILL' 1 !important;
}
.inlined {
  margin-top: 2px;
}
