@import 'src/assets/scss/material.orcid-theme.scss';

@mixin form-visibility-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .everyone {
    color: map-get($foreground, 'visibility-everyone');
  }

  .private {
    color: map-get($foreground, 'visibility-private');
  }

  .trusted {
    color: map-get($foreground, 'visibility-trusted');
  }
}

@include form-visibility-theme($orcid-app-theme);
