:host {
  width: 100%;
}

button {
  max-width: 113px;
}

img {
  max-width: 150px;
}

.mat-icon-button {
  display: inline-block !important;
}

.institutional-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-border {
  border: none;
}

.institutional-logo {
  display: block;
  .institution-name {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
  }
  img {
    cursor: pointer;
  }
}
