:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
}

ol {
  margin-block-start: 0px;
  padding-inline-start: 0px;
  padding: 0;
  li {
    list-style-type: none;
    display: flex;
    img {
      margin-inline-end: 4px;
    }
    div {
      margin: 2px;
    }
  }
}

mat-form-field {
  max-width: 537px;
  width: 100%;
}
.error-container {
  margin-bottom: 16px;
}
.button-container {
  display: flex;
  align-items: row;
  button {
    margin-inline-end: 16px;
  }
}

label {
  margin-bottom: 8px;
}
