@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin settings-security-password-password-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ::ng-deep .valid {
    color: mat-color($accent, 900);
  }
  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  
}

@include settings-security-password-password-theme($orcid-app-theme);
