<app-settings-panels-data *ngIf="form">
  <form [formGroup]="form">
    @if (success) {
    <app-alert-message type="success" class="mb-8">
      <div content class="mt-0.5" i18n>
        Your ORCID account password has been updated
      </div>
    </app-alert-message>
    }
    <p i18n="@@account.changeOrUpdateAccountPassword" class="mb-4 mt-0" i18n>
      Change or update your account password.
    </p>
    <div class="row mb-6 flex flex-wrap">
      <label
        class="row mat-caption"
        [ngClass]="{
          error:
            form.controls.oldPassword?.invalid &&
            form.controls.oldPassword?.touched
        }"
      >
        <strong i18n="@@account.oldPassword">Old password</strong>
      </label>
      <mat-form-field
        appearance="outline"
        class="mat-form-field-min no-hint w-full"
      >
        <input
          matInput
          formControlName="oldPassword"
          type="password"
          [errorStateMatcher]="errorMatcher"
          [ngClass]="{
            error:
              form.controls.oldPassword?.invalid &&
              form.controls.oldPassword?.touched
          }"
        />
      </mat-form-field>
      <mat-error
        class="w-full orc-font-small-print mt-2"
        *ngIf="
          form.hasError('required', 'oldPassword') &&
          form.controls.oldPassword.touched
        "
        i18n="@@account.passwordCannotBeEmpty"
      >
        Password cannot be empty
      </mat-error>
      <mat-error
        class="w-full orc-font-small-print mt-2"
        *ngFor="
          let backendError of form.get('oldPassword').errors
            ? form.get('oldPassword').errors['backendErrors']
            : []
        "
        >{{ backendError }}
      </mat-error>
    </div>

    <div class="input-container">
      <label
        class="row mat-caption"
        [ngClass]="{
          error:
            form.controls.password?.invalid && form.controls.password?.touched
        }"
      >
        <strong i18n="@@account.newPassword">New password</strong>
      </label>
      <div class="mb-6">
        <mat-form-field
          appearance="outline"
          class="mat-form-field-min input-container no-hint"
          [ngClass]="{
            'valid-password border rounded-xs':
              !validate8orMoreCharacters &&
              !validateAtLeastALetterOrSymbol &&
              !validateAtLeastANumber &&
              form.controls.retypedPassword.value ===
                form.controls.password.value &&
              !form.controls.password.errors
          }"
        >
          <div class="flex">
            <input
              formControlName="password"
              type="password"
              matInput
              autocomplete="new-password"
              [errorStateMatcher]="errorMatcher"
              id="cy-password-input"
            />
            @if (!validate8orMoreCharacters && !validateAtLeastALetterOrSymbol
            && !validateAtLeastANumber && form.controls.retypedPassword.value
            === form.controls.password.value && !form.controls.password.errors){
            <mat-icon class="check ml-1">check</mat-icon>
            }
          </div>
        </mat-form-field>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            form.hasError('required', 'password') &&
            form.controls.password.touched
          "
          i18n="@@shared.passwordCantBeEmpty"
        >
          Password cannot be empty
        </mat-error>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            !form.hasError('required', 'password') &&
            (form.hasError('minlength', 'password') ||
              form.hasError('pattern', 'password')) &&
            form.controls.password.touched
          "
          i18n="@@register.wrongPasswordPatternV2"
        >
          Password must meet all requirements
        </mat-error>
        @if (form.hasError('containsEmail', 'password')) {
        <mat-error
          class="w-full orc-font-small-print mt-2"
          i18n="@@register.passwordCantBeEmail"
        >
          Password must not be the same as your email address
        </mat-error>
        }
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="form.hasError('maxlength', 'password')"
          i18n="@@register.passwordIsToLongV2"
        >
          Password must be between 8 and 256 characters
        </mat-error>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="this.form.hasError('backendError', 'password')"
        >
          <ng-container
            *ngFor="let error of this.form.getError('backendError', 'password')"
          >
            {{ error }}
          </ng-container>
        </mat-error>
      </div>
      <div class="mb-6">
        <mat-form-field
          appearance="outline"
          class="mat-form-field-min input-container no-hint"
          [ngClass]="{
            'valid-password border rounded-xs':
              !validate8orMoreCharacters &&
              !validateAtLeastALetterOrSymbol &&
              !validateAtLeastANumber &&
              form.controls.retypedPassword.value ===
                form.controls.password.value &&
              !form.controls.password.errors
          }"
        >
          <div class="flex">
            <input
              formControlName="retypedPassword"
              type="password"
              matInput
              autocomplete="new-password"
              id="cy-password-confirm-input"
              class="grow"
              [errorStateMatcher]="errorMatcher"
              placeholder="{{ confirmPasswordPlaceholder }}"
            />
            @if (!validate8orMoreCharacters && !validateAtLeastALetterOrSymbol
            && !validateAtLeastANumber && form.controls.retypedPassword.value
            === form.controls.password.value && !form.controls.password.errors){
            <mat-icon class="check ml-1">check</mat-icon>
            }
          </div>
        </mat-form-field>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            form.hasError('required', 'retypedPassword') &&
            form.controls.retypedPassword.touched
          "
          i18n="@@register.passwordConfirmationRequired"
        >
          <div class="flex">
            <input
              formControlName="password"
              type="password"
              matInput
              autocomplete="new-password"
              [errorStateMatcher]="errorMatcher"
              id="cy-password-input"
            />
            @if (!validate8orMoreCharacters && !validateAtLeastALetterOrSymbol
            && !validateAtLeastANumber && form.controls.retypedPassword.value
            === form.controls.password.value){
            <mat-icon class="check ml-1">check</mat-icon>
            }
          </div>
        </mat-form-field>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            form.hasError('required', 'password') &&
            form.controls.password.touched
          "
          i18n="@@shared.passwordCantBeEmpty"
        >
          Password cannot be empty
        </mat-error>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            !form.hasError('required', 'password') &&
            (form.hasError('minlength', 'password') ||
              form.hasError('pattern', 'password')) &&
            form.controls.password.touched
          "
          i18n="@@register.wrongPasswordPatternV2"
        >
          Password must meet all requirements
        </mat-error>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="form.hasError('maxlength', 'password')"
          i18n="@@register.passwordIsToLongV2"
        >
          Password must be between 8 and 256 characters
        </mat-error>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="this.form.hasError('backendError', 'password')"
        >
          <div
            *ngFor="let error of this.form.getError('backendError', 'password')"
          >
            {{ error }}
          </div>
        </mat-error>
      </div>
      <div class="mb-6">
        <mat-form-field
          appearance="outline"
          class="mat-form-field-min input-container no-hint"
          [ngClass]="{
            'valid-password border rounded-xs':
              !validate8orMoreCharacters &&
              !validateAtLeastALetterOrSymbol &&
              !validateAtLeastANumber &&
              form.controls.retypedPassword.value ===
                form.controls.password.value
          }"
        >
          <div class="flex">
            <input
              formControlName="retypedPassword"
              type="password"
              matInput
              autocomplete="new-password"
              id="cy-password-confirm-input"
              class="grow"
              [errorStateMatcher]="errorMatcher"
              placeholder="{{ confirmPasswordPlaceholder }}"
            />
            @if (!validate8orMoreCharacters && !validateAtLeastALetterOrSymbol
            && !validateAtLeastANumber && form.controls.retypedPassword.value
            === form.controls.password.value){
            <mat-icon class="check ml-1">check</mat-icon>
            }
          </div>
        </mat-form-field>
        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            form.hasError('required', 'retypedPassword') &&
            form.controls.retypedPassword.touched
          "
          i18n="@@register.passwordConfirmationRequired"
        >
          Retype your password
        </mat-error>

        <mat-error
          class="w-full orc-font-small-print mt-2"
          *ngIf="
            form.hasError('mismatch', 'retypedPassword') &&
            form.controls.retypedPassword.touched
          "
          i18n="@@register.passwordConfirmationMatchV2"
        >
          Passwords do not match
        </mat-error>
      </div>
    </div>

    <p i18n="@@register.yourPasswordHas">Your password has:</p>
    <ol class="grid gap-4 mb-8">
      <li>
        <ng-container
          [ngTemplateOutlet]="validate8orMoreCharacters ? invalid : valid"
        ></ng-container>
        <div i18n="@@register.passwordLength">8 or more characters</div>
      </li>
      <li>
        <ng-container
          [ngTemplateOutlet]="validateAtLeastALetterOrSymbol ? invalid : valid"
        ></ng-container>
        <div i18n="@@register.atLeastALetterOrSymbol">
          At least 1 letter or symbol
        </div>
      </li>
      <li>
        <ng-container
          [ngTemplateOutlet]="validateAtLeastANumber ? invalid : valid"
        ></ng-container>
        <div i18n="@@register.atLeastANumber">At least 1 number</div>
      </li>
    </ol>

    @if (twoFactorState) {
    <app-two-factor-auth-form
      class="w-[537px] block mb-8"
      codeControlName="twoFactorCode"
      recoveryControlName="twoFactorRecoveryCode"
      [showAlert]="true"
    >
    </app-two-factor-auth-form>
    }
    <div class="button-container">
      <button
        (click)="save()"
        type="submit"
        mat-raised-button
        color="primary"
        i18n="@@shared.saveChanges"
        id="cy-save-password"
      >
        Save changes
      </button>
    </div>

    @if (twoFactorState) {
    <app-auth-challenge
      class="w-[537px] block mb-8"
      codeControlName="twoFactorCode"
      recoveryControlName="twoFactorRecoveryCode"
      [showPasswordField]="false"
      [showAlert]="true"
      [showTwoFactorField]="true"
    >
    </app-auth-challenge>
    }
    <div class="button-container">
      <button
        (click)="save()"
        type="submit"
        mat-raised-button
        color="primary"
        i18n="@@shared.saveChanges"
        id="cy-save-password"
      >
        Save changes
      </button>
    </div>

  <ng-template #valid>
    <mat-icon class="valid">check_circle</mat-icon>
  </ng-template>

  <ng-template #invalid>
    <mat-icon class="material-icons-outlined">check_circle</mat-icon>
  </ng-template>
</app-settings-panels-data>
