<app-settings-panels-data *ngIf="form" [formGroup]="form">
  <p i18n="@@account.changeOrUpdateAccountPassword">
    Change or update your account password.
  </p>

  <div class="row">
    <label class="row">
      <strong i18n="@@account.itemsAddedOrEdited">Old password</strong>
    </label>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container"
    >
      <input matInput formControlName="oldPassword" type="password" />
    </mat-form-field>
  </div>

  <div class="input-container">
    <label class="row">
      <strong i18n="@@register.password">Password</strong>
    </label>
    <mat-form-field appearance="outline">
      <input
        formControlName="password"
        type="password"
        matInput
        autocomplete="new-password"
        id="password-input"
      />
      <mat-error
        *ngIf="form.hasError('required', 'password')"
        i18n="@@register.passwordRequired"
      >
        A password is required
      </mat-error>
      <mat-error
        *ngIf="form.hasError('passwordIsEqualToTheEmail', 'password')"
        i18n="@@register.passwordNotEmail"
      >
        Password must not be the same as your email address
      </mat-error>
      <mat-error
        *ngIf="
          !form.hasError('required', 'password') &&
          (form.hasError('minlength', 'password') ||
            form.hasError('pattern', 'password'))
        "
        i18n="@@register.wrongPasswordPattern"
      >
        Password must match all pattern requirements
      </mat-error>
      <mat-error *ngIf="this.form.hasError('backendError', 'password')">
        <div
          *ngFor="let error of this.form.getError('backendError', 'password')"
        >
          {{ error }}
        </div>
      </mat-error>
    </mat-form-field>
  </div>

  <ol>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.hasError('minlength', 'password')
            ? invalid
            : valid
        "
      ></ng-container>
      <div i18n="@@register.passwordLength">8 or more characters</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasLetterOrSymbolPatter
            ? invalid
            : valid
        "
      ></ng-container>
      <div i18n="@@register.passwordSymbol">1 letter or symbol</div>
    </li>
    <li>
      <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasNumberPatter
            ? invalid
            : valid
        "
      ></ng-container>
      <div i18n="@@register.passwordNumber">1 number</div>
    </li>
  </ol>

  <label class="row">
    <strong i18n="@@register.confirmPassword">Confirm password</strong>
  </label>
  <mat-form-field appearance="outline">
    <input
      formControlName="retypedPassword"
      type="password"
      matInput
      autocomplete="new-password"
      id="password-confirm-input"
    />
    <mat-error
      *ngIf="form.hasError('required', 'retypedPassword')"
      i18n="@@register.passwordConfirmationRequired"
    >
      Retype your password
    </mat-error>
    <mat-error
      *ngIf="form.hasError('passwordIsEqualToTheEmail', 'retypedPassword')"
      i18n="@@register.passwordCantBeEmail"
    >
      Password must not be the same as your email address
    </mat-error>

    <mat-error
      *ngIf="form.hasError('mismatch', 'retypedPassword')"
      i18n="@@register.passwordConfirmationMatch"
    >
      The password and confirmed password must match
    </mat-error>
  </mat-form-field>

  <div class="button-container" (click)="save()">
    <button
      mat-raised-button
      color="primary"
      i18n="@@shared.saveChanges"
      id="save-password"
    >
      Save changes
    </button>
    <button mat-raised-button i18n="@@shared.cancel" id="cancel-password">
      Cancel
    </button>
  </div>

  <ng-template #valid>
    <mat-icon class="valid">check_circle</mat-icon>
  </ng-template>

  <ng-template #invalid>
    <mat-icon class="material-icons-outlined">check_circle</mat-icon>
  </ng-template>
</app-settings-panels-data>
