@if (form) {
  <app-settings-panels-data [formGroup]="form">
    <p i18n="@@account.changeOrUpdateAccountPassword">
    Change or update your account password.
  </p>
    <div class="row">
      <label
        class="row mat-caption"
      [ngClass]="{
        error:
          form.controls.oldPassword?.invalid &&
          form.controls.oldPassword?.touched
      }"
        >
        <strong i18n="@@account.oldPassword">Old password</strong>
      </label>
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input matInput formControlName="oldPassword" type="password" />
        @if (form.hasError('required', 'oldPassword')) {
          <mat-error
            i18n="@@account.passwordCannotBeEmpty"
            >
        Password cannot be empty
      </mat-error>
        }
        @for (
          backendError of form.get('oldPassword').errors
          ? form.get('oldPassword').errors['backendErrors']
          : []
          ; track
          backendError) {
          <mat-error
            >{{ backendError }}
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="input-container">
      <label
        class="row mat-caption"
      [ngClass]="{
        error:
          form.controls.password?.invalid && form.controls.password?.touched
      }"
        >
        <strong i18n="@@account.newPassword">New password</strong>
      </label>
      <mat-form-field
        appearance="outline"
        class="mat-form-field-min input-container"
        >
        <input
          formControlName="password"
          type="password"
          matInput
          autocomplete="new-password"
          id="cy-password-input"
          />
        @if (form.hasError('required', 'password')) {
          <mat-error
            i18n="@@shared.passwordCantBeEmpty"
            >
        Password cannot be empty
      </mat-error>
        }
        @if (
          !form.hasError('required', 'password') &&
          (form.hasError('minlength', 'password') ||
          form.hasError('pattern', 'password'))
          ) {
          <mat-error
            i18n="@@register.wrongPasswordPatternV2"
            >
        Password must meet all requirements
      </mat-error>
        }
        @if (form.hasError('maxlength', 'password')) {
          <mat-error
            i18n="@@register.passwordIsToLongV2"
            >
        Password must be between 8 and 256 characters
      </mat-error>
        }
        @if (this.form.hasError('backendError', 'password')) {
          <mat-error>
            @for (error of this.form.getError('backendError', 'password'); track error) {
              <div
                >
                {{ error }}
              </div>
            }
          </mat-error>
        }
      </mat-form-field>
    </div>
    <ol>
      <li>
        <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.hasError('minlength', 'password')
            ? invalid
            : valid
        "
        ></ng-container>
        <div i18n="@@register.passwordLength">8 or more characters</div>
      </li>
      <li>
        <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasLetterOrSymbolPattern
            ? invalid
            : valid
        "
        ></ng-container>
        <div i18n="@@register.passwordSymbolV2">At least 1 letter or symbol</div>
      </li>
      <li>
        <ng-container
        [ngTemplateOutlet]="
          form.hasError('required', 'password') ||
          form.getError('pattern', 'password')?.requiredPattern ==
            hasNumberPattern
            ? invalid
            : valid
        "
        ></ng-container>
        <div i18n="@@register.passwordNumberV2">At least 1 number</div>
      </li>
    </ol>
    <label
      class="row mat-caption"
    [ngClass]="{
      error:
        form.controls.retypedPassword?.invalid &&
        form.controls.retypedPassword?.touched
    }"
      >
      <strong i18n="@@account.confirmNewPassword">Confirm new password</strong>
    </label>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container"
      >
      <input
        formControlName="retypedPassword"
        type="password"
        matInput
        autocomplete="new-password"
        id="cy-password-confirm-input"
        />
      @if (form.hasError('required', 'retypedPassword')) {
        <mat-error
          i18n="@@register.passwordConfirmationRequired"
          >
      Retype your password
    </mat-error>
      }
      @if (form.hasError('mismatch', 'retypedPassword')) {
        <mat-error
          i18n="@@register.passwordConfirmationMatchV2"
          >
      Passwords do not match
    </mat-error>
      }
    </mat-form-field>
    @if (success === true) {
      <div
        class="error-container"
        i18n="@@account.yourPasswordHasBeenUpdate"
        >
    Your password has been updated
  </div>
    }
    <div class="button-container">
      <button
        (click)="save()"
        [disabled]="!form.valid"
        mat-raised-button
        color="primary"
        i18n="@@shared.saveChanges"
        id="cy-save-password"
        >
      Save changes
    </button>
    </div>
    <ng-template #valid>
      <mat-icon class="valid">check_circle</mat-icon>
    </ng-template>
    <ng-template #invalid>
      <mat-icon class="material-icons-outlined">check_circle</mat-icon>
    </ng-template>
  </app-settings-panels-data>
}
