@import '../interstitial-component/affiliations-interstitial.component.scss';

mat-card-header.authorize-header {
  mat-card-title {
    margin: 0 0 24px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
    }
  }
  mat-icon {
    margin-bottom: 8px;
  }
}

::ng-deep {
  .interstitial-dialog {
    .mat-mdc-dialog-surface {
      padding: 40px;
      display: block;
    }
  }
}
