<div class="controls">
  <mat-checkbox></mat-checkbox>
  <div class="archive-label mat-body-1">Select All</div>
  <button
    mat-raised-button
    color="primary"
    class="mat-button-wrap-text-with-icon"
  >
    <mat-icon class="material-icons-outlined">archive</mat-icon>
    <div>Archive selected</div>
  </button>
</div>

<app-notification
  *ngFor="let item of $notifications | async"
  [notification]="item"
></app-notification>

<div class="notifications-amount mat-body-1">
  <div class="notifications-amount-label">
    Showing <strong>10</strong> of <strong>67</strong>
  </div>
  <button mat-raised-button color="primary">Show more notifications</button>
</div>
