@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .verified {
    color: mat.get-color-from-palette($accent, 400);
  }

  .not-verified {
    color: mat.get-color-from-palette($primary, 200);
  }
}

@include theme($orcid-app-theme);