@import '../../../../assets/scss/material.theme';
@import '~@angular/material/theming';

$config: mat-typography-config();
@mixin card-detail-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  app-card-detail {
    border-color: map-get($foreground, divider);
    .title-secondary-container {
      color: $dark-primary-text;
    }
    .secondary-container {
      color: $dark-secondary-text;
    }
    .secondary-container-primary {
      color: $dark-primary-text;
    }
  }
}

@mixin card-detail-typography($config) {
}
