@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  a > mat-icon {
    color: mat.m2-get-color-from-palette($primary, 200) !important;
  }

  ::ng-deep .valid {
    color: mat.m2-get-color-from-palette($accent, 900);
  }

  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  .text-light {
    color: map-get($foreground, 'text-dark-mid');
  }

  .info {
    margin-top: 24px;
    background-color: mat.m2-get-color-from-palette(
      $background,
      state-notice-lightest
    );
    border-color: mat.m2-get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;

    mat-icon {
      color: mat.m2-get-color-from-palette(
        $foreground,
        'state-notice-dark'
      ) !important;
    }
    a {
      color: mat.m2-get-color-from-palette($primary, 700);
    }
  }
}

@include theme($orcid-app-theme);
