a {
  text-decoration: underline;
  font-weight: normal;
}

.no-top-margin {
  margin-top: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

legend {
  margin-top: 32px;
  margin-bottom: 2px;
  font-weight: bold;
  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.margin-tb-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

mat-card-title img {
  margin-bottom: 16px;
}

.input-container {
  padding-bottom: 20px;
}

mat-label.orc-font-small-print {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;

  label {
    font-weight: normal;
  }
}

.columns-12 {
  :host ::ng-deep {
    .mat-card-title {
      margin-top: 64px;
    }
    .mat-card.orcid-wizard {
      mat-card-content {
        margin-left: 64px;
        margin-right: 64px;
        margin-bottom: 64px;
      }
    }
  }
}

.input-container {
  ::ng-deep {
    mat-error {
      font-size: 12px;
    }

    mat-form-field {
      padding-top: 8px;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-subscript-wrapper {
        padding: 0;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-wrapper {
        padding-bottom: 2px;
      }
    }

    .mat-form-field-appearance-outline {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-wrapper {
        margin: 0;
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-outline {
          top: 0px;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-prefix {
          top: 0.35em;

          mat-icon {
            margin-inline-end: 8px;
          }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-flex {
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
          .mat-form-field-infix {
            border-top: 0px;
            padding: 10px 0 10px 0;
          }
        }
      }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    mat-form-field.mat-mdc-form-field.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-invalid {
      margin-bottom: 0px;
    }
  }
}

.orc-font-heading-small {
  font-style: normal;
  font-weight: 500;
}

.info {
  .main-paragraph {
    margin-bottom: 16px;
  }
  .content div:not(:last-child) {
    margin-bottom: 16px;
  }

  padding: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }

  mat-icon,
  img {
    margin-right: 16px;
  }

  mat-form-field,
  .input-container {
    width: 100%;
  }

  mat-form-field {
    margin-bottom: 8px;
  }
}
