@import 'src/assets/scss/material.orcid-theme.scss';
@import '~@angular/material/theming';

@mixin profile-person-detail-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  h3.mat-body-1 {
    color: $dark-primary-text;
  }

  h3.mat-body-1 {
    color: $dark-primary-text;
  }

  .content {
    color: $dark-secondary-text;
  }
}

@include profile-person-detail-theme($orcid-app-theme);
