<ng-container *ngIf="recognizedError[errorCode] === 0">
  <ng-container i18n="@@register.emailAlreadyExists"
    >This email already exists in our system. Would you like to</ng-container
  >

  <a (click)="navigateToSignin(value)" i18n="@@register.signinLowerCase"
    >sign in</a
  ><ng-container i18n="@@shared.questionMark">?</ng-container>
</ng-container>

<ng-container
  *ngIf="recognizedError[errorCode] === 1"
  i18n="@@register.additionalEmailMatchPrimary"
>
  Additional email cannot match primary email
</ng-container>

<ng-container
  *ngIf="recognizedError[errorCode] === 2"
  i18n="@@register.additionalEmailMatch"
>
  Additional emails can not be duplicated
</ng-container>

<ng-container *ngIf="recognizedError[errorCode] === 3">
  <ng-container i18n="@@ngOrcid.signin.unclaimedExists1"
    >The ORCID record exists but has not been claimed. Would you like
    to</ng-container
  >

  <a (click)="navigateToClaim(value)" i18n="@@ngOrcid.signin.unclaimedExists2"
    >resend the claim email?</a
  >
</ng-container>

<ng-container *ngIf="recognizedError[errorCode] === 4">
  <ng-container i18n="@@register.deactivated">
    A deactivated ORCID record is associated with this email address.
  </ng-container>
  <a (click)="reactivateEmail(value)" i18n="@@register.resendReactivate"
    >click here to reactivate</a
  >
</ng-container>

<ng-container *ngIf="unrecognizedError"> {{ errorCode }} </ng-container>
