@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin top-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .published-name {
    color: $text-dark-high;
  }

  .description {
    color: $text-dark-mid;
  }

  .public-container {
    .names-container {
      .names-wrapper {
        .names {
          border-color: mat.get-color-from-palette($accent, 200);
        }

        .other-names {
          border-color: mat.get-color-from-palette($accent, 200);
        }

        .other-names-extended {
          background-color: map-get($foreground, 'text-light-high');
          border-color: map-get($foreground, 'brand-primary-dark') !important;
        }
      }
    }
  }
}

@include top-bar-theme($orcid-app-theme);
