:host {
  width: 100%;
  box-sizing: border-box;
}

section {
  width: 100%;
}

app-panel {
  width: 100%;
  margin-top: 16px;

  .name,
  p {
    margin-top: 0;
  }

  p .published-name {
    margin-bottom: 18px;
  }

  .other-names-container {
    margin-top: 18px;

    .other-names {
      margin-bottom: 0;
    }
  }
}

app-top-bar-actions {
  margin-top: 16px;
}

.orc-font-body {
  margin: unset;
}

.public-container {
  width: 100%;

  .names-container {
    .name,
    .names-header {
      margin-top: 0;
    }

    .names-wrapper {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 16px;

      .names {
        min-height: 64px;
        width: calc(50% - 8px);
        padding: 16px;
        border: solid 1px;
        border-radius: 4px;

        .names-content {
          display: block;
        }
      }

      .names-extended {
        height: auto;
      }

      .names.mobile {
        height: auto !important;
        width: 100% !important;
        margin-left: 0 !important;
      }

      .other-names {
        position: relative;
        min-height: 64px;
        width: calc(50% - 8px);
        border: solid 1px;
        border-radius: 4px;
        padding: 0px;

        .other-names-extended {
          position: absolute;
          left: 0;
          right: 0;
          height: auto !important;
          overflow: hidden;
          -moz-transition: height 450ms;
          z-index: 2;
          -webkit-transition: height 450ms;
          border: solid 1px;
          border-radius: 4px;
        }
      }

      .other-names-no-border {
        border: unset !important;
        border-radius: unset !important;
      }

      .other-names.mobile {
        width: 100% !important;
        margin-top: 1em;
        margin-right: 0 !important;
      }

      .full-width {
        width: 100% !important;
      }

      .other-names-wrapper {
        padding: 16px;

        .other-names-content {
          display: block;
        }

        p {
          margin: 0;
        }

        .other-name {
          margin-bottom: 10px;
        }

        .other-name:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .biography-container {
    margin-top: 1em;
    .biography-header {
      margin: 0;
    }
    p {
      overflow-wrap: break-word;
    }
  }

  .no-margin-top {
    margin-top: 0 !important;
  }
}

app-warning-message, orcid-registry-permission-notifications {
  margin-bottom: 16px;
}
