:host {
  width: 100%;
  box-sizing: border-box;
}

app-panel {
  width: 100%;
  margin-top: 16px;

  p {
    margin-top: 0;
  }

  p .published-name {
    margin-bottom: 18px;
  }

  .other-names-container {
    margin-top: 18px;

    .other-names {
      margin-bottom: 0;
    }
  }
}

.orc-font-body {
  margin: unset;
}

.my-orcid-icons {
  width: 100%;
  text-align: right;

  button {
    width: auto;
    margin-right: 40px;
    padding-right: 3px;

    .icon {
      font-size: 20px;
      margin-right: 6px;
    }
  }
  button:last-child {
    margin-right: 0;
  }

  .mat-icon-button {
    border-radius: 0;
  }
}

.public-container {
  width: 100%;

  .names-container {
    h3 {
      margin-top: 0;
    }

    .names {
      height: 64px;
      margin-left: 10px;
      padding: 16px;
      border: solid 1px;
      border-radius: 4px;
    }

    .names.mobile {
      height: auto !important;
      margin-left: 0 !important;
    }

    .other-names {
      height: 64px;
      margin-right: 20px;
      border: solid 1px;
      border-radius: 4px;
    }

    .other-names.mobile {
      margin-top: 1em;
      margin-right: 0 !important;
    }

    .other-names-extended {
      height: auto !important;
    }

    .other-names-wrapper {
      padding: 16px;

      .other-name {
        margin-bottom: 10px;
      }

      .other-name:last-child {
        margin-bottom: 0;
      }
    }
  }

  .biography-container {
    margin-top: 2em;
  }
}

.public-container.mobile {
  margin-top: 2em;
}
