:host {
  width: 100%;
  box-sizing: border-box;
}

app-panel {
  width: 100%;
  margin-top: 16px;

  p {
    margin-top: 0;
  }

  p .published-name {
    margin-bottom: 18px;
  }

  .other-names-container {
    margin-top: 18px;

    .other-names {
      margin-bottom: 0;
    }
  }
}

app-top-bar-actions {
  margin: 10px 0;
}

.orc-font-body {
  margin: unset;
}

.public-container {
  width: 100%;

  .names-container {
    h3 {
      margin-top: 0;
    }

    .names-wrapper {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 16px;

      .names {
        height: 64px;
        width: calc(50% - 8px);
        padding: 16px;
        border: solid 1px;
        border-radius: 4px;
      }

      .names-extended {
        max-height: 64px !important;
      }

      .names.mobile {
        height: auto !important;
        width: 100% !important;
        margin-left: 0 !important;
      }

      .other-names {
        position: relative;
        height: 64px;
        width: calc(50% - 8px);
        border: solid 1px;
        border-radius: 4px;
        padding: 0px;

        .other-names-extended {
          position: absolute;
          left: 0;
          right: 0;
          height: auto !important;
          overflow: hidden;
          -moz-transition: height 450ms;
          z-index: 2;
          -webkit-transition: height 450ms;
          border: solid 1px;
          border-radius: 4px;
        }
      }

      .other-names-no-border {
        border: unset !important;
        border-radius: unset !important;
      }

      .other-names.mobile {
        width: 100% !important;
        margin-top: 1em;
        margin-right: 0 !important;
      }

      .full-width {
        width: 100% !important;
      }

      .other-names-wrapper {
        padding: 16px;

        .other-name {
          margin-bottom: 10px;
        }

        .other-name:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .biography-container {
    margin-top: 1em;
    p {
      overflow-wrap: break-word;
    }
  }
}

.public-container.mobile {
  margin-top: 2em;
}
