@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin top-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .published-name {
    color: $text-dark-high;
  }

  .description {
    color: $text-dark-mid;
  }

  .public-container {

    .names-container {
      .names {
        border-color: mat-color($accent, 200);
      }

      .other-names {
        border-color: mat-color($accent, 200);
      }

      .other-names-extended {
        border-color: map-get($foreground, 'brand-primary-dark') !important;
      }
    }
  }
}

@include top-bar-theme($orcid-app-theme);
