<mat-progress-bar
  *ngIf="loadingUserRecord"
  mode="indeterminate"
  color="accent"
></mat-progress-bar>
<app-top-bar-record-issues
  [isPublicRecord]="isPublicRecord"
></app-top-bar-record-issues>

<app-top-bar-actions
  [ariaLabelName]="ariaLabelName"
  [userRecord]="userRecord"
  [userStatus]="userStatus"
  [isPublicRecord]="isPublicRecord"
  *ngIf="!recordWithIssues"
  [showPrintButton]="!platform.columns12"
></app-top-bar-actions>

<app-top-bar-verification-email
  [emailVerified]="emailVerified"
></app-top-bar-verification-email>

<ng-container *ngIf="!isPublicRecord && !recordWithIssues">
  <app-warning-message *ngIf="userInfo?.LOCKED === 'true'">
    <ng-container i18n="@@topBar.accountHasBeenLocked" title
      >Your account has been locked</ng-container
    >
    <ng-container content
      ><ng-container i18n="@@topBar.pleasContact">Please contact</ng-container>
      <a
        class="underline"
        i18n="@@topBar.orcidSupport"
        target="_blank"
        rel="noopener noreferrer"
        href="https://support.orcid.org/hc/en-us/requests/new"
        >ORCID support</a
      >
      <ng-container i18n="@@topBar.ifYouBelieveWasLockedInError"
        >if you believe this account was locked in error.</ng-container
      >
    </ng-container>
  </app-warning-message>

  <section
    id="names"
    role="region"
    [attr.aria-label]="regionNames"
    *ngIf="userRecord?.names"
  >
    <app-panel
      panelId="research-top-bar"
      [isPublicRecord]="isPublicRecord"
      [elements]="userRecord.names.givenNames"
      [editModalComponent]="modalNameComponent"
      [userRecord]="userRecord"
      [type]="'top-bar'"
      [id]="userInfo?.EFFECTIVE_USER_ORCID"
      [names]="true"
      id="names-panel"
    >
      <h2 header class="names-header orc-font-body" i18n="@@topBar.names">
        Names
      </h2>
      <app-panel-data>
        <app-panel-element
          [visibility]="userRecord.names.visibility.visibility"
        >
          <h1 class="name" *ngIf="creditName">
            <span i18n="@@topBar.publishedName" class="mat-caption">
              Published Name
            </span>
            <p class="mat-card-title published-name">
              <b id="publishedName">
                {{ creditName }}
              </b>
            </p>
          </h1>
          <span i18n="@@topBar.name" class="mat-caption description">
            Name
          </span>
          <div id="givenAndFamilyNames" class="mat-body-1">
            {{ givenNames + ' ' + familyName }}
          </div>
        </app-panel-element>
        <ng-container *ngIf="userRecord?.otherNames?.otherNames?.length > 0">
          <div class="other-names-container">
            <span i18n="@@topBar.alsoKnowAs" class="mat-caption description">
              Also known as
            </span>
            <app-panel-element
              *ngFor="let otherNames of userRecord.otherNames.otherNames"
              [visibility]="otherNames.visibility.visibility"
              class="other-names"
            >
              <p class="mat-body-1 other-names">
                {{ otherNames.content }}
              </p>
            </app-panel-element>
          </div>
        </ng-container>
      </app-panel-data>
    </app-panel>
  </section>
  <section
    id="biography"
    role="region"
    [attr.aria-label]="regionBiography"
    *ngIf="userRecord?.biography"
  >
    <app-panel
      panelId="top-bar-2"
      [elements]="userRecord.biography.biography"
      [editModalComponent]="modalBiographyComponent"
      [userRecord]="userRecord"
      [type]="'top-bar'"
      id="biography-panel"
    >
      <h2
        header
        class="biography-header orc-font-body"
        i18n="@@topBar.biography"
      >
        Biography
      </h2>
      <app-panel-data *ngIf="!!userRecord.biography.biography">
        <app-panel-element
          [visibility]="userRecord.biography.visibility.visibility"
        >
          <span
            id="biography-value"
            class="mat-body-1"
            [innerText]="userRecord.biography.biography.value"
          ></span>
        </app-panel-element>
      </app-panel-data>
    </app-panel>
  </section>
</ng-container>

<!--PUBLIC VIEWS-->

<ng-container *ngIf="isPublicRecord && !recordWithIssues">
  <div
    class="public-container"
    [ngClass]="{
      mobile: !platform.columns12
    }"
  >
    <section
      [id]="'names'"
      role="region"
      [attr.aria-label]="regionNames"
      *ngIf="userRecord?.names || userRecord?.otherNames"
    >
      <div class="row names-container">
        <div class="published-name" *ngIf="creditName">
          <div
            class="row mat-caption description"
            i18n="@@topBar.publishedName"
          >
            Published Name
          </div>
          <h1 class="name orc-font-heading-small">{{ creditName }}</h1>
        </div>
        <div
          class="published-name"
          *ngIf="!creditName && (givenNames || familyName)"
        >
          <div class="row mat-caption description" i18n="@@topBar.name">
            Name
          </div>
          <h1 class="name orc-font-heading-small">
            {{ givenNames + ' ' + familyName }}
          </h1>
        </div>
        <div class="row names-wrapper">
          <div
            class="names"
            [ngClass]="{
              col: platform.columns12,
              'row mobile': !platform.columns12,
              'names-extended': expandedContent
            }"
            *ngIf="creditName"
          >
            <div class="names-content">
              <div class="mat-caption description" i18n="@@topBar.name">
                Name
              </div>
              <div class="orc-font-body-small">
                <ng-container *ngIf="givenNames">
                  {{ givenNames + ' ' }}
                </ng-container>
                {{ familyName }}
              </div>
            </div>
          </div>
          <div
            class="other-names"
            [ngClass]="{
              col: platform.columns12,
              'row mobile': !platform.columns12,
              'other-names-no-border': expandedContent
            }"
            *ngIf="userRecord.otherNames?.otherNames.length > 0"
          >
            <div
              class="row space-between"
              [ngClass]="{
                'other-names-extended': expandedContent
              }"
            >
              <div class="col l10 mat-caption other-names-wrapper">
                <div class="other-names-content">
                  <div class="description" i18n="@@topBar.alsoKnowAs">
                    Also known as
                  </div>
                  <p class="orc-font-body-small" *ngIf="!expandedContent">
                    {{ getOtherNamesUnique(userRecord.otherNames?.otherNames) }}
                  </p>
                  <ng-container
                    *ngFor="
                      let otherNames of userRecord.otherNames?.otherNames;
                      index as i;
                      let last = last
                    "
                  >
                    <div class="row other-name" *ngIf="expandedContent">
                      <div class="row">
                        <b class="orc-font-body-small">
                          {{ otherNames.content }}
                        </b>
                      </div>
                      <app-panel-element-source
                        [isLastItem]="last"
                        *ngIf="true"
                        [name]="otherNames.sourceName || otherNames.source"
                        [date]="
                          otherNames.createdDate | monthDayYearDateToString
                        "
                        [assertion]="
                          otherNames.assertionOriginName ||
                          otherNames.assertionOriginOrcid
                        "
                      >
                      </app-panel-element-source>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div>
                <app-panel-expand-buttons
                  panelType="top-bar"
                  panelId="also-know-as"
                  (toggle)="collapse()"
                  [openState]="expandedContent"
                ></app-panel-expand-buttons>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <app-top-bar-actions
      [ariaLabelName]="ariaLabelName"
      [userRecord]="userRecord"
      [userStatus]="userStatus"
      [isPublicRecord]="isPublicRecord"
      *ngIf="!recordWithIssues && !platform.columns12"
      [showIsThisYouButton]="true"
    ></app-top-bar-actions>

    <section
      [id]="'biography'"
      role="region"
      [attr.aria-label]="regionBiography"
      *ngIf="userRecord?.biography?.biography"
    >
      <div class="biography-container">
        <h2 class="biography-header orc-font-body" i18n="@@topBar.biography">
          Biography
        </h2>
        <p
          class="orc-font-body-small"
          [innerText]="userRecord.biography.biography.value"
        ></p>
      </div>
    </section>
  </div>
</ng-container>
