.description {
  p {
    line-height: 21px;
    margin-top: 0px;
  }
  margin-bottom: 16px;
}

.info {
  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .col {
    padding: 0;
  }
  strong {
    line-height: 24px;
    margin-bottom: 8px;
  }
  line-height: 21px;
  padding: 16px;
  margin-top: 32px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;
}

.icon-container {
  padding: 0;
  margin-right: 16px;
}

.work-info {
  h2 {
    line-height: 21px;
  }
  .added {
    margin-left: 16px;
  }
  line-height: 18px;
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}

h2 {
  word-break: normal;
  overflow-wrap: anywhere;
  margin-bottom: 4px;
  margin-top: 16px;
}

h3 {
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 16px;
}
