<app-settings-panels-data>
  <p i18n="@@account.aQrCodeIsMachine">
    A QR code is a machine-readable graphic that contains information, typically
    a website URL. Your ORCID iD QR code is unique to you and it represents your
    ORCID iD. Anyone who scans it with a QR code reader such as a mobile phone
    will be sent to your public ORCID record.
  </p>

  <p i18n="@@account.downloadQR">
    Download your ORCID iD QR code and display it on posters, presentations,
    stickers, business cards - anywhere you want your ORCID iD to be found!
  </p>
  <div class="qr-code-container">
    <img class="qrcode-image" src="/qr-code.png" />

    <a
      href="/ORCID.png"
      download="ORCID.png"
      type="image/png"
      i18n="@@account.clickDownloadQR"
      >Click to download your QR code</a
    >
  </div>
</app-settings-panels-data>
