@import '../../../../assets/scss/material.theme';
@import '~@angular/material/theming';

$config: mat-typography-config();
@mixin profile-person-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  app-profile-person {
    .idSection {
      border-color: map-get($accent, 400);
      .idSectionHeader {
        background-color: map-get($accent, 400);
        color: $light-primary-text;
      }
    }
    .printMenu {
      color: $dark-primary-text;
    }
  }
}

@mixin profile-person-typography($config) {
  app-profile-person {
    .idSection {
      .idSectionHeader {
        @include mat-typography-level-to-styles($config, button);
      }
    }
  }
}
