@import 'src/assets/scss/material.orcid-theme.scss';
@import '~@angular/material/theming';
@import 'src/assets/scss/material.typography.scss';

@mixin profile-person-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .idSection {
    border-color: map-get($accent, 400);
    .idSectionHeader {
      background-color: map-get($accent, 400);
      color: $light-primary-text;
    }
  }
  .printMenu {
    color: $dark-primary-text;
  }
}

@mixin profile-person-typography($config) {
  .idSection {
    .idSectionHeader {
      @include mat-typography-level-to-styles($config, button);
    }
  }
}

@include profile-person-theme($orcid-app-theme);
@include profile-person-typography($orcid-material-typography);
