<div class="title-container" (click)="toggle($event)">
  <h3 class="mat-body-2">{{ title }}</h3>

  <i class="material-icons" [@rotatedState]="state"> expand_more </i>
</div>

<div
  class="container"
  [ngClass]="{
    'column-direction': columnDirection,
    wrap: this.state === 'close'
  }"
>
  <span
    class="content mat-body-2"
    *ngFor="let element of (list | keyvalue); let last = last"
    >{{ element.key
    }}{{ this.state === 'close' && !columnDirection ? (last ? '' : ',') : '' }}
    <div class="mat-body-1 details" [ngClass]="{ show: this.state === 'open' }">
      <ng-container>
        <div>Sources</div>
        <div>{{ element.value[0]?.source?.sourceName?.content }}</div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </span>
</div>
