<h2 class="orc-font-body-large col" i18n="@@account.sharing">Sharing</h2>

<app-settings-panels
  [(expandedContent)]="htmlCode"
  class="row"
  id="cy-share-panel"
  [title]="titleHtmlCode"
  [loading]="htmlCodeLoading"
  >
  @if (htmlCode) {
    <app-settings-sharing-html-code
      (loading)="htmlCodeLoading = $event"
      >
    </app-settings-sharing-html-code>
  }
</app-settings-panels>

<app-settings-panels
  [(expandedContent)]="qrCode"
  class="row"
  id="cy-qr-code-panel"
  [title]="titleQrCode"
  [loading]="qrCodeLoading"
  >
  @if (qrCode) {
    <app-settings-sharing-qr-code
      (loading)="qrCodeLoading = $event"
      >
    </app-settings-sharing-qr-code>
  }
</app-settings-panels>
