@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin research-resources-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-panel.display-the-stack {
    border-color: mat-color($background, ui-background-darkest);
  }

  app-panel-data {
    border-color: mat-color($background, ui-background) !important;
    background-color: map-get($background, card);
  }

  .description-container,
  .show-details {
    border-color: mat-color($background, ui-background) !important;
  }

  .infrastructures {
    color: mat-contrast($accent, 600);
    .dot {
      background-color: mat-contrast($accent, 600);
    }
  }

  .equipment {
    color: mat-contrast($accent, 600);
    .dot {
      background-color: mat-contrast($accent, 600);
    }
  }

  .services {
    color: mat-contrast($accent, 600);
    .dot {
      background-color: mat-contrast($accent, 600);
    }
  }

  .collections {
    color: mat-contrast($accent, 600);
    .dot {
      background-color: mat-contrast($accent, 600);
    }
  }
}

@include research-resources-theme($orcid-app-theme);
