@import 'src/assets/scss/orcid.spacing.scss';

:host {
  width: 100%;
  box-sizing: border-box;
}

app-panel {
  width: 100%;
  margin-top: 16px;

  p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

app-panel-data {
  border-top: 1px solid;
  padding: 0 !important;

  .description-container {
    display: flex;
    justify-content: space-between;

    .buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        margin-inline-end: 16px;
      }
    }
  }
}

.description {
  border-bottom: solid 1px;
  padding: 16px;
}

.resourceType {
  margin-right: 15px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: $spacing-small;
  [dir='rtl'] :host & {
    margin-left: $spacing-small;
    margin-right: auto;
  }
}
