<mat-card appearance="outlined" class="orcid-wizard">
  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">
      <ng-container
        *ngIf="!reactivation?.isReactivation"
        i18n="@@register.create"
      >
        Create your ORCID iD
      </ng-container>
      <ng-container
        *ngIf="reactivation?.isReactivation"
        i18n="@@register.reactivation"
      >
        Thank you for reactivating your ORCID iD.
      </ng-container>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2" i18n="@@register.step2"
      >This is step 2 of 3</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGroup">
      <app-form-password
        formControlName="password"
        [personalData]="personalData"
      ></app-form-password>
      <app-form-notifications
        formControlName="sendOrcidNews"
      ></app-form-notifications>
      <div class="step-actions">
        <button
          mat-button
          color="primary"
          matStepperPrevious
          i18n="@@shared.back"
          id="step-b-back-button"
        >
          GO BACK
        </button>
        <button
          id="step-b-next"
          mat-raised-button
          matStepperNext
          color="primary"
          i18n="@@shared.next"
        >
          NEXT
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
