.cdk-drag-placeholder {
  opacity: 0;
}

.country-wrapper {
  overflow-x: scroll;
  height: 400px;
}

.actions-wrapper {
  flex-wrap: nowrap;
}

.cdk-drag-placeholder {
  opacity: 0;
}

::ng-deep .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.country-input-line {
  img {
    margin-top: 4px;
    cursor: move;
    z-index: 1;
  }
}

.mat-form-field {
  width: 100%;
}

::ng-deep .cdk-drop-list-dragging {
  cursor: move !important;
  .mat-form-field-flex,
  .mat-select-trigger,
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    cursor: move !important;
  }
}
