.actions-wrapper {
  flex-wrap: nowrap;
}

.country-list.cdk-drop-list-dragging .country-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.country-input-line {
  margin-top: 10px;
  margin-bottom: 4px;
  img {
    margin-top: 6px;
    cursor: move;
    z-index: 1;
    margin-inline-start: 6px;
    margin-inline-end: 10px;
  }
}

.mat-mdc-form-field {
  width: 100%;
  margin-inline-end: 16px;
}

::ng-deep .columns-4-or-8 .mat-mdc-form-field {
  width: 100%;
  margin-inline-end: auto;
}

.add-more {
  margin-top: 16px;
  span {
    padding-left: 6px;
  }
}

::ng-deep .columns-4-or-8 {
  .country-input-line .input-container {
    padding-bottom: 30px;
  }

  .country-input-line .actions-wrapper {
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .actions-wrapper {
    width: 100%;
  }
}

.delete-button,
app-visibility-selector {
  margin-left: 16px;
}

.delete-button {
  margin-top: -3px;
}
