.record-info {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    line-height: 21px;
  }
}
