footer {
  padding: 64px 32px;
}

footer.mobile {
  padding: 64px 16px !important;
}

.container {
  gap: 32px;
}

.columns-8,
.columns-4 {
  :host {
    footer {
      padding-bottom: 75px;
    }
  }
}

.url-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo.row {
  height: auto;

  a {
    margin-left: 16px;

    [dir] :host & {
      margin-left: auto;
      margin-right: 16px;
    }

    img {
      height: 40px;
      width: auto;
      object-fit: cover;
    }

    img.social {
      height: 32px;
    }
  }

  .mobile {
    a {
      margin-right: 8px !important;
    }
  }

  .orcid-logo-mobile {
    justify-content: center;
    padding-bottom: 32px;
  }
}

.public-domain {
  p {
    margin: 0;
  }

  img {
    object-fit: cover;
    height: 32px;
    margin-right: 8px;
    vertical-align: middle;
  }

  .CC0 {
    text-align: center;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  .mobile {
    justify-content: center;
    padding-bottom: 8px;
  }
}

.links {
  > .url-lists {
    justify-content: center;

    a {
      .columns-4 :host &,
      .columns-8 :host & {
        justify-content: space-around;
      }

      button {
        padding: 0 12px;
      }
    }
  }
}

a:hover,
a:focus {
  text-decoration: underline;
}

.links {
  a {
    cursor: pointer;
    padding: 0 !important;
    margin: 8px 16px !important;
  }
}

.links.mobile {
  a {
    margin: 7px 10px !important;
  }
}

.links.tablet {
  a {
    margin: 7px 15px !important;
  }
}

.CC0 > a:hover {
  text-decoration: underline;
}

.ot-sdk-show-settings {
  color: inherit !important;
  line-height: inherit !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  margin: 0px auto !important;
  padding: 7px 20px !important;
  transition: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

.ot-sdk-show-settings:hover {
  color: inherit !important;
  background-color: inherit !important;
}

@media (max-width: 399px) {
  .logo {
    width: 200px;
    justify-content: center;
  }
}
