footer {
  padding-bottom: 16px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo.row {
  height: 35px;
  padding-top: 24px;
  padding-bottom: 16px;
  > .col {
    width: 260px;
  }
  img {
    height: 41px;
    width: auto;
    object-fit: cover;
  }

  img.social {
    height: 24px;
    margin-left: 12px;
    [dir] :host & {
      margin-left: auto;
      margin-right: 12px;
    }
  }
}

.public-domain {
  img {
    object-fit: cover;
    width: 80px;
    height: 15px;
    margin-right: 8px;
    [dir] :host & {
      margin-right: auto;
      margin-left: 8px;
    }
  }

  .CC0 {
    text-align: center;
    .columns-4 :host &,
    .columns-8 :host & {
      padding-bottom: 15px;
    }
  }
}

.links {
  > ul {
    justify-content: space-around;
    li {
      .columns-4 :host &,
      .columns-8 :host & {
        justify-content: space-around;
      }
      button {
        padding: 0 12px;
      }
    }
  }
}

a:hover,
a:focus {
  text-decoration: underline;
}
.links {
  a {
    cursor: pointer;
    padding: 7px 20px;
  }
}

.CC0 > a:hover {
  text-decoration: underline;
}
