@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  footer {
    background-color: map-get($background, light-grey);
    a {
      color: mat.m2-get-color-from-palette($primary, 700) !important;
      font-weight: normal !important;
    }
    .social {
      filter: invert(9%) sepia(9%) saturate(8%) hue-rotate(323deg)
        brightness(96%) contrast(89%);
    }
  }
}
@include footer-theme($orcid-app-theme);
