<footer>
  <div class="container">
    <div class="row logo space-around">
      <div class="col baseline">
        <img src="./assets/vectors/orcid.logo.svg" />
        <img
          class="social"
          src="./assets/vectors/glyphicons-social-32-twitter.svg"
        />
        <img
          class="social"
          src="./assets/vectors/glyphicons-social-38-rss.svg"
        />
        <img
          class="social"
          src="./assets/vectors/glyphicons-social-22-github.svg"
        />
      </div>
    </div>

    <div class="row public-domain space-around">
      <div class=" CC0  mat-caption">
        <img src="./assets/icons/public-domain.png" />
        <ng-container i18n="@@footer.copyright_cc0_1"
          >Except where otherwise specified, the content of this website is
          published under a</ng-container
        >
        <ng-container i18n="@@footer.copyright_cc0_2">
          CC0 license.</ng-container
        >
      </div>
    </div>
    <ul class="row links space-around">
      <div class="col" [ngClass]="{ 'space-around': !platform.columns12 }">
        <li class="col s4 l-auto m8 no-gutters ">
          <button mat-button color="primary">
            <div
              class="button-wrapper"
              i18n="@@footer.privacypolicy"
              (click)="goTo('/footer/privacy-policy')"
            >
              Privacy Policy
            </div>
          </button>
        </li>
        <li class="col s4 l-auto m8 no-gutters">
          <button mat-button color="primary">
            <div
              class="button-wrapper"
              i18n="@@footer.termsofuse"
              (click)="goTo('/content/orcid-terms-use')"
            >
              Terms of Use
            </div>
          </button>
        </li>
        <li class="col s4 l-auto m8 no-gutters">
          <button mat-button color="primary">
            <div
              class="button-wrapper"
              i18n="@@ngOrcid.disputeProcedure"
              (click)="goTo('/orcid-dispute-procedures')"
            >
              Dispute procedures
            </div>
          </button>
        </li>
        <li class="col s4 l-auto m8 no-gutters">
          <button mat-button color="primary">
            <div
              class="button-wrapper"
              i18n="@@footer.contactus"
              (click)="goTo('/hc/en-us/requests/new')"
            >
              Contact us
            </div>
          </button>
        </li>
        <li class="col s4 l-auto m8 no-gutters">
          <button mat-button color="primary">
            <div
              class="button-wrapper"
              i18n="@@ngOrcid.trademark"
              (click)="goTo('/trademark-and-id-display-guidelines')"
            >
              Trademark & iD guidelines
            </div>
          </button>
        </li>
      </div>
    </ul>
  </div>
</footer>
