footer {
  padding-bottom: 16px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo.row {
  height: 35px;
  padding-top: 24px;
  padding-bottom: 16px;
  img {
    height: 41px;
    width: auto;
    object-fit: cover;
  }

  img.social {
    height: 24px;
    margin-left: 12px;
  }
}

.public-domain {
  img {
    object-fit: cover;
    width: 80px;
    height: 15px;
    margin-right: 8px;
  }

  .CC0 {
    text-align: center;
    .columns-4 :host &,
    .columns-8 :host & {
      padding-bottom: 15px;
    }
  }
}

.links {
  > div {
    > :first-child {
      padding-left: 0;
    }
    li {
      .columns-4 :host &,
      .columns-8 :host & {
        justify-content: space-around;
        margin-bottom: 10px;
      }
      button {
        padding: 0 12px;
      }
    }
  }
}
