<app-alert-message>
  <div content class="content">
    <div>
      <ng-container *ngIf="showUnclaimedError || showDeactivatedError">
        <ng-container i18n="@@register.theEmailAddress" *ngIf="isEmail">
          The email address
        </ng-container>
        <ng-container i18n="@@ngOrcid.signin.theOrcidId" *ngIf="!isEmail">
          The Orcid iD
        </ng-container>
        <strong>{{ email }}</strong>
        <ng-container i18n="@@register.isAssociatedWith"
          >is already associated with
        </ng-container>
        <ng-container i18n="@@register.anUnclaimed" *ngIf="showUnclaimedError"
          >an unclaimed
        </ng-container>
        <ng-container
          i18n="@@register.aDeactivated"
          *ngIf="showDeactivatedError"
          >a deactivated
        </ng-container>
        <ng-container i18n="@@register.orcidRecord">ORCID record.</ng-container>
        <i *ngIf="showUnclaimedError">
          <ng-container
            i18n="@@ngOrcid.signin.cannotSignInToOrcid"
            *ngIf="isEmail"
          >
            You cannot sign in to ORCID with this email address until you have
            claimed the record.
          </ng-container>
          <ng-container
            i18n="@@ngOrcid.signin.cannotSignInToOrcidWithId"
            *ngIf="!isEmail"
          >
            You cannot sign in to ORCID with this iD until you have claimed the
            record.
          </ng-container>
        </i>
        <i *ngIf="showDeactivatedError">
          <ng-container
            i18n="@@ngOrcid.signin.needToReactivateAccount"
            *ngIf="isEmail"
          >
            You will need to reactivate the account before you can sign in with
            this email address.
          </ng-container>
          <ng-container
            i18n="@@ngOrcid.signin.needToReactivateToSigInWithId"
            *ngIf="!isEmail"
          >
            You will need to reactivate the account before you can sign in with
            this iD.
          </ng-container>
        </i>
      </ng-container>
      <ng-container *ngIf="showDeprecatedError">
        <ng-container i18n="@@ngOrcid.signin.orcidAccountHasBeenDeprecated">
          This ORCID account has been deprecated. The active account is </ng-container
        >&nbsp;<b>{{ orcidPrimaryDeprecated }}</b>
      </ng-container>
    </div>

    <div>
      <p>
        <ng-container
          *ngIf="showDeactivatedError && !isEmail"
          i18n="@@ngOrcid.signin.deactivated.UsingOrcid.1"
        >
          To start reactivation please enter an email address associated with
          this account in the 'Email or ORCID iD' field above.
        </ng-container>
      </p>
    </div>

    <div>
      <p *ngIf="showDeactivatedError && !isEmail">
        <ng-container i18n="@@ngOrcid.signin.deactivated.UsingOrcid.2">
          If you no longer have access to any of the email addresses associated
          with the deactivated account please
        </ng-container>
        <a
          i18n="@@ngOrcid.signin.deactivated.UsingOrcid.3"
          class="underline"
          href="https://support.orcid.org/"
          rel="noopener noreferrer"
          target="_blank"
          >contact the support team</a
        >
      </p>
    </div>

    <div>
      <a
        i18n="@@ngOrcid.signin.claimYourOrcidRecord"
        (click)="unclaimed()"
        *ngIf="showUnclaimedError"
      >
        Claim your ORCID record</a
      >
      <a (click)="deactivated()" *ngIf="showDeactivatedError && isEmail">
        <ng-container
          i18n="@@register.reactivateOrcidAssociated"
          *ngIf="isEmail"
        >
          Reactivate the ORCID record associated with this email address
        </ng-container>
        <ng-container
          i18n="@@ngOrcid.signin.reactivateOrcidRecordWithId"
          *ngIf="!isEmail"
        >
          Reactivate the ORCID record associated with this iD
        </ng-container>
      </a>
      <a
        i18n="@@ngOrcid.signin.signInToActive"
        (click)="deprecatedAccount()"
        *ngIf="showDeprecatedError"
      >
        Sign in to the active ORCID account</a
      >
    </div>
  </div>
</app-alert-message>
