<mat-error *ngIf="badCredentials" class="orcid-error">
  <mat-icon inline="true">error</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.badCredentials">
    Incorrect username and/or password
  </ng-container>
</mat-error>
<mat-error *ngIf="showDeprecatedError" class="orcid-error">
  <mat-icon inline="true">error</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.deprecatedWithPrimary">
    This account is deprecated. Please refer to account:
  </ng-container>
  {{ orcidPrimaryDeprecated }}
</mat-error>
<mat-error *ngIf="showUnclaimedError" class="orcid-error">
  <mat-icon inline="true">error</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.unclaimedExists1">
    The ORCID record exists but has not been claimed. Would you like to
  </ng-container>
  <a
    class="mat-button-font"
    i18n="@@ngOrcid.signin.unclaimedExists2"
    (click)="resendClaim()"
    >resend the claim email?</a
  >
</mat-error>
<mat-error *ngIf="showInvalidUser" class="orcid-error">
  <mat-icon inline="true">error</mat-icon>
  <ng-container i18n="@@ngOrcid.signin.invalidUserType1">
    Invalid ORCID iD, please
  </ng-container>
  <a
    class="mat-button-font"
    i18n="@@ngOrcid.signin.invalidUserType2"
    (click)="navigateTo('/help/contact-us')"
    >contact support</a
  >
</mat-error>
