@import '~@angular/material/theming';

$config: mat-typography-config();
@mixin card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  app-multi-row-raised-button {
  }
}

@mixin multi-row-raised-button-typography($config) {
  app-multi-row-raised-button {
    .text-box {
      @include mat-typography-level-to-styles($config, button);
    }
  }
}
