@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin model-name-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.m2-define-typography-config();

  hr {
    border-color: map-get($foreground, 'brand-primary');
    color: map-get($foreground, 'brand-primary');
    background: map-get($foreground, 'brand-primary');
  }

  hr.dashed-line {
    background: repeating-linear-gradient(
      90deg,
      mat.m2-get-color-from-palette($background, light-grey),
      mat.m2-get-color-from-palette($background, light-grey) 6px,
      transparent 6px,
      transparent 12px
    );
  }
}
@include model-name-theme($orcid-app-theme);
