@import '~@angular/material/_theming';

@mixin urls-theme-overwrites($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);

  a.black-underline-url {
    color: mat-contrast($accent, 500);
    font-weight: 700;
  }
  a.underline {
    color: mat-color($primary, 700);
  }
}
