@use '@angular/material' as mat;

@mixin urls-theme-overwrites($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);

  a.black-underline-url {
    color: mat.m2-get-contrast-color-from-palette($accent, 500);
    font-weight: 700;
  }
  a.underline {
    color: mat.m2-get-color-from-palette($primary, 700);
  }
}
