:host {
  display: block;
  width: 100%;
  border: 2px solid;
  padding: 16px;
  border-radius: 5px;
}

hr {
  margin-bottom: 16px;
  margin-top: 16px;

}

label {
  font-weight: bold;
}

.botton-line {
  display: flex;
  justify-content: space-between;
}