<app-modal [loading]="loadingPeerReviews" [noSidebar]="true">
  <app-modal-header>
    <ng-container i18n="@@peerReview.linkPeerReviews">
      Link peer reviews
    </ng-container>
  </app-modal-header>
  <app-modal-side-bar>
    <ng-container id="side-bar-title" i18n="@@peerReview.linkPeerReviews">
      Link peer reviews
    </ng-container>
  </app-modal-side-bar>
  <app-modal-footer>
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      i18n="@@shared.saveChanges"
      id="save-countries-button"
    >
      Save changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-countries-button"
    >
      Cancel
    </button>
  </app-modal-footer>
  <div class="row">
    <div class="col orc-font-small-print">
      <p i18n="@@shared.searchAndLink">
        Search and Link wizards are our recommended way to populate your record.
        They make adding works, funding and peer reviews simple and save you
        time over updating your record manually. Select a platform from the list
        below to start linking items to your record.
      </p>
      <a
        class="underline"
        href="https://support.orcid.org/hc/articles/360006971333"
        i18n="@@peerReview.linkMoreInformation"
      >
        More information about linking peer reviews to your ORCID record
      </a>
    </div>
  </div>
  <div class="row">
    <h3 i18n="@@shared.availableSearch">Available Search & Link wizards</h3>
    <mat-divider class="row orcid-divider"></mat-divider>
    <div *ngFor="let recordImportWizard of recordImportWizards">
      <h2 class="orc-font-body-small">
        <a [href]="openImportWizardUrlFilter(recordImportWizard)">
          {{ recordImportWizard.name }}
        </a>
      </h2>
      <p class="orc-font-small-print">
        <ng-container *ngIf="recordImportWizard.description.length > 125">
          <ng-container *ngIf="!recordImportWizard.show">
            {{ recordImportWizard.description.substring(0, 125) + '...' }}
            <a
              class="underline"
              i18n="@@shared.showMore"
              (click)="toggle(recordImportWizard)"
            >

              Show more
            </a>
          </ng-container>
          <ng-container *ngIf="recordImportWizard.show">
            {{ recordImportWizard.description }}
            <br>
            <a
              class="underline"
              i18n="@@shared.showLess"
              (click)="toggle(recordImportWizard)"
            >

              Show less
            </a>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="recordImportWizard.description.length < 125">
          {{ recordImportWizard.description }}
        </ng-container>
      </p>
    </div>
  </div>
</app-modal>
