<app-modal [noSidebar]="true">
  <app-modal-header i18n="@@account.revokeAccessTrustedOrganizations"
    >Revoke access - Trusted organization
  </app-modal-header>

  <p i18n="@@account.revokingThisOrganizationAccess">
    Revoking this organization’s access permissions means they will no longer be
    able to interact with your ORCID record. This will not affect your other
    trusted organizations, nor will it block access to publicly accessible data
    in your record.
  </p>
  <strong> {{ data.name }}</strong>
  <p class="title-detail" i18n="@@account.willNoLongerBeAble">
    will no longer be able to:
  </p>
  @for (permissions of data.scopePaths | keyvalue; track permissions; let last = $last) {
    <div
      class="permission-container"
      [ngClass]="{ last: last }"
      >
      <mat-icon>block</mat-icon>
      <div>{{ permissions.key | scopePathType }}</div>
    </div>
  }

  <app-alert-message class="orc-font-body-small">
    <ng-container content>
      <ng-container i18n="@@account.organizationsCanStillDelete"
        >Organizations can still delete items they added to your record even
        after their access permissions have been revoked.
      </ng-container>

      <ng-container>
        <a
          href="https://support.orcid.org/hc/en-us/articles/360006973893-Trusted-organizations"
          rel="noopener noreferrer"
          target="_blank"
          i18n="@@account.findOutMoreAboutTrusted"
          class="underline"
          >
          Find out more about Trusted Organizations and access permissions
        </a>
      </ng-container>
    </ng-container>
  </app-alert-message>

  <app-modal-footer>
    <button
      mat-raised-button
      color="warn"
      (click)="ok()"
      id="cy-revoke-access"
      i18n="@@account.revokeAccessPermissions"
      >
      Revoke access permissions
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="cancel()"
      id="cy-cancell"
      i18n="@@shared.cancel"
      >
      Cancel
    </button>
  </app-modal-footer></app-modal
  >
