.permission-container.last {
  border-bottom: 1px solid;
}
.permission-container {
  border-top: 1px solid;

  display: flex;
  flex-direction: row;
  padding-top: 14px;
  padding-bottom: 14px;
  mat-icon {
    margin-inline-end: 4px;
  }
}

.title-detail {
  margin-top: 0;
}
