.text-container {
  text-align: center;
}

.closable-message {
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  p {
    display: inline;
  }
  button {
    margin-left: 10px;
  }
}
