<section
  [attr.aria-label]="labelMaintenance"
  *ngIf="maintenanceMessage && maintenanceMessage.plainHtml"
  class="container"
>
  <div
    *ngFor="let node of maintenanceMessage.nonClosableElements"
    class="col l12 m8 s4 middle text-container"
  >
    <div><p [innerHtml]="node.innerHTML"></p></div>
  </div>

  <div
    *ngIf="
      maintenanceMessage.closableElements.length === 0 &&
      maintenanceMessage.nonClosableElements.length === 0
    "
    class="col l12 m8 s4 middle text-container"
  >
    <p [innerHtml]="maintenanceMessage.plainHtml"></p>
  </div>
</section>
