@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin developer-tools-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
}

@include developer-tools-theme($orcid-app-theme);
