.warn {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }
}

h2.no-margin-bottom {
  margin-bottom: 8px;
}

h2 {
  margin-bottom: 16px;
  margin-top: 32px;
}

.checkbox-container {
  margin-bottom: 32px;
  margin-top: 16px;
}

:host {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-wrap-text {
  margin-bottom: 32px;
}

app-alert-message {
  line-height: 21px;
  margin-top: 16px;
  a {
    text-decoration: underline;
  }
  p {
    margin-bottom: 0;
  }
}

.alert-warning {
  div {
    line-height: 24px;
  }
}
