@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin panel-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host,
  .side-bar {
    border-color: mat.m2-get-color-from-palette($accent, 200) !important;
    background-color: mat.m2-get-color-from-palette(
      $background,
      brand-primary-lightest
    ) !important;
  }

  :host,
  .top-bar-or-main {
    border-color: mat.m2-get-color-from-palette(
      $background,
      ui-background
    ) !important;
    background-color: mat.m2-get-color-from-palette(
      $background,
      ui-background-light
    ) !important;
  }

  .body {
    background-color: map-get($background, card);
  }

  .featured-body {
    background-color: mat.m2-get-color-from-palette(
      $background,
      brand-citrus-lemon-lightest
    ) !important;
  }

  .expand-featured-work {
    background-color: mat.m2-get-color-from-palette(
      $background,
      brand-citrus-lemon-lightest
    ) !important;
  }

  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  .featured-header {
    background-color: mat.m2-get-color-from-palette(
      $background,
      brand-citrus-lemon-lightest
    ) !important;
  }

  .featured-work-star {
    color: mat.m2-get-color-from-palette(
      $foreground,
      brand-citrus-lemon
    ) !important;
  }
}
@include panel-theme($orcid-app-theme);
