:host {
  border: solid 1px;
  display: block;
  border-radius: 4px;
}
.header {
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  h2 {
    margin: 0;
  }
}

.expand-button-left {
  display: flex;
  align-items: center;
}

.header-bottom {
  border-bottom: solid 1px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
}

.nested-panels {
  padding: 30px; // TODO @Daniel
}

:host,
.top-bar-or-main,
.side-bar {
  border-radius: 3px;
}

.privacy-selector {
  position: absolute;
  overflow: hidden;
  -moz-transition: height 450ms;
  z-index: 2;
  -webkit-transition: height 450ms;
  padding: 8px 16px 16px;
  border: solid 1px;
  border-radius: 4px;
  right: 28px;
  transition: all 500ms ease-in-out;

  p {
    margin: 0 0 8px;
  }

  app-privacy-selector {
    margin-top: 8px;
  }
}

.staked-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 6px;
  .buttons-container {
    margin-top: 4px;
  }
}

mat-checkbox.text-wrap {
  ::ng-deep label.mat-checkbox-layout {
    white-space: normal;
  }
}
