:host {
  border: solid 1px;
  display: block;
  border-radius: 4px;
}

.panel-main {
  width: 100%;
}

.header {
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding-right: 8px;
  word-break: normal;
  overflow-wrap: anywhere;
  line-height: 24px;
  h2 {
    margin: 0;
  }
}

.expand-button-left {
  display: flex;
  align-items: center;
}

.header-bottom {
  border-bottom: solid 1px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;

  .error {
    margin-inline-end: 8px;
  }
}

.nested-panels {
  padding: 30px; // TODO @Daniel
}

:host,
.top-bar-or-main,
.side-bar {
  border-radius: 3px;
}

.staked-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 6px;
  .buttons-container {
    margin-top: 4px;
  }
}

[mat-icon-button] {
  margin-inline-start: 16px;
}

.featured-header {
  .featured-work-star {
    margin-top: 2px;
  }
  min-height: 0;
  padding-top: 16px !important;
  padding-bottom: 4px !important;
  justify-content: start;
  flex-wrap: nowrap !important;
  align-items: start;
}

.featured-work-star {
  mat-icon {
    img {
      width: 20px;
    }
    width: 20px;
    height: 20px;
    display: flex;
    align-content: center;
  }
  margin-right: 10px;
  margin-left: 3px;
}

::ng-deep .panel-checkbox .mdc-checkbox {
  margin-left: -8px !important;
}

::ng-deep .panel-checkbox .mdc-label {
  display: flex;
  align-items: center;
  .featured-work-star {
    margin-right: 8px;
    margin-left: -4px;
  }
}

.public-record-panel-header {
  display: flex;
  align-items: center;
}

.expand-featured-work {
  button {
    height: 48px;
    margin-right: 16px;
    margin-top: 16px;
  }
}

.columns-8 :host,
.columns-4 :host {
  .header {
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 15px;
  }
  .buttons-container {
    width: 100%;
  }
  .featured-header {
    margin-left: 8px;
  }
  .featured-work-star {
    margin-left: 1px !important;
  }
  .expand-featured-work {
    button {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}