<div class="panel-main">
  <div
    class="header box orc-font-body cy-panel-component"
    [ngClass]="{
      'header-bottom':
        !featuredWorksSection &&
        (isArrayAndIsNotEmpty(elements) || valueIsNotNull(elements)),
      'top-bar-or-main':
        !featuredWorksSection &&
        (type === 'top-bar' || type === 'main' || isAffiliation()),
      'side-bar': type === 'side-bar',
      'staked-header': stackedHeader,
      'expand-button': !editable && !isPublicRecord && !customControls,
      'featured-header': featuredWorksSection,
    }"
    [attr.id]="'cy-panel-component-' + panelId + '-' + type + '-' + putCode"
  >
    @if (featuredWorksSection) {
      <div class="featured-work-star">
        <mat-icon> star_filled </mat-icon>
      </div>
    }
    <!-- [EXPAND BUTTONS] FOR NESTED PANELS -->
    @if (!editable && !customControls && expandButtonsPosition === 'left') {
      <div class="expand-button-left">
        <app-panel-expand-buttons
          [panelId]="this.panelId"
          [panelTitle]="this.panelTitle"
          (toggle)="toggle()"
          [openState]="openState"
          [panelType]="this.type"
          class="cy-panel-component-expand-button"
        ></app-panel-expand-buttons>
        <ng-container *ngTemplateOutlet="tempHeader"></ng-container>
      </div>
    }
    @if (selectable) {
      <div>
        @if (
          (defaultPutCode === putCode || displayTheStack) && !isPublicRecord
        ) {
          <mat-checkbox
            [aria-label]="
              type | appPanelActivityActionAriaLabel: 'select' : this.panelTitle
            "
            class="text-wrap panel-checkbox"
            (change)="checked($event)"
            [(ngModel)]="selected"
          >
            @if (expandButtonsPosition !== 'left') {
              @if (isFeatured && featuredWorksTogglz) {
                <div class="featured-work-star">
                  <mat-icon>
                    <img
                      src="assets/vectors/featured-item-star-icon.svg"
                      alt="Featured item"
                    />
                  </mat-icon>
                </div>
              }
              <ng-container *ngTemplateOutlet="tempHeader"></ng-container>
            }
          </mat-checkbox>
        }
        @if (isPublicRecord && expandButtonsPosition !== 'left') {
          <div class="public-record-panel-header">
            @if (isFeatured && featuredWorksTogglz) {
              <div class="featured-work-star">
                <mat-icon>
                  <img
                    src="assets/vectors/featured-item-star-icon.svg"
                    alt="Featured item"
                  />
                </mat-icon>
              </div>
            }
            <ng-container *ngTemplateOutlet="tempHeader"></ng-container>
          </div>
        }
      </div>
    }
    @if (!selectable) {
      <div>
        @if (expandButtonsPosition !== 'left') {
          <ng-container *ngTemplateOutlet="tempHeader"></ng-container>
        }
      </div>
    }
    @if (!featuredWorksSection) {
      <div class="buttons-container cy-buttons-container">
        <!-- [PRIVACY display] FOR `AFFILIATIONS`, `WORKS`, `FUNDINGS`  -->
        @if (visibility && !isPublicRecord && !featuredWorksSection) {
          @if (visibilityError && editableVisibilityControl) {
            <mat-icon
              class="large-material-icon error cy-inconsistency-issue material-icons-outlined"
              [matTooltip]="tooltipLabelVisibilityError"
              >info</mat-icon
            >
          }
          <app-visibility-selector
            (ngModelChange)="updateVisibility($event)"
            [ngModel]="visibility"
            [multiEdit]="stackSiblings?.length > 1 ? 'multi' : 'single'"
            [visibilityError]="visibilityError"
            [editable]="editableVisibilityControl"
            [itemTitle]="this.panelTitle"
          ></app-visibility-selector>
        }
        <!-- [CUSTOM CONTROLS] FOR `PEER REVIEWS` AND `RESEARCH RESOURCES` -->
        <ng-content select="[custom-controls]"></ng-content>
        <!-- [EDIT BUTTONS] FOR `AFFILIATIONS`, `WORKS`, `FUNDINGS` AND ALL SIDEBAR PANELS -->
        @if (editable && !customControls) {
          @if (isAffiliation()) {
            @if (!isPublicRecord && isUserSource) {
              <button
                mat-icon-button
                [matTooltip]="tooltipLabelEdit"
                [attr.aria-label]="
                  type
                    | appPanelActivityActionAriaLabel: 'edit' : this.panelTitle
                "
                (click)="openModal()"
              >
                <mat-icon class="material-icons-outlined">edit</mat-icon>
              </button>
            }
            @if (!isPublicRecord && !isUserSource && hasExternalIds) {
              @if (userVersionPresent) {
                <div
                  [matTooltip]="
                    displayTheStack
                      ? tooltipLabelYourOwnVersion
                      : tooltipLabelOpenSources
                  "
                >
                  @if (displayTheStack) {
                    <button
                      [disabled]="true"
                      mat-icon-button
                      [attr.aria-label]="tooltipLabelYourOwnVersion"
                    >
                      <mat-icon class="material-icons-outlined"
                        >call_split</mat-icon
                      >
                    </button>
                  }
                  @if (!displayTheStack) {
                    <button
                      [disabled]="false"
                      mat-icon-button
                      [attr.aria-label]="openOtherSources"
                      (click)="displayTheStackChange.next(true)"
                    >
                      <mat-icon class="material-icons-outlined"
                        >call_split</mat-icon
                      >
                    </button>
                  }
                </div>
              }
            }
          }
          @if (!isAffiliation()) {
            @if (!isPublicRecord) {
              <button
                mat-icon-button
                [matTooltip]="tooltipLabelEdit"
                [attr.aria-label]="
                  this.editModalComponent | editButtonAriaLabel
                "
                (click)="openModal()"
                class="cy-edit-button"
              >
                <mat-icon class="material-icons-outlined">edit</mat-icon>
              </button>
            }
          }
        }
        <!-- [EXPAND BUTTONS] FOR SIDEBAR PANELS -->
        @if (
          !editable && !customControls && expandButtonsPosition === 'right'
        ) {
          <ng-container>
            <app-panel-expand-buttons
              (toggle)="toggle()"
              [openState]="openState"
              [panelType]="this.type"
              [panelId]="panelId"
            ></app-panel-expand-buttons>
          </ng-container>
        }
      </div>
    }
  </div>

  @if (openState || type === 'side-bar') {
    <div
      [ngClass]="{
        body: !featuredWorksSection,
        'featured-body': featuredWorksSection,
      }"
    >
      <!-- [PANEL CONTENT] FOR EVERY PANEL IMPLEMENTATION -->
      <!-- hide the content when openState is false-->
      <!-- on `side bar` never close the content -->
      <ng-content></ng-content>
      <!-- [NESTED PANELS] FOR PEER REVIEWS AND RESEARCH RESOURCES -->
      @if (hasNestedPanels) {
        <div class="nested-panels">
          <ng-content select="[nested-panels]"></ng-content>
        </div>
      }
    </div>
  }
</div>
@if (featuredWorksSection && isPublicRecord) {
  <div class="expand-featured-work">
    <button
      mat-icon-button
      [matTooltip]="tooltipExpandItem"
      [attr.aria-label]="tooltipExpandFeaturedItem"
      (click)="expandItem()"
    >
      <mat-icon>open_in_full</mat-icon>
    </button>
  </div>
}

<ng-template #tempHeader>
  <ng-content select="[header]"></ng-content>
</ng-template>
