:host {
  border: solid 1px;
  display: block;
  border-radius: 4px;
}
.header {
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding-right: 8px;
  word-break: normal;
  overflow-wrap: anywhere;
  h2 {
    margin: 0;
  }
}

.expand-button-left {
  display: flex;
  align-items: center;
}

.header-bottom {
  border-bottom: solid 1px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;

  .error {
    margin-inline-end: 8px;
  }
}

.nested-panels {
  padding: 30px; // TODO @Daniel
}

:host,
.top-bar-or-main,
.side-bar {
  border-radius: 3px;
}

.staked-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 6px;
  .buttons-container {
    margin-top: 4px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox.text-wrap {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  ::ng-deep label.mat-checkbox-layout {
    white-space: normal;
  }
}
.columns-8 :host,
.columns-4 :host {
  .header {
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 15px;
  }
  .buttons-container {
    width: 100%;
  }
}

[mat-icon-button] {
  margin-inline-start: 16px;
}
