<div
  class="header box orc-font-body"
  [ngClass]="{
    'header-bottom': isArrayAndIsNotEmpty(elements) || valueIsNotNull(elements),
    'top-bar-or-main': type === 'top-bar' || type === 'main',
    'side-bar': type === 'side-bar',
    'expand-button': !editable && !isPublicRecord && !customControls
  }"
>
  <ng-container *ngIf="!editable && !customControls">
    <!-- [EXPAND BUTTONS] FOR ALL SIDEBAR PANELS -->

    <button
      mat-icon-button
      (click)="collapse()"
      *ngIf="!openState && !editable"
      [matTooltip]="tooltipLabelShowDetails"
      id="expand-more-button"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="collapse()"
      *ngIf="openState && !editable"
      [matTooltip]="tooltipLabelHideDetails"
      id="expand-less-button"
    >
      <mat-icon>expand_less</mat-icon>
    </button>
  </ng-container>
  <ng-content select="[header]"></ng-content>
  <div class="buttons-container">
    <!-- [PRIVACY display] FOR `AFFILIATIONS`, `WORKS`, `FUNDINGS`  -->
    <app-panel-privacy
      *ngIf="visibility"
      [visibility]="visibility"
    ></app-panel-privacy>

    <!-- [CUSTOM CONTROLS] FOR `PEER REVIEWS` AND `RESEARCH RESOURCES` -->
    <ng-content select="[custom-controls]"></ng-content>

    <!-- [EDIT BUTTONS] FOR `AFFILIATIONS`, `WORKS`, `FUNDINGS` AND ALL SIDEBAR PANELS -->

    <ng-container *ngIf="!customControls">
      <button
        mat-icon-button
        *ngIf="!isPublicRecord"
        [matTooltip]="tooltipLabelEdit"
        (click)="openModal()"
        id="edit-button"
      >
        <mat-icon class="material-icons-outlined">edit</mat-icon>
      </button>
    </ng-container>
  </div>
</div>

<div class="body" *ngIf="openState || (isPublicRecord && type === 'side-bar')">
  <!-- [PANEL CONTENT] FOR EVERY PANEL IMPLEMENTATION -->
  <!-- hide the content when openState is false-->
  <!-- expect on `public view side bar` where only the sources are hidden -->

  <ng-content></ng-content>

  <!-- [NESTED PANELS] FOR PEER REVIEWS AND RESEARCH RESOURCES -->
  <div class="nested-panels" *ngIf="hasNestedPanels">
    <ng-content select="[nested-panels]"></ng-content>
  </div>
</div>
