.add-more-email {
  display: flex;
  align-items: center;
  mat-icon {
    margin-inline-end: 8px;
  }
}

.email-input-line {
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}


.actions-wrapper {
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: baseline;
}

.email-input-line {
  margin-top: 20px;
  img {
    margin-top: 6px;
    cursor: move;
    z-index: 1;
    margin-right: 18px;
  }
}

::ng-deep .columns-4-or-8 .mat-form-field {
  margin-inline-end: auto;
}

.email-input-container {
  max-width: 50%;
}

.add-more {
  margin-top: 16px;
}