@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin modal-email-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host ::ng-deep .verify-icon.email-activated mat-icon {
    color: mat.get-color-from-palette($accent, 400);
  }
  :host ::ng-deep .verify-icon mat-icon {
    color: map-get($background, ui-background);
  }
  .add-more {
    color: mat.get-color-from-palette($primary, 700);
  }

  .verification-icon {
    color: mat.get-color-from-palette($background, 'ui-background-light');
  }
  .verified {
    color: mat.get-color-from-palette($foreground, 'brand-primary');
  }

  .separator {
    background: mat.get-color-from-palette($background, 'ui-background-light');
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  ::ng-deep .mat-option-text {
    color: black;
  }

  .select-notifications-email {
    color: rgba(0, 0, 0, 0.12);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  ::ng-deep .mat-select-placeholder {
    color: black;
  }

  .disabled-select-notifications-email {
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    ::ng-deep .mat-select-placeholder {
      color: rgba(black, 0.6);
    }
  }

  .info {
    border-color: mat.get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;

    mat-icon {
      color: mat.get-color-from-palette(
        $foreground,
        'state-notice-dark'
      ) !important;
    }
  }
}

@include modal-email-theme($orcid-app-theme);
