@import '~@angular/material/theming';
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin modal-email-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  :host ::ng-deep mat-form-field mat-icon {
    color: map-get($background, ui-background);
  }
  :host ::ng-deep .email-activated mat-icon {
    color: mat-color($accent, 400);
  }
  :host ::ng-deep mat-icon {
    color: mat-color($background, ui-background);
  }
}

@include modal-email-theme($orcid-app-theme);
