.row .col {
  padding-inline-start: 0;
}

.orcid-works-best {
  margin-bottom: 16px;
}

.terms-of-use {
  margin-top: 0;
}

.add-more-email {
  display: flex;
  align-items: center;
  mat-icon {
    margin-inline-end: 8px;
  }
}

.email-input-line {
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.actions-wrapper,
.actions-sub-wrapper {
  display: flex;
  width: 50%;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: baseline;
  justify-content: space-between;
  .actions-sub-wrapper {
    justify-content: space-around;
    a {
      width: 100%;
    }
  }
  .privacy-selector {
    justify-content: unset;
    padding-inline-start: 8px;
  }
}

.primary-email-label {
  display: flex;
  align-items: center;
  word-break: break-all;
  mat-icon {
    margin-inline-start: 6px;
    margin-inline-end: 16px;
    width: 32px;
  }
  mat-icon,
  .other-names {
    margin-inline-start: 12px;
  }
}

.email-input-line {
  margin-top: 5px;
  margin-bottom: 8px;
  img {
    margin-top: 6px;
    cursor: move;
    z-index: 1;
    margin-inline-end: 18px;
  }
  .email-activated {
    margin-bottom: 12px;
  }
  mat-icon {
    line-height: 1.1;
  }
}

::ng-deep .columns-4-or-8 .mat-form-field {
  margin-inline-end: auto;
}

.email-input-container {
  max-width: 50%;
  padding-inline-end: 24px;
}

.add-more {
  margin-top: 16px;
  mat-icon {
    padding-inline-end: 8px;
  }
}

::ng-deep app-alert-message {
  p {
    margin: 0;
  }
  p.email-container {
    margin: 16px 0 16px 0;
  }
  margin-bottom: 20px;
}

::ng-deep .columns-4-or-8 {
  .mat-form-field {
    margin-inline-end: auto;
  }

  .email-input-container {
    padding: 0;
    max-width: 100%;
    padding-inline-end: 0;
  }

  .actions-wrapper,
  .actions-sub-wrapper {
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
  }
  .actions-sub-wrapper {
    justify-content: space-between !important;
  }
}

.additional-email {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 18px !important;
  }
}

.only-verified {
  padding: 0 4px;
}

.visibility-hidden {
  justify-content: end !important;
  button {
    margin-inline-end: 8px;
  }
}

.info {
  padding: 16px;
  margin-top: 32px;
  border: solid 2px;
  border-radius: 4px;
  height: 30px;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}
