<app-modal>
  <app-modal-header>Emails</app-modal-header>
  <app-modal-side-bar> Form content </app-modal-side-bar>
  <app-modal-footer>
    <button mat-raised-button color="primary" (click)="saveEvent()">
      Save changes
    </button>
    <button mat-stroked-button color="primary" (click)="closeEvent()">
      Cancel
    </button>
  </app-modal-footer>

  <p>ORCID works best when you have multiple email addresses.</p>
  <p>
    Per the ORCID terms of use you may only add email addresses that you have
    control over. Each time you add an email address we will send you an email
    asking you to verify it.
  </p>

  <div class="container">
    <h3 class="row">Primary email address</h3>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col">
        PRIVACY COMPONENT
      </div>
    </div>

    <h3 class="row">Other email address</h3>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col">
        PRIVACY COMPONENT
      </div>
      <div class="col">
        DELTE COMPONENT
      </div>
    </div>

    <a> <mat-icon>add_circle_outline </mat-icon> Add another email address</a>
  </div>

  <mat-form-field>
    <input matInput />
  </mat-form-field>
</app-modal>
