.row .col {
  padding-inline-start: 0;
}

.description {
  margin: 0 0 16px 0;
  line-height: 21px;
}

app-alert-message {
  p {
    margin: 8px 0 0 0;
    letter-spacing: 0.25px;
  }
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.verification-icon {
  height: 40px;
  width: 32px;
  font-size: 32px;
  margin-right: 16px;
  align-content: center;
}

mat-form-field {
  width: 100%;
  line-height: 20px;
  margin: 0;

  mat-icon {
    line-height: 1.1;
  }
}

.actions-wrapper {
  width: 51%;
  margin-left: 48px;
  margin-top: 3px;
  line-height: 21px;
}

.actions-wrapper,
.actions-sub-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: space-between;

  .actions-sub-wrapper {
    justify-content: end;

    a {
      width: 100%;
      max-width: 240px;
    }
  }

  .privacy-selector {
    justify-content: unset;
    padding-inline-start: 8px;
  }
}

.email-input-line {
  align-items: center;
  height: 44px;
}

.email-entry {
  margin-top: 16px;
  margin-bottom: 16px;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 0;
}

.email-list {
  margin-bottom: 32px;

  ::ng-deep .mat-form-field-flex {
    margin-top: 0;
  }

  ::ng-deep .mat-form-field-subscript-wrapper {
    padding: 0 !important;
    margin-top: 4px;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.email-input-container {
  flex-grow: 1;
  padding-inline-end: 24px;
  width: 0;
}

.select-notifications-email {
  padding: 0 8px 0 8px;
  align-items: center;
  display: flex;
  height: 38px;
  max-width: 402px;
  width: auto;
  border: solid 1px;
  border-radius: 0 5px 5px 0;
}
.current-notification-email {
  font-weight: bold;
}

.disabled-select-notifications-email {
  ::ng-deep .mat-select-trigger {
    cursor: default;
  }
}

.add-more {
  margin-top: 16px;
  align-items: center;
  text-decoration: underline;
  mat-icon {
    padding-inline-end: 8px;
  }
}

.verified-email {
  em,
  strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  strong {
    margin-bottom: 2px;
  }
  line-height: 21px;
  letter-spacing: 0.25px;
}

.visibility-hidden {
  justify-content: end !important;
}

.delete-button {
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  mat-icon {
    font-size: 24px;
    margin-top: -4px;
  }
}

.email-notfications-header {
  margin-bottom: 16px;
}

.email-notifications-description {
  a {
    text-decoration: underline;
  }
  margin-bottom: 32px;
}

app-visibility-selector {
  margin-inline-start: 8px;
}

::ng-deep .main-button-container {
  height: 100%;
}
