<app-modal>
  <app-modal-header>Emails</app-modal-header>
  <app-modal-side-bar> Form content </app-modal-side-bar>
  <app-modal-footer>
    <button mat-raised-button color="primary" (click)="saveEvent()">
      Save changes
    </button>
    <button mat-stroked-button color="primary" (click)="closeEvent()">
      Cancel
    </button>
  </app-modal-footer>

  <p>ORCID works best when you have multiple email addresses.</p>
  <p>
    Per the ORCID terms of use you may only add email addresses that you have
    control over. Each time you add an email address we will send you an email
    asking you to verify it.
  </p>
</app-modal>
