<app-modal>
  <app-modal-header>Emails</app-modal-header>
  <app-modal-side-bar> Form content </app-modal-side-bar>
  <app-modal-footer>
    <button mat-raised-button color="primary" (click)="saveEvent()">
      Save changes
    </button>
    <button mat-stroked-button color="primary" (click)="closeEvent()">
      Cancel
    </button>
  </app-modal-footer>

  <div class="container" [formGroup]="emailsForm">
    <div class="row">
      <div class="col">
        <p>ORCID works best when you have multiple email addresses.</p>
        <p>
          Per the ORCID <a href="/content/orcid-terms-use">terms of use</a> you
          may only add email addresses that you have control over. Each time you
          add an email address we will send you an email asking you to verify
          it.
        </p>
      </div>
    </div>
    <div class="row">
      <h3 class="col">Primary email address</h3>
    </div>

    <!-- PRIMARY EMAIL -->
    <div class="row">
      <ng-container *ngFor="let email of emails">
        <div
          *ngIf="email.primary"
          class="row email-input-line no-wrap"
          [formGroupName]="email.putCode"
        >
          <div class="col l12 m8 s4">
            <mat-form-field
              appearance="outline"
              class="mat-form-field-min"
              [ngClass]="{ 'email-activated': true }"
            >
              <input matInput matInput formControlName="email" />
              <mat-icon matPrefix>verified</mat-icon>
            </mat-form-field>
          </div>
          <div class="col no-wrap actions-wrapper">
            <app-privacy-selector
              formControlName="visibility"
            ></app-privacy-selector>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <h3 class="col">Other email address</h3>
    </div>

    <!-- ADDITIONAL EMAILS -->

    <ng-container *ngFor="let email of emails">
      <div
        *ngIf="!email.primary"
        class="row email-input-line no-wrap"
        [formGroupName]="email.putCode"
      >
        <div class="col l12 m8 s4">
          <mat-form-field
            appearance="outline"
            class="mat-form-field-min"
            [ngClass]="{ 'email-activated': true }"
          >
            <input #emailInput matInput formControlName="email" />
            <mat-icon matPrefix>verified</mat-icon>
            <a matSuffix class="orc-font-smallprint"> Test</a>
            <mat-hint *ngIf="email.putCode.indexOf('new') < 0">
              <ng-container i18n="@@share.source">Source:</ng-container>
              <!-- {{ getSourceName(countriesMap[country.putCode]) }},
            <ng-container i18n="@@share.created">Created: </ng-container
            >{{ getDate(countriesMap[country.putCode]) | date }} -->
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col no-wrap actions-wrapper no-gutters">
          <app-privacy-selector
            formControlName="visibility"
          ></app-privacy-selector>
          <button
            (click)="deleteEmail(email.putCode)"
            mat-icon-button
            class="delete-button"
          >
            <mat-icon class="material-icons-outlined large-material-icon"
              >delete</mat-icon
            >
          </button>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <a class="col add-more" (click)="addEmail()">
        <mat-icon class="large-material-icon">add_circle_outline </mat-icon> Add
        another email address</a
      >
    </div>
  </div>
</app-modal>
