<mat-card appearance="outlined" class="orcid-wizard">
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    id="loading-bar"
  ></mat-progress-bar>

  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">
      <div>
        <img
          height="64px"
          src="assets/vectors/orcid.logo.icon.svg"
          alt="orcid logo"
        />
      </div>
      <ng-container *ngIf="!reactivation?.isReactivation">
        <h1 class="orc-font-heading-small" i18n="@@register.create">
          Create your ORCID iD
        </h1>
      </ng-container>
      <ng-container *ngIf="reactivation?.isReactivation">
        <h1
          class="orc-font-heading-small"
          i18n="@@register.reactivateYourOrcidAccount"
        >
          Reactivate your ORCID account
        </h1>
      </ng-container>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2">
      <h2 class="orc-font-body-small" i18n="@@register.step3.3">
        Step 3 of 5 - Current employment
      </h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="!reactivation?.isReactivation">
      Adding a current employment affiliation helps distinguish you from other
      researchers with a similar name.
    </p>

    <form [formGroup]="formGroup" #form>
      <app-form-current-employment
        formControlName="affiliations"
      ></app-form-current-employment>
      <div class="step-actions margin-top-12">
        <button
          id="step-c2-register-button"
          mat-raised-button
          color="primary"
          [disabled]="loading"
          (click)="nextButton2()"
        >
          <ng-container i18n="@@register.nextStep"> Next Step </ng-container>
        </button>
        <button
          mat-button
          color="primary"
          type="button"
          id="step-c2-skip-button"
          (click)="optionalNextStep()"
        >
          <a
            i18n="@@shared.skipThisStepWithoutAddingAnAffiliation"
            class="skip-step"
          >
            Skip this step without adding an affiliation</a
          >
        </button>
        <button
          mat-button
          color="primary"
          matStepperPrevious
          type="button"
          id="step-c2-back-button"
          (click)="backButton()"
        >
          <a i18n="@@shared.previousStep"> Previous Step</a>
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    id="bottom-loading-bar"
  ></mat-progress-bar>
</mat-card>
