:host {
  border-top: solid 1px;
  background-color: black;
  width: 100%;
  min-height: 72px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 16px 0 16px;
}

.handset.container {
  flex-direction: column;
  align-items: self-start;
  padding: 10 px;
  height: auto;
  min-height: 100px;
  ::ng-deep button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

:host ::ng-deep .container > button {
  margin-inline-end: 32px;
}
