:host {
  // margin: -24px;
  display: flex;
  border: 2px solid;

  .content-wrapper {
    position: relative;
    padding-top: 16px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  [dir='ltr'] .content-wrapper {
    padding-left: 16px;
    padding-right: 12px;
  }
  [dir='rtl'] .content-wrapper {
    padding-left: 12px;
    padding-right: 16px;
  }
  .columns-4-or-8 .content-wrapper {
    padding-inline-end: 18px;
  }
}
.row {
  padding: 0 16px 16px 0;
}
.container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
  .main-area {
    flex-shrink: 1;
    overflow: hidden;
    height: 100%;
  }
  .footer-area,
  header-area {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

mat-progress-bar {
  position: absolute;
  max-width: 100%;
  top: 55px;
}

.header-container {
  position: relative;
}
.modal-content {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}
