:host {
  margin: -24px;
  display: flex;

  .content-wrapper {


    mat-dialog-content {
      overflow-x: hidden;
      margin: 0;
      padding-bottom: 40px;
      padding-inline-start: 16px;
      padding-inline-end: 12px;
    }
  }
  .columns-4-or-8 .content-wrapper {
    padding-inline-end: 18px;
  }
}
.row {
  padding: 0 16px 16px 0;
}
.container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
  .main-area {
    flex-shrink: 1;
    overflow: hidden;
  }
  .footer-area,
  header-area {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

mat-progress-bar {
  position: absolute;
  max-width: 100%;
  top: 55px;
}

.header-container {
  position: relative;
}
