<div
  class="container no-padding"
  [ngClass]="{ 'columns-4-or-8': !columns12 }"
  [dir]="screenDirection"
  id="modal-container"
  >
  <div class="row header-area no-padding">
    <div class="col s4 m8 l12 no-gutters header-container">
      <ng-content select="app-modal-header"></ng-content>
      @if (loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>
  </div>
  <div>
    <ng-content select="app-modal-title"></ng-content>
  </div>
  <main class="row main-area no-padding">
    <div
      class="col s4 m8 no-gutters content-wrapper"
      [ngClass]="{ l9: !noSidebar, l12: noSidebar, 'no-padding': noPadding }"
      >
      <div class="no-padding modal-content">
        <ng-content></ng-content>
      </div>
    </div>
    @if (columns12 && !noSidebar) {
      <div class="col l3 no-gutters side-bar">
        <ng-content select="app-modal-side-bar"></ng-content>
      </div>
    }
  </main>
  <div class="row footer-area no-padding">
    <div class="col s4 l12 no-gutters">
      <ng-content select="app-modal-footer"></ng-content>
    </div>
  </div>
</div>
