.card-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border: 2px solid;
  border-radius: 4px;
  background-color: white;
}

.mobile {
  :host {
    .card-container {
      max-width: 100%;
    }
  }
}

.activity-container.padding-botton {
  padding-bottom: 16px;
}

.activity-container {
  width: 100%;
  border-bottom: 16px;
  text-align: initial;

  .header {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;

    .header-title {
      display: flex;
      align-items: initial;
      max-width: 100%;

      h3 {
        overflow: hidden;
        word-wrap: break-word;
        font-weight: 400;

        margin: 0;
      }
    }

    display: flex;
    padding-bottom: 4px;
  }

  caption {
    font-style: italic;
    display: flex;
    width: 100%;
    text-align: left;
  }
}

.activity-container.with-border {
  border-bottom: 2px solid;
}

.body-wrapper {
  margin-inline-start: 27px;
}

mat-icon.margin-compensation {
  margin-bottom: 3px;
}

mat-icon {
  min-width: 25px;
  margin-inline-end: 3px;
  margin-top: -3px;

  img {
    margin-top: 2px;
    display: block;
  }
}

a {
  font-weight: 400;
}
