::ng-deep {
  app-display-attribute {
    .title-container > h3,
    .title-container > h2 {
      margin: 0;
    }
  }
}

:host {
  display: block;
  margin-bottom: 15px;
  word-break: break-word;
}
