<app-modal [noSidebar]="true" class="orc-font-body-small">
  <app-modal-header [closeLabel]="ariaLabelClose">
    <ng-container i18n="@@topBar.websites">
      Generate a new client secret
    </ng-container>
  </app-modal-header>
  <app-modal-footer>
    <button
      mat-raised-button
      color="warn"
      (click)="generate()"
      id="save-websites-button"
      i18n="@@xxx.cancel"
    >
      Generate a new client secret
    </button>
    <button
      mat-stroked-button
      mat-dialog-close
      color="primary"
      i18n="@@shared.cancel"
      id="cancel-websites-button"
    >
      Cancel
    </button>
  </app-modal-footer>

  <div>
    Resetting your client secret will generate a new secret. Your current client
    secret shown below will be discarded within the next 24 hours.
  </div>
  <strong>{{ secret }}</strong>
</app-modal>
