<app-settings-panels-data>
  <div i18n="@@account.copyTheCodeBelow">
    Copy the code below and paste it into your personal website.
  </div>
  <mat-form-field appearance="outline" class="mat-form-field-min no-hint">
    <textarea
      id="description-input"
      matInput
      formControlName="description"
      cdkTextareaAutosize
      [readonly]="true"
    >
    <a
     href="{{ userSession?.effectiveOrcidUrl }}"
     target="orcid.widget"
     rel="me noopener noreferrer"
     style="vertical-align: top">
     <img
        src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
        style="width: 1em; margin-inline-start: 0.5em"
        alt="ORCID iD icon"/>
     {{ userSession?.userInfo?.EFFECTIVE_USER_ORCID }}
    </a></textarea
    >
  </mat-form-field>

  <p>
    <strong i18n="@@account.preview">Preview</strong>
  </p>
  <a
    href="{{ userSession?.effectiveOrcidUrl }}"
    target="orcid.widget"
    rel="me noopener noreferrer"
    style="vertical-align: top"
  >
    <img
      src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
      style="width: 1em; margin-inline-start: 0.5em"
      alt="ORCID iD icon"
    />
    {{ userSession?.userInfo?.EFFECTIVE_USER_ORCID }}
  </a>
  <p>
    <i i18n="@@account.defaultStyleShown"
      >Default styles shown above. The actual font/text colour should match your
      site.
    </i>
  </p>
</app-settings-panels-data>
