.input-container {
  max-width: 500px;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 25px !important;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.retrieve-work {
  padding: 0;
  button {
    max-width: 500px;
  }
}
