.input-container {
  max-width: 402px;
  .mat-form-field {
    width: 100%;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

.retrieve-work {
  padding: 0;
  margin-top: 16px;
  button {
    width: 100%;
  }
}
