<app-modal [loading]="loadingWorks" [noSidebar]="true">
  <app-modal-header>
    <ng-container
      i18n="@@works.addFromDOI"
      *ngIf="type === EXTERNAL_ID_TYPE_WORK.doi"
    >
      Works - Add work from DOI
    </ng-container>
    <ng-container
      i18n="@@works.addFromPubMed"
      *ngIf="type === EXTERNAL_ID_TYPE_WORK.pubMed"
    >
        Works - Add work from pubMed
    </ng-container>
  </app-modal-header>
  <form [formGroup]="externalIdentifierForm" *ngIf="!workForm">
    <div class="row">
      <div class="orc-font-small-print">
        <p>
          <ng-container
            i18n="@@works.youCanUseFullDOI"
            *ngIf="type === EXTERNAL_ID_TYPE_WORK.doi"
          >
            You can use the full DOI URL or just the identifier value.
          </ng-container>
          <ng-container
            i18n="@@works.typeOrPastePubMed"
            *ngIf="type === EXTERNAL_ID_TYPE_WORK.pubMed"
          >
            Type or paste the full pubMed URL or just the identifier value
          </ng-container>
        </p>
      </div>
    </div>
    <div class="row">
      <label
        for="external-id-input"
        class="mat-caption"
      >
        <strong>
          <ng-container
            i18n="@@works.doiIdentifier"
            *ngIf="type === EXTERNAL_ID_TYPE_WORK.doi"
          >
            DOI identifier value or full URL
          </ng-container>
          <ng-container
            i18n="@@works.pubMedIdentifier"
            *ngIf="type === EXTERNAL_ID_TYPE_WORK.pubMed"
          >
            pubMed identifier value or full URL
          </ng-container>
        </strong>
      </label>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input
          id="external-id-input"
          matInput
          formControlName="externalId"
        />
<!--        todo add invalid url -->
<!--        <mat-error-->
<!--          *ngIf="metadataNotFound"-->
<!--          i18n="@@works.unableToImport"-->
<!--        >-->
<!--          Unable to import using this identifier. Please add work using a different option.-->
<!--        </mat-error>-->
        <mat-error
          *ngIf="metadataNotFound"
          i18n="@@works.unableToImport"
        >
          Unable to import using this identifier. Please add work using a different option.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col l4 retrieve-work">
      <button
        mat-raised-button
        color="primary"
        (click)="retrieveWork()"
      >
        <ng-container
          i18n="@@works.retrieveWorkDOI"
          *ngIf="type === EXTERNAL_ID_TYPE_WORK.doi"
        >
          Retrieve work details from DOI
        </ng-container>
        <ng-container
          i18n="@@works.retrieveWorkPubMed"
          *ngIf="type === EXTERNAL_ID_TYPE_WORK.pubMed"
        >
          Retrieve work details from pubMed
        </ng-container>
      </button>
    </div>
  </form>
<!--  <form [formGroup]="workForm" *ngIf="workForm">-->
<!--    <div-->
<!--      id="workDetails"-->
<!--      class="title row"-->
<!--      [ngClass]="{-->
<!--        'orc-font-body': !platform.columns12,-->
<!--        'orc-font-body-large': platform.columns12-->
<!--      }"-->
<!--    >-->
<!--      <p>-->
<!--        <strong i18n="@@works.workDetails"> Work details </strong>-->
<!--      </p>-->
<!--      <p *ngIf="platform.columns12" class="required-information mat-caption">-->
<!--        <span class="required">*</span>-->
<!--        <ng-container i18n="@@shared.requiredInformation"-->
<!--        >Required information</ng-container-->
<!--        >-->
<!--      </p>-->
<!--    </div>-->
<!--    <hr />-->

<!--    &lt;!&ndash; Work Category &ndash;&gt;-->
<!--    <div>-->
<!--      <div class="row">-->
<!--        <label-->
<!--          for="given-names-input"-->
<!--          class="mat-caption title"-->
<!--          [ngClass]="{-->
<!--            error:-->
<!--              workForm.get('workCategory').hasError('required') &&-->
<!--              workForm.get('workCategory').touched-->
<!--          }"-->
<!--        >-->
<!--          <strong i18n="@@works.selectAWorkCategory"-->
<!--          >Select a work category</strong-->
<!--          >-->
<!--          <span class="required">*</span>-->
<!--        </label>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--          <mat-select formControlName="workCategory" name="item">-->
<!--            <mat-option-->
<!--              *ngFor="let item of workCategories | keyvalue"-->
<!--              [value]="item.value"-->
<!--            >-->
<!--              {{ item.value | recordWorkCategoryLabel }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error-->
<!--            *ngIf="workForm.get('workCategory').hasError('required')"-->
<!--            i18n="@@works.selectACategory"-->
<!--          >-->
<!--            Select a work category-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Work Types &ndash;&gt;-->
<!--    <div [ngClass]="{ hide: (workTypes | keyvalue).length === 0 }">-->
<!--      <label-->
<!--        class="row"-->
<!--        for="given-names-input"-->
<!--        class="mat-caption"-->
<!--        [ngClass]="{-->
<!--          error:-->
<!--            workForm.get('workType').hasError('required') &&-->
<!--            workForm.get('workType').touched-->
<!--        }"-->
<!--      >-->
<!--        <strong i18n="@@works.workType">Work type</strong>-->
<!--        <span class="required">*</span>-->
<!--      </label>-->
<!--      <mat-form-field appearance="outline" class="mat-form-field-min row">-->
<!--        <mat-select-->
<!--          placeholder="Select a work type"-->
<!--          formControlName="workType"-->
<!--          name="item"-->
<!--        >-->
<!--          <mat-option-->
<!--            *ngFor="let item of workTypes | keyvalue"-->
<!--            [value]="item.value"-->
<!--          >-->
<!--            {{ item.value | recordWorkTypeLabel }}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--        <mat-error-->
<!--          *ngIf="workForm.get('workType').hasError('required')"-->
<!--          i18n="@@works.selectWorkType"-->
<!--        >-->
<!--          Select a work type-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash; Title &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label-->
<!--          for="given-names-input"-->
<!--          class="mat-caption"-->
<!--          [ngClass]="{-->
<!--            error:-->
<!--              workForm.hasError('required', 'title') &&-->
<!--              workForm.get('title').touched-->
<!--          }"-->
<!--        >-->
<!--          <strong i18n="@@topBar.givenNames">Title</strong>-->
<!--          <span class="required">*</span>-->
<!--        </label>-->
<!--      </div>-->

<!--      <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--        <input id="biography-input" matInput formControlName="title" />-->
<!--        <mat-error-->
<!--          *ngIf="workForm.get('title').hasError('required')"-->
<!--          i18n="@@works.setAWorkTitle"-->
<!--        >-->
<!--          Set a work title-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash; SHOW-HIDE translated title button  &ndash;&gt;-->
<!--    <div>-->
<!--      <div-->
<!--        class="row align-icon"-->
<!--        *ngIf="!showTranslationTitle"-->
<!--        (click)="showTranslationTitle = !showTranslationTitle"-->
<!--      >-->
<!--        <button mat-icon-button color="primary">-->
<!--          <mat-icon>add</mat-icon>-->
<!--        </button>-->
<!--        <a i18n="@@works.addTranslatedTitle">add translated title</a>-->
<!--      </div>-->

<!--      <div-->
<!--        class="row align-icon"-->
<!--        *ngIf="showTranslationTitle"-->
<!--        (click)="showTranslationTitle = !showTranslationTitle"-->
<!--      >-->
<!--        <button mat-icon-button color="primary">-->
<!--          <mat-icon>add</mat-icon>-->
<!--        </button>-->
<!--        <a i18n="@@works.hideTranslatedTitle">hide translation title</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Work translations title &ndash;&gt;-->
<!--    <div [hidden]="!showTranslationTitle">-->
<!--      <div>-->
<!--        <div class="row">-->
<!--          <label for="given-names-input" class="mat-caption">-->
<!--            <strong i18n="@@works.translatedTitle"-->
<!--            >Work translated title</strong-->
<!--            >-->
<!--          </label>-->
<!--        </div>-->

<!--        <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--          <input-->
<!--            id="biography-input"-->
<!--            matInput-->
<!--            formControlName="translatedTitleContent"-->
<!--          />-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      &lt;!&ndash; Language of this title &ndash;&gt;-->
<!--      <div>-->
<!--        <div class="row">-->
<!--          <label for="given-names-input" class="mat-caption">-->
<!--            <strong i18n="@@topBar.givenNames">Language of this title</strong>-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--            <mat-select-->
<!--              placeholder="Select a language"-->
<!--              formControlName="translatedTitleLanguage"-->
<!--              name="item"-->
<!--            >-->
<!--              <mat-option-->
<!--                *ngFor="let item of languageMap | keyvalue"-->
<!--                [value]="item.key"-->
<!--              >-->
<!--                {{ item.value }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Work subtitle &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label for="given-names-input" class="mat-caption">-->
<!--          <strong i18n="@@works.Subtitle">Work Subtitle</strong>-->
<!--        </label>-->
<!--      </div>-->

<!--      <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--        <input id="biography-input" matInput formControlName="subtitle" />-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash; Journal title &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label for="given-names-input" class="mat-caption">-->
<!--          <strong i18n="@@topBar.givenNames">{{-->
<!--            dynamicTitle | recordWorkTitleNameLabel-->
<!--            }}</strong>-->
<!--        </label>-->
<!--      </div>-->

<!--      <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--        <input matInput formControlName="journalTitle" />-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash; Publication date &ndash;&gt;-->
<!--    <ng-container formGroupName="startDateGroup">-->
<!--      <div class="row">-->
<!--        <label-->
<!--          for="url-input"-->
<!--          class="mat-caption"-->
<!--          [ngClass]="{-->
<!--            error: workForm.hasError('date', 'startDateGroup')-->
<!--          }"-->
<!--        >-->
<!--          <strong i18n="@@shared.startDate">Start date</strong>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="input-container date">-->
<!--        <div class="col l4 date">-->
<!--          <mat-form-field-->
<!--            id="start-date-year-input"-->
<!--            appearance="outline"-->
<!--            class="mat-form-field-min"-->
<!--          >-->
<!--            <mat-select-->
<!--              placeholder="{{ ngOrcidYear }}"-->
<!--              formControlName="startDateYear"-->
<!--            >-->
<!--              <mat-option i18n="@@shared.year" [value]="">Year</mat-option>-->
<!--              <mat-option-->
<!--                *ngFor="let year of yearOptions | keyvalue"-->
<!--                [value]="year.key"-->
<!--              >-->
<!--                {{ year.value }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col l4 date">-->
<!--          <mat-form-field-->
<!--            id="start-date-month-input"-->
<!--            appearance="outline"-->
<!--            class="mat-form-field-min"-->
<!--          >-->
<!--            <mat-select-->
<!--              placeholder="{{ ngOrcidMonth }}"-->
<!--              formControlName="startDateMonth"-->
<!--            >-->
<!--              <mat-option i18n="@@shared.month" [value]="">Month</mat-option>-->
<!--              <mat-option-->
<!--                *ngFor="let month of monthOptions | keyvalue"-->
<!--                [value]="month.key"-->
<!--              >-->
<!--                {{ month.value }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col l4 date">-->
<!--          <mat-form-field-->
<!--            id="start-date-day-input"-->
<!--            appearance="outline"-->
<!--            class="mat-form-field-min"-->
<!--          >-->
<!--            <mat-select-->
<!--              placeholder="{{ ngOrcidDay }}"-->
<!--              formControlName="startDateDay"-->
<!--            >-->
<!--              <mat-option i18n="@@shared.day" [value]="">Day</mat-option>-->
<!--              <mat-option-->
<!--                *ngFor="let day of dayOptions | keyvalue"-->
<!--                [value]="day.key"-->
<!--              >-->
<!--                {{ day.value }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <mat-error-->
<!--          class="mat-caption"-->
<!--          i18n="@@shared.invalidDate"-->
<!--          *ngIf="workForm.get('startDateGroup').errors?.date"-->
<!--        >-->
<!--          Invalid date-->
<!--        </mat-error>-->
<!--      </div>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Work url &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label-->
<!--          for="given-names-input"-->
<!--          class="mat-caption"-->
<!--          [ngClass]="{-->
<!--            error:-->
<!--              workForm.hasError('required', 'url') &&-->
<!--              workForm.get('url').touched-->
<!--          }"-->
<!--        >-->
<!--          <strong i18n="@@topBar.givenNames">Link</strong>-->
<!--        </label>-->
<!--      </div>-->

<!--      <mat-form-field-->
<!--        appearance="outline"-->
<!--        class="mat-form-field-min larger-input-margin"-->
<!--      >-->
<!--        <input id="biography-input" matInput formControlName="url" />-->
<!--        <mat-error-->
<!--          *ngIf="workForm.get('url').hasError('required')"-->
<!--          i18n="@@works.invalidUrl"-->
<!--        >-->
<!--          Invalid url-->
<!--        </mat-error>-->
<!--        <mat-hint i18n="@@works.linkMoreInformationAbout"-->
<!--        >A link to more information about the work. Links should be in the-->
<!--          full URL format e.g. http://www.website.com/page.html-->
<!--        </mat-hint>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    &lt;!&ndash; Work Citation &ndash;&gt;-->
<!--    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--    <div-->
<!--      class="title"-->
<!--      id="citation"-->
<!--      [ngClass]="{-->
<!--        'orc-font-body': !platform.columns12,-->
<!--        'orc-font-body-large': platform.columns12-->
<!--      }"-->
<!--    >-->
<!--      <p>-->
<!--        <strong i18n="@@works.citation"> Citation </strong>-->
<!--      </p>-->
<!--    </div>-->

<!--    <hr />-->

<!--    &lt;!&ndash; Citation type &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label-->
<!--          for="given-names-input"-->
<!--          class="mat-caption"-->
<!--          [ngClass]="{-->
<!--            error:-->
<!--              workForm.hasError('required', 'citationType') &&-->
<!--              workForm.get('citationType').touched-->
<!--          }"-->
<!--        >-->
<!--          <strong i18n="@@works.citationType">Citation type</strong>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--          <mat-select-->
<!--            placeholder="Placeholder"-->
<!--            formControlName="citationType"-->
<!--            name="item"-->
<!--          >-->
<!--            <mat-option [value]="''" i18n="@@works.selectACitation">-->
<!--              Select a citation type-->
<!--            </mat-option>-->

<!--            <mat-option-->
<!--              *ngFor="let item of citationTypes | keyvalue"-->
<!--              [value]="item.key"-->
<!--            >-->
<!--              {{ item.value }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error-->
<!--            *ngIf="workForm.get('citationType').hasError('required')"-->
<!--            i18n="@@works.selectACitationType"-->
<!--          >-->
<!--            Select a citation type-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Citation  &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label-->
<!--          for="given-names-input"-->
<!--          class="mat-caption"-->
<!--          [ngClass]="{-->
<!--            error:-->
<!--              workForm.hasError('required', 'citation') &&-->
<!--              workForm.get('citation').touched-->
<!--          }"-->
<!--        >-->
<!--          <strong i18n="@@works.citation">Citation</strong>-->
<!--          <span class="required">*</span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--        <textarea-->
<!--          matInput-->
<!--          formControlName="citation"-->
<!--          cdkTextareaAutosize-->
<!--          cdkAutosizeMinRows="5"-->
<!--          cdkAutosizeMaxRows="7"-->
<!--        ></textarea>-->
<!--        <mat-error-->
<!--          *ngIf="workForm.hasError('required', 'citation')"-->
<!--          i18n="@@works.describeThisCitation"-->
<!--        >-->
<!--          Describe this citation-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    &lt;!&ndash; Description  &ndash;&gt;-->

<!--    <div>-->
<!--      <div class="row">-->
<!--        <label for="given-names-input" class="mat-caption">-->
<!--          <strong i18n="@@works.description">Description</strong>-->
<!--          <span class="required">*</span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <mat-form-field appearance="outline" class="mat-form-field-min biography">-->
<!--        <textarea-->
<!--          id="biography-input"-->
<!--          matInput-->
<!--          formControlName="shortDescription"-->
<!--          cdkTextareaAutosize-->
<!--          cdkAutosizeMinRows="5"-->
<!--          cdkAutosizeMaxRows="7"-->
<!--        >-->
<!--        </textarea>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    &lt;!&ndash; Work Identifiers &ndash;&gt;-->
<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--    <div-->
<!--      class="title"-->
<!--      id="identifiers"-->
<!--      [ngClass]="{-->
<!--        'orc-font-body': !platform.columns12,-->
<!--        'orc-font-body-large': platform.columns12-->
<!--      }"-->
<!--    >-->
<!--      <p>-->
<!--        <strong i18n="@@shared.visibility" i18n="@@works.workIds">-->
<!--          Work identifiers</strong-->
<!--        >-->
<!--      </p>-->
<!--    </div>-->
<!--    <hr />-->

<!--    <div formArrayName="workIdentifiers">-->
<!--      <ng-container-->
<!--        *ngFor="-->
<!--          let workIdentifiersGroup of workIdentifiersArray.controls;-->
<!--          let i = index;-->
<!--          let last = last-->
<!--        "-->
<!--      >-->
<!--        <ng-container [formGroupName]="i">-->
<!--          &lt;!&ndash; Work identifier type &ndash;&gt;-->
<!--          <div>-->
<!--            <div class="row">-->
<!--              <label-->
<!--                for="given-names-input"-->
<!--                class="mat-caption"-->
<!--                [ngClass]="{-->
<!--                  error:-->
<!--                    workIdentifiersGroup.hasError(-->
<!--                      'required',-->
<!--                      'externalIdentifierType'-->
<!--                    ) &&-->
<!--                    workIdentifiersGroup.get('externalIdentifierType').touched-->
<!--                }"-->
<!--              >-->
<!--                <strong i18n="@@works.type">Identifier type</strong>-->
<!--                <span class="required">*</span>-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--                <mat-select-->
<!--                  placeholder="Placeholder"-->
<!--                  formControlName="externalIdentifierType"-->
<!--                  name="item"-->
<!--                >-->
<!--                  <mat-option [value]="''" i18n="@@works.selectAnIdentifier">-->
<!--                    Select an identifier type-->
<!--                  </mat-option>-->

<!--                  <mat-option-->
<!--                    *ngFor="let item of workIdTypes"-->
<!--                    [value]="item.name"-->
<!--                  >-->
<!--                    {{ item.description }}-->
<!--                  </mat-option>-->

<!--                  <mat-error-->
<!--                    *ngIf="-->
<!--                      workIdentifiersGroup-->
<!--                        .get('externalIdentifierType')-->
<!--                        .hasError('required')-->
<!--                    "-->
<!--                    i18n="@@works.selectAnIdentifier"-->
<!--                  >-->
<!--                    Select an identifier type-->
<!--                  </mat-error>-->
<!--                  <mat-hint i18n="@@works.typeOfIdentifier"-->
<!--                  >The type of identifier associated with the work, such as an-->
<!--                    ISBN, DOI or PMID.-->
<!--                  </mat-hint>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Work identifier value &ndash;&gt;-->

<!--          <div>-->
<!--            <div class="row">-->
<!--              <label-->
<!--                for="given-names-input"-->
<!--                class="mat-caption"-->
<!--                [ngClass]="{-->
<!--                  error:-->
<!--                    workIdentifiersGroup.hasError(-->
<!--                      'required',-->
<!--                      'externalIdentifierId'-->
<!--                    ) &&-->
<!--                    workIdentifiersGroup.get('externalIdentifierId').touched-->
<!--                }"-->
<!--              >-->
<!--                <strong-->
<!--                  i18n="@@topBar.givenNames"-->
<!--                  i18n="@@works.identifierValue"-->
<!--                >Identifier value-->
<!--                </strong>-->
<!--                <span class="required">*</span>-->
<!--              </label>-->
<!--            </div>-->
<!--            <mat-form-field-->
<!--              appearance="outline"-->
<!--              class="mat-form-field-min larger-input-margin"-->
<!--            >-->
<!--              <input-->
<!--                id="biography-input"-->
<!--                matInput-->
<!--                formControlName="externalIdentifierId"-->
<!--              />-->
<!--              <mat-error-->
<!--                *ngIf="-->
<!--                  workIdentifiersGroup-->
<!--                    .get('externalIdentifierId')-->
<!--                    .hasError('validFormat')-->
<!--                "-->
<!--                i18n="@@works.validFormat"-->
<!--              >-->
<!--                Invalid id for the selected identifier type-->
<!--              </mat-error>-->
<!--              <mat-error-->
<!--                *ngIf="-->
<!--                  workIdentifiersGroup-->
<!--                    .get('externalIdentifierId')-->
<!--                    .hasError('required')-->
<!--                "-->
<!--                i18n="@@works.addADescriber"-->
<!--              >-->
<!--                Add a describer id-->
<!--              </mat-error>-->
<!--              <mat-hint i18n="@@works.identifierAssociated"-->
<!--              >The identifier associated with the work. The format will depend-->
<!--                on the type of identifier selected.-->
<!--              </mat-hint>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          &lt;!&ndash; Work identifier url value &ndash;&gt;-->

<!--          <div class="row">-->
<!--            <label-->
<!--              for="given-names-input"-->
<!--              class="mat-caption"-->
<!--              [ngClass]="{-->
<!--                error:-->
<!--                  workIdentifiersGroup.hasError(-->
<!--                    'pattern',-->
<!--                    'externalIdentifierUrl'-->
<!--                  ) && workIdentifiersGroup.get('externalIdentifierUrl').touched-->
<!--              }"-->
<!--            >-->
<!--              <strong i18n="@@works.identifierUrl">Identifier URL </strong>-->
<!--              <span class="required">*</span>-->
<!--            </label>-->

<!--            <mat-form-field-->
<!--              appearance="outline"-->
<!--              class="mat-form-field-min larger-input-margin"-->
<!--            >-->
<!--              <input-->
<!--                id="biography-input"-->
<!--                matInput-->
<!--                formControlName="externalIdentifierUrl"-->
<!--              />-->

<!--              <mat-hint i18n="@@works.urlIdentifierHint">-->
<!--                The URL that the identifier resolves to, for example-->
<!--                https://doi.org/10.23640/07243.c.4232246-->
<!--              </mat-hint>-->
<!--              <mat-error-->
<!--                *ngIf="-->
<!--                  workIdentifiersGroup-->
<!--                    .get('externalIdentifierUrl')-->
<!--                    .hasError('pattern')-->
<!--                "-->
<!--                i18n="@@works.invalidUrl"-->
<!--              >-->
<!--                Invalid url-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          &lt;!&ndash; Work identifier relationship &ndash;&gt;-->

<!--          <div>-->
<!--            <div class="row">-->
<!--              <label-->
<!--                for="given-names-input"-->
<!--                class="mat-caption"-->
<!--                [ngClass]="{-->
<!--                  error:-->
<!--                    workIdentifiersGroup.hasError(-->
<!--                      'required',-->
<!--                      'externalRelationship'-->
<!--                    ) &&-->
<!--                    workIdentifiersGroup.get('externalRelationship').touched-->
<!--                }"-->
<!--              >-->
<!--                <strong i18n="@@works.relationship">Relationship</strong>-->
<!--                <span class="required">*</span>-->
<!--              </label>-->
<!--            </div>-->

<!--            <mat-radio-group-->
<!--              aria-label="Select an option"-->
<!--              appearance="outline"-->
<!--              class="mat-form-field-min"-->
<!--              formControlName="externalRelationship"-->
<!--            >-->
<!--              <ng-container *ngFor="let value of workRelationships">-->
<!--                <mat-radio-button [value]="value"-->
<!--                >{{ value | recordWorkRelationshipLabel }}-->
<!--                </mat-radio-button>-->
<!--                <mat-hint class="mat-caption"-->
<!--                >{{ value | recordWorkRelationshipHintLabel }}-->
<!--                </mat-hint>-->
<!--              </ng-container>-->
<!--            </mat-radio-group>-->

<!--            <button-->
<!--              mat-icon-button-->
<!--              (click)="deleteWorkId(i)"-->
<!--              *ngIf="workIdentifiersArray.controls.length > 1"-->
<!--            >-->
<!--              <mat-icon>delete</mat-icon>-->
<!--            </button>-->
<!--          </div>-->
<!--        </ng-container>-->

<!--        <hr *ngIf="!last" />-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Add other identifier  &ndash;&gt;-->
<!--      <div-->
<!--        class="row align-icon"-->
<!--        *ngIf="!showTranslationTitle"-->
<!--        (click)="addOtherWorkId()"-->
<!--      >-->
<!--        <button mat-icon-button><mat-icon>add</mat-icon></button>-->
<!--        <a i18n="@@works.addAnotherId">Add other identifier</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    &lt;!&ndash; Work Other Information &ndash;&gt;-->
<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--    <div-->
<!--      class="title"-->
<!--      id="otherInformation"-->
<!--      [ngClass]="{-->
<!--        'orc-font-body': !platform.columns12,-->
<!--        'orc-font-body-large': platform.columns12-->
<!--      }"-->
<!--    >-->
<!--      <p>-->
<!--        <strong i18n="@@works.otherInformation"> Other information</strong>-->
<!--      </p>-->
<!--    </div>-->
<!--    <hr />-->

<!--    &lt;!&ndash; Language of this form &ndash;&gt;-->
<!--    <div>-->
<!--      <div class="row">-->
<!--        <label for="given-names-input" class="mat-caption">-->
<!--          <strong i18n="@@works.languageUsed"-->
<!--          >Language used in this form</strong-->
<!--          >-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--          <mat-select-->
<!--            placeholder="Placeholder"-->
<!--            formControlName="languageCode"-->
<!--            name="item"-->
<!--          >-->
<!--            <mat-option-->
<!--              *ngFor="let item of languageMap | keyvalue"-->
<!--              [value]="item.key"-->
<!--            >-->
<!--              {{ item.value }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Country of publication &ndash;&gt;-->
<!--    <div>-->
<!--      <div class="row">-->
<!--        <label for="given-names-input" class="mat-caption">-->
<!--          <strong i18n="@@works.countryPublication"-->
<!--          >Country of publication</strong-->
<!--          >-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <mat-form-field appearance="outline" class="mat-form-field-min">-->
<!--          <mat-select-->
<!--            placeholder="Placeholder"-->
<!--            formControlName="languageCode"-->
<!--            name="item"-->
<!--          >-->
<!--            <mat-option-->
<!--              *ngFor="let item of languageMap | keyvalue"-->
<!--              [value]="item.key"-->
<!--            >-->
<!--              {{ item.value }}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    &lt;!&ndash; Work Visibility &ndash;&gt;-->
<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--    <div-->
<!--      id="visibility"-->
<!--      class="title"-->
<!--      [ngClass]="{-->
<!--        'orc-font-body': !platform.columns12,-->
<!--        'orc-font-body-large': platform.columns12-->
<!--      }"-->
<!--    >-->
<!--      <p>-->
<!--        <strong i18n="@@shared.visibility"> Visibility </strong>-->
<!--      </p>-->
<!--    </div>-->
<!--    <hr />-->

<!--    &lt;!&ndash; Work Visibility &ndash;&gt;-->
<!--    <div>-->
<!--      <p class="orc-font-small-print" i18n="@@shared.visibilityDescription">-->
<!--        Manage who can see this information in your record.-->
<!--      </p>-->
<!--      <div class="col no-wrap actions-wrapper no-gutters visibility">-->
<!--        <app-privacy-selector-->
<!--          formControlName="visibility"-->
<!--        ></app-privacy-selector>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
</app-modal>
