<ng-container
  *ngFor="
    let fundingGroups of profileFundingGroups;
  "
>
  <!-- A PANELS COMPONENT FOR EACH GROUP OF FUNDING -->
  <app-panels
    *ngIf="fundingGroups.fundings.length"
    class="row"    
    [currentAmount]="fundingGroups.fundings.length"
    [total]="fundingGroups.fundings.length"
  >
    <app-funding-stack
      *ngFor="
        let fundingGroup of fundingGroups.fundings;
        trackBy: trackByFundingGroup
      "
      [fundingStack]="fundingGroup"
    ></app-funding-stack>
  </app-panels>
</ng-container>
