a {
  text-decoration: underline;
  font-weight: normal;
}

h2 {
  margin-top: 14px;
  margin-bottom: 14px;
}

mat-card-title img {
  margin-bottom: 32px;
}


.input-container {
  padding-bottom: 20px;
}

mat-label.orc-font-small-print {
  font-weight: bold;

  label {
    font-weight: normal;
  }
}

.step-actions {
  border-top: 1px solid;
  padding-top: 24px;
}

:host ::ng-deep {

  mat-error {
    margin-top: 8px;
    font-size: 12px;
  }

  mat-form-field {
    padding-top: 8px;

    .mat-form-field-subscript-wrapper {
      padding: 0;

    }

    .mat-form-field-wrapper {
      padding-bottom: 2px;
    }




  }

  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      margin: 0;

      .mat-form-field-outline {
        top: 0px;
      }

      .mat-form-field-prefix {
        top: 0.35em;

        mat-icon {
          margin-inline-end: 8px;
        }
      }

      .mat-form-field-flex {
        .mat-form-field-infix {
          border-top: 0px;
          padding: 10px 0 10px 0;
        }
      }
    }
  }

  mat-form-field.mat-form-field.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-invalid {
    margin-bottom: 0px;


  }




}

.orc-font-heading-small {
  font-style: normal;
  font-weight: 500;
}


.info {
  .content div:not(:last-child) {
    margin-bottom: 16px;
  }

  padding: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }

  mat-icon {
    margin-right: 16px;
  }


}



// MATERIAL OVERWRITES

::ng-deep {
  .mat-horizontal-stepper-wrapper {
    .mat-horizontal-stepper-header-container {
      display: none;
    }
  }



  mat-vertical-stepper.orcid-stepper-wizard mat-card p,
  mat-horizontal-stepper.orcid-stepper-wizard mat-card p {
    margin-bottom: 16px;
  }


  mat-vertical-stepper.orcid-stepper-wizard mat-card mat-form-field,
  mat-vertical-stepper.orcid-stepper-wizard mat-card .input-container,
  mat-horizontal-stepper.orcid-stepper-wizard mat-card mat-form-field,
  mat-horizontal-stepper.orcid-stepper-wizard mat-card .input-container {
    margin-bottom: 0px;

  }


  mat-vertical-stepper.orcid-stepper-wizard,
  mat-horizontal-stepper.orcid-stepper-wizard {
    mat-card {


      .step-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 0px;
        gap: 12px;
      }
    }
  }

}
