:host {
  width: 100%;
}

mat-form-field {
  margin-top: 35px;
  margin-bottom: 30px;
}

mat-chip {
  padding: 7px 20px;
}

mat-button {
  max-width: 415px;
}

.form-container,
.success-container {
  max-width: 415px;
}

.chipsError {
  padding: 0 1em;
}
