@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin password-recovery-theme($theme) {
  .border {
    border-color: $ui-background-light !important;
  }
  hr {
    background: $ui-background-light;
  }
  button {
    color: $orcid-light-primary-text !important;
    background: $brand-secondary-dark !important;
  }
  mat-hint {
    color: $text-dark-high;
  }
  .error {
    color: $state-warning-darkest !important;
  }
  .button-loading {
    opacity: 30%;
  }
}

@include password-recovery-theme($orcid-app-theme);
