<main id="main">
  <div class="container">
    <div class="row horizontal-center" [formGroup]="recoveryForm">
      <mat-card appearance="outlined" class="orcid-wizard col l6 m6 s4">
        <mat-card-header>
          <mat-card-title i18n="@@ngOrcid.passwordAndOrcid"
            >Password and ORCID iD Recovery
          </mat-card-title>
        </mat-card-header>
        @if (loading) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <mat-card-content>
          <div [hidden]="submitted">
            <p
              class="row mat-caption"
              i18n="@@ngOrcid.didYouForget"
              id="didYouForget"
            >
              Did you forget your password or ORCID iD?
            </p>
            <mat-chip-listbox
              aria-labelledby="didYouForget"
              formControlName="type"
              required
            >
              <mat-chip-option
                value="resetPassword"
                class="orcid-outline-chip"
                #passwordChip
                (click)="passwordChip.select()"
                i18n="@@check_password_modal.password"
                >Password</mat-chip-option
              >
              <mat-chip-option
                value="remindOrcidId"
                #emailChip
                (click)="emailChip.select()"
                class="orcid-outline-chip"
                i18n="@@common.orcid_id"
                >ORCID iD</mat-chip-option
              >
            </mat-chip-listbox>
            @if (
              typeFormControl.hasError('required') && typeFormControl.touched
            ) {
              <mat-error
                [@transitionMessages]="_subscriptAnimationState"
                class="chipsError mat-caption"
                i18n="@@ngOrcid.pleaseChooseRecovery"
                >Please choose a recovery option</mat-error
              >
            }

            <mat-form-field appearance="fill">
              <mat-label i18n="@@oauth_sign_up.labelemail">Email</mat-label>
              <input matInput formControlName="email" required appTrim />
              <ng-container ngProjectAs="mat-error">
                @if (
                  emailFormControl.hasError('required') ||
                  emailFormControl.hasError('email') ||
                  emailFormControl.hasError('pattern')
                ) {
                  <mat-error i18n="@@Email.resendClaim.invalidEmail"
                    >Please enter a valid email address</mat-error
                  >
                }
                @for (
                  backendError of emailFormControl.errors
                    ? emailFormControl.errors['backendErrors']
                    : [];
                  track backendError
                ) {
                  <mat-error>{{ backendError }}</mat-error>
                }
              </ng-container>
            </mat-form-field>

            <button
              mat-raised-button
              (click)="onSubmit()"
              color="primary"
              type="submit"
              [disabled]="loading"
              i18n="@@ngOrcid.recoverAccountDetails"
              id="cy-recover-acc-details"
            >
              RECOVER ACCOUNT DETAILS
            </button>
            @if (this.serverError) {
              <mat-error>{{ this.serverError }}</mat-error>
            }
          </div>
          @if (submitted) {
            <div class="success-container" role="alert">
              <p>
                <ng-container
                  i18n="@@orcid.frontend.reset.password.email_success_1"
                  >We have sent a message to</ng-container
                >
                <strong>{{ emailFormControl.value }}</strong>
                <ng-container
                  i18n="@@orcid.frontend.reset.password.email_success_2"
                  >from reset&#64;notify.orcid.org.</ng-container
                >
                <ng-container i18n="@@ngOrcid.youCanNow"
                  >You can now</ng-container
                >
                <a
                  i18n="@@ngOrcid.returnToLoginPage"
                  (click)="navigateTo('/login')"
                  >return to the login page.</a
                >
              </p>
              <p>
                <ng-container
                  i18n="@@orcid.frontend.reset.password.email_success_3"
                  >If you do not receive a message within 10 minutes, please
                  check your spam folder. If you still do not see a message,
                  then</ng-container
                >
                <a
                  i18n="@@orcid.frontend.reset.password.email_success_4"
                  (click)="navigateTo('https://support.orcid.org/')"
                  >contact us</a
                >.
              </p>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
