<div
  [formGroup]="recoveryForm"
  class="grid justify-items-center text-center max-w-[452px] mt-8 sm:p-16! p-8! border rounded-[10px] ml-auto mr-auto"
>
  <div class="icon">
    <img src="assets/vectors/orcid.logo.icon.svg" role="presentation" />
  </div>
  <h1
    class="orc-font-heading-small font-normal mb-8"
    i18n="@@recovery.passwordAndIdRecovery"
  >
    Password and iD recovery
  </h1>
  @if (!submitted) {
  <div class="text-left mb-8">
    <app-alert-message
      type="notice"
      role="dialog"
      aria-live="polite"
      aria-labelledby="dialogTitle"
      aria-describedby="dialogDescription"
      class="mb-6"
    >
      <div content class="content grid gap-2">
        <b i18n="@@recovery.lostAccessToYourEmailAddresses">
          Lost access to your email addresses?
        </b>
        <div>
          <span i18n="@@recovery.youCanAlwaysSignIn"
            >You can always sign in to ORCID with your</span
          >&nbsp;<b i18n="@@recovery.16DigitOrcidId">16-digit ORCID iD</b
          >&nbsp;<span i18n="@@register.and">and</span>&nbsp;<b
            i18n="@@recovery.accountPassword"
            >account password</b
          >&nbsp;<span i18n="@@recovery.instead">instead.</span>
        </div>
        <a
          href="#"
          tabindex="0"
          class="underline"
          [routerLink]="['/signin']"
          i18n="@@recovery.trySigningIn"
          [attr.aria-label]="ariaLabelLostAccess + ' ' + ariaLabelTrySigningIn"
          >Try signing in with your iD and password now</a
        >
      </div>
    </app-alert-message>
    <h2
      class="orc-font-body mb-4 mt-0 leading-6"
      i18n="@@recovery.whatHaveYouForgotten"
    >
      What have you forgotten?
    </h2>
    <mat-radio-group
      formControlName="recoveryType"
      color="primary"
      [attr.aria-label]="ariaLabelIveForgotten"
    >
      <mat-radio-button value="password" class="block mb-4 text-sm/normal!">
        <span
          class="orc-font-body-small ml-2"
          i18n="@@recovery.myOrcidAccountPassword"
          >my ORCID account password</span
        >
      </mat-radio-button>

      <mat-radio-button value="orcidId" class="block">
        <span
          class="orc-font-body-small ml-2"
          i18n="@@recovery.my16DigitOrcidId"
        >
          my 16-digit ORCID iD
        </span>
      </mat-radio-button>
    </mat-radio-group>
    <h2
      class="orc-font-body mt-6 mb-1 leading-6"
      i18n="@@recovery.whereShouldWeSend"
    >
      Where should we send the recovery email?
    </h2>
    <div
      class="leading-5.25 orc-font-body-small mb-4"
      i18n="@@recovery.pleaseUseAnEmail"
    >
      Please use an email address associated with your ORCID account.
    </div>
    <mat-label
      class="orc-font-small-print leading-4.5 font-bold!"
      id="email-input-label"
      i18n="@@register.Email"
      [ngClass]="{
        error:
          recoveryForm.get('email').touched && recoveryForm.get('email').invalid
      }"
      >Email
    </mat-label>
    <mat-form-field
      appearance="outline"
      [hideRequiredMarker]="true"
      class="no-hint passwordField my-2 w-full"
    >
      <input
        id="email"
        aria-labelledby="email-input-label"
        formControlName="email"
        matInput
        class="h-5.25 p-2 orc-font-body-small"
        [ngClass]="{
          error:
            recoveryForm.get('email').touched &&
            recoveryForm.get('email').dirty &&
            recoveryForm.get('email').invalid
        }"
      />
    </mat-form-field>
    @if (!recoveryForm.get('email').invalid ||
    !(recoveryForm.get('email').touched )) {
    <mat-hint class="orc-font-small-print" i18n="@@recovery.forExampleEmail"
      >For example: joe&#64;institution.edu
    </mat-hint>
    } @if (recoveryForm.get('email').hasError('required') &&
    (recoveryForm.get('email').touched)) {
    <mat-error class="orc-font-small-print password-error ml-0">
      <ng-container i18n="@@register.primaryEmailRequired"
        >An email is required</ng-container
      >
    </mat-error>
    } @if (recoveryForm.get('email').hasError('email') &&
    (recoveryForm.get('email').touched )) {
    <mat-error
      i18n="@@side-bar.invalidEmailErrorMessage"
      class="orc-font-small-print ml-0"
    >
      Please enter a valid email address, for example joe&#64;institution.edu
    </mat-error>
    }
  </div>
  <hr class="mb-8!" />
  <button
    mat-raised-button
    (click)="onSubmit()"
    class="row text-base! mat-elevation-z0 h-10"
    type="submit"
    i18n="@@recovery.sendRecoveryEmail"
    [disabled]="loading"
    color="primary"
    [ngClass]="{ 'button-loading': loading }"
    id="cy-recover-acc-details"
  >
    Send recovery email
  </button>
  } @if (submitted) {
  <div class="text-left orc-font-body-small">
    <span i18n="@@recovery.weHaveSent">We have sent a recovery email to</span
    >&nbsp;<b>{{ recoveryForm.get('email').value }}</b>
    <br />
    <br />
    <div i18n="@@recovery.ifYouDoNotReceive">
      If you do not receive the recovery email within 10 minutes please check
      your spam folder.
    </div>
    <br />
    <a
      href="#"
      [routerLink]="['/signin']"
      class="underline"
      i18n="@@recovery.backToSignIn"
      >Back to sign in</a
    >
  </div>
  }
</div>
