<main>
  <div class="container ">
    <div class="row">
      <div class="col l12 m8 s4">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip
            (click)="select()"
            [selected]="selected"
            class="orcid-outline-chip"
            >Not selected</mat-chip
          >
          <mat-chip class="orcid-outline-chip" disabled
            >Primary sealected</mat-chip
          >
          <mat-chip>Primary sealected</mat-chip>
        </mat-chip-list>
      </div>
      <div class="col l12 m8 s4" style="margin-top:10px">
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput />
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div class="col l12 m8 s4">
        <app-multi-row-raised-button color="primary">
          FIND OUT MORE ABOUT OUR MISSION AND VALUES
        </app-multi-row-raised-button>
      </div>
    </div>
  </div>
</main>
