@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin password-recovery-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .display-1 {
    color: mat.m2-get-color-from-palette($primary);
  }
}

@include password-recovery-theme($orcid-app-theme);
