<div [formGroup]="form">
  <h3 class="orc-font-body" i18n="@@register.tipsFeaturesEmail">
    Tips & features email
  </h3>
  <p i18n="@@register.weOccasionallySend">
    We occasionally send out an email with information on new features and tips
    for getting the best out of your ORCID record.
  </p>
  <mat-checkbox
    formControlName="sendOrcidNews"
    class="margin-bottom-16"
    color="primary"
  >
    <!-- prettier-ignore -->
    <div class="mat-checkbox-content" i18n="@@register.idLikeToReceiveTipsFeatures"
  >I’d like to receive the ORCID tips & features email
</div>
  </mat-checkbox>
</div>
