<h3 class="mat-subheading-2">Notification settings</h3>

<p>
  ORCID sends email notifications about items related to your account, security,
  and privacy, including requests from ORCID member organizations for permission
  to update your record, and changes made to your record by those organizations.
</p>

<p>
  You can also choose to receive emails from us about new features and tips for
  making the most of your ORCID record.
</p>

<ng-container [formGroup]="form">
  <mat-checkbox
    color="primary"
    formControlName="sendOrcidNews"
    class="orcid-checkbox-baseline"
    >Please send me quarterly emails about new ORCID features and tips.
    <i
      >To receive these emails, you will also need to verify your primary email
      address.</i
    >
  </mat-checkbox>
</ng-container>

<p>
  After you've registered, you can change your notification settings at any time
  in the account settings section of your ORCID record.
</p>
