<main @enterAnimation>
  <div class="hero-header">
    <div class="container">
      <div class="row horizontal-center">
        <div class="col l12 horizontal-center hero-logo">
          <img src="assets/vectors/orcid.logo.icon.svg" alt="" />
        </div>

        <h1 class="col l12 horizontal-center hero-title">
          <ng-container i18n="@@home.distinguish_yourself">
            DISTINGUISH YOURSELF INTHREE EASY STEPS
          </ng-container>
        </h1>

        <div class="col l12 hero-text" i18n="@@home.orcid_provides">
          ORCID provides a persistent digital identifier that distinguishes you
          from every other researcher and, through integration in key research
          workflows such as manuscript and grant submission, supports automated
          linkages between you and your professional activities ensuring that
          your work is recognized.
        </div>
        <div class="col l12 horizontal-center">
          <button mat-raised-button color="primary" class="hero-call-to-action">
            <div class="button-wrapper" i18n="@@home.!!!">
              find our more about our mission and values
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="register-section">
    <div class="container ">
      <div>
        <ng-container i18n="@@home.one">1</ng-container>-
        <ng-container i18n="@@home.register">REGISTER</ng-container>
      </div>
      <div>
        <ng-container i18n="@@home.get_your"
          >Get your unique ORCID identifier </ng-container
        ><ng-container i18n="@@home.register_now">Register now!</ng-container
        ><ng-container i18n="@@home.registration_takes"
          >Registration takes 30 seconds.</ng-container
        >
      </div>
      <div>
        <ng-container i18n="@@home.two">2</ng-container>-
        <ng-container i18n="@@home.add_your">ADD YOUR </ng-container
        ><ng-container i18n="@@home.person"> INFO</ng-container>
      </div>
      <div>
        <ng-container i18n="@@home.enhance_your">
          Enhance your ORCID record with your professional information and link
          to your other identifiers (such as Scopus or ResearcherID or
          LinkedIn).
        </ng-container>
      </div>
      <div>
        <ng-container i18n="@@home.three">3</ng-container> -<ng-container
          i18n="@@home.user_your"
          >USE YOUR </ng-container
        ><ng-container i18n="@@home.orcid_id">ORCID ID</ng-container>
      </div>
      <div i18n="@@home.include_your">
        Include your ORCID identifier on your Webpage, when you submit
        publications, apply for grants, and in any research workflow to ensure
        you get credit for your work.
      </div>
    </div>
  </div>

  <div class="organization-section">
    <div class="container ">
      <h2 i18n="@@home.members_make">
        Our organizational members make ORCID possible!
      </h2>

      <div>
        <div i18n="@@home.orcid_is">
          ORCID is a non-profit organization supported by a global community of
          member organizations, including research institutions, publishers,
          funders, professional associations, service providers, and other
          stakeholders in the research ecosystem.
        </div>
        <br />
        <div i18n="@@home.curious_about">
          Curious about who our members are?
        </div>
        <div i18n="@@home.see_our">
          See our complete list of member organizations
        </div>
      </div>
    </div>
  </div>
</main>
<app-news></app-news>
