:host {
  width: 100%;
}
.hero-header {
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: repeat;
  padding: 72px 0;
  box-sizing: border-box;

  .hero-logo {
    img {
      height: 72px;
    }
  }
  .hero-title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }

  .hero-call-to-action {
    max-width: 445px;
    margin-top: 30px;
  }

  .mat-subtitle-2,
  .hero-title {
    div {
      max-width: 1024px;
    }
    text-align: center;
  }

  .mat-subtitle-2 {
    margin-top: 8px;
  }

  .button-wrapper {
    display: flex;
    max-width: 200px;
  }
}

.register-section {
  padding: 56px 0;
  box-sizing: border-box;
  > .container > .row > .col {
    height: 100%;
  }
  .number-box {
    .col {
      justify-content: space-around;
    }
    .number-circle {
      height: 100px;
      font-size: 1.5em;
      width: 100px;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .mat-subtitle-2 {
    height: 100%;
    text-align: center;
    max-width: 344px;
    display: block;
  }
  .mat-headline-5 {
    text-align: center;
  }
}
.organization-section {
  .mat-headline-4 {
    margin-bottom: 20px;
  }
  background-image: url('../../../../assets/vectors/orcid.logo.background.svg');
  box-sizing: border-box;
  height: 450px;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: 90%;
  [dir='rtl'] :host & {
    background-position: 10%;
  }

  .container {
    height: 100%;
    .row {
      height: 100%;
      .mat-headline-5 {
        margin-bottom: 24px;
      }
      .organization-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.columns-8,
.columns-4 {
  :host {
    .hero-header {
      background-size: cover;
      height: auto;
      .hero-logo {
        img {
          height: 50px;
        }
      }
      .hero-call-to-action {
        margin-top: 30px;
        .button-wrapper {
          display: flex;
          max-width: 200px;
        }
      }
    }

    .register-section {
      height: auto;
      .mat-subtitle-2 {
        height: auto;
      }
      > .container > .row > .col {
        margin-bottom: 20px;
      }
    }
    .organization-section {
      background-image: none;
      height: auto;
      padding-top: 0;

      img {
        width: 100%;
        min-height: 366px;
        max-width: 434px;
        object-fit: cover;
      }
      .container {
      }

      .mat-headline-4 {
        margin-top: 40px;
        margin-bottom: 7px;
      }
    }
  }
}
.columns-12 {
  :host {
    .hero-header {
      height: auto;
    }
    .register-section {
      > .container {
        max-width: 1440px;
      }
    }
    .organization-section {
      img {
        min-height: 350px;
      }
      .mat-headline-4 {
        margin-top: 40px;
        margin-bottom: 7px;
      }
      .text-container {
        padding-left: 41px;
        [dir='rtl'] & {
          padding-left: auto;
          padding-right: 41px;
        }
      }
    }
  }
}
