@import '~@angular/material/theming';
$config: mat-typography-config();
@mixin home-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $overlay-color: mat-color($background, hero-overlay);
  app-home {
    main {
      color: mat-color($foreground, text);
    }
    .hero-header {
      color: mat-contrast($primary, 500);

      height: 580px;

      background: linear-gradient($overlay-color, $overlay-color),
        url('/assets/img/hero-header-image.png');
    }
  }
}

@mixin home-typography($config) {
  div {
    @include mat-typography-level-to-styles($config, body-1);
  }
  h1,
  h2 {
    @include mat-typography-level-to-styles($config, display-1);
  }
}
