@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin top-bar-verification-modal-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .info {
    color: mat.get-color-from-palette(
      $foreground,
      'state-notice-dark'
    ) !important;
  }
  :host button {
    background: mat.get-color-from-palette($primary, 700);
  }
}

@include top-bar-verification-modal-theme($orcid-app-theme);
