app-modal {
  ::ng-deep .content-wrapper {
    padding-bottom: 20px !important;
  }
}

.info {
  margin-inline-end: 10px;
}

.resend-verification {
  margin: 20px 0 30px 0;
}

.need-help {
  p {
    display: block;
    margin-top: 4px;
    margin-inline-end: 0;
  }
}

.text-content {
  flex-direction: column;
}
