<app-modal [noSidebar]="true">
  <app-modal-header>
    <mat-icon class="material-icons-outlined info">info</mat-icon>
    <ng-container i18n="@@topBar.pleaseVerifyYourPrimary">
      Please verify your primary email address
    </ng-container>
  </app-modal-header>
  <div
    [ngClass]="{
      'orc-font-body-small': !isMobile,
      'orc-font-small-print': isMobile
    }"
  >
    <div class="row">
      <p i18n="@@topBar.youNeedToVerify">
        You need to verify your primary email address in order to access all of
        ORCID’s editing features.
      </p>
      <p>
        <ng-container i18n="@@topBar.toVerifyYourEmail">
          To verify your email please click the link in the message we have sent
          to:
        </ng-container>
        <br />
        <strong>
          {{ primaryEmail }}
        </strong>
      </p>
      <p>
        <strong i18n="@@topBar.iDontHave">
          I don’t have the verification email
        </strong>
        <br />
        <ng-container i18n="@@topBar.clickTheButton">
          Click the button below and we will send you a new one.
        </ng-container>
      </p>
    </div>
    <div class="row resend-verification">
      <button
        mat-raised-button
        color="primary"
        i18n="@@topBar.resendVerificationEmail"
        (click)="verifyEmail()"
      >
        Resend verification email
      </button>
    </div>
    <div class="need-help">
      <p>
        <strong i18n="@@side-bar.needHelp"> Need help?</strong>
        <br />
        <ng-container i18n="@@topBar.visitOur"> Visit our</ng-container>
        <a
          class="underline"
          href="https://support.orcid.org/hc/articles/360006973793"
          rel="noopener noreferrer"
          target="_blank"
          i18n="@@topBar.knowledge"
          [attr.aria-label]="ariaLabelKnowledgeBase"
          >knowledge base</a
        >
        <ng-container i18n="@@topBar.baseOrContact"
          >or contact the support team at</ng-container
        >
        <br />
        <a
          class="underline"
          href="https://support.orcid.org/hc/en-us/requests/new"
          rel="noopener noreferrer"
          target="_blank"
          [attr.aria-label]="ariaLabelKnowledgeSupport"
        >
          https://support.orcid.org/hc/en-us/requests/new
        </a>
      </p>
    </div>
  </div>
</app-modal>
