<!-- AFFILIATION BODY -->

<!-- GENERAL DATA DISPLAY BY DEFAULT -->
<app-panel-data
  class="default-data-loaded orc-font-body-small"
  [borderBottom]="true"
>
  <div>
    <div class="general-data">
      <ng-container *ngIf="affiliation?.startDate?.year"
        >{{ affiliation.startDate | monthDayYearDateToString }}
        <ng-container> to </ng-container>
        <ng-container *ngIf="affiliation.endDate">{{
          affiliation.endDate | monthDayYearDateToString
        }}</ng-container>
        <ng-container *ngIf="!affiliation.endDate.year">present</ng-container>
      </ng-container>
      <ng-container *ngIf="!affiliation.startDate.year && affiliation.endDate">
        <ng-container *ngIf="affiliation.endDate?.year">
          {{ affiliation.endDate | monthDayYearDateToString }}
        </ng-container>
      </ng-container>
      <ng-container
        *ngIf="
          (affiliation?.startDate.year || affiliation?.endDate.year) &&
          affiliation?.roleTitle.value
        "
      >
        |
      </ng-container>
      {{ affiliation.roleTitle.value }}
      <ng-container *ngIf="affiliation.departmentName.value">
        ({{ affiliation.departmentName.value }})
      </ng-container>
    </div>
    <div class="type">
      {{ affiliation.affiliationType.value | titlecase }}
    </div>
    <app-display-external-ids
      [externalIdentifiers]="affiliation.affiliationExternalIdentifiers"
    ></app-display-external-ids>
  </div>

  <div align-end>
    <a
      class="underline"
      (click)="toggleDetails.next(affiliation)"
      *ngIf="!panelDetailsState.state"
      i18n="@@shared.showMoreDetail"
      >Show more detail</a
    >
    <a
      class="underline"
      (click)="toggleDetails.next(affiliation)"
      *ngIf="panelDetailsState.state"
      i18n="@@shared.showLessDetail"
      >Show less detail</a
    >
  </div>
</app-panel-data>

<!-- DATA DISPLAY WHEN "MORE DETAILS" IS CLICKED -->
<app-panel-data [borderBottom]="true" *ngIf="panelDetailsState.state">
  <!-- ORGANIZATION DISAMBIGUATED IDS-->
  <app-org-identifier
    [orgDisambiguated]="orgDisambiguated"
  ></app-org-identifier>

  <!-- URL -->
  <app-display-attribute *ngIf="affiliation?.url?.value">
    <h3 class="orc-font-body-small" i18n="@@record.url">URL</h3>

    <div>
      <a
        class="underline"
        *ngIf="isUrl(affiliation.url?.value)"
        rel="noopener noreferrer"
        target="_blank"
        href="{{ affiliation.url.value }}"
      >
        {{ affiliation.url.value }}
      </a>
      <ng-container *ngIf="!isUrl(affiliation.url?.value)">
        {{ affiliation.url.value }}
      </ng-container>
    </div>
  </app-display-attribute>

  <!-- ADDED DATE-->
  <app-display-attribute>
    <h3 class="orc-font-body-small" i18n="@@record.added">Added</h3>
    <div>
      {{ affiliation.createdDate | monthDayYearDateToString }}
    </div>
  </app-display-attribute>

  <!-- LAST MODIFIED  DATE-->
  <app-display-attribute>
    <h3 class="orc-font-body-small" i18n="@@record.lastModified">
      Last modified
    </h3>
    <div>{{ affiliation.lastModified | monthDayYearDateToString }}</div>
  </app-display-attribute>
</app-panel-data>
