<app-panel-data
  class="defaul-data-loaded orc-font-body-small"
  [borderBottom]="true"
>
  <div>
    <div class="general-data">
      <ng-container *ngIf="affiliation.startDate.year"
        >{{ affiliation.startDate | monthDayYearDateToString }}
        <ng-container> to </ng-container>
        <ng-container *ngIf="affiliation.endDate">{{
          affiliation.endDate | monthDayYearDateToString
        }}</ng-container>
        <ng-container *ngIf="!affiliation.endDate.year">present</ng-container>
      </ng-container>
      <ng-container
        *ngIf="affiliation.startDate.year && affiliation.roleTitle.value"
      >
        |
      </ng-container>
      {{ affiliation.roleTitle.value }}
      <ng-container *ngIf="affiliation.departmentName.value">
        ({{ affiliation.departmentName.value }})
      </ng-container>
    </div>
    <div class="type">
      {{ affiliation.affiliationType.value | titlecase }}
    </div>
    <app-display-external-ids
      [externalIdentifiers]="affiliation.affiliationExternalIdentifiers"
    ></app-display-external-ids>
  </div>

  <div [align-end]>
    <a
      (click)="toggleDetails.next(affiliation)"
      *ngIf="!affiliationDetailsState.state"
      >Show more detail</a
    >
    <a
      (click)="toggleDetails.next(affiliation)"
      *ngIf="affiliationDetailsState.state"
      >Show less detail</a
    >
  </div>
</app-panel-data>

<app-panel-data [borderBottom]="true" *ngIf="affiliationDetailsState.state">
  <ng-container class="margin-top-1" *ngIf="orgDisambiguated">
    <app-display-attribute>
      <h3 class="orc-font-body-small">Organization identifiers</h3>
      <div>
        <div>
          {{ orgDisambiguated?.sourceType }}
          <ng-container
            *ngIf="orgDisambiguated.sourceType && orgDisambiguated.sourceId"
            >:</ng-container
          >
          <ng-container> {{ orgDisambiguated?.sourceId }}</ng-container>
        </div>
        <div>
          {{ orgDisambiguated?.value }}
          <ng-container *ngIf="orgDisambiguated && orgDisambiguated.value"
            >:</ng-container
          >
          {{ orgDisambiguated | cityRegionCountry }}
        </div>

        <a
          target="orcid-app"
          *ngIf="orgDisambiguated?.url"
          [href]="orgDisambiguated?.url"
        >
          {{ orgDisambiguated?.url }}</a
        >
      </div>
    </app-display-attribute>

    <app-display-attribute>
      <h3 class="orc-font-body-small">
        <ng-container i18n="@@workspace_affiliations.external_ids"
          >Other organization identifiers provided by</ng-container
        >
        {{ orgDisambiguated.sourceType | titlecase }}
      </h3>
      <div
        *ngFor="let org of orgDisambiguated.orgDisambiguatedExternalIdentifiers"
        class="padding-level-3"
      >
        {{ org.identifierType }}:
        <ng-container *ngIf="org.preferred && !isUrl(org.preferred)"
          >{{ org.preferred }} preferred</ng-container
        >
        <ng-container *ngIf="org.preferred && isUrl(org.preferred)">
          <a target="orcid-app" href="{{ org.preferred }} ">
            {{ org.preferred }} preferred</a
          >
        </ng-container>

        <ng-container *ngFor="let id of org.all">
          <ng-container *ngIf="id != org.preferred && !isUrl(id)">{{
            id
          }}</ng-container>
          <ng-container *ngIf="id != org.preferred && isUrl(id)">
            <a target="orcid-app" href="{{ id }}"> {{ id }}</a>
          </ng-container>
        </ng-container>
      </div>
    </app-display-attribute>
  </ng-container>

  <app-display-attribute>
    <h3 class="orc-font-body-small">Added</h3>
    <div>
      {{ affiliation.createdDate | monthDayYearDateToString }}
    </div>
  </app-display-attribute>

  <app-display-attribute>
    <h3 class="orc-font-body-small">Last modified</h3>
    <div>{{ affiliation.lastModified | monthDayYearDateToString }}</div>
  </app-display-attribute>
</app-panel-data>
