@import 'src/assets/scss/orcid.spacing.scss';
//todo validate @DanielPalafox
:host {
  width: 100%;
}

a {
  text-decoration: underline;
}

hr.logo {
  color: #e0e0e0;
  border-style: solid;
  border-width: 2px;
}



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: $spacing-base;
  cursor: pointer;

  hr {
    border-style: solid;
    border-width: 2px;
  }
}

.header:first-letter {
  text-transform: capitalize;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: $spacing-small;
  [dir='rtl'] :host & {
    margin-left: $spacing-small;
    margin-right: auto;
  }
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

img {
  max-width: 120px;
}
