<div class="col s4 m8 l12 no-gutters">
  <div class="header-container settings-header-container">
    <div class="inline-initial-side">
      <div class="row inline-initial-side">
        <app-settings-panels-expand-buttons
          (toggle)="collapse()"
          [openState]="expandedContent"
        ></app-settings-panels-expand-buttons>

        <div class="text-container">
          <div
            [ngClass]="{
              'orc-font-body-small': url,
              'orc-font-body': !url
            }"
            class="orc-font-body clickable row title-container"
            (click)="collapse()"
          >
            <h3> {{ title }} </h3>
            <ng-container *ngIf="type?.value === 'two-factor'">
              <b *ngIf="type?.enabled" class="on">
                (<ng-container i18n="@@account.on">ON</ng-container>)
              </b>
              <b *ngIf="!type?.enabled" class="off">
                (<ng-container i18n="@@account.off">OFF</ng-container>)
              </b>
            </ng-container>
            <a class="underline" *ngIf="url" [href]="url"> {{ url }}</a>
          </div>

          <div class="text-container" *ngIf="accessGranted && !isMobile">
            <div class="orc-font-body clickable" (click)="collapse()">
              <strong>
                <ng-container i18n="@@account.accessGrantedDate"
                  >Access granted:
                </ng-container> </strong
              >{{ accessGranted | monthDayYearDateToString }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="actions-container orc-font-body-small"
        *ngIf="revokeAccessButton"
      >
        <mat-icon class="warn pointer">block</mat-icon>
        <a
          class="underline warn"
          (click)="revokeAccessButtonClicked()"
          i18n="@@account.revokeAccess"
        >
          Revoke access</a
        >
      </div>
    </div>
  </div>
</div>
<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="loading"
></mat-progress-bar>
<div class="col s4 m8 l12 content no-gutters" *ngIf="expandedContent">
  <ng-content></ng-content>
</div>
