<div class="col s4 m8 l12 no-gutters">
  <div class="header-container settings-header-container">
    <div class="inline-initial-side">
      <div class="row inline-initial-side">
        <app-settings-panels-expand-buttons
          [id]="id ? id + '-action' : ''"
          (toggle)="collapse()"
          [openState]="expandedContent"
        ></app-settings-panels-expand-buttons>

        <div class="text-container">
          <div
            [ngClass]="{
              'orc-font-body-small': url,
              'orc-font-body': !url
            }"
            class="orc-font-body clickable row title-container"
            (click)="collapse()"
            >
            <h3>
              {{ title }}
              @if (type?.value === 'two-factor') {
                @if (type?.enabled) {
                  <span class="on">
                    (<ng-container i18n="@@account.on">ON</ng-container>)
                  </span>
                }
                @if (!type?.enabled) {
                  <span class="off">
                    (<ng-container i18n="@@account.off">OFF</ng-container>)
                  </span>
                }
              }
            </h3>
            @if (url) {
              <a
                class="underline"
                [href]="url"
                rel="noopener noreferrer"
                target="_blank"
                >
                {{ url }}</a
                >
              }
            </div>

            @if (accessGranted && !isMobile) {
              <div class="text-container">
                <div class="orc-font-body clickable" (click)="collapse()">
                  <strong>
                    <ng-container i18n="@@account.accessGrantedDate"
                      >Access granted:
                </ng-container> </strong
                    >{{ accessGranted | monthDayYearDateToString }}
                  </div>
                </div>
              }
            </div>
          </div>
          @if (revokeAccessButton && routeUrl !== null) {
            <div
              class="actions-container orc-font-body-small"
              >
              <mat-icon class="warn pointer">block</mat-icon>
              <a
                class="underline warn"
                (click)="revokeAccessButtonClicked()"
                i18n="@@account.revokeAccess"
                [routerLink]="routeUrl"
                >
          Revoke access</a
                >
              </div>
            }
            @if (revokeAccessButton && routeUrl == null) {
              <div
                class="actions-container orc-font-body-small"
                >
                <mat-icon class="warn pointer">block</mat-icon>
                <a
                  class="underline warn"
                  (click)="revokeAccessButtonClicked()"
                  i18n="@@account.revokeAccess"
                  >
          Revoke access</a
                  >
                </div>
              }
            </div>
          </div>
        </div>
        @if (loading) {
          <mat-progress-bar
            mode="indeterminate"
            color="accent"
          ></mat-progress-bar>
        }
        @if (expandedContent) {
          <div class="col s4 m8 l12 content no-gutters">
            <ng-content></ng-content>
          </div>
        }
