:host {
  margin-bottom: 16px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-radius: 4px;
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding-inline-start: 8px;
  padding-inline-end: 16px;
  border-radius: 4px;
  .text-container,
  .inline-initial-side {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: initial;
    span {
      margin-left: 3px;
    }
    button {
      margin-inline-end: 4px;
    }
    .text-container {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .title-container {
      strong {
        margin-inline-end: 3px;
      }
    }
    .actions-container {
      display: flex;
      align-items: center;
      min-width: 145px;
      flex-direction: row;
    }
  }
  .controls {
    display: flex;

    button {
      font-weight: normal;
      padding: 0 6px;

      mat-icon {
        margin-right: 8px;
        margin-bottom: 2px;
      }
    }
  }
}

.header-container,
.sub-peer-review {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.sort {
  position: absolute;
  bottom: 12px;
  right: 0;
}

.clickable {
  cursor: pointer;
}

h3 {
  line-height: 1;
  margin: 0;
}
