@use '@angular/material' as mat;

@mixin mat-button-theme-overwrites($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $divider-color: mat.get-color-from-palette($foreground, divider);

  $background: map-get($theme, background);
  $unselected-background: mat.get-color-from-palette(
    $background,
    unselected-chip
  );
  $unselected-foreground: mat.get-color-from-palette($foreground, text);

  .mat-mdc-button.orcid-button-light-grey {
    background-color: map-get($background, light-grey);
  }
  button.mat-mdc-raised-button.mat-unthemed {
    border-color: $divider-color;
  }
}

// Keep var tied to element color so nested content inherits correctly
.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: currentColor;
}

button.mat-mdc-icon-button {
  --mdc-icon-button-icon-size: 14px;
}

mat-paginator button.mat-mdc-icon-button {
  --mdc-icon-button-icon-size: revert;
}

button.mat-mdc-raised-button {
  @include mat.elevation(0);
  &:hover,
  &:focus,
  &:active {
    box-shadow: none !important; // kill the shadow
  }
  &.mat-unthemed {
    border: solid 1px;
  }
}
