@use '@angular/material' as mat;

@mixin mat-button-theme-overwrites($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $divider-color: mat.get-color-from-palette($foreground, divider);

  $background: map-get($theme, background);
  $unselected-background: mat.get-color-from-palette(
    $background,
    unselected-chip
  );
  $unselected-foreground: mat.get-color-from-palette($foreground, text);

  .mat-mdc-button.orcid-button-light-grey {
    background-color: map-get($background, light-grey);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  button.mat-button-wrap-text-with-icon {
    border: solid 1px mat.get-color-from-palette($foreground, dividers);
  }
}
