// Overwrite https://github.com/angular/components/blob/e512581a81aee546a23aa003898399a5068769b8/src/material/divider/_divider-theme.scss
@use '@angular/material' as mat;

@mixin mat-divider-theme-overwrites($theme) {
  $accent: map-get($theme, accent);

  .mat-divider.orcid-divider {
    border-top-color: mat.m2-get-color-from-palette($accent);
  }

  .mat-divider-vertical.orcid-divider {
    border-right-color: mat.m2-get-color-from-palette($accent);
  }
}
