@use '@angular/material' as mat;

@mixin mat-form-field-theme-overwrites($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);

  .mat-form-field-appearance-outline {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px map-get($background, autofill-input) inset !important;
    }
    input.edge-autofilled {
      background-color: map-get($background, autofill-input) !important;
    }
  }

  mat-hint {
    color: map-get($foreground, 'text-dark-mid');
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-focused.mat-warn .mat-form-field-outline-thick,
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: mat.get-color-from-palette($warn, 700);
  }
  .mat-mdc-form-field.mat-warn .mat-mdc-input-element,
  .mat-form-field-invalid .mat-input-element {
    color: mat.get-color-from-palette($warn, 700);
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-form-field-invalid .mat-form-field-label {
    color: mat.get-color-from-palette($warn, 700);
  }

  .mat-select-placeholder,
  .mat-mdc-input-element::placeholder,
  textarea.mat-input-element::placeholder {
    color: mat.get-color-from-palette($background, placeholder-grey);
  }

  :-ms-input-placeholder {
    color: mat.get-color-from-palette($background, placeholder-grey);
  }

  .mdc-text-field--outlined .mdc-notched-outline__trailing,
  .mdc-text-field--outlined .mdc-notched-outline__leading {
    --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.12);
  }
}

@mixin angular-material-form-field-typography($config) {
  .columns-4,
  .columns-8 {
    mat-form-field {
      font-size: mat.font-size($config, body-2) !important;
      font-weight: mat.font-weight($config, body-2);
    }
  }
}

.mat-form-field-appearance-outline .mat-mdc-form-field-hint-wrapper {
  padding-left: 0;
}
