// This files is an overwrite for
// https://github.com/angular/components/blob/9.2.3/src/material/form-field/_form-field-outline-theme.scss
@import '~@angular/cdk/text-field/text-field';
@import '~@angular/material/_theming';

@mixin mat-form-field-outline-theme-overwrites($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .mat-form-field-appearance-outline {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px map-get($background, autofill-input) inset !important;
    }
    input.edge-autofilled {
      background-color: map-get($background, autofill-input) !important;
    }
  }

  mat-hint {
    color: map-get($foreground, 'text-dark-mid');
  }
}
