// Overwrites for:
// https://github.com/angular/components/blob/8.2.x/src/material/button/button.scss

button.mat-mdc-button:hover,
button.mat-mdc-outlined-button:hover {
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  .mat-button-focus-overlay {
    opacity: 0.08;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
button.mat-button-wrap-text {
  span {
    max-width: 100%;
    text-align: center;
    white-space: normal;
    word-break: break-word;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
button.mat-button-wrap-text-with-icon {
  padding-left: 40px; // save space for the icon or image
  img,
  mat-icon {
    margin: auto;
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    width: 24px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
button.mat-button-wrap-text-with-icon.mobile-fixed-width {
  .columns-4 & {
    span {
      display: inline-block;
      width: 180px;
      margin: auto;
      word-break: break-word;
      white-space: normal;
      line-height: 24px;
    }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
[dir='rtl'] button.mat-button-wrap-text-with-icon {
  img {
    right: 20px;
    left: unset;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.no-hover-effect.mat-mdc-button .mat-button-focus-overlay {
  background-color: transparent;
}
