

button.mat-button-wrap-text-with-icon {
  img,
  mat-icon {
    margin: auto;
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    width: 24px;
  }
  .mdc-button__label {
    width: 100%;
  }
}

button.mat-button-wrap-text-with-icon.mobile-fixed-width {
  .columns-4 & {
    .mdc-button__label {
      display: inline-block;
      width: 180px;
      margin: auto;
      word-break: break-word;
      white-space: normal;
      line-height: 24px;
      width: 100%;
    }
  }
}

