.mat-card.orcid-wizard {
  box-shadow: none;
  .columns-12 &,
  .columns-8 & {
    margin-top: 40px;
    mat-card-content {
      margin: 40px 12%; //12% to approximate the margin on designs
    }
    mat-progress-bar {
      // Makes the progress bar take 100% of card size
      left: 0px;
      position: absolute;
    }
  }
  .columns-4 & {
    mat-card-content {
      margin: 40px 0;
    }
    mat-progress-bar {
      // Makes the progress bar take 100% of card size
      left: 0px;
      position: absolute;
    }
  }
}
