.mat-card.orcid-wizard {
  width: 100%;
  box-shadow: none;
  padding: 0;
  mat-progress-bar {
    // Makes the progress bar take 100% of card size
    left: 0px;
    position: absolute;
  }
  .mat-card-title {
    margin-top: 40px;
  }

  .mat-card-header {
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
  }

  .mat-card-subtitle {
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
  }
  .mat-card-subtitle {
    margin-bottom: 0;
  }

  .columns-12 &,
  .columns-8 & {
    margin-top: 25px;
    mat-card-content {
      margin: 25px 12% 40px 12%; //12% to approximate the margin on designs
    }
  }
  .columns-4 & {
    mat-card-content {
      margin: 25px 0 40px 0;
    }
  }
}

.mat-card.orcid-wizard-2 {
  mat-card-header {
    align-items: baseline;
    justify-content: space-between;
    .mat-card-logo {
      order: -1;
    }
    .mat-card-header-text {
      margin: 0;
      mat-card-title {
        margin: 0;
      }
    }
    margin-bottom: 16px; // centralize
  }

  mat-card-content {
    margin-top: 16px; //centralize
  }

  .mat-divider-horizontal {
    position: relative;
  }

  .columns-12 &,
  .columns-8 & {
    padding: 32px; // centralize
  }
  .columns-4 & {
    padding: 16px; // centralize
  }
}
