// FIX for CDK drag and drop issue with Mat-Dialog https://github.com/angular/components/issues/14280

.cdk-global-scrollblock {
  position: initial !important;
  overflow: hidden !important;
}

.cdk-drop-list-dragging {
  cursor: move !important;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  .mat-form-field-flex,
  .mat-select-trigger,
  .mat-mdc-button,
  .mat-mdc-icon-button,
  .mat-mdc-outlined-button,
  .mat-mdc-unelevated-button {
    cursor: move !important;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
