// Overwrites for:
// https://github.com/angular/components/blob/8.1.4/src/material/checkbox/checkbox.scss

mat-checkbox.orcid-checkbox-baseline {
  label.mat-checkbox-layout {
    white-space: pre-line;
    .mat-checkbox-inner-container {
      margin-top: 6px;
    }
  }
  .mat-checkbox-label {
    white-space: normal;
  }
}
