[dir='rtl'] [dir='ltr'] {
  // This SCSS rules are part of a temporal fix for a MatFormField issue.
  // This is intended to be remove once Angular release the fix
  // More info on: src\app\search\components\advance-search\advance-search.component.ts

  .mat-mdc-form-field {
    text-align: left;
  }
}

.mat-form-field-appearance-outline {
  --mat-form-field-container-text-size: 16px;
}

.mat-form-field-appearance-outline.two-line-hint {
  margin-bottom: 1.6em;
}

.mat-form-field-appearance-outline.three-line-hint {
  margin-bottom: 2.4em;
}

.no-hint {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none;
  }
}

.mat-mdc-form-field-infix {
  --mat-form-field-container-height: 20px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: none !important;
}

.mat-form-field-appearance-outline .mat-mdc-form-field-hint-wrapper,
.mat-form-field-appearance-outline .mat-mdc-form-field-error-wrapper {
  padding-left: 0;
}
