[dir='rtl'] [dir='ltr'] {
  // This SCSS rules are part of a temporal fix for a MatFormField issue.
  // This is intended to be remove once Angular release the fix
  // More info on: src\app\search\components\advance-search\advance-search.component.ts
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-right-style: none;
    border-left-style: solid;
    border-radius: 5px 0 0 5px;
  }
  .mat-form-field {
    text-align: left;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-left-style: none;
    border-right-style: solid;
    border-radius: 0 5px 5px 0;
  }
}

.mat-form-field-infix {
  border-top: 0.8em solid transparent;
}

.mat-form-field-appearance-outline.twoLinesHint {
  .mat-form-field-wrapper {
    margin-bottom: 1.6em;
  }
}

.mat-form-field-appearance-outline.mat-form-field-min {
  .mat-form-field-wrapper {
    .mat-form-field-outline {
      top: 0px;
    }
    .mat-form-field-prefix {
      top: 0.35em;

      mat-icon {
        margin-inline-end: 8px;
      }
    }
    .mat-form-field-suffix {
      top: 0px;
    }
    .mat-form-field-flex {
      .mat-form-field-infix {
        border-top: 0px;
        padding: 10px 0 10px 0;
      }
    }
  }
}
