// Overwrites the  color for the form fields placeholders
.mat-select-placeholder {
  color: #707070 !important;
}

.mat-input-element::placeholder {
  color: #707070 !important;
}

.mat-textarea-placeholder {
  color: #707070 !important;
}
