// Overwrites for:
// https://github.com/angular/components/blob/8.2.x/src/material/menu/menu.scss

.mat-mdc-menu-panel {
  .mat-mdc-menu-item.orcid-menu-item-small {
    max-height: 32px;
    line-height: 32px;
    padding: 0 8px;
    min-width: 128px;
  }

  .mat-mdc-menu-item.orcid-menu-item-small .mat-icon {
    padding-inline-start: 8px;
    margin: auto;
    height: auto;
  }
}

.mat-mdc-menu-panel.trusted-individuals {
  width: auto;
  max-width: initial;
  .mat-mdc-menu-content:not(:empty) {
    padding-top: unset;
  }
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
}
