// Import material palette
@import '../material.palettes.scss';
.mat-mdc-menu-panel {
  .mat-mdc-menu-item.orcid-menu-item-small {
    max-height: 32px;
    line-height: 32px;
    padding: 0 8px;
    min-width: 128px;
  }

  .mat-mdc-menu-item.orcid-menu-item-small .mat-icon {
    padding-inline-start: 8px;
    margin: auto;
    height: auto;
  }
}

.mat-mdc-menu-panel.trusted-individuals {
  width: auto;
  max-width: initial;
  .mat-mdc-menu-content:not(:empty) {
    padding-top: unset;
  }
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  --mat-option-selected-state-label-text-color: #{$brand-secondary-dark};
}
