// Overwrites for:
// https://github.com/angular/components/blob/8.1.4/src/material/paginator/paginator.scss

[dir='rtl'] mat-paginator {
  .mat-mdc-paginator-container,
  .mat-mdc-paginator-page-size-label {
    padding-right: 0;
    margin-right: 0;
  }
}

// Reduce the paginator from been displayed on two rows on most mobile scenarios
.columns-4 .mat-mdc-paginator-range-label {
  margin-right: 0px;
}

[dir='rtl'] {
  .h-baseline mat-paginator .mat-mdc-paginator-range-label {
    margin-right: 0;
  }
}
