// Overwrites https://github.com/angular/components/blob/9.2.x/src/material/radio/radio.scss

.mat-radio-button {
  margin-bottom: 10px;
}

mat-radio-button.orcid-radio-button-with-icons {
  .mat-radio-label-content {
    display: flex;
    align-items: center;
  }

  mat-radio-label {
    display: flex;
    align-items: center;
  }
}
