// Overwrites https://github.com/angular/components/blob/9.2.x/src/material/stepper/stepper.scss

.columns-4 {
  mat-vertical-stepper.orcid-stepper-wizard {
    .mat-vertical-stepper-header {
      padding-left: 0px;
    }

    .mat-vertical-content-container {
      margin-inline-start: 10px;
    }

    .mat-step {
      mat-form-field {
        width: calc(100% - 8px);
      }
      .input-container {
        width: 100%;
      }
    }
  }
}

mat-vertical-stepper.orcid-stepper-wizard,
mat-horizontal-stepper.orcid-stepper-wizard {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  mat-card {
    mat-form-field,
    .input-container {
      width: 100%;
      margin-bottom: 10px;
      // TEMPORALLY KEEPING AS PART OF CARD 8934-registration-add-an-affiliation-with-typeahead
      // This should be styling for legacy code, but is been kept as a comment in case it produce any side effect on the next release

      // button {
      //   position: absolute !important;
      //   margin-top: 10px !important;
      // }
      .edge &,
      .ie & {
        white-space: nowrap;
      }
    }
    p {
      margin-bottom: 25px;
    }
    .step-actions {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 28px;
    }
  }
}
