ul {
  padding-inline-start: 8px;
  li {
    list-style-type: none;
  }
}
.button-container {
  display: flex;
  align-items: row;
  margin-top: 16px;
}

app-alert-message {
  margin-top: 16px;
  margin-bottom: 8px;
}
