@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin settings-defaults-email-frequency($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  #cy-deactivate-account {
    background-color: $state-warning-darkest;
    color: white;
  }

  .deactivation-email-sent {
    opacity: 30%;
  }
}

@include settings-defaults-email-frequency($orcid-app-theme);
