<main id="main">
  <div
    class="container"
    [ngClass]="{
      mobile: !platform.columns12,
    }"
  >
    <div class="row space-around">
      <div
        [ngClass]="{
          'col l5 m6 s4': !platform.columns12,
        }"
      >
        <img
          src="assets/vectors/orcid.logo.icon.svg"
          class="orcid"
          alt="orcid logo"
        />
        <h2 i18n="@@account.enableTwoFactor">
          Enable two-factor authentication (2FA)
        </h2>
        <app-two-factor-enable
          *ngIf="!showBackupCodes"
          (twoFactorEnabled)="twoFactorEnabled($event)"
        >
        </app-two-factor-enable>
        <app-two-factor-recovery-codes
          *ngIf="showBackupCodes"
          [backupCodes]="backupCodes"
          [backupCodesClipboard]="backupCodesClipboard"
        >
        </app-two-factor-recovery-codes>
      </div>
    </div>
  </div>
</main>
