@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin two-factor-setup-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.define-typography-config();

  h2 {
    font-size: mat.font-size($config, headline) !important;
  }

  p {
    font-size: mat.font-size($config, body-1) !important;
  }

  a {
    font-size: mat.font-size($config, body-1) !important;
  }
}
@include two-factor-setup-theme($orcid-app-theme);
