@import 'src/assets/scss/orcid.spacing.scss';

:host {
  width: 100%;
}

main#main {
  flex-direction: column;
  margin-bottom: $spacing-large;
}

.container {
  max-width: 664px;
  padding: 0 !important;
}

app-two-factor-enable {
  display: block;
  margin-top: var(--orcid-space-l, 32px);
}

h2 {
  text-align: center;
  margin-bottom: 32px;
}

img.orcid {
  display: block;
  height: 64px;
  width: 64px;
  margin: 64px auto 33px;
}

@media (max-width: 767px) {
  app-two-factor-enable {
    margin-top: 0;
  }
}
