fieldset {
  border: 0;
  padding: 0;
}

legend {
  padding: 0;
}

.title {
  overflow: hidden;
}


.title.mobile {
  width: 14em;
}

.affiliation-info {
  margin-bottom: 16px;

  .details {
    margin-left: 24px;
  }

  .added {
    margin-left: 16px;
  }

  .added.mobile {
    margin-inline-start: 0;
  }
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}

.peer-review {
  margin-inline-end: 40px;
}

.capitalize {
  text-transform: capitalize;
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}
