fieldset {
  border: 0;
  padding: 0;
}

legend {
  padding: 0;
}

.title {
  overflow: hidden;
}

mat-checkbox.text-wrap {
  ::ng-deep label.mat-checkbox-layout {
    white-space: normal;
    word-break: normal;
    overflow-wrap: anywhere;
  }
}

.title.mobile {
  width: 14em;
}

.info {
  display: flex;
  padding: 16px;
  margin-top: 16px;
  border: solid 2px;
  border-radius: 4px;

  p {
    margin: 0;
  }
}

.affiliation-info {
  margin-bottom: 16px;

  .details {
    margin-left: 24px;
  }

  .added {
    margin-left: 16px;
  }

  .added.mobile {
    margin-inline-start: 0;
  }
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}

.peer-review {
  margin-inline-end: 40px;
}

.capitalize {
  text-transform: capitalize;
}

.no-info {
  display: flex;
  margin-top: 20px;
  align-items: center;

  mat-icon {
    margin-inline-end: 4px;
  }
}
