<app-modal [loading]="loadingItems" [noSidebar]="true">
  <app-modal-header>
    <ng-container i18n="@@shared.deleteItems"> Delete items</ng-container>
  </app-modal-header>
  <app-modal-footer>
    <button
      mat-raised-button
      color="warn"
      (click)="saveEvent()"
      [disabled]="loadingItems"
      id="delete-button"
    >
      <ng-container i18n="@@shared.deleteSelected">
        Delete selected items
      </ng-container>
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="closeEvent()"
      i18n="@@shared.cancel"
      id="cancel-button"
    >
      Cancel
    </button>
  </app-modal-footer>
  <div
    class="info"
    [ngClass]="{
      'orc-font-body-small': !isMobile,
      'orc-font-small-print': isMobile
    }"
  >
    <div class="col">
      <mat-icon>info</mat-icon>
    </div>
    <div class="col l11 m6 s3">
      <p i18n="@@shared.deletingItems">
        Deleting items permanently removes them from your ORCID record. Please
        review the items selected for deletion.
      </p>
    </div>
  </div>
  <fieldset class="row">
    <legend>
      <h3>
        <ng-container i18n="@@shared.selectedItems">
          Selected items to delete
        </ng-container>
        ({{ selectedItems.length }})
      </h3>
    </legend>
    <div *ngIf="items.length > 1" class="row">
      <div class="row">
        <p>
          <mat-checkbox
            (change)="updateCheckAll()"
            [(ngModel)]="selectAll"
            [ngModelOptions]="{ standalone: true }"
          >
            <ng-container
              i18n="@@shared.selectAll"
              *ngIf="selectedItems.length === 0"
            >
              Select all
            </ng-container>
            <ng-container *ngIf="selectedItems.length > 0">
              ({{ selectedItems.length }})
              <ng-container i18n="@@shared.selected">Selected</ng-container>
            </ng-container>
          </mat-checkbox>
        </p>
      </div>
    </div>
    <mat-divider class="row"></mat-divider>
    <div
      class="row"
      [formGroup]="deleteForm"
      *ngIf="deleteForm && !loadingItems"
    >
      <ng-container *ngFor="let item of items">
        <div
          class="row affiliation-info"
          [formGroupName]="
            type === 'research-resources' ? item.putCode : item.putCode.value
          "
        >
          <div class="row">
            <mat-checkbox
              class="text-wrap"
              (change)="
                updateCheck(
                  type === 'research-resources'
                    ? item.putCode
                    : item.putCode.value
                )
              "
              formControlName="checked"
            >
              <h2
                class="orc-font-body title"
                [ngClass]="{
                  mobile: isMobile
                }"
              >
                <ng-container *ngIf="isAffiliation()">
                  {{ item?.affiliationName?.value }}
                </ng-container>
                <ng-container *ngIf="type === 'funding'">
                  {{ item?.fundingTitle?.title?.value }}
                </ng-container>
                <ng-container *ngIf="type === 'research-resources'">
                  {{ item?.title }}
                </ng-container>
                <ng-container *ngIf="type === 'works'">
                  {{ item?.title?.value }}
                </ng-container>
                <ng-container *ngIf="type === 'peer-review'">
                  <div>
                    <span class="peer-review">
                      <ng-container i18n="@@peerReview.reviewDate">
                        Review date:
                      </ng-container>
                      {{ item?.completionDate | monthDayYearDateToString }}
                    </span>
                    <span class="peer-review">
                      <ng-container i18n="@@peerReview.type">
                        Type:
                      </ng-container>
                      <span class="capitalize"> {{ item.type.value }}</span>
                    </span>
                    <span>
                      <ng-container i18n="@@peerReview.role">
                        Role:
                      </ng-container>
                      <span class="capitalize">
                        {{ item.role.value }}
                      </span>
                    </span>
                  </div>
                </ng-container>
              </h2>
            </mat-checkbox>
          </div>
          <div class="details orc-font-body-small">
            <strong i18n="@@shared.source">Source</strong>:
            <ng-container
              *ngIf="item?.assertionOriginName || item?.assertionOriginOrcid"
            >
              {{ item?.assertionOriginName || item?.assertionOriginOrcid }}
              <i i18n="@@shared.onBehalfOf">via</i>
            </ng-container>
            {{ item.sourceName || item.source }}
            <ng-container *ngIf="item.createdDate">
              <br *ngIf="isMobile" />
              <strong
                class="added"
                i18n="@@shared.added"
                [ngClass]="{
                  mobile: isMobile
                }"
              >
                Added</strong
              >:
              {{ item.createdDate | monthDayYearDateToString }}
            </ng-container>
          </div>
        </div>
        <mat-divider class="row"></mat-divider>
      </ng-container>
      <div
        class="no-info orc-font-body-small"
        *ngIf="!item && items.length === 0"
      >
        <mat-icon>error</mat-icon>
        <ng-container i18n="@@works.noItemsSelected"
          >No items selected.
        </ng-container>
      </div>
    </div>
  </fieldset>
</app-modal>
