<footer>
  <div class="why">
    <p>
      <b i18n="@@inbox.footer.why"> Why did I get this email? </b>
    </p>
    <p>
      <ng-container i18n="@@inbox.footer.reasonNotifications">
        You have received this email either because you opted in to
        notifications about your ORCID record or because it is service
        announcement related to your record. You can adjust the frequency of
        these emails and manage other subscription preferences in your
      </ng-container>
      <a
        (click)="navigateTo(baseUri + 'account')"
        i18n="@@inbox.footer.settings"
      >
        account settings
      </a>
    </p>
    <a (click)="navigateTo(baseUri + 'inbox')" i18n="@@inbox.footer.inbox">
      Learn more about how your notification inbox works
    </a>
  </div>
  <br />
  <br />
  <br />
  <a
    (click)="navigateTo(baseUri + 'account')"
    i18n="@@inbox.footer.preferences"
  >
    Your email preferences
  </a>
  <a
    (click)="navigateTo('https://support.orcid.org/hc/en-us/requests/new')"
    class="footer-link"
    i18n="@@inbox.footer.privacy"
  >
    ORCID privacy policy
  </a>
  <a
    (click)="navigateTo('https://orcid.org')"
    class="footer-link"
    i18n="@@inbox.footer.orcid"
  >
    ORCID.org
  </a>
  <p>
    <b i18n="@@inbox.footer.orcidInc"> ORCID, Inc </b>
    <ng-container i18n="@@inbox.footer.address">
      10411 Motor City Drive, Suite 750, Bethesda, MD 20817, USA
    </ng-container>
  </p>
</footer>
