a {
  text-decoration: underline;
  color: #085c77;
}

.why {
  max-width: 736px;
  height: 152px;
  background-color: #fafafa;
  padding: 1px 16px 0;
  font-size: 13px !important;
}

footer div {
  display: inline-block;
}

.footer-link {
  padding-left: 32px;
}
