@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';
@import 'src/assets/scss/material.typography.scss';

@mixin global-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  /// GLOBAL APP CUSTOM STYLES

  a {
    color: mat.get-color-from-palette($primary);
  }
  mat-form-field.read-only .mat-form-field-flex {
    background-color: map-get($background, 'ui-background-lightest');
    color: map-get($foreground, 'text-dark-high');
  }
}

@mixin global-theme-typography($config) {
  input {
    @include mat.typography-level($config, input);
  }
}

@include global-theme($orcid-app-theme);
@include global-theme-typography($orcid-material-typography);

.mat-menu-panel {
  overflow-x: hidden !important;
}
