@import '~@material/layout-grid/mdc-layout-grid';
@import './assets/scss/material.scss';
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/NotoSans-Regular.woff') format('woff'),
    url('./assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/NotoSans-Bold.woff') format('woff'),
    url('./assets/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
app-root {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.router-container {
  padding-bottom: 46px; //remove footer height
  height: 100%;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
