@import 'styles.scss-theme.scss';
@font-face {
  font-family: 'Material Icons';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./assets/fonts/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-display: swap;
}
app-root {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.router-container {
  padding-bottom: 200px; //remove footer height
  height: 100%;
  .columns-8 &,
  .columns-4 & {
    padding-bottom: 368px;
  }
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.staticTranslations {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
