@use '@angular/material' as mat;
@import 'styles.scss-theme.scss';
@import 'src/assets/scss/material.orcid-theme.scss';

[dir='rtl'] .material-icons {
  direction: rtl;
}

.extra-large-material-icon {
  transform: scale(1.5);
}

.large-material-icon {
  font-size: 24px;
}

.title-material-icon {
  font-size: 32px;
  height: 32px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-display: swap;
}
app-root {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.router-container {
  padding-bottom: 240px; //remove footer height
  .columns-8 &,
  .columns-4 & {
    padding-bottom: 410px;
  }
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.staticTranslations {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.underline {
  text-decoration: underline;
}

a.disabled {
  opacity: 80%;
  pointer-events: none;
}

a.white-url {
  color: white;
  text-decoration: underline;
}

a.black-url {
  color: black;
}

a.black-url:hover {
  text-decoration: underline;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
html {
  overflow-y: scroll;
}
.pointer {
  cursor: pointer;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
