@import './assets/scss/material.theme';
@import '~@angular/material/theming';

@mixin glopbal-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  /// GLOBAL APP CUSTOM STYLES
}
