mat-card-header.authorize-header {
  mat-card-title {
    margin: 0 0 32px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
:host {
  padding: 48px;
  display: block;
}
