.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 16px;

  mat-icon {
    margin-inline-end: 4px;
  }

  .is-this-you {
    display: flex;
    width: 100%;
    align-items: center;

    p {
      margin: 0;
    }
  }

  .my-orcid-icons {
    width: 100%;
    text-align: right;

    button {
      width: auto;
      margin-right: 40px;
      padding-right: 3px;

      .icon {
        font-size: 20px;
        margin-right: 6px;
      }
    }

    button:last-child {
      margin-right: 0;
    }

    .mat-icon-button {
      border-radius: 0;
    }
  }
}
:host {
  width: 100%;
}
