.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 16px;

  mat-icon {
    margin-inline-end: 4px;
  }

  .is-this-you {
    display: flex;
    width: 100%;
    align-items: center;

    p {
      margin: 0;
      margin-inline-end: 4px;
    }
  }

  .my-orcid-icons {
    width: 100%;
    text-align: right;

    button {
      width: auto;
      margin-right: 40px;
      padding-right: 3px;

      .icon {
        font-size: 20px;
        margin-right: 6px;
      }
    }

    button:last-child {
      margin-right: 0;
    }

    .mat-mdc-icon-button {
      border-radius: 0;
    }
  }
}

.columns-4 :host,
.columns-8 :host {
  .container {
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
  }
  .is-this-you {
    width: auto;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .my-orcid-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin: 0;
    }
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

:host {
  width: 100%;
}
