<div class="container">
  <div
    class="is-this-you orc-font-body-small"
    *ngIf="isPublicRecord && !userStatus?.loggedIn && !onlyShowPrintButton"
  >
    <mat-icon class="large-material-icon">account_circle</mat-icon>
    <p i18n="@@record.isThisYou">Is this you?</p>
    <a
      class="underline"
      i18n="@@record.signInToStart"
      [routerLink]="['/signin']"
      >Sign in to start editing</a
    >
  </div>
  <div class="my-orcid-icons" *ngIf="!onlyShowIsThisYouButton">
    <button
      mat-icon-button
      class="orc-font-small-print"
      (click)="printRecord()"
    >
      <mat-icon fontSet="material-icons-outlined" class="icon"> print</mat-icon>
      <ng-container i18n="@@record.printableVersion">
        Printable version
      </ng-container>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
