<div class="my-orcid-icons" *ngIf="platform.columns12">
  <button
    mat-icon-button
    class="orc-font-small-print"
    (click)="printRecord()"
  >
    <mat-icon fontSet="material-icons-outlined" class="icon"> print </mat-icon>
    <ng-container i18n="@@record.printableVersion">
      Printable version
    </ng-container>
  </button>
  <button mat-icon-button class="orc-font-small-print" *ngIf="!isPublicRecord">
    <mat-icon fontSet="material-icons-outlined" class="icon">
      qr_code
    </mat-icon>
    <ng-container i18n="@@record.getQR">
      Get a QR code for your ORCID iD
    </ng-container>
  </button>
  <button mat-icon-button class="orc-font-small-print" *ngIf="!isPublicRecord">
    <mat-icon fontSet="material-icons-outlined" class="icon"> code </mat-icon>
    <ng-container i18n="@@record.displayId">
      Display your iD on other sites
    </ng-container>
  </button>
</div>
<mat-divider *ngIf="!isPublicRecord"></mat-divider>
