<div class="code-panel-container">
  <div class="top-bar" [ngClass]="{ 'tob-bar-expand': openState }">
    @if (!openState) {
      <button
        mat-icon-button
        (click)="swapOpenState()"
        class="expand_more"
        [attr.aria-label]="
          expandAriaLabel + ' ' + title + ' ' + exampleCodeAriaLabel
        "
      >
        <mat-icon>expand_less</mat-icon>
      </button>
    }
    @if (openState) {
      <button
        [attr.aria-label]="
          collapseAriaLabel + ' ' + title + ' ' + exampleCodeAriaLabel
        "
        mat-icon-button
        (click)="swapOpenState()"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
    }

    <strong (click)="swapOpenState()" class="pointer">{{ title }}</strong>
  </div>
  @if (openState) {
    <div class="code-panel-content">
      <ng-content></ng-content>
    </div>
  }
</div>
