@import '../../../../assets/scss/material.palettes';
@import 'src/assets/scss/material.orcid-theme.scss';
@import '~@angular/material/theming';

@mixin card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  :host {
    border-color: map-get($foreground, divider);
    .title-container {
      color: $orcid-dark-primary-text;
    }
    .general-data,
    .type,
    .card-footer {
      color: $orcid-dark-secondary-text;
    }
  }
}

@include card-theme($orcid-app-theme);
