<ng-container
  *ngFor="
    let profileAffiliationsGroup of profileAffiliationUiGroups;
    trackBy: trackByProfileAffiliationUiGroups
  "
>
  <div *ngIf="profileAffiliationsGroup.affiliationGroup.length">
    <!--     (opened)="panelState = true"
    (closed)="panelState = false"
    [expanded]="" -->

    <div class="mat-expansion-header">
      <h4>
        {{ profileAffiliationsGroup.type }}
      </h4>
      <h4 class="itemsAmount">
        ({{ profileAffiliationsGroup.affiliationGroup.length }})
      </h4>
    </div>

    <div>

      
      <app-affiliation
        *ngFor="
          let affiliation of profileAffiliationsGroup.affiliationGroup;
          trackBy: trackByAffiliationGroup
        "
        [affiliationStack]="affiliation"
      ></app-affiliation>
    </div>
  </div>
</ng-container>
