<ng-container
  *ngFor="
    let profileAffiliationsGroup of profileAffiliationUiGroups;
    trackBy: trackByProfileAffiliationUiGroups
  "
>
  <app-panels
    *ngIf="profileAffiliationsGroup.affiliationGroup.length"
    class="row"
    [title]="profileAffiliationsGroup.type"
    [currentAmount]="profileAffiliationsGroup.affiliationGroup.length"
    [total]="profileAffiliationsGroup.affiliationGroup.length"
  >
    <app-affiliation
      *ngFor="
        let affiliation of profileAffiliationsGroup.affiliationGroup;
        trackBy: trackByAffiliationGroup
      "
      [affiliationStack]="affiliation"
    ></app-affiliation>
  </app-panels>
</ng-container>
