:host {
  display: block;
}
.summary-container-head {
  max-width: 1304px;
  min-height: 80px;
  h2 {
    padding: 0;
    margin: 0;
  }
  padding: 16px 16px;
}
.record-header-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 0;
  align-items: flex-start;
  word-break: break-word;

  .record-header {
    gap: 16px;
    padding: 0 16px;

    h1,
    p {
      margin: 0;
    }

    h2 {
      margin: auto;
      font-weight: normal;
    }

    h2.mobile {
      margin: auto 0 !important;
    }

    .divider {
      width: 100%;
      height: 2px;
    }

    .names-wrapper {
      gap: 8px;

      .names {
        line-height: 40px;
      }

      .other-names {
        line-height: 24px;
      }

      .other-names.mobile {
        justify-content: center;
      }
    }

    .issue {
      h1 {
        font-weight: normal;
      }
    }

    .id-wrapper {
      align-items: center;

      .col {
        padding: 0 !important;
      }

      .col.mobile {
        justify-content: center;
      }

      .orcid-logo {
        width: 40px;
        margin-right: 8px;
      }

      .orcid-logo.mobile {
        width: 32px;
      }

      .buttons-wrapper {
        margin-left: 16px;
      }

      .buttons-wrapper.mobile {
        justify-content: center;
        margin-left: 0;
      }
    }
  }
}

.record-header-wrapper.mobile {
  padding: 32px 16px;
  text-align: center;

  .record-header {
    justify-content: center;
  }

  .names {
    justify-content: center;
  }
}

.expand_more {
  transform: rotate(90deg);
}

button.orc-font-body-small {
  font-weight: 400;
}

.record-header > .row {
  display: flex;
  justify-content: space-between;
}

.mobile .record-header > .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile .id-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

svg {
  margin-left: 8px;
  position: absolute;
  margin-top: 4px;
}
.thin-font-heading {
  font-weight: 300;
}
