@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin top-bar-public-names-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.m2-define-typography-config();

  .record-header-wrapper {
    color: $orcid-light-primary-text;
    background: mat.m2-get-color-from-palette($primary, 900);
  }

  .divider {
    background: mat.m2-get-color-from-palette($primary, 700);
  }

  .other-names {
    color: mat.m2-get-color-from-palette($primary, 50);
  }
}
@include top-bar-public-names-theme($orcid-app-theme);
