<orcid-header-banner
  class="orcid-theme"
  [loading]="loadingUserRecord"
  [compactMode]="compactMode"
  [isDesktop]="platform?.columns12"
  [title]="bannerTitle"
  [subtitle]="bannerSubtitle"
  [primaryIdText]="bannerPrimaryIdText"
  [secondaryIdText]="bannerSecondaryIdText"
  [expanded]="recordSummaryOpen"
  [canToggleExpanded]="true"
  (expandedChange)="recordSummaryLinkClick()"
  [regionNames]="regionNames"
  [regionOrcidId]="regionOrcidId"
>
  <img
    header-banner-logo
    [ngClass]="{
      'orcid-logo': true,
      'orcid-logo--desktop-large': platform?.columns12 && !compactMode
    }"
    src="assets/vectors/orcid.logo.icon.svg"
    alt="orcid logo"
  />
  <ng-container *ngIf="userInfo?.RECORD_WITH_ISSUES" header-banner-issue>
    <ng-container
      *ngIf="userInfo?.IS_DEACTIVATED === 'true' && !userInfo?.PRIMARY_RECORD"
    >
      {{ deactivatedMessage }}
    </ng-container>
    <ng-container
      *ngIf="
        userInfo?.IS_LOCKED === 'true' &&
        userInfo?.IS_DEACTIVATED === 'false' &&
        !userInfo?.PRIMARY_RECORD
      "
    >
      {{ lockedMessage }}
    </ng-container>
    <ng-container *ngIf="!!userInfo?.PRIMARY_RECORD">
      {{ deprecatedMessage }}
    </ng-container>
  </ng-container>

  <app-record-edit-button
    *ngIf="headerCompactEnabled"
    record-header-name-actions
  ></app-record-edit-button>
  <app-record-edit-button
    *ngIf="headerCompactEnabled"
    record-header-summary-actions
  ></app-record-edit-button>

  <span header-banner-expanded-label>
    {{ hideSummaryLabel }}
  </span>
  <span header-banner-collapsed-label>
    {{ showSummaryLabel }}
  </span>

  <ng-container header-banner-id-actions>
    <button
      mat-icon-button
      class="orc-font-small-print"
      accentButton
      [matTooltip]="tooltipCopy"
      [attr.aria-label]="ariaLabelCopyOrcidId"
      (click)="clipboard()"
    >
      <mat-icon class="material-icons icon"> content_copy </mat-icon>
    </button>
    <button
      mat-icon-button
      class="orc-font-small-print"
      accentButton
      [matTooltip]="tooltipPrintableVersion"
      [attr.aria-label]="ariaLabelViewPrintable"
      (click)="printRecord()"
    >
      <mat-icon class="icon">
        <span class="material-symbols-outlined">print</span>
      </mat-icon>
    </button>
  </ng-container>
</orcid-header-banner>
