:host {
  display: block;
}

.record-header-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 0;
  align-items: flex-start;
  word-break: break-word;

  .record-header {
    gap: 16px;
    padding: 0 16px;

    h1,
    p {
      margin: 0;
    }

    h2 {
      margin: auto;
      font-weight: normal;
    }

    h2.mobile {
      margin: auto 0 !important;
    }

    .divider {
      width: 100%;
      height: 2px;
    }

    .names-wrapper {
      gap: 8px;

      .names {
        position: relative;
        line-height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        h1 {
          margin: 0;
          flex: 1 1 auto;
        }
      }

      .other-names {
        line-height: 24px;
      }

      .other-names.mobile {
        justify-content: center;
      }
    }

    .issue {
      h1 {
        font-weight: normal;
      }
    }

    .id-wrapper {
      align-items: center;

      .col {
        padding: 0 !important;
        display: flex;
        align-items: center;
      }

      .col.mobile {
        justify-content: center;
      }

      .orcid-logo {
        width: 40px;
        margin-right: 8px;
      }

      .orcid-logo.mobile {
        width: 24px;
      }

      .orcid-logo.compact {
        width: 24px;
      }

      .orcid-link-wrapper {
        margin-top: 5.5px;
        display: flex;
        align-items: center;
      }

      .buttons-wrapper {
        margin-left: 16px;
      }

      .buttons-wrapper.mobile {
        justify-content: center;
        margin-left: 0;
      }
    }
  }
}

.names-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.edit-record-button {
  height: 48px;
  margin-right: 16px;
  margin-top: 16px;
}

.record-header-wrapper.mobile {
  padding: 32px 16px;
  text-align: center;

  .record-header {
    justify-content: center;
  }

  .names {
    justify-content: center;
  }
}

.expand_more {
  transform: rotate(90deg);
}

button.orc-font-body-small {
  font-weight: 400;
}

.record-header > .row {
  display: flex;
  justify-content: space-between;
}

.mobile .record-header > .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile .record-header .names {
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mobile .id-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.thin-font-heading {
  font-weight: 300;
}

.hidden-in-compact {
  visibility: hidden;
  pointer-events: none;
}

.orcid-id-section {
  width: 100%;
}

app-record-edit-button {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
}

.link-wrapper {
  position: relative;
}

h1.mobile {
  text-align: center;
  width: 100%;
}

.font-weight-400 {
  font-weight: 400;
}
