<orcid-header-banner
  class="orcid-theme"
  [loading]="loadingUserRecord"
  [compactMode]="compactMode"
  [isDesktop]="platform?.columns12"
  [title]="bannerTitle"
  [subtitle]="bannerSubtitle"
  [caption]="bannerCaption"
  [primaryIdText]="bannerPrimaryIdText"
  [secondaryIdText]="bannerSecondaryIdText"
  [expanded]="recordSummaryOpen"
  [canToggleExpanded]="!noDisplayableData"
  (expandedChange)="recordSummaryLinkClick()"
  [regionNames]="regionNames"
  [regionOrcidId]="regionOrcidId"
  [mainActionName]="mainActionName"
  (mainActionClicked)="onMainActionClick()"
  [issueTitle]="issueTitle"
>
  <img
    header-banner-logo
    [ngClass]="{
      'orcid-logo': true,
      'orcid-logo--desktop-large': platform?.columns12 && !compactMode
    }"
    src="assets/vectors/orcid.logo.icon.svg"
    alt="orcid logo"
  />

  <app-record-edit-button
    *ngIf="headerCompactEnabled"
    record-header-summary-actions
  ></app-record-edit-button>

  <span header-banner-expanded-label *ngIf="!noDisplayableData">
    {{ hideSummaryLabel }}
  </span>
  <span header-banner-collapsed-label *ngIf="!noDisplayableData">
    {{ showSummaryLabel }}
  </span>

  <ng-container header-banner-id-actions *ngIf="!noDisplayableData">
    <button
      mat-icon-button
      class="orc-font-small-print"
      accentButton
      [matTooltip]="tooltipCopy"
      [attr.aria-label]="ariaLabelCopyOrcidId"
      (click)="clipboard()"
    >
      <mat-icon class="material-icons icon"> content_copy </mat-icon>
    </button>
    <button
      mat-icon-button
      class="orc-font-small-print"
      accentButton
      [matTooltip]="tooltipPrintableVersion"
      [attr.aria-label]="ariaLabelViewPrintable"
      (click)="printRecord()"
    >
      <mat-icon class="icon">
        <span class="material-symbols-outlined">print</span>
      </mat-icon>
    </button>
  </ng-container>
</orcid-header-banner>
