<mat-card class="orcid-wizard">
  <mat-card-header>
    <mat-card-title role="heading" aria-level="1"
      >Create your ORCID iD</mat-card-title
    >
    <mat-card-subtitle role="header" aria-level="2"
      >This is step 3 of 3</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGroup" #form>
      <app-form-visibility
        formControlName="activitiesVisibilityDefault"
      ></app-form-visibility>
      <app-form-terms formControlName="termsOfUse"></app-form-terms>
      <div class="step-actions">
        <button mat-button color="primary" matStepperPrevious type="button">
          GO BACK
        </button>
        <button mat-raised-button color="primary">REGISTER</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
