<mat-card appearance="outlined" class="orcid-wizard">
  @if (loading) {
    <mat-progress-bar
      mode="indeterminate"
      id="loading-bar"
    ></mat-progress-bar>
  }

  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">
      <div>
        <img
          height="64px"
          src="assets/vectors/orcid.logo.icon.svg"
          alt="orcid logo"
          />
      </div>
      @if (!reactivation?.isReactivation) {
        <h1 class="orc-font-heading-small" i18n="@@register.create">
          Create your ORCID iD
        </h1>
      }
      @if (reactivation?.isReactivation) {
        <h1
          class="orc-font-heading-small"
          i18n="@@register.reactivateYourOrcidAccount"
          >
          Reactivate your ORCID account
        </h1>
      }
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2">
      <h2 class="orc-font-body-small" i18n="@@register.step4.3">
        Step 4 of 5 - Visibility
      </h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGroup" #form>
      <app-form-visibility
        formControlName="activitiesVisibilityDefault"
      ></app-form-visibility>
      <div class="step-actions">
        <button
          id="step-c-register-button"
          mat-raised-button
          color="primary"
          [disabled]="loading"
          matStepperNext
          (click)="nextButton2()"
          >
          <ng-container i18n="@@register.nextStep"> Next Step </ng-container>
        </button>
        <button
          mat-button
          color="primary"
          matStepperPrevious
          type="button"
          id="step-c-back-button"
          (click)="backButton()"
          >
          <a i18n="@@shared.previousStep"> Previous Step</a>
        </button>
      </div>
    </form>
  </mat-card-content>
  @if (loading) {
    <mat-progress-bar
      mode="indeterminate"
      id="bottom-loading-bar"
    ></mat-progress-bar>
  }
</mat-card>
