<mat-card appearance="outlined" class="orcid-wizard">
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    id="loading-bar"
  ></mat-progress-bar>

  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">
      <ng-container
        *ngIf="!reactivation?.isReactivation"
        i18n="@@register.create"
      >
        Create your ORCID iD
      </ng-container>
      <ng-container
        *ngIf="reactivation?.isReactivation"
        i18n="@@register.reactivation"
      >
        Thank you for reactivating your ORCID iD.
      </ng-container>
    </mat-card-title>
    <mat-card-subtitle role="heading" aria-level="2" i18n="@@register.step3"
      >This is step 3 of 3</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formGroup" #form>
      <app-form-visibility
        formControlName="activitiesVisibilityDefault"
      ></app-form-visibility>
      <app-form-terms formControlName="termsOfUse"></app-form-terms>
      <app-form-anti-robots formControlName="captcha"></app-form-anti-robots>
      <div class="step-actions">
        <button
          mat-button
          color="primary"
          matStepperPrevious
          type="button"
          i18n="@@shared.back"
          id="step-c-back-button"
        >
          GO BACK
        </button>
        <button
          id="step-c-register-button"
          mat-raised-button
          color="primary"
          [disabled]="loading"
        >
          <ng-container
            *ngIf="!reactivation?.isReactivation"
            i18n="@@register.register"
          >
            REGISTER
          </ng-container>
          <ng-container
            *ngIf="reactivation?.isReactivation"
            i18n="@@register.reactivate"
          >
            REACTIVATE
          </ng-container>
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    id="bottom-loading-bar"
  ></mat-progress-bar>
</mat-card>
