:host {
  width: 100%;
}

button {
  width: 100%;
}

.mat-button {
  max-height: 40px;
}

.password {
  margin-top: 12px;
}

.sign-in-button {
  margin-top: 12px;
}

.forgot {
  margin-top: 16px;
}

.dontHaveOrcid {
  margin-top: 12px;
}

.register-now {
  display: inline;
  margin-inline-start: 6px;
}
