:host {
  width: 100%;
}

button {
  width: 100%;
}

.mat-button {
  max-height: 40px;
}

.password {
  margin-top: 12px;
}

.sign-in-button {
  margin-top: 12px;
}

.forgot {
  margin-top: 16px;
}

.dontHaveOrcid {
  margin-top: 12px;
}

.register-now {
  display: inline;
}

mat-form-field,
.input-container {
  width: 100%;
}

mat-form-field,
.input-container {
  margin-bottom: 8px;
}

mat-label.orc-font-small-print {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;

  label {
    font-weight: normal;
  }
}

.forgot-password-button {
  justify-content: center;
  margin-top: 16px;
}

mat-divider {
  margin: 0px 0 30px 0;
}

app-alert-message {
  .content > div {
    margin-bottom: 16px;
  }
  margin-top: 24px;
}
