@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin work-modal-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $config: mat.define-typography-config();

  input {
    border: solid 1px mat.get-color-from-palette($background, grey);
  }

  ::placeholder {
    color: mat.get-color-from-palette($background, placeholder-grey);
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: mat.get-color-from-palette($background, placeholder-grey);
  }

  .error {
    color: map-get($foreground, 'state-warning-dark');
  }

  .required {
    color: map-get($foreground, 'state-warning-dark');
  }

  input.mat-mdc-input-element {
    border: transparent;
    font-size: mat.font-size($config, body-1) !important;
  }

  textarea.mat-mdc-input-element {
    font-size: mat.font-size($config, body-1) !important;
  }


  .externalIdBox {
    border-bottom: dashed
      mat.get-color-from-palette($background, ui-background-light) 1px;
  }
}
@include work-modal-theme($orcid-app-theme);
