mat-form-field {
  width: 100%;
}

:host {
  width: 100%;
}

.title {
  p {
    margin: 6px 0;
  }
}

label {
  display: block;
  padding-bottom: 8px;
}

.mat-mdc-form-field {
  width: 100%;
}

.side-bar {
  text-decoration: underline;
}

.date-container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  mat-form-field {
    width: 120px;
    margin-left: 4px;
  }
}

.align-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.required-information {
  margin-left: auto !important;
  margin-top: 10px !important;

  span {
    margin-right: 3px !important;
  }
}

.add-more {
  margin-bottom: 27px;
  padding-inline-start: 0;
  a {
    margin: 0;
  }
  span {
    margin: auto;
    padding-inline-start: 6px;
  }
}

.input-container {
  max-width: 402px;
}
.externalIdBox {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.date {
  padding-left: 0px;
}

app-deep-select-input {
  width: 100%;
  max-width: 402px;
}
