<form [formGroup]="workForm" *ngIf="workForm">
  <div
    id="workDetails"
    class="title row"
    [ngClass]="{
      'orc-font-body': !platform.columns12,
      'orc-font-body-large': platform.columns12
    }"
  >
    <p>
      <strong i18n="@@works.workDetails"> Work details </strong>
    </p>
    <p *ngIf="platform.columns12" class="required-information mat-caption">
      <span class="required">*</span>
      <ng-container i18n="@@shared.requiredInformation"
        >Required information</ng-container
      >
    </p>
  </div>
  <hr />

  <!-- Work Category -->
  <div>
    <div class="row">
      <label
        class="mat-caption title"
        [ngClass]="{
          error:
            workForm.get('workCategory').hasError('required') &&
            workForm.get('workCategory').touched
        }"
      >
        <strong i18n="@@works.selectAWorkCategory"
          >Select a work category</strong
        >
        <span class="required">*</span>
      </label>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <mat-select formControlName="workCategory">
          <mat-option
            *ngFor="let item of workCategories | keyvalue"
            [value]="item.value"
          >
            {{ item.value | recordWorkCategoryLabel }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="workForm.get('workCategory').hasError('required')"
          i18n="@@works.selectACategory"
        >
          Select a work category
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Work Types -->
  <div [ngClass]="{ hide: (workTypes | keyvalue).length === 0 }">
    <label
      class="row"
      class="mat-caption"
      [ngClass]="{
        error:
          workForm.get('workType').hasError('required') &&
          workForm.get('workType').touched
      }"
    >
      <strong i18n="@@works.workType">Work type</strong>
      <span class="required">*</span>
    </label>
    <mat-form-field appearance="outline" class="mat-form-field-min row">
      <mat-select placeholder="Select a work type" formControlName="workType">
        <mat-option
          *ngFor="let item of workTypes | keyvalue"
          [value]="item.value"
        >
          {{ item.value | recordWorkTypeLabel }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="workForm.get('workType').hasError('required')"
        i18n="@@works.selectWorkType"
      >
        Select a work type
      </mat-error>
    </mat-form-field>
  </div>
  <!-- Title -->

  <div>
    <div class="row">
      <label
        for="title-input"
        class="mat-caption"
        [ngClass]="{
          error:
            workForm.hasError('required', 'title') &&
            workForm.get('title').touched
        }"
      >
        <strong i18n="@@works.title">Title</strong>
        <span class="required">*</span>
      </label>
    </div>

    <mat-form-field appearance="outline" class="mat-form-field-min">
      <input id="title-input" matInput formControlName="title" />
      <mat-error
        *ngIf="workForm.get('title').hasError('required')"
        i18n="@@works.setAWorkTitle"
      >
        Set a work title
      </mat-error>
    </mat-form-field>
  </div>
  <!-- SHOW-HIDE translated title button  -->
  <div class="row">
    <a
      class="col add-more no-gutters"
      (click)="showTranslationTitle = !showTranslationTitle"
    >
      <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
      <span class="mat-body-1">
        <ng-container
          i18n="@@works.addTranslatedTitle"
          *ngIf="!showTranslationTitle"
        >
          Add translated title
        </ng-container>
        <ng-container
          i18n="@@works.hideTranslatedTitle"
          *ngIf="showTranslationTitle"
        >
          Hide translation title
        </ng-container>
      </span>
    </a>
  </div>

  <!-- Work translations title -->
  <div [hidden]="!showTranslationTitle">
    <div>
      <div class="row">
        <label for="given-names-input" class="mat-caption">
          <strong i18n="@@works.translatedTitle">Work translated title</strong>
        </label>
      </div>

      <mat-form-field appearance="outline" class="mat-form-field-min">
        <input
          id="biography-input"
          matInput
          formControlName="translatedTitleContent"
        />
      </mat-form-field>
    </div>

    <!-- Language of this title -->
    <div>
      <div class="row">
        <label for="language-of-title-input" class="mat-caption">
          <strong i18n="@@works.languageOnThisTitle"
            >Language of this title</strong
          >
        </label>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="mat-form-field-min">
          <mat-select
            id="language-of-title-input"
            placeholder="Select a language"
            formControlName="translatedTitleLanguage"
          >
            <mat-option
              *ngFor="let item of languageMap | keyvalue"
              [value]="item.value"
            >
              {{ item.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Work subtitle -->

  <div>
    <div class="row">
      <label for="work-subtitle-input" class="mat-caption">
        <strong i18n="@@works.subtitle">Work Subtitle</strong>
      </label>
    </div>

    <mat-form-field appearance="outline" class="mat-form-field-min">
      <input id="work-subtitle-input" matInput formControlName="subtitle" />
    </mat-form-field>
  </div>
  <!-- Journal title -->

  <div>
    <div class="row">
      <label for="given-names-input" class="mat-caption">
        <strong>{{ dynamicTitle | recordWorkTitleNameLabel }}</strong>
      </label>
    </div>

    <mat-form-field appearance="outline" class="mat-form-field-min">
      <input matInput formControlName="journalTitle" />
    </mat-form-field>
  </div>
  <!-- Publication date -->
  <ng-container formGroupName="publicationDate">
    <div class="row">
      <label
        for="url-input"
        class="mat-caption"
        [ngClass]="{
          error: workForm.hasError('date', 'startDateGroup')
        }"
      >
        <strong i18n="@@shared.startDate">Start date</strong>
      </label>
    </div>
    <div class="input-container date">
      <div class="col l4 date">
        <mat-form-field
          id="start-date-year-input"
          appearance="outline"
          class="mat-form-field-min"
        >
          <mat-select
            placeholder="{{ ngOrcidYear }}"
            formControlName="publicationYear"
          >
            <mat-option i18n="@@shared.year" [value]="">Year</mat-option>
            <mat-option *ngFor="let year of yearOptions" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col l4 date">
        <mat-form-field
          id="start-date-month-input"
          appearance="outline"
          class="mat-form-field-min"
        >
          <mat-select
            placeholder="{{ ngOrcidMonth }}"
            formControlName="publicationMonth"
          >
            <mat-option i18n="@@shared.month" [value]="">Month</mat-option>
            <mat-option *ngFor="let month of monthOptions" [value]="month">
              {{ month }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col l4 date">
        <mat-form-field
          id="start-date-day-input"
          appearance="outline"
          class="mat-form-field-min"
        >
          <mat-select
            placeholder="{{ ngOrcidDay }}"
            formControlName="publicationDay"
          >
            <mat-option i18n="@@shared.day" [value]="">Day</mat-option>
            <mat-option *ngFor="let day of dayOptions" [value]="day">
              {{ day }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-error
        class="mat-caption"
        i18n="@@shared.invalidDate"
        *ngIf="workForm.get('publicationDate').errors?.date"
      >
        Invalid date
      </mat-error>
    </div>
  </ng-container>

  <!-- Work url -->

  <div>
    <div class="row">
      <label
        for="given-names-input"
        class="mat-caption"
        [ngClass]="{
          error:
            workForm.hasError('required', 'url') && workForm.get('url').touched
        }"
      >
        <strong i18n="@@works.link">Link</strong>
      </label>
    </div>

    <mat-form-field
      appearance="outline"
      class="mat-form-field-min larger-input-margin"
    >
      <input id="biography-input" matInput formControlName="url" />
      <mat-error
        *ngIf="workForm.get('url').hasError('required')"
        i18n="@@works.invalidUrl"
      >
        Invalid url
      </mat-error>
      <mat-hint i18n="@@works.linkMoreInformationAbout"
        >A link to more information about the work. Links should be in the full
        URL format e.g. http://www.website.com/page.html
      </mat-hint>
    </mat-form-field>
  </div>

  <!------------------->
  <!-- Work Citation -->
  <!------------------->

  <div
    class="title"
    id="citation"
    [ngClass]="{
      'orc-font-body': !platform.columns12,
      'orc-font-body-large': platform.columns12
    }"
  >
    <p>
      <strong i18n="@@works.citation"> Citation </strong>
    </p>
  </div>

  <hr />

  <!-- Citation type -->

  <div class="row">
    <label
      for="given-names-input"
      class="mat-caption title"
      [ngClass]="{
        error:
          workForm.hasError('required', 'citationType') &&
          workForm.get('citationType').touched
      }"
    >
      <strong i18n="@@works.citationType">Citation type</strong>
    </label>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="mat-form-field-min">
      <mat-select placeholder="Placeholder" formControlName="citationType">
        <mat-option [value]="''" i18n="@@works.selectACitation">
          Select a citation type
        </mat-option>

        <mat-option
          *ngFor="let item of citationTypes | keyvalue"
          [value]="item.key"
        >
          {{ item.value }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="workForm.get('citationType').hasError('required')"
        i18n="@@works.selectACitationType"
      >
        Select a citation type
      </mat-error>
    </mat-form-field>
  </div>
  <!-- Citation  -->

  <div>
    <div class="row">
      <label for="citation-input" class="mat-caption">
        <strong i18n="@@works.citation">Citation</strong>
      </label>
    </div>
    <mat-form-field appearance="outline" class="mat-form-field-min">
      <textarea
        id="citation-input"
        matInput
        formControlName="citation"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="7"
      ></textarea>
      <mat-error
        *ngIf="workForm.hasError('required', 'citation')"
        i18n="@@works.describeThisCitation"
      >
        Describe this citation
      </mat-error>
    </mat-form-field>
  </div>
  <!-- Description  -->

  <div>
    <div class="row">
      <label for="description-input" class="mat-caption">
        <strong i18n="@@works.description">Description</strong>
      </label>
    </div>
    <mat-form-field appearance="outline" class="mat-form-field-min biography">
      <textarea
        id="description-input"
        matInput
        formControlName="shortDescription"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="7"
      >
      </textarea>
    </mat-form-field>
  </div>

  <!---------------------->
  <!-- Work Identifiers -->
  <!---------------------->

  <div
    class="title"
    id="identifiers"
    [ngClass]="{
      'orc-font-body': !platform.columns12,
      'orc-font-body-large': platform.columns12
    }"
  >
    <p>
      <strong i18n="@@works.workIds"> Work identifiers</strong>
    </p>
  </div>
  <hr />

  <div formArrayName="workIdentifiers">
    <div
      class="externalIdBox"
      *ngFor="
        let workIdentifiersGroup of workIdentifiersFormArray.controls;
        let i = index;
        let last = last
      "
    >
      <ng-container
        *ngIf="workIdentifiersFormArrayDisplayState[i]"
        [formGroupName]="i"
      >
        <app-work-external-identifiers-edit
          [externalIdForm]="$any(workIdentifiersFormArray.controls[i])"
          [workIdTypes]="workIdTypes"
          (cancelEvent)="cancelExternalIdEdit(i)"
          [index]="i"
        ></app-work-external-identifiers-edit>
      </ng-container>
      <ng-container *ngIf="!workIdentifiersFormArrayDisplayState[i]">
        <app-work-external-identifiers-view-only
          [workIdentifier]="workIdentifiersFormArray.controls[i].value"
          (edit)="workIdentifiersFormArrayDisplayState[i] = true"
          (delete)="deleteWorkId(i)"
        ></app-work-external-identifiers-view-only>
      </ng-container>
    </div>
    <!-- Add other identifier  -->
    <div class="row" *ngIf="workIdentifiersFormArray.length">
      <a class="col add-more no-gutters" (click)="addOtherWorkId()">
        <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
        <span class="mat-body-1" i18n="@@shared.addAnotherId">
          Add other identifier
        </span>
      </a>
    </div>
    <div class="row" *ngIf="!workIdentifiersFormArray.length">
      <a class="col add-more no-gutters" (click)="addOtherWorkId()">
        <mat-icon class="large-material-icon">add_circle_outline</mat-icon>
        <span class="mat-body-1" i18n="@@shared.addId">
          Add an identifier
        </span>
      </a>
    </div>
  </div>

  <!---------------------->
  <!-- Work Other Information -->
  <!---------------------->

  <div
    class="title"
    id="otherInformation"
    [ngClass]="{
      'orc-font-body': !platform.columns12,
      'orc-font-body-large': platform.columns12
    }"
  >
    <p>
      <strong i18n="@@works.otherInformation"> Other information</strong>
    </p>
  </div>
  <hr />

  <!-- Language of this form -->
  <div>
    <div class="row title">
      <label for="language-input" class="mat-caption">
        <strong i18n="@@works.languageUsed">Language used in this form</strong>
      </label>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <mat-select
          id="language-input"
          placeholder="Placeholder"
          formControlName="languageCode"
        >
          <mat-option
            *ngFor="let item of languageMap | keyvalue"
            [value]="item.value"
          >
            {{ item.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Country of publication -->
  <div>
    <div class="row">
      <label for="country-input" class="mat-caption">
        <strong i18n="@@works.countryPublication"
          >Country of publication</strong
        >
      </label>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="mat-form-field-min">
        <mat-select
          id="country-input"
          placeholder="Placeholder"
          formControlName="countryCode"
        >
          <mat-option
            *ngFor="let item of originalCountryCodes | keyvalue"
            [value]="item.value"
          >
            {{ item.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!---------------------->
  <!-- Work Visibility -->
  <!---------------------->

  <div
    id="visibility"
    class="title"
    [ngClass]="{
      'orc-font-body': !platform.columns12,
      'orc-font-body-large': platform.columns12
    }"
  >
    <p>
      <strong i18n="@@shared.visibility"> Visibility </strong>
    </p>
  </div>
  <hr />

  <!-- Work Visibility -->
  <div>
    <p class="orc-font-body-small" i18n="@@shared.visibilityDescription">
      Manage who can see this information in your record.
    </p>
    <div class="col no-wrap actions-wrapper no-gutters visibility">
      <app-privacy-selector formControlName="visibility"></app-privacy-selector>
    </div>
  </div>
</form>
