.hide {
  display: none;
}

mat-form-field {
  width: 100%;
}

:host {
  width: 100%;
}

.title {
  margin-top: 16px;

  p {
    margin: 6px 0;
  }
}

.mat-form-field {
  width: 100%;
}

.side-bar {
  text-decoration: underline;
}

.date-container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  mat-form-field {
    width: 120px;
    margin-left: 4px;
  }
}

.align-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.required-information {
  margin-left: auto !important;
  margin-top: 10px !important;

  span {
    margin-right: 3px !important;
  }
}




.date {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  padding-bottom: 1.475em;
  padding-left: 0;
}

.add-more {
  margin-top: 26px;
  margin-bottom: 26px;

  span {
    margin: auto;
    padding-inline-start: 6px;
  }
}
