mat-form-field {
  width: 100%;
}

:host {
  width: 100%;
}

.title {
  p {
    margin: 6px 0;
  }
}

label {
  display: block;
  padding-bottom: 8px;
}

.mat-form-field {
  width: 100%;
}

.side-bar {
  text-decoration: underline;
}

.date-container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  mat-form-field {
    width: 120px;
    margin-left: 4px;
  }
}

.align-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.required-information {
  margin-left: auto !important;
  margin-top: 10px !important;

  span {
    margin-right: 3px !important;
  }
}

.date {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  padding-bottom: 1.475em;
  padding-left: 0;
}

.add-more {
  margin-bottom: 27px;
  padding-inline-start: 0;
  a {
    margin: 0;
  }
  span {
    margin: auto;
    padding-inline-start: 6px;
  }
}

.input-container {
  max-width: 402px;
}
.externalIdBox {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.select-error {
  padding-bottom: 1.475em;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  mat-error {
    padding: 0 1em;
    margin-top: 0.2em;
  }
}

app-deep-select-input {
  width: 100%;
  max-width: 402px;
}

:host {
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: none;
    }
  }
}
