@use '@angular/material' as mat;
@import 'src/assets/scss/material.orcid-theme.scss';

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ::ng-deep {
    mat-form-field.selected-org {
      .mat-mdc-text-field-wrapper {
        background-color: mat.m2-get-color-from-palette(
          $background,
          ui-background-lightest
        );
      }
    }
  }
}

@include theme($orcid-app-theme);
