:host {
  width: 100%;
}
.info {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 2px;
  border-radius: 4px;
  display: flex;

  p {
    margin: 0;
  }
}
mat-form-field {
  max-width: 400px;
  width: 100%;
  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
}

.italic {
  font-style: italic;
}

.margin-bottom-16 {
  margin-bottom: 32px;
}

mat-checkbox {
  display: flex;
  width: 100%;
}

.mat-checkbox-content {
  white-space: break-spaces;
  line-height: 1.4;
}

.email-edit-container {
  padding: 16px 0 16px 0;
  gap: 0px;
  border: solid;
  border-width: 1px 0 1px 0;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  .email-container {
    display: flex;
    gap: 16px;
    align-items: center;
    label {
      font-weight: bold;
    }
    caption {
      font-style: italic;
      width: 100%;
      display: flex;
    }
  }
  .email-manage-emails-link {
    padding-right: 16px;
  }
}

h4 {
  margin-top: 32px;
  margin-bottom: 8px;
}

#email-verified-address {
  margin-top: 2px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}