<app-settings-panels-data *ngIf="form" [formGroup]="form">
  <p i18n="@@account.notifications">
    Notifications keep you up-to-date with activity in your ORCID record.
    Updates are automatically sent to your ORCID inbox but you can also have
    them sent to you by email. You can choose the kind of notifications you wish
    to receive by email and how often you want to receive them.
  </p>
  <p>
    <i i18n="@@account.inAdditionToTheOptional">
      In addition to the optional account and record notifications, we may
      occasionally send you emails with service messages relating to your ORCID
      account. As the information in these emails may affect your privacy
      settings and the functioning of your ORCID account, you cannot opt-out of
      these service messages per our
    </i>
    <a
      class="underline black-url underline italic"
      i18n="@@account.privacypolicy"
      href="/privacy-policy"
      target="_blank"
      rel="noopener noreferrer"
    >
      Privacy Policy
    </a>
  </p>

  <h4 class="orc-font-body" i18n="@@account.notificationEmailAddress">
    Notification email address
  </h4>
  <p class="margin-bottom-16" i18n="@@account.yourOrcidNotification">
    Your ORCID notification emails will be sent to:
  </p>

  <div class="email-edit-container">
    <div class="email-container">
      <img
        *ngIf="primaryEmailVerified"
        cdkDragHandle
        src="./assets/vectors/email-verified-icon.svg"
        aria-labelledby="email-verified-address"
        height="32"
      />
      <img
        *ngIf="!primaryEmailVerified"
        cdkDragHandle
        src="./assets/vectors/email-unverfied-icon.svg"
        aria-labelledby="email-unverified-address"
      />

      <div>
        <label class="orc-font-body-small">{{ primaryEmail }}</label>
        <caption
          id="email-verified-address"
          *ngIf="primaryEmailVerified"
          i18n="@@account.verifiedEmailAddress"
        >
          Verified email address
        </caption>
        <caption
          id="email-unverified-address"
          class="orc-font-small-print"
          *ngIf="!primaryEmailVerified"
          i18n="@@account.unverifiedEmailAddress"
        >
          Unverified email address
        </caption>
      </div>
    </div>
    <div class="email-manage-emails-link">
      <button
        mat-icon-button
        (click)="openEmailModal()"
        aria-labelledby="manage-your-emails"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <a
        (click)="openEmailModal()"
        class="underline"
        id="manage-your-emails"
        i18n="@@account.manageYourEmails"
      >
        Manage your emails
      </a>
    </div>
  </div>

  <div class="row">
    <h4 class="orc-font-body" i18n="@@account.notificationEmailAddress">
      Notification email address
    </h4>
    <p
      class="margin-bottom-16 row margin-top-0"
      i18n="@@account.howOftenShouldWeSend"
      id="email-frequency"
    >
      How often should we send you ORCID notification emails about:
    </p>
    <p
      class="margin-bottom-8 row margin-top-0"
      i18n="@@account.itemsAddedOrEdited"
    >
      Items added or edited in your record by a trusted party
    </p>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container"
    >
      <mat-select
        formControlName="sendChangeNotifications"
        [aria-label]="arialabelSetTheFrequency"
      >
        <mat-option
          *ngFor="let frequency of frequencyOption"
          [value]="emailFrequenciesValues[frequency]"
        >
          {{ frequency | emailFrequencyLabel }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <label
      class="margin-bottom-8 row"
      i18n="@@account.administrativeChangesSuchAs"
    >
      Administrative changes, such as being made a trusted individual
    </label>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container"
    >
      <mat-select
        formControlName="sendAdministrativeChangeNotifications"
        [aria-label]="ariaLabelSetTheFrequencyAdministrative"
      >
        <mat-option
          *ngFor="let frequency of frequencyOption"
          [value]="emailFrequenciesValues[frequency]"
        >
          {{ frequency | emailFrequencyLabel }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <label class="row" i18n="@@account.orcidMembers">
      ORCID members wanting your permission to automatically update your record
    </label>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-min input-container"
    >
      <mat-select
        formControlName="sendMemberUpdateRequests"
        [aria-label]="ariaLabelSetTheFrequencyPermission"
      >
        <mat-option
          *ngFor="let frequency of frequencyOption"
          [value]="emailFrequenciesValues[frequency]"
        >
          {{ frequency | emailFrequencyLabel }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h4
    class="orc-font-body margin-top-0 margin-bottom-16"
    i18n="@@account.tipsAndFeatures"
  >
    Tips & features email
  </h4>
  <p i18n="@@account.weOccasionallySend" class="margin-bottom-32">
    We occasionally send out an email with information on new features and tips
    for getting the best out of your ORCID record.
  </p>
  <mat-checkbox formControlName="sendQuarterlyTips" class="margin-bottom-16">
    <!-- prettier-ignore -->
    <div class="mat-checkbox-content" i18n="@@account.idLikeToReceiveTheOrcidTips"
    >I’d like to receive the ORCID tips & features email</div>
  </mat-checkbox>
</app-settings-panels-data>
